force-app/main/default/flows/Account_Change_of_Ownership_by_Manager.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>NewOwner</name>
        <label>NewOwner</label>
        <locationX>754</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>LoopedOppty.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedAccount.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_Oppty_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updated_Oppty_Owner</name>
        <label>Updated Oppty Owner</label>
        <locationX>754</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>collReassignedOpptys</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedOppty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ChangeOpptyLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Transfer</name>
        <label>Account Transfer</label>
        <locationX>358</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_owner_is_Pool</name>
            <conditionLogic>1 AND (2 or 3 or 4 or 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>varAccountRecord.Owner_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pool Management</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserRole</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>AE2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserRole</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>AE1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserRole</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Enterrpise</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserRole</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Major</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserRole</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>AE3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>You_can_not_reassign</targetReference>
            </connector>
            <label>Account owner is Pool</label>
        </rules>
    </decisions>
    <decisions>
        <name>isManager</name>
        <label>isManager</label>
        <locationX>644</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Not_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 OR 2) OR ( (3 OR 4 OR 5 OR 6 OR 7 OR 8) AND (9 OR 10 OR 11 OR 12 OR 13) )</conditionLogic>
            <conditions>
                <leftValueReference>CurUserProfile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Ops Profile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurUserProfile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurUserProfile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce Sales - CPQ Mexico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurUserProfile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Samsara Sales - CPQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurUserProfile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Samsara Sales - EMEA IS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurUserProfile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Samsara Sales - NA ENT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurUserProfile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Samsara Sales - NA US AE2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurUserProfile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Samsara Sales Management - New System</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserRole</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserRole</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Director</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserRole</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ISD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserRole</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>VP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserRole</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>AVP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flow_Introduction</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsOpptyOpen</name>
        <label>IsOpptyOpen</label>
        <locationX>886</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>ChangeOpptyLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OpptyOpen</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9) AND 10</conditionLogic>
            <conditions>
                <leftValueReference>LoopedOppty.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopedOppty.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready to Ship</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopedOppty.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopedOppty.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incubate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopedOppty.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopedOppty.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Decision</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopedOppty.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Purchase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopedOppty.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopedOppty.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Orders Processing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopedOppty.Probability</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>75.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewOwner</targetReference>
            </connector>
            <label>OpptyOpen</label>
        </rules>
    </decisions>
    <description>GTMS-26445 - Allow ISMs to transfer the account and related records.
GTMS-26402-AccountBook</description>
    <environments>Default</environments>
    <formulas>
        <name>CurUserProfile</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <formulas>
        <name>UserRole</name>
        <dataType>String</dataType>
        <expression>{!$UserRole.Name}</expression>
    </formulas>
    <interviewLabel>Account Change of Ownership by Manager {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Change of Ownership by Manager</label>
    <loops>
        <name>ChangeOpptyLoop</name>
        <label>ChangeOpptyLoop</label>
        <locationX>666</locationX>
        <locationY>1214</locationY>
        <assignNextValueToReference>LoopedOppty</assignNextValueToReference>
        <collectionReference>GetOppties</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsOpptyOpen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdatedOpptys</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>collOppty</name>
        <label>collOppty</label>
        <locationX>666</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChangeOpptyLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>GetOppties</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <queriedFields>Probability</queriedFields>
        <queriedFields>StageName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Existing_Accounts</name>
        <label>Existing Accounts</label>
        <locationX>644</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isManager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varAccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Overwrite_Validation_Rule__c</queriedFields>
        <queriedFields>Owner_Role__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FindUser</name>
        <label>FindUser</label>
        <locationX>358</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Transfer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Owner_Email_Address</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>varUserRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>ProfileId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetUpdatedAccount</name>
        <label>GetUpdatedAccount</label>
        <locationX>666</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>UpdatedAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Owner</name>
        <label>Update Account Owner</label>
        <locationX>666</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>GetUpdatedAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Overwrite_Validation_Rule__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varUserRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContact</name>
        <label>UpdateContact</label>
        <locationX>666</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>collOppty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>UpdatedAccount.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatedOpptys</name>
        <label>UpdatedOpptys</label>
        <locationX>666</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>UpdateValidationrule</targetReference>
        </connector>
        <inputReference>collReassignedOpptys</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateValidationrule</name>
        <label>Update Validation rule</label>
        <locationX>666</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>Confirm_New_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Carving_Account_Book_Segment__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Workable_Request_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Workable_Request_Submitter__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overwrite_Validation_Rule__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Change_Account_Owner</name>
        <label>Change Account Owner</label>
        <locationX>358</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FindUser</targetReference>
        </connector>
        <fields>
            <name>Reassign_Owner</name>
            <fieldText>Please put in the name and email address of the AE  or ADR that you would like to be the new owner of the Account</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Account_Owner</name>
            <dataType>String</dataType>
            <fieldText>Account Owner</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Account_Owner_Email_Address</name>
            <dataType>String</dataType>
            <fieldText>Account Owner Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_New_Owner</name>
        <label>Confirm New Owner</label>
        <locationX>666</locationX>
        <locationY>2030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirmation</name>
            <fieldText>Account, {!varAccountRecord.Name} is now owned by {!varUserRecord.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Moving_on_Giphy</name>
            <fieldText>&lt;img src=&apos;https://media0.giphy.com/media/3o6fJ8lGiFR3aNdDbi/giphy.gif?cid=790b76115ca6344655494a5455703b1c&apos;, alt=&apos;Move&apos;, title=&apos;Moving&apos; width=’64’, height=’64’ /&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flow_Introduction</name>
        <label>Flow Introduction</label>
        <locationX>358</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Change_Account_Owner</targetReference>
        </connector>
        <fields>
            <name>Introduction</name>
            <fieldText>Hello you will be able to make changes to the account owner by using this flow. Please follow the instructions on the next couple of pages.</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Manager</name>
        <label>Not Manager</label>
        <locationX>930</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Do_not_pass</name>
            <fieldText>You are not able to change the ownership of this account. Please contact your manager or salesops@samsara.com.</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Space</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Cat_Giphy</name>
            <fieldText>&lt;img src=&apos;https://external-preview.redd.it/22zADSRmIQPnqIqdn_iX6EHO1wNBMM_HFWoXEbvR8AQ.gif?format=mp4&amp;s=914c9b85f8e963ba9e771a53044b168f66f17b97&apos;, alt=&apos;Kitty&apos;, title=&apos;NoCat&apos; width=’64’, height=’64’ /&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>You_can_not_reassign</name>
        <label>You can not reassign</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_reassignment</name>
            <fieldText>You cannot reassign accounts owned by the Pool.</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Existing_Accounts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>collReassignedOpptys</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>GetOppties</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>LoopedOppty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>UpdatedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varUserRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
