force-app/main/default/flows/Account_Cloner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_New_Type_Industrial</name>
        <label>Is New Type Industrial?</label>
        <locationX>799</locationX>
        <locationY>249</locationY>
        <defaultConnector>
            <targetReference>Confirmation_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Type_is_Industrial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Industrial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation_screen_0_0</targetReference>
            </connector>
            <label>New Type is Industrial</label>
        </rules>
    </decisions>
    <description>Clones an industrial/fleet account and link it to the old one.</description>
    <dynamicChoiceSets>
        <name>RecordType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Machine_Vision</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>NewType</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Account Clone New Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Cloner v 10</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Account</name>
        <label>Create New Account</label>
        <locationX>1178</locationX>
        <locationY>373</locationY>
        <assignRecordIdToReference>newAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Confirmation_screen_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>OriginalAccount.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>OriginalAccount.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountryCode</field>
            <value>
                <elementReference>OriginalAccount.BillingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>OriginalAccount.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>OriginalAccount.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStateCode</field>
            <value>
                <elementReference>OriginalAccount.BillingStateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>OriginalAccount.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Email__c</field>
            <value>
                <elementReference>OriginalAccount.Billing_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_First_Name__c</field>
            <value>
                <elementReference>OriginalAccount.Billing_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Last_Name__c</field>
            <value>
                <elementReference>OriginalAccount.Billing_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Phone__c</field>
            <value>
                <elementReference>OriginalAccount.Billing_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industrial_Square_Footage__c</field>
            <value>
                <elementReference>OriginalAccount.Industrial_Square_Footage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>OriginalAccount.Industry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OriginalAccount.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberOfEmployees</field>
            <value>
                <elementReference>OriginalAccount.NumberOfEmployees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Critical_Machines__c</field>
            <value>
                <elementReference>OriginalAccount.Number_of_Critical_Machines__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Industrial_Assets__c</field>
            <value>
                <elementReference>OriginalAccount.Number_of_Industrial_Assets__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_Size__c</field>
            <value>
                <elementReference>OriginalAccount.Organization_Size__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>OriginalAccount.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>OriginalAccount.Website</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Account_0</name>
        <label>Create New Account</label>
        <locationX>1148</locationX>
        <locationY>60</locationY>
        <assignRecordIdToReference>newAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Confirmation_screen_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>OriginalAccount.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>OriginalAccount.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountryCode</field>
            <value>
                <elementReference>OriginalAccount.BillingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>OriginalAccount.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>OriginalAccount.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStateCode</field>
            <value>
                <elementReference>OriginalAccount.BillingStateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>OriginalAccount.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Email__c</field>
            <value>
                <elementReference>OriginalAccount.Billing_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_First_Name__c</field>
            <value>
                <elementReference>OriginalAccount.Billing_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Last_Name__c</field>
            <value>
                <elementReference>OriginalAccount.Billing_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Phone__c</field>
            <value>
                <elementReference>OriginalAccount.Billing_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industrial_Square_Footage__c</field>
            <value>
                <elementReference>OriginalAccount.Industrial_Square_Footage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>industryText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OriginalAccount.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberOfEmployees</field>
            <value>
                <elementReference>OriginalAccount.NumberOfEmployees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Critical_Machines__c</field>
            <value>
                <elementReference>OriginalAccount.Number_of_Critical_Machines__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Industrial_Assets__c</field>
            <value>
                <elementReference>OriginalAccount.Number_of_Industrial_Assets__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization_Size__c</field>
            <value>
                <elementReference>OriginalAccount.Organization_Size__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>OriginalAccount.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Industry__c</field>
            <value>
                <elementReference>secondaryIndustryText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>OriginalAccount.Website</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Account_Lookup</name>
        <label>Account Lookup</label>
        <locationX>390</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>OriginalAccount</outputReference>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Record_Type__c</queriedFields>
        <queriedFields>Related_Industrial_Account__c</queriedFields>
        <queriedFields>Related_Fleet_Account__c</queriedFields>
        <queriedFields>Billing_Email__c</queriedFields>
        <queriedFields>Billing_First_Name__c</queriedFields>
        <queriedFields>Billing_Last_Name__c</queriedFields>
        <queriedFields>Billing_Phone__c</queriedFields>
        <queriedFields>Billing_Stripe_Customer_Id__c</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingCountryCode</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingStateCode</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>Contract_Term__c</queriedFields>
        <queriedFields>CSM_Owner_Name__c</queriedFields>
        <queriedFields>Employees_on_Site__c</queriedFields>
        <queriedFields>DUNS_Number__c</queriedFields>
        <queriedFields>DOT_Number__c</queriedFields>
        <queriedFields>Event_Lead__c</queriedFields>
        <queriedFields>Global_Geography__c</queriedFields>
        <queriedFields>Industrial_Square_Footage__c</queriedFields>
        <queriedFields>Industry</queriedFields>
        <queriedFields>Major_Account__c</queriedFields>
        <queriedFields>Major_Account_List__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Non_Profit__c</queriedFields>
        <queriedFields>Normalized_Phone_Text__c</queriedFields>
        <queriedFields>Number_of_Unpowered_Assets__c</queriedFields>
        <queriedFields>Number_of_Citizens__c</queriedFields>
        <queriedFields>Number_of_Critical_Machines__c</queriedFields>
        <queriedFields>Number_of_DOT_Accidents__c</queriedFields>
        <queriedFields>Number_of_Industrial_Assets__c</queriedFields>
        <queriedFields>Number_of_Sites__c</queriedFields>
        <queriedFields>Number_of_Reefers__c</queriedFields>
        <queriedFields>Number_of_Students__c</queriedFields>
        <queriedFields>Number_of_Powered_Assets__c</queriedFields>
        <queriedFields>Number_of_Vehicles__c</queriedFields>
        <queriedFields>NumberOfEmployees</queriedFields>
        <queriedFields>Organization_Size__c</queriedFields>
        <queriedFields>Other_Camera_Provider__c</queriedFields>
        <queriedFields>Other_Current_Solution__c</queriedFields>
        <queriedFields>Other_Current_Solution_Expiration_Date__c</queriedFields>
        <queriedFields>Other_Telematics_Provider__c</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Samsara_Industry_Tree__c</queriedFields>
        <queriedFields>Samsara_PreApproval_Status__c</queriedFields>
        <queriedFields>Sic_1__c</queriedFields>
        <queriedFields>Sic_2__c</queriedFields>
        <queriedFields>Sic_3__c</queriedFields>
        <queriedFields>Sic_4__c</queriedFields>
        <queriedFields>SIC_Description__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Tax_Exempt__c</queriedFields>
        <queriedFields>Telematics_Contract_End_Date__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>VATId__c</queriedFields>
        <queriedFields>Website</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Choose_Record_Type</name>
        <label>Choose Record Type</label>
        <locationX>620</locationX>
        <locationY>373</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_New_Type_Industrial</targetReference>
        </connector>
        <fields>
            <name>Clone_to</name>
            <choiceReferences>RecordType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Clone to</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_screen</name>
        <label>Confirmation screen</label>
        <locationX>959</locationX>
        <locationY>373</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Account</targetReference>
        </connector>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You&amp;apos;re about to clone this &lt;FONT KERNING=&quot;1&quot;&gt;{!OriginalAccount.Record_Type__c}&lt;/FONT&gt; account! This wizard will create a new {!NewType} account and assign it to YOU!&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;After cloning, you should move any relevant contacts to the new account.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Let&amp;apos;s begin!&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Gif</name>
            <fieldText>&lt;img src=&quot;https://i.giphy.com/media/BHJUXL0QCuyBi/giphy.webp&quot; alt=&quot;silly gif&quot;/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_screen_0</name>
        <label>Confirmation screen</label>
        <locationX>1386</locationX>
        <locationY>373</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirmation_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Woah that was awesome!&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Want to see your new creation? &lt;a href=&quot;https://samsara.my.salesforce.com/{!newAccountId}&quot;&gt;Click here!&lt;/a&gt; &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Gif_0</name>
            <fieldText>&lt;img src=&quot;https://i.giphy.com/media/s2qXK8wAvkHTO/giphy.webp&quot; alt=&quot;yay dot gif&quot;/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_screen_0_0</name>
        <label>Confirmation screen</label>
        <locationX>953</locationX>
        <locationY>62</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Account_0</targetReference>
        </connector>
        <fields>
            <name>Confirmation_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;You&apos;re about to clone this {!OriginalAccount.Record_Type__c} account! This wizard will create a new {!NewType} account and assign it to YOU!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;After cloning, you should move any relevant contacts to the new account.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Since you&apos;ve chosen the {!NewType} record type, we&apos;ll need a little more information about the Account. Please provide the Industry and Secondary Industry below:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>industryAndSecondaryIndustry</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Industry</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Secondary_Industry__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <stringValue>Remote Infrastructure</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>industryText</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>secondaryIndustryText</assignToReference>
                <name>middleValue</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Gif_0_0</name>
            <fieldText>&lt;img src=&quot;https://i.giphy.com/media/BHJUXL0QCuyBi/giphy.webp&quot; alt=&quot;silly gif&quot;/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_screen_0_0_0</name>
        <label>Confirmation screen</label>
        <locationX>1403</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirmation_0_0_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Woah that was awesome!&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Want to see your new creation? &lt;a href=&quot;https://samsara.my.salesforce.com/{!newAccountId}&quot;&gt;Click here!&lt;/a&gt; &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Gif_0_0_0</name>
            <fieldText>&lt;img src=&quot;https://i.giphy.com/media/s2qXK8wAvkHTO/giphy.webp&quot; alt=&quot;yay dot gif&quot;/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault</name>
        <label>Fault</label>
        <locationX>1384</locationX>
        <locationY>529</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;There was an error cloning the account:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 15px; font-family: Consolas, &amp;quot;Bitstream Vera Sans Mono&amp;quot;, &amp;quot;Courier New&amp;quot;, Courier, monospace; color: rgb(0, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_0</name>
        <label>Fault</label>
        <locationX>1399</locationX>
        <locationY>174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_0</name>
            <fieldText>&lt;p&gt;There was an error cloning the account:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 15px; font-family: Consolas, &amp;quot;Bitstream Vera Sans Mono&amp;quot;, &amp;quot;Courier New&amp;quot;, Courier, monospace; color: rgb(0, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>372</locationY>
        <connector>
            <targetReference>Account_Lookup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>industryText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OriginalAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>secondaryIndustryText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
