force-app/main/default/flows/Account_Billing_Address_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Billing_Address_Change_to_Owner</name>
        <label>Notify Billing Address Change to Owner</label>
        <locationX>138</locationX>
        <locationY>1055</locationY>
        <actionName>Account.Billing_Address_Change_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Accounts_Loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Billing_Address_Change_Email_Alert</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AccIdList</name>
        <label>AccId List</label>
        <locationX>270</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>AccIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Docu_Sign_Status_Records_Loop.dsfs__Opportunity__r.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Docu_Sign_Status_Records_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AccIdsNotEmpty</name>
        <label>AccIdsNotEmpty</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isAccExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accounts</targetReference>
            </connector>
            <label>isAccExist</label>
        </rules>
    </decisions>
    <description>https://samsaradev.atlassian.net/browse/GTMS-17113</description>
    <environments>Default</environments>
    <interviewLabel>Account - Billing Address Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Billing Address Automation</label>
    <loops>
        <name>Accounts_Loop</name>
        <label>Accounts Loop</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <collectionReference>Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Notify_Billing_Address_Change_to_Owner</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Docu_Sign_Status_Records_Loop</name>
        <label>Docu Sign Status Records Loop</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Delievered_docusign_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AccIdList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AccIdsNotEmpty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Accounts</name>
        <label>Accounts</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Accounts_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>AccIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Delievered_docusign_records</name>
        <label>Get Delievered docusign records</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Docu_Sign_Status_Records_Loop</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>dsfs__Envelope_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </filters>
        <filters>
            <field>dsfs__Envelope_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </filters>
        <filters>
            <field>dsfs__Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opp_PQ_Bill_To_account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>dsfs__DocuSign_Status__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Delievered_docusign_records</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>BillingStreet</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingCity</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingState</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingPostalCode</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingCountry</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
