force-app/main/default/flows/ADR_SLA_Automation_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Auto_rejected_alert</name>
        <label>Auto rejected alert - passed 72 hours</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>ADR_Transfer_Log__c.Auto_Reject_ADR_crossed_72_hours</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ADR_Transfer_Log__c.Auto_Reject_ADR_crossed_72_hours</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_email_past_48_hrs</name>
        <label>Send email past 48 hrs</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>ADR_Transfer_Log__c.Reminder_Email_alert_ADR_SLA</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ADR_Transfer_Log__c.Reminder_Email_alert_ADR_SLA</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Email_to_send</name>
        <label>Email to send</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_for_auto_rejection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ADR_Transfer_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auto Reject - SLA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ADR_Transfer_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_rejected_alert</targetReference>
            </connector>
            <label>Send Email for auto rejection</label>
        </rules>
        <rules>
            <name>Send_Email_for_Reminder_48_hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_Sent_SLA_Reminder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Sent_SLA_Reminder__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ADR_Transfer_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Auto Reject - SLA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ADR_Transfer_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_past_48_hrs</targetReference>
            </connector>
            <label>Send Email for Reminder (48 hours)</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ADR SLA Automation Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ADR SLA Automation Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Email_to_send</targetReference>
        </connector>
        <filterLogic>(1 AND 3) OR (2 AND 4)</filterLogic>
        <filters>
            <field>Email_Sent_SLA_Reminder__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ADR_Transfer_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Auto Reject - SLA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email_Sent_SLA_Reminder__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ADR_Transfer_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ADR_Transfer_Log__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Recipientsemail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.ADR_Transfer_By__r.Email},{!$Record.AE_Demo_Transfer_To__r.Email},{!$Record.Account__r.Owner.Email},{!$Record.Account__r.Owner_Manager_Email__c}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
