force-app/main/default/flows/ADR_Transfer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Demo_Fields</name>
        <label>Assign Demo Fields</label>
        <locationX>342</locationX>
        <locationY>269</locationY>
        <assignmentItems>
            <assignToReference>oDemo.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAccount.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDemo.Demo_Scheduled_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCurrentUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDemo.Demo_Scheduled_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDemo.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Demo_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDemo.Calls_by_Current_Owner_Copy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oContact.Number_of_Calls_by_Current_Owner_Roll_Up__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDemo.Demo_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Demo Scheduled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDemo.DurationInMinutes</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDemo.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oDemoRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDemo.Related_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDemo.Related_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDemo.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Demo with {!oContact.Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDemo.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard Demo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDemo.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!fCurrentUserTag} {!Notes2}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDemo.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Demo_Event</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Demos_Exist</name>
        <label>Demos Exist?</label>
        <locationX>647</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Book_Demo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Demos</defaultConnectorLabel>
        <rules>
            <name>Demos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oDemos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Demo_Already_Schedule</targetReference>
            </connector>
            <label>Demos</label>
        </rules>
    </decisions>
    <description>Fixed GIF &amp; Demo Date Time inputs adjusted</description>
    <dynamicChoiceSets>
        <name>Authority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Authority__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DemoNotQualified</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Demo_Not_Qualified_Reason__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DemoStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Demo_Status__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Need</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Need__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UseCase</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Use_Case__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>fCurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>fCurrentUserTag</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}+&quot; &quot;+{!$User.LastName}+&apos; &apos;+TEXT({!$Flow.CurrentDateTime})+&apos;: &apos;</expression>
    </formulas>
    <interviewLabel>ADR Transfer Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ADR Transfer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Demo_Event</name>
        <label>Create Demo Event</label>
        <locationX>192</locationX>
        <locationY>269</locationY>
        <connector>
            <targetReference>Demo_Complete</targetReference>
        </connector>
        <inputReference>oDemo</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>337</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Demo_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oContact.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>oAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Industry</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Details</name>
        <label>Get Contact Details</label>
        <locationX>194</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>oContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Number_of_Calls_by_Current_Owner_Roll_Up__c</queriedFields>
        <queriedFields>Source__c</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Demo_Details</name>
        <label>Get Demo Details</label>
        <locationX>482</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Demos_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oContact.Id</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputReference>oDemos</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
        <sortField>StartDateTime</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Demo_Record_Type</name>
        <label>Get Demo Record Type</label>
        <locationX>490</locationX>
        <locationY>269</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Demo_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Demo</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>oDemoRecordType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Book_Demo</name>
        <label>Book Demo</label>
        <locationX>655</locationX>
        <locationY>269</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Demo_Record_Type</targetReference>
        </connector>
        <fields>
            <name>BookingDemo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-family: tahoma; font-size: 24px;&quot;&gt;Booking Demo&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Demo_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>vDemoDateTime</elementReference>
            </defaultValue>
            <fieldText>Demo Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Notes2</name>
            <defaultValue>
                <stringValue>{!vNotes}</stringValue>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Demo_Already_Schedule</name>
        <label>Demo Already Schedule</label>
        <locationX>877</locationX>
        <locationY>48</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DemoAlreadyScheduled</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-family: tahoma; font-size: 24px;&quot;&gt;You Can&apos;t Create Multiple Demos&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;A demo has already been scheduled for this customer. Please follow-up with AE and Sales Ops&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://samsara--c.documentforce.com/servlet/rtaImage?refid=0EM1P000001EvAc&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Demo_Complete</name>
        <label>Demo Complete</label>
        <locationX>49</locationX>
        <locationY>419</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>GoodJob</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 24px; font-family: tahoma;&quot;&gt;Demo Scheduling Complete&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Excellent Work! &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://samsara--c.documentforce.com/sfc/servlet.shepherd/version/download/0681P000006Xtdt?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Contact_Details</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>LineBreak</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!EmptyString}
{!EmptyString}</text>
    </textTemplates>
    <variables>
        <name>EmptyString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MostRecentDemo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>oContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>oDemo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>oDemoRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>oDemos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>oUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vDemoCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vDemoDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
