force-app/main/default/flows/ADR_Transfer_Log_Field_Updates_on_Qualification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign</name>
        <label>Assign values to ADR Transfer Log Fields</label>
        <locationX>766</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>Get_ADR_Transfer_Log_Record.ADR_Manager_Name_Copy_at_Qualification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ADR_Transfer_Log_Record.ADR_Transfer_By__r.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_ADR_Transfer_Log_Record.ADR_Transfer_Qualified_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_ADR_Transfer_Log_Record.AE_Manager_Name_Copy_at_Qualification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ADR_Transfer_Log_Record.AE_Qualified_Transfer_To__r.Manager.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_ADR_Transfer_Log_Record.AE_Qualified_Transfer_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ADR_Transfer_Log_Record.AE_Demo_Transfer_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_ADR_Transfer_Log_Record.ADR_Accepted_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_ADR_Transfer_Log_Record.ADR_Transfer_Accepted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_ADR_Transfer_Log_Record.ADR_Transfer_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accepted and Qualified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_ADR_Transfer_Log_Record.ADR_Role_Copy_at_Qualification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ADR_Transfer_Log_Record.ADR_Transfer_By__r.UserRole.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_ADR_Transfer_Log_Record.ADR_Transfer_Accepted_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ADR_Transfer_Log_Record</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>ADR Transfer Log Field Updates on Qualification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ADR Transfer Log Field Updates on Qualification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ADR_Transfer_Log_Record</name>
        <label>Get ADR Transfer Log Record</label>
        <locationX>765</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ADRTransferLogRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ADR_Transfer_Log__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AE_Role_Copy_at_Qualification__c</queriedFields>
        <queriedFields>ADR_Manager_Name_Copy_at_Qualification__c</queriedFields>
        <queriedFields>ADR_Role_Copy_at_Qualification__c</queriedFields>
        <queriedFields>ADR_Transfer_Qualified_Date__c</queriedFields>
        <queriedFields>AE_Manager_Name_Copy_at_Qualification__c</queriedFields>
        <queriedFields>ADR_Transfer_By__c</queriedFields>
        <queriedFields>AE_Qualified_Transfer_To__c</queriedFields>
        <queriedFields>AE_Demo_Transfer_To__c</queriedFields>
        <queriedFields>ADR_Accepted_Date__c</queriedFields>
        <queriedFields>ADR_Transfer_Accepted__c</queriedFields>
        <queriedFields>ADR_Transfer_Qualified__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ADR_Transfer_Log_Record</name>
        <label>Update ADR Transfer Log Record</label>
        <locationX>765</locationX>
        <locationY>398</locationY>
        <inputReference>Get_ADR_Transfer_Log_Record</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>639</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_ADR_Transfer_Log_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ADRTransferLogRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentADRTransferLogRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ADR_Transfer_Log__c</objectType>
    </variables>
</Flow>
