force-app/main/default/flows/Book_Complete_Demo_Fleet_Enterprise.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Demo_Fields</name>
        <label>Assign Demo Fields</label>
        <locationX>1166</locationX>
        <locationY>484</locationY>
        <assignmentItems>
            <assignToReference>oDemo.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAccount.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDemo.Demo_Scheduled_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCurrentUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDemo.Demo_Scheduled_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDemo.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Demo_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDemo.Calls_by_Current_Owner_Copy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oContact.Number_of_Calls_by_Current_Owner_Roll_Up__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDemo.Demo_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Demo Completed - Qualified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDemo.DurationInMinutes</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDemo.Related_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDemo.Related_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDemo.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Demo with {!oContact.Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDemo.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oDemoRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDemo.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!fCurrentUserTag} {!Notes}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDemo.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard Demo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDemo.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDemo.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDemo.Type_new__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Demo_Type_Selection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oDemo.Demo_Completed_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Demo_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Demo_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Contact</name>
        <label>Assign Values to Contact</label>
        <locationX>843</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>oContact.Demo_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCompleteDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContact.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!fCurrentUserTag} {!Demo_Complete_Notes} {!LineBreak} {!oDemo.Description} {!LineBreak} {!oContact.Description}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContact.Missing_BANT_Criteria__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Missing_BANT_Criteria</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oContact.No_BANT_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No_BANT_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Contact_Status_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Contact_Status</name>
        <label>Assign Values to Contact.Status</label>
        <locationX>843</locationX>
        <locationY>1125</locationY>
        <assignmentItems>
            <assignToReference>oContact.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DemoStatusNew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Demo_Exist_to_True</name>
        <label>Demo Exist to True</label>
        <locationX>1155</locationX>
        <locationY>246</locationY>
        <assignmentItems>
            <assignToReference>vDemoExist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_a_Demo_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Open_Demo</name>
        <label>No Open Demo</label>
        <locationX>1957</locationX>
        <locationY>382</locationY>
        <assignmentItems>
            <assignToReference>vNoOpenDemo</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Demos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Open_Demo1</name>
        <label>Open Demo</label>
        <locationX>1819</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>vNoOpenDemo</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Most_Recent_Demo_Already</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Open_Demo_Count_Assignment</name>
        <label>Open Demo Count Assignment</label>
        <locationX>1673</locationX>
        <locationY>641</locationY>
        <assignmentItems>
            <assignToReference>vDemoCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MostRecentDemo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oDemo.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Demos</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ConnectedWorkerDemo</name>
        <choiceText>Connected Sites Demo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Connected Worker Demo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Demo2</name>
        <choiceText>{!fDemosorNoDemos}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard Demo</stringValue>
        </value>
    </choices>
    <choices>
        <name>DemoNotQualifiedv2</name>
        <choiceText>Demo Completed - Not Qualified</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Demo Completed - Not Qualified</stringValue>
        </value>
    </choices>
    <choices>
        <name>DemoQualified</name>
        <choiceText>Demo Completed - Qualified</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Demo Completed - Qualified</stringValue>
        </value>
    </choices>
    <choices>
        <name>FleetDemo</name>
        <choiceText>Fleet Demo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fleet Demo</stringValue>
        </value>
    </choices>
    <choices>
        <name>IndustrialDemo</name>
        <choiceText>Industrial Demo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Industrial Demo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Onsite</name>
        <choiceText>Onsite</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Onsite</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Technical_Call</name>
        <choiceText>Technical Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Technical Call</stringValue>
        </value>
    </choices>
    <choices>
        <description>X-Sell Demo: Connected Worker</description>
        <name>XSellCNWKR</name>
        <choiceText>X-Sell Demo: Connected Worker</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>X-Sell Demo: Connected Worker</stringValue>
        </value>
    </choices>
    <choices>
        <description>X-Sell Demo: Industrial</description>
        <name>XSellIndustrial</name>
        <choiceText>X-Sell Demo: Industrial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>X-Sell Demo: Industrial</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Contact_Status_1</name>
        <label>Check Contact Status 1</label>
        <locationX>831</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Scheduling_Contact_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Status_Not_Inactive_No_Longer_There_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oContact.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Inactive - No Longer There</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Booking</targetReference>
            </connector>
            <label>Contact Status Not &apos;Inactive - No Longer There&apos; 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_Status_2</name>
        <label>Check Contact Status 2</label>
        <locationX>835</locationX>
        <locationY>964</locationY>
        <defaultConnector>
            <targetReference>Update_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Status_Not_Inactive_No_Longer_There_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oContact.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Inactive - No Longer There</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_Contact_Status</targetReference>
            </connector>
            <label>Contact Status Not &apos;Inactive - No Longer There&apos; 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Demo_Count_Check</name>
        <label>Demo Count Check</label>
        <locationX>1493</locationX>
        <locationY>484</locationY>
        <defaultConnector>
            <targetReference>Book_Demo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Demos &lt; 1</defaultConnectorLabel>
        <rules>
            <name>Demos_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vDemoCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Demo_Check</targetReference>
            </connector>
            <label>Demos &gt;= 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Demos_Exist</name>
        <label>Demos Exist?</label>
        <locationX>1324</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Book_Demo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Demos</defaultConnectorLabel>
        <rules>
            <name>Demos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Demo2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Demos</targetReference>
            </connector>
            <label>Demos</label>
        </rules>
    </decisions>
    <decisions>
        <description>This is required to set a variable for a formula field to display either Book Demo/Complete Demo flow for users. Formula field cannot run a null check on collection variable</description>
        <name>Demos_Exist_Launch_Page</name>
        <label>Demos Exist (Launch Page)</label>
        <locationX>1147</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Select_a_Demo_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Demos Exist False</defaultConnectorLabel>
        <rules>
            <name>Demos_Exist_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oDemos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Demo_Exist_to_True</targetReference>
            </connector>
            <label>Demos Exist True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Demo_Not_Qualified</name>
        <label>Is Demo Not Qualified</label>
        <locationX>1007</locationX>
        <locationY>670</locationY>
        <defaultConnector>
            <targetReference>Update_Most_Recent_Demo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Qualified</defaultConnectorLabel>
        <rules>
            <name>Not_Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Demo_Status2</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Not Qualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Demo_Not_Qualified</targetReference>
            </connector>
            <label>Not Qualified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Most_Recent_Demo_Already</name>
        <label>Most Recent Demo Exists</label>
        <locationX>1951</locationX>
        <locationY>633</locationY>
        <defaultConnector>
            <targetReference>Open_Demo_Count_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Hasn&apos;t Been Used</defaultConnectorLabel>
        <rules>
            <name>Already_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MostRecentDemo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Demos</targetReference>
            </connector>
            <label>Already Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Demo</name>
        <label>Open Demo?</label>
        <locationX>1815</locationX>
        <locationY>239</locationY>
        <defaultConnector>
            <targetReference>No_Open_Demo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Open Demo</defaultConnectorLabel>
        <rules>
            <name>Open_Demo_Exists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>oDemo.Demo_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>oDemo.Demo_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demo Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Demo1</targetReference>
            </connector>
            <label>Open Demo Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Demo_Check</name>
        <label>Open Demo Check</label>
        <locationX>1496</locationX>
        <locationY>646</locationY>
        <defaultConnector>
            <targetReference>Get_Most_Recent_Demo_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Open Demos Only</defaultConnectorLabel>
        <rules>
            <name>No_Open_Demo1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vNoOpenDemo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Book_Demo</targetReference>
            </connector>
            <label>No Open Demo</label>
        </rules>
    </decisions>
    <description>Updates to flow from business v2</description>
    <dynamicChoiceSets>
        <name>Authority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Authority__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DemoNotQualified</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Demo_Not_Qualified_Reason__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DemoStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Demo_Status__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MissingBANTCriteria</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Missing_BANT_Criteria__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Need</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Need__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UseCase</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Use_Case__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DemoStatusNew</name>
        <dataType>String</dataType>
        <expression>IF({!Demo_Status2} = &quot;Demo Completed - Qualified&quot;, &quot;Qualified&quot;, {!Demo_Status2})</expression>
    </formulas>
    <formulas>
        <name>fAutoCompletedDemoTime</name>
        <dataType>DateTime</dataType>
        <expression>{!Demo_Date_Time}+30</expression>
    </formulas>
    <formulas>
        <name>fCompleteDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>fCurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>fCurrentUserTag</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}+&quot; &quot;+{!$User.LastName}+&apos; &apos;+TEXT({!$Flow.CurrentDateTime})+&apos;: &apos;</expression>
    </formulas>
    <formulas>
        <name>fDemosorNoDemos</name>
        <dataType>String</dataType>
        <expression>IF(NOT({!vDemoExist}), &apos;Book Initial Demo&apos;, &apos;Complete Existing Demo&apos;)</expression>
    </formulas>
    <formulas>
        <name>UserRole</name>
        <dataType>String</dataType>
        <expression>{!$UserRole.Name}</expression>
    </formulas>
    <interviewLabel>Book/Complete Demo [Fleet Enterprise] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Book/Complete Demo [Fleet Enterprise]</label>
    <loops>
        <name>Loop_through_Demos</name>
        <label>Loop through Demos</label>
        <locationX>1515</locationX>
        <locationY>248</locationY>
        <assignNextValueToReference>oDemo</assignNextValueToReference>
        <collectionReference>oDemos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Open_Demo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Demo_Count_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Demo_Event</name>
        <label>Create Demo Event</label>
        <locationX>993</locationX>
        <locationY>484</locationY>
        <connector>
            <targetReference>Check_Contact_Status_1</targetReference>
        </connector>
        <inputReference>oDemo</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>718</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Demo_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oContact.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>oAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Industry</queriedFields>
        <queriedFields>Segment__c</queriedFields>
        <queriedFields>Open_Opportunity__c</queriedFields>
        <queriedFields>Business_Unit__c</queriedFields>
        <queriedFields>Organization_Size__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Details</name>
        <label>Get Contact Details</label>
        <locationX>575</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>oContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Number_of_Calls_by_Current_Owner_Roll_Up__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Demo_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Demo_Details</name>
        <label>Get Demo Details</label>
        <locationX>860</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Demo_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Demo_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demo Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Related_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oContact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Demo</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <outputReference>oDemos</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Demo_Status__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Type_new__c</queriedFields>
        <sortField>StartDateTime</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Demo_Record_Type</name>
        <label>Get Demo Record Type</label>
        <locationX>997</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Demos_Exist_Launch_Page</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demo</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>oDemoRecordType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Most_Recent_Demo_Info</name>
        <label>Get Most Recent Demo Info</label>
        <locationX>1506</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Complete_Demo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MostRecentDemo</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputReference>oDemo</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Budget__c</queriedFields>
        <queriedFields>Authority__c</queriedFields>
        <queriedFields>Need__c</queriedFields>
        <queriedFields>Timeline__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Demo_Completed_Date_Time__c</queriedFields>
        <queriedFields>Use_Case__c</queriedFields>
        <queriedFields>Call_Notes__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>495</locationX>
        <locationY>1048</locationY>
        <connector>
            <targetReference>Demo_Completed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Completion_Contact_Error</targetReference>
        </faultConnector>
        <inputReference>oContact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Booking</name>
        <label>Update Contact Booking</label>
        <locationX>581</locationX>
        <locationY>486</locationY>
        <connector>
            <targetReference>Demo_Schedule_Complete_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Scheduling_Contact_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oContact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Demo Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Most_Recent_Demo</name>
        <label>Update Most Recent Demo</label>
        <locationX>843</locationX>
        <locationY>670</locationY>
        <connector>
            <targetReference>Assign_Values_to_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MostRecentDemo</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Demo_Completed_Date_Time__c</field>
            <value>
                <elementReference>fCompleteDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demo_Not_Qualified_Reason__c</field>
            <value>
                <elementReference>Demo_Not_Qualified_Reason2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demo_Status__c</field>
            <value>
                <elementReference>Demo_Status2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>{!fCurrentUserTag} {!Demo_Complete_Notes} {!LineBreak} {!oDemo.Description}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>fCurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Book_Demo</name>
        <label>Book Demo</label>
        <locationX>1332</locationX>
        <locationY>485</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Demo_Fields</targetReference>
        </connector>
        <fields>
            <name>BookDemo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 24px; font-family: tahoma;&quot;&gt;Booking Demo&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Demo_Date_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Demo Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Complete_Demo</name>
        <label>Complete Demo</label>
        <locationX>1168</locationX>
        <locationY>668</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Demo_Not_Qualified</targetReference>
        </connector>
        <fields>
            <name>CompleteDemo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 24px; font-family: tahoma;&quot;&gt;Completing Existing Demo&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Demo_Status2</name>
            <choiceReferences>DemoQualified</choiceReferences>
            <choiceReferences>DemoNotQualifiedv2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Demo Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Demo_Complete_Notes</name>
            <fieldText>Demo Complete Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Existing_Demo_Info</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Description:&lt;/b&gt; {!oDemo.Description}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Completion_Contact_Error</name>
        <label>Completion Contact Error</label>
        <locationX>244</locationX>
        <locationY>1183</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Demo_Completed</targetReference>
        </connector>
        <fields>
            <name>CannotUpdateContactCompleteError</name>
            <fieldText>&lt;p&gt;&lt;b&gt;ERROR:&lt;/b&gt; Your demo was completed, however, &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Contact Ownership hasn&apos;t been transferred to your name &amp;amp; the contact Status cannot be updated at this time.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Click &lt;/span&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;u&gt;Next&lt;/u&gt;&lt;/i&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; to finish the flow! &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Demo_Completed</name>
        <label>Demo Completed</label>
        <locationX>244</locationX>
        <locationY>935</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DemoComplete</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-family: tahoma; font-size: 24px;&quot;&gt;Demo Complete&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Excellent Work!&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://samsara--uat--c.documentforce.com/sfc/servlet.shepherd/version/download/06801000000DO51?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Demo_Not_Qualified</name>
        <label>Demo Not Qualified</label>
        <locationX>1172</locationX>
        <locationY>954</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Most_Recent_Demo</targetReference>
        </connector>
        <fields>
            <name>NotQualified</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-family: tahoma; font-size: 24px;&quot;&gt;Demo Not-Qualified &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Demo_Not_Qualified_Reason2</name>
            <choiceReferences>DemoNotQualified</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Demo Not Qualified Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Missing_BANT_Criteria</name>
            <choiceReferences>MissingBANTCriteria</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Missing BANT Criteria</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>No_BANT_Reason</name>
            <dataType>String</dataType>
            <fieldText>No BANT Reason</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Demo_Schedule_Complete_Screen</name>
        <label>Demo Schedule Complete Screen</label>
        <locationX>436</locationX>
        <locationY>486</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DemoSchedulingComplete</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 24px; font-family: tahoma;&quot;&gt;Demo Scheduling Complete&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Excellent Work!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://samsara--uat--c.documentforce.com/sfc/servlet.shepherd/version/download/06801000000DO4r?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: serif;&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Scheduling_Contact_Error</name>
        <label>Scheduling Contact Error</label>
        <locationX>446</locationX>
        <locationY>307</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Demo_Schedule_Complete_Screen</targetReference>
        </connector>
        <fields>
            <name>fjasd</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;ERROR:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; Your demo was scheduled, however, Contact Ownership hasn&apos;t been transferred to your name &amp;amp; the contact Status cannot be updated at this time.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Click &lt;/span&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;u&gt;Next&lt;/u&gt;&lt;/i&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; to finish the flow!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_a_Demo_Type</name>
        <label>Select a Demo Type</label>
        <locationX>1332</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Demos_Exist</targetReference>
        </connector>
        <fields>
            <name>DemoTypeHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: tahoma; font-size: 18px;&quot;&gt;Please Select a Demo Type&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Demo_Type_Selection</name>
            <choiceReferences>FleetDemo</choiceReferences>
            <choiceReferences>ConnectedWorkerDemo</choiceReferences>
            <choiceReferences>Onsite</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <choiceReferences>IndustrialDemo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Demo Type Selection</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Contact_Details</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>LineBreak</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!EmptyString}
{!EmptyString}</text>
    </textTemplates>
    <variables>
        <name>EmptyString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MostRecentDemo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>oContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>oDemo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>oDemoRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>oDemos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>oOnsiteDemo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>oUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vDemoCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vDemoExist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vNoOpenDemo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
