force-app/main/default/flows/Channel_Relationship_After_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Expired_CR_Email_Alert_To_PAM</name>
        <label>Expired CR Email Alert To PAM</label>
        <locationX>314</locationX>
        <locationY>1463</locationY>
        <actionName>Channel_Relationship__c.Expired_CR_Email_Alert_To_PAM</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Channel_Relationship__c.Expired_CR_Email_Alert_To_PAM</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>GTMS-26118 &amp; GTMS-26120: Created as part of Partners H1 project</description>
        <name>Expired_CR_Email_Alert_to_Partner_Contact</name>
        <label>Expired CR Email Alert to Partner Contact</label>
        <locationX>842</locationX>
        <locationY>1355</locationY>
        <actionName>Channel_Relationship__c.Expired_CR_Email_Alert_To_Partner_Contact</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Rebated_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Channel_Relationship__c.Expired_CR_Email_Alert_To_Partner_Contact</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>GTMS-26118 &amp; GTMS-26120: Created as part of Partners H1 project to send email to partner contact</description>
        <name>Renewed_CR_Email_Alert_For_Partner_Contact</name>
        <label>Renewed CR Email Alert For Partner Contact</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <actionName>Channel_Relationship__c.Renwed_CR_Email_Alert_To_Partner_Contact</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Channel_Relationship__c.Renwed_CR_Email_Alert_To_Partner_Contact</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Renwed_CR_Email_Alert_To_PAM</name>
        <label>Renwed CR Email Alert To PAM</label>
        <locationX>1106</locationX>
        <locationY>1463</locationY>
        <actionName>Channel_Relationship__c.Renwed_CR_Email_Alert_To_PAM</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Rebated_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Channel_Relationship__c.Renwed_CR_Email_Alert_To_PAM</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>GTMS-26112: Created as part of Partners H1 project</description>
        <name>Assign_Primary_To_Source_CR</name>
        <label>Assign Primary To Source CR</label>
        <locationX>820</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>CR_Record_To_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CR_Record_To_Update.Primary_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CR_List_To_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CR_Record_To_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_Source_CR_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>GTMS-26112: Created as part of Partners H1 project to map values to existing CR</description>
        <name>Map_values_to_Existing_Source_CR</name>
        <label>Map values to Existing Source CR</label>
        <locationX>688</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>To_Update_Existing_CR.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Source_CR_for_the_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>To_Update_Existing_CR.Partner_Interaction_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner Influenced</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>To_Update_Existing_CR.Primary_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CR_List_To_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>To_Update_Existing_CR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Primary_To_Source_CR</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>GTMS-26118 &amp; GTMS-26120: Created as part of Partners H1 project to check if the Partner Contact/PM Owner is empty</description>
        <name>Copy_1_of_Has_Partner_Contact_PM_Owner</name>
        <label>Has PM Owner?</label>
        <locationX>446</locationX>
        <locationY>1355</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CAM_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CAM_Owner__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expired_CR_Email_Alert_To_PAM</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>GTMS-26118 &amp; GTMS-26120: Created as part of Partners H1 project to check if the Partner Contact is empty</description>
        <name>Copy_2_of_Has_Partner_Contact_PM_Owner</name>
        <label>Has PM Owner?</label>
        <locationX>1238</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Update_Rebated_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CAM_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CAM_Owner__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Renwed_CR_Email_Alert_To_PAM</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>GTMS-26118 &amp; GTMS-26120: Created as part of Partners H1 project</description>
        <name>CR_Status_Change_Check</name>
        <label>CR Status Change Check</label>
        <locationX>1040</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewed_By_AE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CR_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewed by AE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CR_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Partner_Contact</targetReference>
            </connector>
            <label>Renewed By AE</label>
        </rules>
        <rules>
            <name>Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CR_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CR_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Partner_Contact2</targetReference>
            </connector>
            <label>Expired</label>
        </rules>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CR_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CR_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CR_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied at Close</stringValue>
                </rightValue>
            </conditions>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <description>GTMS-26112: Created as part of Partner H1 project</description>
        <name>Engagement_Type_change_Check</name>
        <label>Engagement Type change Check</label>
        <locationX>1040</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Primary_Influenced_Change_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Engagement_Type_Changed_to_Soruce</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Interaction_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner Initiated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Interaction_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Source_CR_for_the_Opportunity</targetReference>
            </connector>
            <label>Engagement Type Changed to Soruce</label>
        </rules>
    </decisions>
    <decisions>
        <description>GTMS-26118 &amp; GTMS-26120: Created as part of Partners H1 project to check if the Partner Contact/PM Owner is empty</description>
        <name>Has_Partner_Contact</name>
        <label>Has Partner Contact?</label>
        <locationX>248</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Has_Partner_Contact_PM_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Channel_Partner_Representative__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Channel_Partner_Representative__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CAM_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Channel_Partner_Representative__r.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Channel_Partner__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Renewed_CR_Email_Alert_For_Partner_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>GTMS-26118 &amp; GTMS-26120: Created as part of Partners H1 project to check if the Partner Contact is empty</description>
        <name>Has_Partner_Contact2</name>
        <label>Has Partner Contact?</label>
        <locationX>1040</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Has_Partner_Contact_PM_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Partner_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Channel_Partner_Representative__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Channel_Partner_Representative__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Channel_Partner__r.Partner_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Deactivated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Channel_Partner_Representative__r.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Channel_Partner__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expired_CR_Email_Alert_to_Partner_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>GTMS-26112: Created as part of Partners H1 project to check if the Source CR exists of not</description>
        <name>If_Source_CR_Exists</name>
        <label>If Source CR Exists</label>
        <locationX>820</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Assign_Primary_To_Source_CR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Source_CR_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Source_CR_for_the_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Map_values_to_Existing_Source_CR</targetReference>
            </connector>
            <label>Yes, Source CR Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>GTMS-26112: created as part of partner H1 project to the Primary influenced CR got changed</description>
        <name>Primary_Influenced_Change_Check</name>
        <label>Primary Influenced Change Check</label>
        <locationX>1260</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>CR_Status_Change_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Primary_Influenced_Got_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Record__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Interaction_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partner Influenced</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Record__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Primary_Influenced_CR</targetReference>
            </connector>
            <label>Yes, Primary Influenced Got Changed</label>
        </rules>
    </decisions>
    <description>GTMS-26112: Created as part of Partner H1 project
GTMS-26118 &amp; GTMS-26120: Added CR Status change logic
GTMS-26101 : Created as part of partner deactivation process</description>
    <environments>Default</environments>
    <interviewLabel>Channel Relationship After Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Channel Relationship After Update Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>GTMS-26112: Created as part of Partners H1 project to get the existing Source CR record</description>
        <name>Get_Existing_Source_CR_for_the_Opportunity</name>
        <label>Get Existing Source CR for the Opportunity</label>
        <locationX>820</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Source_CR_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Partner_Interaction_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner Initiated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Channel_Relationship__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Partner_Interaction_Type__c</queriedFields>
        <queriedFields>Primary_Record__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>GTMS-26118 &amp; GTMS-26120: Created as part of Partners H1 project to Deny the PR record once cr got denied by AE</description>
        <name>Update_Deal_Registration_Record</name>
        <label>Update Deal Registration Record</label>
        <locationX>1040</locationX>
        <locationY>1847</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Partner_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Channel_Partner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AE Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Partner_Program_Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Partner_Enrollment__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>AE Denied</stringValue>
            </value>
        </inputAssignments>
        <object>Partner_Registration__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>GTMS-26112: Created as part of Partner H1 Project</description>
        <name>Update_Existing_Primary_Influenced_CR</name>
        <label>Update Existing Primary Influenced CR</label>
        <locationX>1128</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>CR_Status_Change_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Record__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Eligible_For_Payout__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Record__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Channel_Relationship__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>GTMS-26112: Created as part of partner H1 project to update the existing CR</description>
        <name>Update_Existing_Source_CR_record</name>
        <label>Update Existing Source CR record</label>
        <locationX>820</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>CR_Status_Change_Check</targetReference>
        </connector>
        <inputReference>CR_List_To_Update</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>GTMS-26118 &amp; GTMS-26120: Cancelling the Rebate Opportunity</description>
        <name>Update_Rebated_Opportunity</name>
        <label>Update Rebated Opportunity</label>
        <locationX>1040</locationX>
        <locationY>1739</locationY>
        <connector>
            <targetReference>Update_Deal_Registration_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rebate</stringValue>
            </value>
        </filters>
        <filters>
            <field>Returning_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Referral_Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Channel_Partner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Return Created</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Return Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Engagement_Type_change_Check</targetReference>
        </connector>
        <object>Channel_Relationship__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>GTMS-26112: Created as part of Partner H1 project</description>
        <name>CR_List_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Channel_Relationship__c</objectType>
    </variables>
    <variables>
        <description>GTMS-26112: Created as part of Partner H1 project</description>
        <name>CR_Record_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Channel_Relationship__c</objectType>
    </variables>
    <variables>
        <description>GTMS-26112: Created as part of Partners H1 project to store changed values to existing cR</description>
        <name>To_Update_Existing_CR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Channel_Relationship__c</objectType>
    </variables>
</Flow>
