force-app/main/default/flows/Channel_Relationship_Partner_Influenced_Job.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>REMINDER_Partner_Influence_AE_Notification</name>
        <label>REMINDER - Partner Influence AE Notification</label>
        <locationX>264</locationX>
        <locationY>684</locationY>
        <actionName>Opportunity.REMINDER_Partner_Influence_AE_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Loop_thru_opportunity_related_task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop_thru_opportunity_related_task.WhatId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.REMINDER_Partner_Influence_AE_Notification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Channel Relationship Partner Influenced Job {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Channel Relationship Partner Influenced Job</label>
    <loops>
        <name>Loop_thru_opportunity_related_task</name>
        <label>Loop thru opportunity related task</label>
        <locationX>176</locationX>
        <locationY>576</locationY>
        <collectionReference>Get_Opportunity_Related_Task</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>REMINDER_Partner_Influence_AE_Notification</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Channel_Records_List</name>
        <label>Get Channel Records List</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Id_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Partner_Interaction_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner Influenced</stringValue>
            </value>
        </filters>
        <filters>
            <field>CR_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>AE Confirmed</stringValue>
            </value>
        </filters>
        <filters>
            <field>CR_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>AE Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>CR_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Denied at Close</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Channel_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Related_Task</name>
        <label>Get Opportunity Related Task</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_opportunity_related_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>opportunity with a paid influence</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>In</operator>
            <value>
                <elementReference>Opportunity_Id_Set</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Channel_Records_List</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-03-10</startDate>
            <startTime>21:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>Opportunity_Id_Set</name>
        <label>Opportunity Id Set</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Get_Opportunity_Related_Task</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Channel_Records_List[$EachItem].Opportunity__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
</Flow>
