force-app/main/default/flows/Change_Payment_Terms_Request_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Quote_and_Opportunity_to_IFR_Record</name>
        <label>Assign Quote and Opportunity to IFR Record</label>
        <locationX>1273</locationX>
        <locationY>465</locationY>
        <assignmentItems>
            <assignToReference>InternalFinanceRequest.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InternalFinanceRequest.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_values_to_IFR_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_IFR_Record</name>
        <label>Assign values to IFR Record</label>
        <locationX>1409</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>InternalFinanceRequest.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InternalFinanceRequest.Payment_Type_Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InternalFinanceRequest.Submitted_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InternalFinanceRequest.Submitter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InternalFinanceRequest.Requested_Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedPaymentType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InternalFinanceRequest.Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Change in Payment Terms</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InternalFinanceRequest.Approved_Payment_Type_at_Submission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oAccount.Approved_Payment_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InternalFinanceRequest.Notes_from_Requester__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NotesFromRequester</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_IFR_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Opportunity_Payment_Terms_Opportunity_only_exception_to_True</name>
        <label>set Opportunity Payment Terms Opportunity only exception to True</label>
        <locationX>1400</locationX>
        <locationY>201</locationY>
        <assignmentItems>
            <assignToReference>oOpportunity.Payment_Terms_Opportunity_only_exception__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oOpportunity.Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Payment_Terms</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Oppty</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DueInAdvance</name>
        <choiceText>Due in Advance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Due in advance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Net10</name>
        <choiceText>Net 10</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Net 10</stringValue>
        </value>
    </choices>
    <choices>
        <name>Net120</name>
        <choiceText>Net 120</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Net 120</stringValue>
        </value>
    </choices>
    <choices>
        <name>Net15</name>
        <choiceText>Net 15</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Net 15</stringValue>
        </value>
    </choices>
    <choices>
        <name>Net150</name>
        <choiceText>Net 150</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Net 150</stringValue>
        </value>
    </choices>
    <choices>
        <name>Net45</name>
        <choiceText>Net 45</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Net 45</stringValue>
        </value>
    </choices>
    <choices>
        <name>Net5</name>
        <choiceText>Net 5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Net 5</stringValue>
        </value>
    </choices>
    <choices>
        <name>Net60</name>
        <choiceText>Net 60</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Net 60</stringValue>
        </value>
    </choices>
    <choices>
        <name>Net65</name>
        <choiceText>Net 65</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Net 65</stringValue>
        </value>
    </choices>
    <choices>
        <name>Net75</name>
        <choiceText>Net 75</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Net 75</stringValue>
        </value>
    </choices>
    <choices>
        <name>Net90</name>
        <choiceText>Net 90</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Net 90</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ney30</name>
        <choiceText>Net 30</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Net 30</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Opportunity_Stage_Closing_Decision</name>
        <label>Opportunity Stage &gt;= Closing ?</label>
        <locationX>747</locationX>
        <locationY>315</locationY>
        <defaultConnector>
            <targetReference>Payment_Terms_Selection_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Stage_Closing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>oOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>oOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Orders Processing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>oOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready to Ship</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>oOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>End of Life with Promo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>oOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>oOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpportunityIsClosingError</targetReference>
            </connector>
            <label>Opportunity Stage &gt;= Closing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Oppty_Only_checkbox_checked</name>
        <label>Oppty Only checkbox checked ?</label>
        <locationX>1136</locationX>
        <locationY>316</locationY>
        <defaultConnector>
            <targetReference>Assign_Quote_and_Opportunity_to_IFR_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OnlyOpptyUpdateCheckBox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Opportunity_Payment_Terms_Opportunity_only_exception_to_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Triggered_from_Quote_or_Account</name>
        <label>Triggered from Quote or Account ?</label>
        <locationX>168</locationX>
        <locationY>318</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Triggered_from_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quoteRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote</targetReference>
            </connector>
            <label>Triggered from Quote</label>
        </rules>
        <rules>
            <name>Triggered_from_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quoteRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_0</targetReference>
            </connector>
            <label>Triggered from Account</label>
        </rules>
    </decisions>
    <description>GTMS-14244: BSO Project</description>
    <environments>Default</environments>
    <formulas>
        <name>NotesFromRequester</name>
        <dataType>String</dataType>
        <expression>IF({!Notes_from_Requester}!=Null,{!Notes_from_Requester},{!Notes_from_Requester_0})</expression>
    </formulas>
    <formulas>
        <name>SelectedPaymentType</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Select_Payment_Terms}), {!Select_Payment_Terms_0}, {!Select_Payment_Terms})</expression>
    </formulas>
    <interviewLabel>De {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Payment Terms Request Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_IFR_Record</name>
        <label>Create IFR Record</label>
        <locationX>1679</locationX>
        <locationY>638</locationY>
        <inputReference>InternalFinanceRequest</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>595</locationX>
        <locationY>313</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Stage_Closing_Decision</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oOpportunity.Account.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>oAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Approved_Payment_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_0</name>
        <label>Get Account</label>
        <locationX>359</locationX>
        <locationY>636</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_Terms_Selection_Screen_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oOpportunity.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>oAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Approved_Payment_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>488</locationX>
        <locationY>312</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.SBQQ__Opportunity2__r.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>oOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Payment_Terms__c</queriedFields>
        <queriedFields>Selected_Payment_Type__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>393</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Oppty</name>
        <label>Update Oppty</label>
        <locationX>1671</locationX>
        <locationY>357</locationY>
        <connector>
            <targetReference>Assign_Quote_and_Opportunity_to_IFR_Record</targetReference>
        </connector>
        <inputReference>oOpportunity</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>OpportunityIsClosingError</name>
        <label>Opportunity is closing error</label>
        <locationX>754</locationX>
        <locationY>66</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Opportunity_Stage_is_Closing_error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgba(161, 189, 217, 0.08); font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Requests for changing the Payment Terms cannot be made if the Opportunity is in the Closing Stage or any other later stage in the Sales process.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Payment_Terms_Selection_Screen</name>
        <label>Payment Terms Selection Screen</label>
        <locationX>1001</locationX>
        <locationY>313</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Oppty_Only_checkbox_checked</targetReference>
        </connector>
        <fields>
            <name>Select_Payment_Terms</name>
            <choiceReferences>DueInAdvance</choiceReferences>
            <choiceReferences>Net5</choiceReferences>
            <choiceReferences>Net10</choiceReferences>
            <choiceReferences>Net15</choiceReferences>
            <choiceReferences>Ney30</choiceReferences>
            <choiceReferences>Net45</choiceReferences>
            <choiceReferences>Net60</choiceReferences>
            <choiceReferences>Net65</choiceReferences>
            <choiceReferences>Net75</choiceReferences>
            <choiceReferences>Net90</choiceReferences>
            <choiceReferences>Net120</choiceReferences>
            <choiceReferences>Net150</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Payment Terms :</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>OnlyOpptyUpdateCheckBox</name>
            <dataType>Boolean</dataType>
            <fieldText>If the request to change the Payment Terms is applicable only for this Opportunity, please make sure to check this box. Otherwise, if approved, the new Payment Term will also be applied to the Account.</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Notes_from_Requester</name>
            <fieldText>Notes from Requester :</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Payment_Terms_Selection_Screen_0</name>
        <label>Payment Terms Selection Screen</label>
        <locationX>1013</locationX>
        <locationY>637</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_values_to_IFR_Record</targetReference>
        </connector>
        <fields>
            <name>Select_Payment_Terms_0</name>
            <choiceReferences>DueInAdvance</choiceReferences>
            <choiceReferences>Net5</choiceReferences>
            <choiceReferences>Net10</choiceReferences>
            <choiceReferences>Net15</choiceReferences>
            <choiceReferences>Ney30</choiceReferences>
            <choiceReferences>Net45</choiceReferences>
            <choiceReferences>Net60</choiceReferences>
            <choiceReferences>Net65</choiceReferences>
            <choiceReferences>Net75</choiceReferences>
            <choiceReferences>Net90</choiceReferences>
            <choiceReferences>Net120</choiceReferences>
            <choiceReferences>Net150</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Payment Terms :</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Notes_from_Requester_0</name>
            <fieldText>Notes from Requester :</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>132</locationY>
        <connector>
            <targetReference>Triggered_from_Quote_or_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InternalFinanceRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Internal_Finance_Approval_Request__c</objectType>
    </variables>
    <variables>
        <name>oAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>oOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Quote Record Id</description>
        <name>quoteRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
