force-app/main/default/flows/Check_if_3PF_approval_required_on_CPQ_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_if_it_has_atleast_one_FPQ</name>
        <label>Check if it has atleast one FPQ</label>
        <locationX>704</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_CPQ_has_FPQ_associated</name>
            <conditionLogic>(1 OR 2 OR 6) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.License_Term__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_FPQ_Records.Term_Length__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Balance_Due__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_FPQ_Records.Balance_Due__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsAEprofiles</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Does_3PF_require_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_FPQ_Records.Financing_Decision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ShippingAddressConcatenated</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_FPQ_Records.Customer_Shipping_Address__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enable_Does_Approval_Required</targetReference>
            </connector>
            <label>Does CPQ has FPQ associated</label>
        </rules>
        <rules>
            <name>check_clear_banner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Does_3PF_require_approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.License_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_FPQ_Records.Term_Length__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Balance_Due__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_FPQ_Records.Balance_Due__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ShippingAddressConcatenated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_FPQ_Records.Customer_Shipping_Address__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_FPQ_Records.Financing_Decision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resubmit For Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_FPQ_Approve</targetReference>
            </connector>
            <label>check clear banner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Flows</name>
        <label>Skip Flows?</label>
        <locationX>440</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Get_FPQ_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Global_Automation_Settings__c.Skip_Flow_Automation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsAEprofiles</name>
        <dataType>Boolean</dataType>
        <expression>NOT(CONTAINS({!$User.ProfileId},&apos;00e4p000000VhSb&apos;))</expression>
    </formulas>
    <formulas>
        <name>profileid</name>
        <dataType>String</dataType>
        <expression>{!$User.ProfileId}</expression>
    </formulas>
    <formulas>
        <name>ShippingAddressConcatenated</name>
        <dataType>String</dataType>
        <expression>{!$Record.Shipping_Address_NEW__r.Shipping_FirstName__c} &amp;&quot; &quot;&amp;{!$Record.Shipping_Address_NEW__r.Shipping_LastName__c}&amp;&quot;&lt;br&gt;&quot;&amp;
{!$Record.Shipping_Address_NEW__r.Shipping_Address_Line_1__c}&amp;&quot;&lt;br&gt;&quot;&amp;
{!$Record.Shipping_Address_NEW__r.Shipping_Address_Line_2__c}&amp;&quot;&lt;br&gt;&quot;&amp;
{!$Record.Shipping_Address_NEW__r.Shipping_City__c}&amp;&quot;, &quot;&amp;
TEXT( {!$Record.Shipping_Address_NEW__r.Shipping_State__c})&amp;&quot; &quot;&amp;
{!$Record.Shipping_Address_NEW__r.Shipping_Zip_Code__c}&amp;&quot;&lt;br&gt;&quot;&amp;
TEXT({!$Record.Shipping_Address_NEW__r.Shipping_Country__c})</expression>
    </formulas>
    <interviewLabel>Check if 3PF approval required on CPQ Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check if 3PF approval required on CPQ Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_FPQ_Records</name>
        <label>Get FPQ Records</label>
        <locationX>704</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_it_has_atleast_one_FPQ</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>CPQ_Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Financing_Decision__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Financing_Decision__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resubmit For Review</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Finance_Partner_Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Enable_Does_Approval_Required</name>
        <label>Enable Does Approval Required</label>
        <locationX>440</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Updated_Related_FPQ_records</targetReference>
        </connector>
        <inputAssignments>
            <field>Does_3PF_require_approval__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_FPQ_Approve</name>
        <label>Update FPQ Approve</label>
        <locationX>704</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Financing_Decision__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Finance_Partner_Quotes__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updated_Related_FPQ_records</name>
        <label>Updated Related FPQ records</label>
        <locationX>440</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>Financing_Decision__c</field>
            <value>
                <stringValue>Resubmit For Review</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Finance_Partner_Quotes__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>1 OR 2 OR 3</filterLogic>
        <filters>
            <field>License_Term__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Balance_Due__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Shipping_Address_NEW__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Skip_Flows</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FPQCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResubmitFPQCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
