force-app/main/default/flows/Check_If_UPS_Shipment_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>Exchange</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Exchange</stringValue>
        </value>
    </constants>
    <constants>
        <name>WarrantyExchange</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Warranty Exchange</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Warranty_Exchange_Exchange</name>
        <label>Warranty Exchange/Exchange?</label>
        <locationX>618</locationX>
        <locationY>199</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OppType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Exchange</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WarrantyExchange</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Promo_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>Name</name>
        <dataType>String</dataType>
        <expression>&apos;Promo Opportunity - &apos;&amp;{!oppRTN}</expression>
    </formulas>
    <formulas>
        <name>replacementLink</name>
        <dataType>String</dataType>
        <expression>&apos;https://samsara.my.salesforce.com/&apos;&amp;{!promoId}</expression>
    </formulas>
    <formulas>
        <name>RMA</name>
        <dataType>String</dataType>
        <expression>&apos;https://samsara.my.salesforce.com/&apos;&amp;{!OpportunityId}</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Check If UPS Shipment Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check If UPS Shipment Created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Promo_Opportunity</name>
        <label>Create Promo Opportunity</label>
        <locationX>790</locationX>
        <locationY>197</locationY>
        <assignRecordIdToReference>promoId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Replacement_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cable_Tool_Activated__c</field>
            <value>
                <elementReference>CableTool</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Corresponding_Netsuite_ID__c</field>
            <value>
                <elementReference>NetsuiteID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>oppCurrency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promo_Reason__c</field>
            <value>
                <elementReference>OppType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RMA_Return_Opportunity__c</field>
            <value>
                <elementReference>RMA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Number_Shipping__c</field>
            <value>
                <elementReference>oppRTN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_NEW__c</field>
            <value>
                <elementReference>oppShipping</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Purchase</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Promo Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Warranty_Exchange_Reason__c</field>
            <value>
                <elementReference>Warranty_Exchange_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zendesk_Ticket_Number__c</field>
            <value>
                <elementReference>zenDesk</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Opportunity</name>
        <label>Find Opportunity</label>
        <locationX>466</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Warranty_Exchange_Exchange</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>Account</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CableTool</assignToReference>
            <field>Cable_Tool_Activated__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NetsuiteID</assignToReference>
            <field>Corresponding_Netsuite_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>oppCurrency</assignToReference>
            <field>CurrencyIsoCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Notes</assignToReference>
            <field>Notes__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>oppRTN</assignToReference>
            <field>Return_Number_Shipping__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>oppShipping</assignToReference>
            <field>Shipping_Address_NEW__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OppType</assignToReference>
            <field>Type</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Warranty_Exchange_Reason</assignToReference>
            <field>Warranty_Exchange_Reason__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>zenDesk</assignToReference>
            <field>Zendesk_Ticket_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Replacement_Opportunity</name>
        <label>Update Replacement Opportunity</label>
        <locationX>790</locationX>
        <locationY>305</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Replacement_Opportunity__c</field>
            <value>
                <elementReference>replacementLink</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Find_Opportunity</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CableTool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NetsuiteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Notes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppCurrency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppRTN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppShipping</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>promoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Warranty_Exchange_Reason</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>zenDesk</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
