force-app/main/default/flows/Confirm_Influence_Partner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Confirm_Partner_Influence_PAM_Notification</name>
        <label>Confirm Partner Influence PAM Notification</label>
        <locationX>864</locationX>
        <locationY>2648</locationY>
        <actionName>Channel_Relationship__c.Confirm_Partner_Influence_PAM_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Loop_thru_Channel_Relation_List</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop_thru_Channel_Relation_List.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Channel_Relationship__c.Confirm_Partner_Influence_PAM_Notification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Confirm_Partner_Influence_Partner_Notification</name>
        <label>Confirm Partner Influence Partner Notification</label>
        <locationX>600</locationX>
        <locationY>2540</locationY>
        <actionName>Channel_Relationship__c.Confirm_Partner_Influence_Partner_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Loop_thru_Channel_Relation_List</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop_thru_Channel_Relation_List.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Channel_Relationship__c.Confirm_Partner_Influence_Partner_Notification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_AE_Manager</name>
        <label>Send Email to AE Manager</label>
        <locationX>248</locationX>
        <locationY>3200</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Channel_Relationship_records</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Channel_Relationship_records</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>AEOwnerManagerEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>reminderEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>reminderEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>GTMS-28150: Created as part of Partners Project H1 to add selected rows to Update CR list</description>
        <name>Add_Selected_CR_Rows_To_Update_List</name>
        <label>Add Selected CR Rows To Update List</label>
        <locationX>512</locationX>
        <locationY>2108</locationY>
        <assignmentItems>
            <assignToReference>forUpdateCR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Map_values_of_Selected_CR_Records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>forUpdateCR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Map_Values_For_Unselected_CR_Records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>forUpdateCR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CRsNotApplicableList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Channel_Relation_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_selected_CR_List</name>
        <label>Add To selected CR List</label>
        <locationX>512</locationX>
        <locationY>1616</locationY>
        <assignmentItems>
            <assignToReference>selectChannelRelationship</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_CR_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Channel_Relationship_Set_Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_CR_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>channelRelationshipList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_CR_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Map_values_of_Selected_CR_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>GTMS-28150: Created as part of partners Project H1 to add CR to unselected CR list</description>
        <name>Add_To_unselected_CR_List</name>
        <label>Add To unselected CR List</label>
        <locationX>776</locationX>
        <locationY>1616</locationY>
        <assignmentItems>
            <assignToReference>unSelectedCrs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_CR_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasCRRejection</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Map_values_of_Selected_CR_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign AE Influence Confirmation = False</description>
        <name>Assign_CRs_of_AE_Influence_Confirmation_False</name>
        <label>Assign CRs of AE Influence Confirmation False</label>
        <locationX>402</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Loop_Get_CR_Detail_List.CR_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Applicable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CRsNotApplicableList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Get_CR_Detail_List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Get_CR_Detail_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Source CRs</description>
        <name>Assign_CRs_To_be_Shown_In_Datatable</name>
        <label>Assign CRs To be Shown In Datatable</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>FilteredCRList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Get_CR_Detail_List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_Get_CR_Detail_List</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Confirm_Partner_Influence</name>
        <choiceText>Confirm Partner Influence</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Confirm Partner Influence</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reject_Partner_Influence</name>
        <choiceText>Reject Partner Influence</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reject Partner Influence</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check</name>
        <label>Check Record Id Prefix</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CR_Detail_List</targetReference>
            </connector>
            <label>is Opportunity</label>
        </rules>
        <rules>
            <name>is_Channel_Relationship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a0K</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CR_Details</targetReference>
            </connector>
            <label>is Channel Relationship</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_CR_List</name>
        <label>Check CR List</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_cr_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CR_Detail_List</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Info</targetReference>
            </connector>
            <label>has cr record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Opportunity</name>
        <label>Check If Opportunity</label>
        <locationX>512</locationX>
        <locationY>1400</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_Partner_Influence_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Opportunity2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isOpportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_Channel_Relationship_Set_Id</targetReference>
            </connector>
            <label>Is Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_there_Is_PR</name>
        <label>Check if there Is PR</label>
        <locationX>512</locationX>
        <locationY>3656</locationY>
        <defaultConnector>
            <targetReference>Query_for_Rebate_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Record</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Partner_Registration</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Partner_Influence_Decision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reject_Partner_Influence</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hasCRRejection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transform_PR_Records_Id</targetReference>
            </connector>
            <label>Has Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_there_is_rebate_oppty</name>
        <label>Check if there is rebate oppty</label>
        <locationX>512</locationX>
        <locationY>4172</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_rebate</name>
            <conditionLogic>1 AND 3 AND (2 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Query_for_Rebate_Opportunity</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Partner_Influence_Decision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reject_Partner_Influence</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isOpportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>hasCRRejection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rebate_Opportunity_Id_Set</targetReference>
            </connector>
            <label>has rebate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PAM_Owner</name>
        <label>Check PAM Owner</label>
        <locationX>996</locationX>
        <locationY>2540</locationY>
        <defaultConnector>
            <targetReference>Loop_thru_Channel_Relation_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_PAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Channel_Relation_List.CAM_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_thru_Channel_Relation_List.CAM_Owner__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Partner_Influence_PAM_Notification</targetReference>
            </connector>
            <label>has PAM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Partner_Contact</name>
        <label>Check Partner Contact</label>
        <locationX>798</locationX>
        <locationY>2432</locationY>
        <defaultConnector>
            <targetReference>Check_PAM_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_partner_contact_and_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thru_Channel_Relation_List.Channel_Partner_Representative__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_thru_Channel_Relation_List.Channel_Partner_Representative__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_thru_Channel_Relation_List.Channel_Partner__r.Partner_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Deactivated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_thru_Channel_Relation_List.Channel_Partner_Representative__r.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_thru_Channel_Relation_List.Channel_Partner__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Partner_Influence_Partner_Notification</targetReference>
            </connector>
            <label>has partner contact and email</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfInfluenceTableToBeShown</name>
        <label>CheckIfConfirmInfluenceTableToBeShown</label>
        <locationX>512</locationX>
        <locationY>1292</locationY>
        <defaultConnector>
            <targetReference>Check_If_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Show_Table</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FilteredCRList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isOpportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Main_Section</targetReference>
            </connector>
            <label>Show_Table</label>
        </rules>
    </decisions>
    <decisions>
        <description>GTMS-28150: Created as part of Partners Project H1 to add approved or rejected CR to respective list</description>
        <name>Copy_1_of_Check_Partner_Influence_Decision</name>
        <label>Check Partner Influence Decision</label>
        <locationX>776</locationX>
        <locationY>1508</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Is_Confirm_Partner_Influence</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Partner_Influence_Decision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Confirm_Partner_Influence</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_To_selected_CR_List</targetReference>
            </connector>
            <label>Confirm Partner Influence</label>
        </rules>
        <rules>
            <name>Copy_1_of_Is_Reject_Partner_Influence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Partner_Influence_Decision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reject_Partner_Influence</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_To_unselected_CR_List</targetReference>
            </connector>
            <label>Is Reject Partner Influence</label>
        </rules>
    </decisions>
    <decisions>
        <description>GTMS-28936 | This decision element filters the records to be displayed in the data table, allowing only Sourced CRs and Influence CRs for which the associated Partner Engagement (PE) record has &apos;AE_Influence_Confirmation_Required__c&apos; set to true.</description>
        <name>Filter_AE_Confirmation_Influence_Require</name>
        <label>Filter AE Confirmation Influence Require</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Loop_Get_CR_Detail_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Influence_CR_AE_Confirmation_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Get_CR_Detail_List.Partner_Enrollment__r.AE_Influence_Confirmation_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CRs_To_be_Shown_In_Datatable</targetReference>
            </connector>
            <label>Influence CR &amp; AE Confirmation True</label>
        </rules>
        <rules>
            <name>Influence_CR_AE_Confirmation_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Get_CR_Detail_List.Partner_Enrollment__r.AE_Influence_Confirmation_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CRs_of_AE_Influence_Confirmation_False</targetReference>
            </connector>
            <label>Influence CR &amp; AE Confirmation False</label>
        </rules>
    </decisions>
    <decisions>
        <description>GTMS-28150: created as part of Partners Project H1 to check if the current CR is included in selected CR id set</description>
        <name>Is_CR_included_in_selected_CR_Id_Set</name>
        <label>Is CR included in selected CR Id Set</label>
        <locationX>1051</locationX>
        <locationY>2324</locationY>
        <defaultConnector>
            <targetReference>Loop_thru_Channel_Relation_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Not Included in CR Id Set</defaultConnectorLabel>
        <rules>
            <name>Yes_Included_in_CR_Id_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Channel_Relationship_Set_Id</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_thru_Channel_Relation_List.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Partner_Contact</targetReference>
            </connector>
            <label>Yes, Included in CR Id Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reject_Partner_Influence_Check</name>
        <label>Reject Partner Influence Check</label>
        <locationX>512</locationX>
        <locationY>3092</locationY>
        <defaultConnector>
            <targetReference>Update_Channel_Relationship_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Rejection</name>
            <conditionLogic>1 OR (2 AND 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Partner_Influence_Decision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reject_Partner_Influence</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>unSelectedCrs</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>unSelectedCrs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AEOwnerManagerEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_AE_Manager</targetReference>
            </connector>
            <label>Is Rejection</label>
        </rules>
    </decisions>
    <description>created for GTMS-26109/GTMS-26110 Partners Project H1
Added Partner deactivated check, GTMS-26100
GTMS-28152 | Changes made to remove the Reject Partner email notification from this flow to Partners Channel Relationship Scheduled Emails
GTMS-28150: Updated logic to update the influence criteria fields for the selected records and provided feasibility for inline editing for influence criteria fields
GTMS-28301: Email notifications sent to customer contact instead of partner
GTMS-28680: Added &quot;Partner Expansion&quot; engagment type in the query where condition
GTMS-28936 | Checks the Require_AE_Influence_Confirmation__c flag on the PE to determine whether AE confirmation is required for the Influence CR
GTMS-29375 | Determines if the opportunity has a Channel Relationship and whether to display the table for Confirm Influence Partner.</description>
    <environments>Default</environments>
    <formulas>
        <name>AEOwnerManagerEmail</name>
        <dataType>String</dataType>
        <expression>IF({!isOpportunity},{!Get_Opportunity_Info.Owner_Manager_Email_Copy__c}, {!Get_CR_Details.Opportunity__r.Owner_Manager_Email_Copy__c})</expression>
    </formulas>
    <formulas>
        <name>isOpportunity</name>
        <dataType>Boolean</dataType>
        <expression>BEGINS({!recordId},&apos;006&apos;)</expression>
    </formulas>
    <formulas>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!recordId},&apos;006&apos;), {!recordId},{!Get_CR_Details.Opportunity__c})</expression>
    </formulas>
    <formulas>
        <name>OpportunityName</name>
        <dataType>String</dataType>
        <expression>IF({!isOpportunity}, {!Get_Opportunity_Info.Name}, {!Get_CR_Details.Opportunity__r.Name})</expression>
    </formulas>
    <formulas>
        <name>reminderEmailSubject</name>
        <dataType>String</dataType>
        <expression>&apos;REMINDER : Confirm Partner Influence - &apos; + {!OpportunityName}</expression>
    </formulas>
    <interviewLabel>Confirm Par {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Confirm Influence - Partner</label>
    <loops>
        <description>GTMS-28936 | Requires AE Influence filtering</description>
        <name>Loop_Get_CR_Detail_List</name>
        <label>Loop Get_CR_Detail_List</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>channelRelationshipList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_AE_Confirmation_Influence_Require</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckIfInfluenceTableToBeShown</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_thru_Channel_Relation_List</name>
        <label>Loop thru Channel Relation List</label>
        <locationX>512</locationX>
        <locationY>2216</locationY>
        <collectionReference>FilteredCRList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_CR_included_in_selected_CR_Id_Set</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Reject_Partner_Influence_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_CR_Detail_List</name>
        <label>Get CR Detail List</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_CR_List</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6)</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CR_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Denied at Close</stringValue>
            </value>
        </filters>
        <filters>
            <field>CR_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>AE Confirmed</stringValue>
            </value>
        </filters>
        <filters>
            <field>CR_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>AE Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Partner_Interaction_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Partner_Influenced_Interaction_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Partner_Interaction_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Partner_Expansion_Interaction_Type</elementReference>
            </value>
        </filters>
        <object>Channel_Relationship__c</object>
        <outputReference>channelRelationshipList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CR_Status__c</queriedFields>
        <queriedFields>Registration_Expiration_Date__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Channel_Partner__c</queriedFields>
        <queriedFields>Partner_Account_Name__c</queriedFields>
        <queriedFields>Eligible_For_Payout__c</queriedFields>
        <queriedFields>Rejection_Reason__c</queriedFields>
        <queriedFields>Sales_Cycle_Investment__c</queriedFields>
        <queriedFields>Executive_Introduction__c</queriedFields>
        <queriedFields>Samsara_Recommendation__c</queriedFields>
        <queriedFields>Key_Customer_Insight__c</queriedFields>
        <queriedFields>Channel_Partner_Representative__c</queriedFields>
        <queriedFields>CAM_Owner__c</queriedFields>
        <queriedFields>Partner_Enrollment__c</queriedFields>
        <queriedFields>Partner_Interaction_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_CR_Details</name>
        <label>Get CR Details</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfInfluenceTableToBeShown</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Channel_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Info</name>
        <label>Get Opportunity Info</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Get_CR_Detail_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Partner_Registration</name>
        <label>Get Related Partner Registration</label>
        <locationX>512</locationX>
        <locationY>3548</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_there_Is_PR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>AE Denied</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>AE Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Partner_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Query_for_Rebate_Opportunity</name>
        <label>Query for Rebate Opportunity</label>
        <locationX>512</locationX>
        <locationY>4064</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_there_is_rebate_oppty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Returning_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Return Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Channel_Relationship_records</name>
        <label>Update Channel Relationship records</label>
        <locationX>512</locationX>
        <locationY>3440</locationY>
        <connector>
            <targetReference>Get_Related_Partner_Registration</targetReference>
        </connector>
        <inputReference>forUpdateCR</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Partner_Registration_Records</name>
        <label>Update Partner Registration Records</label>
        <locationX>380</locationX>
        <locationY>3872</locationY>
        <connector>
            <targetReference>Query_for_Rebate_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Transform_PR_Records_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Denied at Closing</stringValue>
            </value>
        </inputAssignments>
        <object>Partner_Registration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rebate_Opportunity_Stage</name>
        <label>Update Rebate Opportunity Stage</label>
        <locationX>380</locationX>
        <locationY>4388</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Rebate_Opportunity_Id_Set</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Return Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Main_Section</name>
        <label>Main Section</label>
        <locationX>512</locationX>
        <locationY>1292</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_If_Opportunity</targetReference>
        </connector>
        <fields>
            <name>ApprovePartnerEngagement</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(51, 51, 51); background-color: transparent;&quot;&gt;Approve Partner Engagement: Did the partner add the indicated value? &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77); background-color: rgb(255, 255, 255);&quot;&gt;Below is a list of Partners engaged on this opportunity. Please select all Partners that should be approved based on their intended contributions and &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77); background-color: rgb(255, 255, 255);&quot;&gt;then click &quot;Next&quot;&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(51, 51, 51); background-color: transparent;&quot;&gt;&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(51, 51, 51); background-color: transparent;&quot;&gt;Note: Denying partner influence will prompt notifications for PAM review but will not interrupt the closing process. Please see &lt;/em&gt;&lt;a href=&quot;http://www.google.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(3, 105, 234);&quot;&gt;&lt;em&gt;&lt;u&gt;Guidance for AE Review&lt;/u&gt;&lt;/em&gt;&lt;/a&gt;&lt;em style=&quot;font-size: 11pt; font-family: Roboto, sans-serif; color: rgb(51, 51, 51); background-color: transparent;&quot;&gt; for more information. &lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isOpportunity</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>crReviewDatatable</name>
            <extensionName>c:crReviewDatatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>channelRelationshipRecords</name>
                <value>
                    <elementReference>FilteredCRList</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectChannelRelationship</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>unSelectedCrs</assignToReference>
                <name>unSelectedRows</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>channelRelationshipList</assignToReference>
                <name>channelRelationshipRecords</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>InfluenceDetails</name>
            <fieldText>&lt;p&gt;Please confirm if partner &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_CR_Details.Channel_Partner__r.Name}&lt;/span&gt; has met the influence requirements: {!Get_CR_Details.Partner_Opportunity_Description__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>is_Opportunity</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Partner_Influence_Decision</name>
            <choiceReferences>Confirm_Partner_Influence</choiceReferences>
            <choiceReferences>Reject_Partner_Influence</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Partner Influence Decision</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isOpportunity</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Rejection_Reason</name>
            <dataType>String</dataType>
            <fieldText>Rejection Reason</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Partner_Influence_Decision</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Reject_Partner_Influence</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>isOpportunity</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>reminderEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&apos;REMINDER : Confirm Partner Influence - &apos; + {!OpportunityName}&lt;/p&gt;</text>
    </textTemplates>
    <transforms>
        <description>GTMS-28150: Created as part of Partners Project H1 Hypercare to map values for unselected records</description>
        <name>Map_Values_For_Unselected_CR_Records</name>
        <label>Map Values For Unselected CR Records</label>
        <locationX>512</locationX>
        <locationY>2000</locationY>
        <connector>
            <targetReference>Add_Selected_CR_Rows_To_Update_List</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Channel_Relationship__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>unSelectedCrs[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>CR_Status__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>Denied at Close</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Eligible_For_Payout__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <description>GTMS-28150: created as part of Partners Project H1 to map selected record values</description>
        <name>Map_values_of_Selected_CR_Records</name>
        <label>Map values of Selected CR Records</label>
        <locationX>512</locationX>
        <locationY>1892</locationY>
        <connector>
            <targetReference>Map_Values_For_Unselected_CR_Records</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Channel_Relationship__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>CR_Status__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>AE Confirmed</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Executive_Introduction__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>selectChannelRelationship[$EachItem].Executive_Introduction__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>selectChannelRelationship[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Key_Customer_Insight__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>selectChannelRelationship[$EachItem].Key_Customer_Insight__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Sales_Cycle_Investment__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>selectChannelRelationship[$EachItem].Sales_Cycle_Investment__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Samsara_Recommendation__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>selectChannelRelationship[$EachItem].Samsara_Recommendation__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Rebate_Opportunity_Id_Set</name>
        <label>Rebate Opportunity Id Set</label>
        <locationX>380</locationX>
        <locationY>4280</locationY>
        <connector>
            <targetReference>Update_Rebate_Opportunity_Stage</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Query_for_Rebate_Opportunity[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Selected_Channel_Relationship_Set_Id</name>
        <label>Selected Channel Relationship Set Id</label>
        <locationX>248</locationX>
        <locationY>1508</locationY>
        <connector>
            <targetReference>Map_values_of_Selected_CR_Records</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>selectChannelRelationship[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_PR_Records_Id</name>
        <label>Transform PR Records Id</label>
        <locationX>380</locationX>
        <locationY>3764</locationY>
        <connector>
            <targetReference>Update_Partner_Registration_Records</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Related_Partner_Registration[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>channelRelationshipList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Channel_Relationship__c</objectType>
    </variables>
    <variables>
        <name>channelRelationshipRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Channel_Relationship__c</objectType>
    </variables>
    <variables>
        <name>CROpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CRsNotApplicableList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Channel_Relationship__c</objectType>
    </variables>
    <variables>
        <name>currentChannelRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Channel_Relationship__c</objectType>
    </variables>
    <variables>
        <name>FilteredCRList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Channel_Relationship__c</objectType>
    </variables>
    <variables>
        <name>forUpdateCR</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Channel_Relationship__c</objectType>
    </variables>
    <variables>
        <name>hasCRRejection</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>localCRRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectChannelRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Channel_Relationship__c</objectType>
    </variables>
    <variables>
        <description>GTMS-28150: Created to store unselected CR records</description>
        <name>unSelectedCrs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Channel_Relationship__c</objectType>
    </variables>
</Flow>
