force-app/main/default/flows/Create_Free_Trial_Return.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Insert_Opportunity_Lines</name>
        <label>Insert Opportunity Lines</label>
        <locationX>50</locationX>
        <locationY>2114</locationY>
        <actionName>CreateFreeTrialReturnController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Free_trial_return_created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_OLI_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>optyLineItems</name>
            <value>
                <elementReference>SOC_NewOLI</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateFreeTrialReturnController</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>All_in_One</name>
        <label>All in One</label>
        <locationX>138</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>SOC_NewOLI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewOLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_to_new_Record</name>
        <label>Assign Value to new Record</label>
        <locationX>138</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>NewOLI.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpptyRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOLI.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LineItem.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOLI.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LineItem.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOLI.License_Term_Copy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LineItem.License_Term_Copy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOLI.Ship_From_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LineItem.Ship_From_Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOLI.NS_Unit_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LineItem.NS_Unit_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_in_One</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_OLI_Error</name>
        <label>Create OLI Error</label>
        <locationX>314</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>varErrorLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create New OLI </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ErrorOccured</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Trial_Opp_Error</name>
        <label>Create Trial Opp Error</label>
        <locationX>1018</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>varErrorLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create Trial Opportunity Return</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorOccured</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>FreeTrialReturn</name>
        <choiceText>Free Trial Return</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ReturnCreated</name>
        <choiceText>Return Created</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ReturnInitiated</name>
        <choiceText>Return Initiated</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Automation_Status_Outcome</name>
        <label>Automation Status Outcome</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>ReturnRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Enabled</defaultConnectorLabel>
        <rules>
            <name>Disabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>automationDisabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Old_Trial_Opportunity</targetReference>
            </connector>
            <label>Disabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SOC_Size</name>
        <label>Check SOC Size</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Free_trial_return_created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SOC_OLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extract</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_fault_present</name>
        <label>is fault present</label>
        <locationX>534</locationX>
        <locationY>1490</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>faultno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_SOC_Size</targetReference>
            </connector>
            <label>faultno</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Old_Trial_Opportunity</name>
        <label>Is Old Trial Opportunity</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>ReturnRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Old_Trial_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curOpportunity.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>OTGoLiveDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Order Operations Admin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Ops Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OldOppError</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>RecordType</name>
        <dataType>String</dataType>
        <expression>{!curOpportunity.RecordType.Id}</expression>
    </formulas>
    <interviewLabel>Create Free Trial Return {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Free Trial Return</label>
    <loops>
        <name>Extract</name>
        <label>Extract</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <assignNextValueToReference>LineItem</assignNextValueToReference>
        <collectionReference>SOC_OLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Value_to_new_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Opportunity_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Trial_Opportunity_Return</name>
        <label>Create Trial Opportunity Return</label>
        <locationX>534</locationX>
        <locationY>1274</locationY>
        <assignRecordIdToReference>OpptyRecordTypeId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_skip_validation_rule</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Trial_Opp_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>curOpportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_Date2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>curOpportunity.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>curOpportunity.Pricebook2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ReturnRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Contact__c</field>
            <value>
                <elementReference>curOpportunity.Related_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Returning_Opportunity__c</field>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_From_Location__c</field>
            <value>
                <elementReference>curOpportunity.Ship_From_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_NEW__c</field>
            <value>
                <elementReference>curOpportunity.Shipping_Address_NEW__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Method__c</field>
            <value>
                <elementReference>curOpportunity.Shipping_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SkipValidationRule__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Return Created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TrialResolutionOppty__c</field>
            <value>
                <elementReference>curOpportunity.TrialResolutionOppty__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Free Trial Return</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>opp_line_item</name>
        <label>opp line item</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Trial_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>SOC_OLI</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Ship_From_Location__c</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>License_Term_Copy__c</queriedFields>
        <queriedFields>NS_Unit_Rate__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ReturnRecordType</name>
        <label>ReturnRecordType</label>
        <locationX>534</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Free_Trial_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Return Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Trial_Opportunity</name>
        <label>Trial_Opportunity</label>
        <locationX>534</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Pilot_Roll_out_Automation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>curOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Qualified_Date__c</queriedFields>
        <queriedFields>Reseller__c</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Related_Contact__c</queriedFields>
        <queriedFields>Next_Step_Due_Date__c</queriedFields>
        <queriedFields>Next_Steps__c</queriedFields>
        <queriedFields>Notes__c</queriedFields>
        <queriedFields>Trial_Goal_1__c</queriedFields>
        <queriedFields>Trial_Goal_2__c</queriedFields>
        <queriedFields>Trial_Goal_3__c</queriedFields>
        <queriedFields>Hours_of_Service_flag__c</queriedFields>
        <queriedFields>Planned_Trial_Installation_Date__c</queriedFields>
        <queriedFields>Trial_Period__c</queriedFields>
        <queriedFields>Shipping_Address_NEW__c</queriedFields>
        <queriedFields>Ship_From_Location__c</queriedFields>
        <queriedFields>Shipping_Method__c</queriedFields>
        <queriedFields>Return_Close_Date__c</queriedFields>
        <queriedFields>Returning_Opportunity__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>TrialResolutionOppty__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_skip_validation_rule</name>
        <label>Update skip validation rule</label>
        <locationX>534</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>is_fault_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SkipValidationRule__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Create_Free_Trial_Opportunity</name>
        <label>Create Free Trial Opportunity</label>
        <locationX>534</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Trial_Opportunity_Return</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!curOpportunity.Name} - RTN</stringValue>
            </defaultValue>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Type2</name>
            <choiceReferences>FreeTrialReturn</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>FreeTrialReturn</defaultSelectedChoiceReference>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Stage2</name>
            <choiceReferences>ReturnCreated</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ReturnCreated</defaultSelectedChoiceReference>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Close_Date2</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>curOpportunity.CloseDate</elementReference>
            </defaultValue>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorOccured</name>
        <label>Error Occurred</label>
        <locationX>314</locationX>
        <locationY>2330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(195, 29, 29);&quot;&gt;﻿&lt;/span&gt;Sorry! The opportunity record creation failed with the following error at {!varErrorLocation}.&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(224, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Free_trial_return_created</name>
        <label>Free trial return created</label>
        <locationX>314</locationX>
        <locationY>2654</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>End</name>
            <fieldText>&lt;p&gt;The free trial return has been created and can be found &lt;a href=&quot;/{!OpptyRecordTypeId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;HERE&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OldOppError</name>
        <label>OldOppError</label>
        <locationX>248</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ProcessErrror</name>
            <fieldText>&lt;p&gt;Please use the new process to create free trial return&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>opp_line_item</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_Pilot_Roll_out_Automation</name>
        <label>Check Pilot Roll out Automation</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Automation_Status_Outcome</targetReference>
        </connector>
        <flowName>Check_Automation_Status</flowName>
        <inputAssignments>
            <name>AutomationSettingName</name>
            <value>
                <stringValue>Submit To Closing Partial Buy</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>automationDisabled</assignToReference>
            <name>Automation_Disabled</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>automationDisabled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>curOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>LineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>NewOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpptyRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OTGoLiveDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateValue>2023-08-11</dateValue>
        </value>
    </variables>
    <variables>
        <name>SOC_NewOLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SOC_OLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>TrialOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>TrialRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>varErrorLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
