force-app/main/default/flows/Create_Buyout_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Redirect_to_existing_buyout_opp</name>
        <label>Redirect to existing buyout opp</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <actionName>c:RedirectToSObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_related_buyout_opportunity.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>showToast</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>c:RedirectToSObject</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Redirects the browser to the new record</description>
        <name>Redirect_User_to_new_Opp</name>
        <label>Redirect User to new Opp</label>
        <locationX>776</locationX>
        <locationY>2222</locationY>
        <actionName>c:RedirectToSObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>buyoutOpportunity.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordName</name>
            <value>
                <elementReference>buyoutOpportunity.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>showToast</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toastMessage</name>
            <value>
                <elementReference>toastMessageText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:RedirectToSObject</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_LWC_output</name>
        <label>Assign LWC output</label>
        <locationX>974</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>FinancePartnetContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateBayoutOppty.selectedContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateContactChecked</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateBayoutOppty.createContactInvoked</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Contact_Invoked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Partner_Contact_From_Source_Opportunity</name>
        <label>Assign Partner Contact From Source Opportunity</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>FinancePartnetContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_source_opportunity.Finance_Partner_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_values_to_new_buyout_opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_new_buyout_opp</name>
        <label>Assign values to new buyout opp</label>
        <locationX>776</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>buyoutOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_source_opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buyoutOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newOppName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buyoutOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buyoutOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Return Created</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buyoutOpportunity.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rebate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buyoutOpportunity.Rebate_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Buyout</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buyoutOpportunity.Returning_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_source_opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buyoutOpportunity.License_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_source_opportunity.License_Term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buyoutOpportunity.Return_Products_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Operations</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buyoutOpportunity.Probability</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buyoutOpportunity.Shipping_Address_NEW__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_source_opportunity.Shipping_Address_NEW__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buyoutOpportunity.Owner_Manager_Name_Copy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_source_opportunity.Owner_Manager_Name_Copy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buyoutOpportunity.Owner_Manager_Role_Copy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_source_opportunity.Owner_Manager_Role_Copy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buyoutOpportunity.Owner_Manager_Email_Copy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_source_opportunity.Owner_Manager_Email_Copy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buyoutOpportunity.Owner_Role_Copy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_source_opportunity.Owner_Role_Copy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buyoutOpportunity.Return_Oppty_Owner_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_source_opportunity.Return_Oppty_Owner_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buyoutOpportunity.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_source_opportunity.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buyoutOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Recordtype.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buyoutOpportunity.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_source_opportunity.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buyoutOpportunity.License_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_source_opportunity.License_Term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buyoutOpportunity.Finance_Partner_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinancePartnetContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buyoutOpportunity.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RebateAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>buyoutOpportunity.Rebate_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RebateAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_buyout_opp</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>&quot;FALSE&quot; Choice for confirmation page</description>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <description>&quot;TRUE&quot; option for confirmation screen</description>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <description>GTMS-23348 - Check for Primary Quote, if the primary quote does not exist, the flow breaks, thus throw an error and stop the flow by redirecting to No Primary Quote flow.</description>
        <name>Check_Primary_Quote</name>
        <label>Check Primary Quote</label>
        <locationX>404</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Quote_Not_Recalculated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Primary Quote Exists</defaultConnectorLabel>
        <rules>
            <name>No_Primary_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Primary_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Primary_Quote_Screen</targetReference>
            </connector>
            <label>No Primary Quote</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the buyout opportunity already exists for that source opp.</description>
        <name>Does_a_buyout_already_exists</name>
        <label>Does a buyout already exists</label>
        <locationX>759</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Get_Recordtype</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not exist</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_source_opportunity.Buyout_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_related_buyout_opportunity</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Finance_Partner_Contact</name>
        <label>Has Finance Partner Contact</label>
        <locationX>776</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Choose_Finance_Partner_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Finance_Partner_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_source_opportunity.Finance_Partner_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Partner_Contact_From_Source_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Did the user choose &quot;Yes&quot; in the previous radio choice?</description>
        <name>Is_creation_confirmed</name>
        <label>Is creation confirmed?</label>
        <locationX>1205</locationX>
        <locationY>1082</locationY>
        <defaultConnectorLabel>Creation Not Confirmed</defaultConnectorLabel>
        <rules>
            <name>Creation_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Confirm_the_opportunity_creation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Finance_Partner_Contact</targetReference>
            </connector>
            <label>Creation Confirmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Contact_Invoked</name>
        <label>New Contact Invoked</label>
        <locationX>974</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>Choose_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Proceed Without Creation</defaultConnectorLabel>
        <rules>
            <name>NewContactInvoked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateContactChecked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>New Contact Invoked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Not_Recalculated</name>
        <label>Quote Not Recalculated</label>
        <locationX>759</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Quote_Calculated_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Quote_Not_Recalculated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Primary_Quote.SBQQ__Uncalculated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lookup_Primary_Quote.Tax_Calculation_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Updated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lookup_Primary_Quote.SBQQ__LastCalculatedOn__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Not_Recalculated_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>picklistget</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CurrencyIsoCode</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>existingBuyoutOppUrl</name>
        <dataType>String</dataType>
        <expression>&apos;./&apos;+{!Get_related_buyout_opportunity.Id}</expression>
    </formulas>
    <formulas>
        <description>Opp name + &quot; - Buyout&quot;</description>
        <name>newOppName</name>
        <dataType>String</dataType>
        <expression>{!Get_source_opportunity.Name}+&quot; - Buyout&quot;</expression>
    </formulas>
    <formulas>
        <name>RebateAmount</name>
        <dataType>Currency</dataType>
        <expression>-ABS({!Amount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>rebateCurrencyValue</name>
        <dataType>String</dataType>
        <expression>TEXT({!buyoutOpportunity.CurrencyIsoCode})+&apos; &apos;+ TEXT({!buyoutOpportunity.Rebate_Amount__c})</expression>
    </formulas>
    <formulas>
        <name>toastMessageText</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Label.Buyout_Subsidy_Opp_Creation_Toast_Message}, &apos;{1}&apos;, {!rebateCurrencyValue})</expression>
    </formulas>
    <interviewLabel>Create Buyout Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Buyout Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_buyout_opp</name>
        <label>Create buyout opp</label>
        <locationX>776</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Update_Source_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Show_Error</targetReference>
        </faultConnector>
        <inputReference>buyoutOpportunity</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Fetch the Return_Opportunity Record Type</description>
        <name>Get_Recordtype</name>
        <label>Get Recordtype</label>
        <locationX>1205</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Buyout_Opportunity_Confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Return_Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_buyout_opportunity</name>
        <label>Get related buyout opportunity</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buyout_opportunity_already_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_source_opportunity.Buyout_Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Rebate_Amount__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_source_opportunity</name>
        <label>Get source opportunity</label>
        <locationX>404</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Primary_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Primary_Quote</name>
        <label>Lookup Primary Quote</label>
        <locationX>404</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Primary_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_source_opportunity.SBQQ__PrimaryQuote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__Uncalculated__c</queriedFields>
        <queriedFields>Tax_Calculation_Status__c</queriedFields>
        <queriedFields>SBQQ__LastCalculatedOn__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Source_Opportunity</name>
        <label>Update Source Opportunity</label>
        <locationX>776</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>Redirect_User_to_new_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_source_opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Buyout_Opportunity__c</field>
            <value>
                <elementReference>buyoutOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Buyout_opportunity_already_exists</name>
        <label>Buyout opportunity already exists</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_to_existing_buyout_opp</targetReference>
        </connector>
        <fields>
            <name>Opportunity_exists_text</name>
            <fieldText>&lt;p&gt;The Buyout opportunity already exists and you can access it by clicking &lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Next&lt;/span&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Rebate Amount &lt;/strong&gt;: &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_source_opportunity.CurrencyIsoCode}  &lt;/span&gt;{!Get_related_buyout_opportunity.Rebate_Amount__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Choose_Amount</name>
        <label>Choose Amount</label>
        <locationX>1106</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_values_to_new_buyout_opp</targetReference>
        </connector>
        <fields>
            <name>Choose_Amount_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Choose_Amount_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>currencyisocode</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_source_opportunity.CurrencyIsoCode</elementReference>
                    </defaultValue>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Choose_Amount_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Amount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>RebateAmount</elementReference>
                    </defaultValue>
                    <fieldText>Please enter an Amount:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Finance_Partner_Contact</name>
        <label>Choose Finance Partner Contact</label>
        <locationX>974</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_LWC_output</targetReference>
        </connector>
        <fields>
            <name>CreateBayoutOppty</name>
            <extensionName>c:createBuyoutOpptyContactTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>Get_source_opportunity.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>relatedContactId</name>
                <value>
                    <elementReference>FinancePartnetContact</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Buyout_Opportunity_Confirmation</name>
        <label>Create Buyout Opportunity Confirmation</label>
        <locationX>1205</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_creation_confirmed</targetReference>
        </connector>
        <fields>
            <name>Create_Buyout_Opportunity_Confirmation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Buyout_Opportunity_Confirmation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Confirmation_Text</name>
                    <fieldText>&lt;p&gt;A new Buyout Opportunity will be created.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Opportunity Record Type&lt;/strong&gt;: Rebate&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Create_Buyout_Opportunity_Confirmation_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Buyout_Opportunity_Confirmation_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Confirm_the_opportunity_creation</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>Boolean</dataType>
                    <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
                    <fieldText>Confirm the opportunity creation?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Primary_Quote_Screen</name>
        <label>No Primary Quote Screen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Show_Error_From_Message_Banner</name>
            <extensionName>c:messageBanner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>$Label.Submit_To_Closing_No_Primary_Quote_Error</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variation</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quote_Calculated_Screen</name>
        <label>Quote Calculated Screen</label>
        <locationX>891</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Does_a_buyout_already_exists</targetReference>
        </connector>
        <fields>
            <name>QuoteCalculated</name>
            <extensionName>c:opptyAndQuoteValueMatchDataFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMessage</name>
                <value>
                    <elementReference>$Label.Buyout_Flow_Quote_Calculated</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_source_opportunity.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Quote_Not_Recalculated_Screen</name>
        <label>Quote Not Recalculated	Screen</label>
        <locationX>627</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Does_a_buyout_already_exists</targetReference>
        </connector>
        <fields>
            <name>QuoteNotCalculated</name>
            <extensionName>c:opptyAndQuoteValueMismatchDataFlowCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMessage</name>
                <value>
                    <elementReference>$Label.Quote_Not_Recalculated</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isWarning</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_source_opportunity.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Error</name>
        <label>Show Error</label>
        <locationX>1370</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>278</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_source_opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>buyoutOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>CreateContactChecked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Result from the Confirmation Screen</description>
        <name>CreateOppChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinancePartnetContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_source_opportunity.Related_Contact__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>OptyAccId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_source_opportunity.AccountId</elementReference>
        </value>
    </variables>
    <variables>
        <description>Source record ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
