force-app/main/default/flows/Created_Remorse_Refund.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Rep_Return_Created</name>
        <label>Email Rep - Return Created</label>
        <locationX>416</locationX>
        <locationY>554</locationY>
        <actionName>Opportunity.New_Return_Created</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Loop_Through_Inputs</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>oppIterator.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.New_Return_Created</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Execute_Logic</name>
        <label>Execute Logic</label>
        <locationX>700</locationX>
        <locationY>236</locationY>
        <actionName>OpportunityReturnProcesses</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>opps</name>
            <value>
                <elementReference>OppsToProcess</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OpportunityReturnProcesses</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_for_Probability</name>
        <label>Check for Probability</label>
        <locationX>687</locationX>
        <locationY>88</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Probability_less_than_25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oppIterator.Probability</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>25.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Execute_Logic</targetReference>
            </connector>
            <label>Probability less than 25</label>
        </rules>
    </decisions>
    <interviewLabel>Created Remorse Refund? Flow</interviewLabel>
    <label>Created Remorse Refund?</label>
    <loops>
        <name>Loop_Through_Inputs</name>
        <label>Loop Through Inputs</label>
        <locationX>367</locationX>
        <locationY>224</locationY>
        <assignNextValueToReference>oppIterator</assignNextValueToReference>
        <collectionReference>OppsToProcess</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Email_Rep_Return_Created</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Scheduled_Action</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>53</locationX>
        <locationY>28</locationY>
        <connector>
            <targetReference>Loop_Through_Inputs</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>oppIterator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OppsToProcess</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <waits>
        <name>Scheduled_Action</name>
        <label>Scheduled Action</label>
        <locationX>524</locationX>
        <locationY>67</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Wait_2_days</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Check_for_Probability</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.InterviewStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <label>Wait 2 days</label>
        </waitEvents>
    </waits>
</Flow>
