force-app/main/default/flows/Create_Partner_Deal_Reg_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Channel_Lead_Alert</name>
        <label>Channel Lead Alert</label>
        <locationX>1059</locationX>
        <locationY>189</locationY>
        <actionName>Channel_Relationship__c.Channel_Lead_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>UpdateLead</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>thisChannelRelationship.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Channel_Relationship__c.Channel_Lead_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Channel_Lead_Alert_IND</name>
        <label>Channel Lead Alert IND</label>
        <locationX>1045</locationX>
        <locationY>365</locationY>
        <actionName>Channel_Relationship__c.Channel_Lead_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>UpdateLead_IND</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>thisChannelRelationship.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Channel_Relationship__c.Channel_Lead_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Fleet_Record_Type_ID</name>
        <label>Set Fleet Record Type ID</label>
        <locationX>578</locationX>
        <locationY>62</locationY>
        <assignmentItems>
            <assignToReference>OpportunityTypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0121a000000ARoF</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Revenue_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Industrial_Record_Type</name>
        <label>Set Industrial Record Type</label>
        <locationX>579</locationX>
        <locationY>497</locationY>
        <assignmentItems>
            <assignToReference>OpportunityTypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0121a000000VnAB</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Revenue_Opportunity_IND</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Opportunity_Record_Type</name>
        <label>Opportunity Record Type</label>
        <locationX>570</locationX>
        <locationY>272</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fleet_SITES_Opportunity</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>EndCustomerAccount.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121a000000VeLeAAK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EndCustomerAccount.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121P000000oQVgQAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fleet_Record_Type_ID</targetReference>
            </connector>
            <label>Fleet/SITES Opportunity</label>
        </rules>
        <rules>
            <name>Industrial_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EndCustomerAccount.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121a000000VnApAAK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Industrial_Record_Type</targetReference>
            </connector>
            <label>Industrial Opportunity</label>
        </rules>
    </decisions>
    <description>GTMS-1599 Incorporate Connected Sites into Partner Deal Flow
* Remove Machine Vision
* Update Campaign Member Id for SITES
* Update old fields for routing to more accurate fields</description>
    <environments>Default</environments>
    <formulas>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+30</expression>
    </formulas>
    <formulas>
        <name>ExpirationDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+90</expression>
    </formulas>
    <interviewLabel>Create Partner Deal Reg Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Partner Deal Reg Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Channel_Relationship</name>
        <label>Create Channel Relationship</label>
        <locationX>922</locationX>
        <locationY>189</locationY>
        <assignRecordIdToReference>thisChannelRelationship.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Channel_Lead_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>AE_Email__c</field>
            <value>
                <elementReference>thisAE.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAM_Owner__c</field>
            <value>
                <elementReference>PartnerSFAccount.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner_Representative__c</field>
            <value>
                <elementReference>PartnerSFContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner__c</field>
            <value>
                <elementReference>PartnerSFAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal_Registration_Discount__c</field>
            <value>
                <elementReference>PartnerSFAccount.Deal_Registration_Discount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>thisRevenueOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Interaction_Type__c</field>
            <value>
                <stringValue>Partner Initiated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Opportunity_Description__c</field>
            <value>
                <elementReference>OpportunityDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Program_Segment__c</field>
            <value>
                <elementReference>PartnerSFAccount.Partner_Program_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <stringValue>Deal Registration Margin</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Approval_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Expiration_Date__c</field>
            <value>
                <elementReference>ExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <object>Channel_Relationship__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Channel_Relationship_IND</name>
        <label>Create Channel Relationship IND</label>
        <locationX>914</locationX>
        <locationY>365</locationY>
        <assignRecordIdToReference>thisChannelRelationship.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Channel_Lead_Alert_IND</targetReference>
        </connector>
        <inputAssignments>
            <field>AE_Email__c</field>
            <value>
                <elementReference>thisAE.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAM_Owner__c</field>
            <value>
                <elementReference>PartnerSFAccount.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner_Representative__c</field>
            <value>
                <elementReference>PartnerSFContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner__c</field>
            <value>
                <elementReference>PartnerSFAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal_Registration_Discount__c</field>
            <value>
                <elementReference>PartnerSFAccount.Deal_Registration_Discount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>thisRevenueOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Interaction_Type__c</field>
            <value>
                <stringValue>Partner Initiated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Opportunity_Description__c</field>
            <value>
                <elementReference>OpportunityDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Program_Segment__c</field>
            <value>
                <elementReference>PartnerSFAccount.Partner_Program_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <stringValue>Deal Registration Margin</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Approval_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Expiration_Date__c</field>
            <value>
                <elementReference>ExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <object>Channel_Relationship__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Revenue_Opportunity</name>
        <label>Create Revenue Opportunity</label>
        <locationX>792</locationX>
        <locationY>189</locationY>
        <assignRecordIdToReference>thisRevenueOpportunity.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Channel_Relationship</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>EndCustomerAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Can_Create__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>thisAE.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Deal_Registration__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Deal Reg Form</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overwrite_Validation_Rule__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>EndCustomerAccount.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>OpportunityTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Contact__c</field>
            <value>
                <elementReference>EndCustomerContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reseller_Partner__c</field>
            <value>
                <elementReference>PartnerSFAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reseller__c</field>
            <value>
                <elementReference>PartnerSFAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Revenue Opportunity</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Revenue_Opportunity_IND</name>
        <label>Create Revenue Opportunity IND</label>
        <locationX>786</locationX>
        <locationY>365</locationY>
        <assignRecordIdToReference>thisRevenueOpportunity.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Channel_Relationship_IND</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>EndCustomerAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Can_Create__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>thisAE.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Deal_Registration__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Deal Reg Form</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overwrite_Validation_Rule__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>EndCustomerAccount.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>OpportunityTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Contact__c</field>
            <value>
                <elementReference>EndCustomerContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reseller_Partner__c</field>
            <value>
                <elementReference>PartnerSFAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reseller__c</field>
            <value>
                <elementReference>PartnerSFAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Incubate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Revenue Opportunity</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_AE</name>
        <label>Lookup AE</label>
        <locationX>432</locationX>
        <locationY>270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EndCustomerAccount.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>thisAE</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_End_Customer_Account</name>
        <label>Lookup End Customer Account</label>
        <locationX>176</locationX>
        <locationY>270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_End_Customer_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EndCustomerAccount.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>EndCustomerAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_End_Customer_Contact</name>
        <label>Lookup End Customer Contact</label>
        <locationX>314</locationX>
        <locationY>270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_AE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EndCustomerContact.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>EndCustomerContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateLead</name>
        <label>UpdateLead</label>
        <locationX>1192</locationX>
        <locationY>188</locationY>
        <connector>
            <targetReference>Channel_Registration_Approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConvertedLeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Channel_Opportunity__c</field>
            <value>
                <elementReference>thisRevenueOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLead_IND</name>
        <label>UpdateLead IND</label>
        <locationX>1198</locationX>
        <locationY>365</locationY>
        <connector>
            <targetReference>Channel_Registration_Approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConvertedLeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Channel_Opportunity__c</field>
            <value>
                <elementReference>thisRevenueOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Channel_Registration_Approved</name>
        <label>Channel Registration Approved!</label>
        <locationX>1397</locationX>
        <locationY>270</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Approved</name>
            <fieldText>Way to go! This partner registration has been approved &amp; an opportunity has been created.</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Giph</name>
            <fieldText>&lt;img src=&quot;https://media.giphy.com/media/YKdm91XONLTaw/giphy.gif&quot; alt=&quot;approved gif&quot;/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_End_Customer_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>OpportunityName</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!EndCustomerAccount.Name} [Channel]</text>
    </textTemplates>
    <variables>
        <name>ConvertedLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EndCustomerAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>EndCustomerContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>OpportunityDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PartnerSFAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>PartnerSFContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>thisAE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>thisChannelRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Channel_Relationship__c</objectType>
    </variables>
    <variables>
        <name>thisRevenueOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
