force-app/main/default/flows/Customer_Referral_2_0.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>RR_or_Update_to_Old_Owner</name>
        <label>RR or Update to Old Owner</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Same_Geo_Segment</name>
            <conditionLogic>(1 AND 2 AND 3) OR (2 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>oReferringOwner.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>oFriendAccount.Global_Geography__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fOwnerRoleContainsAE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>oReferringAccount.Record_Type_Stamp_for_Dupes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>oFriendAccount.Record_Type_Stamp_for_Dupes__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rOwnerRoleContainsAE1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Old_Owner</targetReference>
            </connector>
            <label>Same Geo + Segment</label>
        </rules>
        <rules>
            <name>Different_Geo_OR_Different_Segment</name>
            <conditionLogic>((1 OR 3) AND 2 ) OR (2 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>oReferringOwner.Territory__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>oFriendAccount.Global_Geography__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fOwnerRoleContainsAE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>oReferringAccount.Record_Type_Stamp_for_Dupes__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>oFriendAccount.Record_Type_Stamp_for_Dupes__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rOwnerRoleContainsAE1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_RR</targetReference>
            </connector>
            <label>Different Geo OR Different Segment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Test_Decision</name>
        <label>Test Decision</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Referral_record_Details</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>GTMS-3485</description>
    <environments>Default</environments>
    <formulas>
        <name>fOwnerRoleContainsAE</name>
        <dataType>Boolean</dataType>
        <expression>IF(CONTAINS({!oFriendAccount.Owner_Role__c}, &quot;AE&quot;), TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>rOwnerRoleContainsAE1</name>
        <dataType>Boolean</dataType>
        <expression>IF(CONTAINS({!oReferringAccount.Owner_Role__c}, &quot;AE1&quot;), TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>Customer Referral 2.0 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Referral 2.0</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Friend_Account_Details</name>
        <label>Get Friend Account Details</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Referring_Account_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oReferral.Referred_Friend_Account_Id__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>oFriendAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Global_Geography__c</queriedFields>
        <queriedFields>Is_Owner_Pool_User__c</queriedFields>
        <queriedFields>Business_Unit__c</queriedFields>
        <queriedFields>Segment__c</queriedFields>
        <queriedFields>Record_Type_Stamp_for_Dupes__c</queriedFields>
        <queriedFields>Owner_Role__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Referral_record_Details</name>
        <label>Get Referral record Details</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Friend_Account_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Referral__c</object>
        <outputReference>oReferral</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Referred_Friend_Account_Id__c</queriedFields>
        <queriedFields>Referring_Customer_Accountv2__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Referring_Account_Details</name>
        <label>Get Referring Account Details</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Referring_Account_Ownership_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oReferral.Referring_Customer_Accountv2__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>oReferringAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Global_Geography__c</queriedFields>
        <queriedFields>Segment__c</queriedFields>
        <queriedFields>Business_Unit__c</queriedFields>
        <queriedFields>Record_Type_Stamp_for_Dupes__c</queriedFields>
        <queriedFields>Owner_Role__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Referring_Account_Ownership_Details</name>
        <label>Get Referring Account Ownership Details</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RR_or_Update_to_Old_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oReferringAccount.Owner.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>oReferringOwner</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Territory__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Assign_to_RR</name>
        <label>Assign to RR</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oFriendAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Initiate_Round_Robin__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_Old_Owner</name>
        <label>Update to Old Owner</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oFriendAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>oReferringAccount.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Test_Decision</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Referred_Friend_Account_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Referring_Customer_Accountv2__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Referral__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>oFriendAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>oReferral</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
    <variables>
        <name>oReferringAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>oReferringOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
