force-app/main/default/flows/Customer_Referral_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>RR_or_Update_to_Old_Owner</name>
        <label>RR or Update to Old Owner</label>
        <locationX>1198</locationX>
        <locationY>53</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Same_Geo_Segment</name>
            <conditionLogic>(1 AND 2 AND 3) OR (2 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>oReferringOwner.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>oFriendAccount.Global_Geography__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fOwnerRoleContainsAE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>oReferringAccount.Record_Type_Stamp_for_Dupes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>oFriendAccount.Record_Type_Stamp_for_Dupes__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rOwnerRoleContainsAE1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Old_Owner</targetReference>
            </connector>
            <label>Same Geo + Segment</label>
        </rules>
        <rules>
            <name>Different_Geo_OR_Different_Segment</name>
            <conditionLogic>((1 OR 3) AND 2 ) OR (2 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>oReferringOwner.Territory__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>oFriendAccount.Global_Geography__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fOwnerRoleContainsAE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>oReferringAccount.Record_Type_Stamp_for_Dupes__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>oFriendAccount.Record_Type_Stamp_for_Dupes__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rOwnerRoleContainsAE1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_RR</targetReference>
            </connector>
            <label>Different Geo OR Different Segment</label>
        </rules>
    </decisions>
    <description>Update Geography to Territory for User mapping V2. Replaced LFBN__Assign_Account__c with Initiate_Round_Robin__c</description>
    <environments>Default</environments>
    <formulas>
        <name>fOwnerRoleContainsAE</name>
        <dataType>Boolean</dataType>
        <expression>IF(CONTAINS({!oFriendAccount.Owner_Role__c}, &quot;AE&quot;), TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>rOwnerRoleContainsAE1</name>
        <dataType>Boolean</dataType>
        <expression>IF(CONTAINS({!oReferringAccount.Owner_Role__c}, &quot;AE1&quot;), TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>Customer Referral Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Referral Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Friend_Account_Details</name>
        <label>Get Friend Account Details</label>
        <locationX>596</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Referring_Account_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oFriendContact.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>oFriendAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Global_Geography__c</queriedFields>
        <queriedFields>Is_Owner_Pool_User__c</queriedFields>
        <queriedFields>Business_Unit__c</queriedFields>
        <queriedFields>Segment__c</queriedFields>
        <queriedFields>Record_Type_Stamp_for_Dupes__c</queriedFields>
        <queriedFields>Owner_Role__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Friend_Contact_Details</name>
        <label>Get Friend Contact Details</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Friend_Account_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId2</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>oFriendContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Referring_Customer_Id__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Referring_Account_Details</name>
        <label>Get Referring Account Details</label>
        <locationX>816</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Referring_Account_Ownership_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SAM_Number_Undecorated__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>refCustId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>oReferringAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Global_Geography__c</queriedFields>
        <queriedFields>Segment__c</queriedFields>
        <queriedFields>Business_Unit__c</queriedFields>
        <queriedFields>Record_Type_Stamp_for_Dupes__c</queriedFields>
        <queriedFields>Owner_Role__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Referring_Account_Ownership_Details</name>
        <label>Get Referring Account Ownership Details</label>
        <locationX>1015</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RR_or_Update_to_Old_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oReferringAccount.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>oReferringOwner</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Territory__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Assign_to_RR</name>
        <label>Assign to RR</label>
        <locationX>1205</locationX>
        <locationY>245</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oFriendAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Initiate_Round_Robin__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_Old_Owner</name>
        <label>Update to Old Owner</label>
        <locationX>1423</locationX>
        <locationY>51</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oFriendAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>oReferringAccount.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Friend_Contact_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>oFriendAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>oFriendContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>oReferringAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>oReferringContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>oReferringOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>recordId2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>refCustId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
