force-app/main/default/flows/Deal_Registration_AE_Approval_Rejection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Amend_Contract</name>
        <label>Amend Contract</label>
        <locationX>479</locationX>
        <locationY>2330</locationY>
        <actionName>PartnerRegistrationHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_If_Async_Mode</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contractId</name>
            <value>
                <elementReference>Get_Account_Details.Latest_Active_Contract__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>partnerRegistrationId</name>
            <value>
                <elementReference>currentPartnerRegistration.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PartnerRegistrationHelper</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>asyncModeAmend</assignToReference>
            <name>asyncModeAmend</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>amendedOpportunityId</assignToReference>
            <name>opportunityId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>GTMS-24621</description>
        <name>Deal_Registration_Channel_Opportunity_to_AE</name>
        <label>Deal Registration Channel Opportunity to AE</label>
        <locationX>1455</locationX>
        <locationY>4238</locationY>
        <actionName>Partner_Registration__c.Deal_Registration_Channel_Opportunity_to_AE</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Fault_Message_And_Opty_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>currentPartnerRegistration.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Partner_Registration__c.Deal_Registration_Channel_Opportunity_to_AE</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>GTMS-28072: Created as part of Partners H1 project hyper caree ticket</description>
        <name>Duplicate_Deal_Registration_Denial_Email_Alert</name>
        <label>Duplicate Deal Registration Denial Email Alert</label>
        <locationX>575</locationX>
        <locationY>4022</locationY>
        <actionName>Partner_Registration__c.Duplicate_Deal_Registration_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AE_Show_Denied_Message</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>currentPartnerRegistration.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Partner_Registration__c.Duplicate_Deal_Registration_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>GTMS-22786</description>
        <name>Navigate_to_Amended_Opportunity</name>
        <label>Navigate to Amended Opportunity</label>
        <locationX>1587</locationX>
        <locationY>5270</locationY>
        <actionName>c:RejectDiscountApproval</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>replace</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>redirectURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:RejectDiscountApproval</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Contracts</name>
        <label>Add Contracts</label>
        <locationX>1301</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Open_Contracts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contract_Link</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Open_Contracts_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Open_PRs</name>
        <label>Add Open PRs</label>
        <locationX>1301</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>Open_PRs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Open_PR_Link</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Open_PR_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Opportunities</name>
        <label>Add Opportunities</label>
        <locationX>1301</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Opportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opportunity_Link</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Open_opportunity_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Amended_Opportunity_id</name>
        <label>Assign Amended Opportunity id</label>
        <locationX>479</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>currentPartnerRegistration.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>amendedOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Open_Opportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>amendedOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Is_New_Amendment_Oppty</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentPartnerRegistration.AE_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create New Amendment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_AE_Approved_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_AE_Outcome</name>
        <label>Assign New AE Outcome</label>
        <locationX>1455</locationX>
        <locationY>4130</locationY>
        <assignmentItems>
            <assignToReference>currentPartnerRegistration.AE_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Open_Opportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Revenue_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deal_Registration_Channel_Opportunity_to_AE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>GTMS-20575: Created as part of partner Alignment project to map Amendment Opportunity id</description>
        <name>Map_Amendment_Opportunity_Id</name>
        <label>Map Amendment Opportunity Id</label>
        <locationX>83</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>Selected_Open_Opportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>amendedOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentPartnerRegistration.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>amendedOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentPartnerRegistration.AE_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Matched Opportunity</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_AE_Approved_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_Newly_Created_Opportunity</name>
        <label>Map Newly Created Opportunity</label>
        <locationX>1191</locationX>
        <locationY>4454</locationY>
        <assignmentItems>
            <assignToReference>currentPartnerRegistration.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Revenue_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Current_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>GTMS-20575: Created as part of Partner Alignment project to map null value or Opportunity field if user selects Create New Opportunity</description>
        <name>Map_Opportunity_Id_As_Null</name>
        <label>Map Opportunity Id As Null</label>
        <locationX>985</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>currentPartnerRegistration.Opportunity__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Set_AE_Approved_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>GTMS-20575: Created as part of Partner Alignment project to map the selected opportunity.</description>
        <name>Map_Opportunity_Selected_Opporutnity_Id</name>
        <label>Map Selected Opportunity Id</label>
        <locationX>1249</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>currentPartnerRegistration.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Open_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Open_Opportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Open_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentPartnerRegistration.AE_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Matched Opportunity</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_AE_Approved_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AE_Approved_0</name>
        <label>Set AE Approved</label>
        <locationX>583</locationX>
        <locationY>3098</locationY>
        <assignmentItems>
            <assignToReference>currentPartnerRegistration.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AE Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Existing_Or_Amendment_Oppty_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AE_Denied</name>
        <label>Set AE Denied</label>
        <locationX>1579</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>currentPartnerRegistration.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AE Denied</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentPartnerRegistration.Key_Customer_Insight__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentPartnerRegistration.Sales_Cycle_Investment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentPartnerRegistration.Samsara_Recommendation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentPartnerRegistration.Executive_Introduction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Oppty_already_has_CR_with_Partner_and_Program_combination</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>GTMS-20575: Added mapping of selected or Amendment opportunity.</description>
        <name>Set_AE_Review_Notes</name>
        <label>Set AE Review Notes</label>
        <locationX>1719</locationX>
        <locationY>3806</locationY>
        <assignmentItems>
            <assignToReference>currentPartnerRegistration.AE_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AE_Review_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentPartnerRegistration.DenialReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Denial_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentPartnerRegistration.AE_Review_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Approval_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Criteria_field_value</name>
        <label>Set Criteria field value</label>
        <locationX>1051</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>currentPartnerRegistration.Key_Customer_Insight__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Key_Customer_Insight_For_Matching_Oppty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentPartnerRegistration.Samsara_Recommendation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Samsara_Recommendation_For_Matching_Oppty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentPartnerRegistration.Sales_Cycle_Investment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Cycle_Investment_For_Matching_Oppty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentPartnerRegistration.Executive_Introduction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Executive_Introduction_For_Matching_Oppty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Selection_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Criteria_field_value_False</name>
        <label>Set Criteria field value</label>
        <locationX>1315</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>currentPartnerRegistration.Key_Customer_Insight__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentPartnerRegistration.Samsara_Recommendation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentPartnerRegistration.Sales_Cycle_Investment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentPartnerRegistration.Executive_Introduction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Selection_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Criteria_field_value_For_New_Amendmend</name>
        <label>Set Criteria field value</label>
        <locationX>281</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>currentPartnerRegistration.Key_Customer_Insight__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Key_Customer_Insight_For_New_Amendmend</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentPartnerRegistration.Samsara_Recommendation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Samsara_Recommendation_For_New_Amendmend</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentPartnerRegistration.Sales_Cycle_Investment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Cycle_Investment_For_New_Amendmend</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentPartnerRegistration.Executive_Introduction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Executive_Introduction_For_New_Amendmend</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Amendment_Opportunity_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PR_Value</name>
        <label>Set PR Value</label>
        <locationX>707</locationX>
        <locationY>3698</locationY>
        <assignmentItems>
            <assignToReference>currentPartnerRegistration.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentPartnerRegistration.DenialReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Already Present on Opportunity</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Current_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AEAccepted</name>
        <choiceText>Accepted</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>AEApproved</name>
        <choiceText>Approve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </choices>
    <choices>
        <name>AEDenied</name>
        <choiceText>Deny</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Denied</stringValue>
        </value>
    </choices>
    <choices>
        <description>GTMS-20575: Created as part of Partner Systems Alignment project to create a choice for new opportunity createion.</description>
        <name>Create_New_Opportunity</name>
        <choiceText>&lt;strong&gt;Create New Opportunity&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New_Opportunity</stringValue>
        </value>
    </choices>
    <choices>
        <description>GTMS-20573: Created as part for Partner Alignment project</description>
        <name>New_Amendment_Opportunity</name>
        <choiceText>&lt;strong&gt;Create New Amendment Opportunity&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New_Amendment_Opportunity</stringValue>
        </value>
    </choices>
    <decisions>
        <name>AE_Approval_Check</name>
        <label>AE Approval Check</label>
        <locationX>1213</locationX>
        <locationY>1466</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_AE_Option_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AEApproved</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Details</targetReference>
            </connector>
            <label>Is Approved</label>
        </rules>
        <rules>
            <name>Is_Denied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_AE_Option_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AEDenied</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AE_Denied</targetReference>
            </connector>
            <label>Is Denied</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Amended_Opportunity</name>
        <label>Check Amended Opportunity</label>
        <locationX>1719</locationX>
        <locationY>5054</locationY>
        <defaultConnector>
            <targetReference>Success_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Amended_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>amendedOpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Screen_Contract_Amendment</targetReference>
            </connector>
            <label>Is Amended Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Async_Mode</name>
        <label>Check If Async Mode</label>
        <locationX>479</locationX>
        <locationY>2438</locationY>
        <defaultConnector>
            <targetReference>Assign_Amended_Opportunity_id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Async_Mode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>asyncModeAmend</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Async_Message</targetReference>
            </connector>
            <label>Async Mode</label>
        </rules>
    </decisions>
    <decisions>
        <description>Added Contact End date to the Active Contract check on 12/26/24</description>
        <name>Check_if_there_is_an_active_contract</name>
        <label>Check if there is an active contract</label>
        <locationX>583</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <targetReference>Existing_Oppty_Screen_For_AE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ActiveContract_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Details.Latest_Active_Contract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Details.Latest_Active_Contract__r.EndDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Records</targetReference>
            </connector>
            <label>ActiveContract Available</label>
        </rules>
    </decisions>
    <decisions>
        <description>GTMS-28072: Updated as part of partners H1 project hyper care ticket to check if the Oppty already has CR</description>
        <name>Does_Oppty_already_has_CR_with_Partner_and_Program_combination</name>
        <label>Does Oppty already has CR with Partner and Program combination</label>
        <locationX>1213</locationX>
        <locationY>3590</locationY>
        <defaultConnector>
            <targetReference>AE_Review_Notes_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_CR_with_Same_Partner_and_Program</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_CR_With_Partner_Program</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Existing_CR_With_Partner_Program</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PR_Value</targetReference>
            </connector>
            <label>Yes, Has CR with Same Partner and Program</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Recepients_Check</name>
        <label>Email Recepients Check</label>
        <locationX>707</locationX>
        <locationY>3914</locationY>
        <defaultConnector>
            <targetReference>AE_Show_Denied_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Recepients</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>currentPartnerRegistration.Partner_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentPartnerRegistration.PAM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Deal_Registration_Denial_Email_Alert</targetReference>
            </connector>
            <label>Has Recepients</label>
        </rules>
    </decisions>
    <decisions>
        <description>GTMS-20575: Created as part of Partner Alignment project</description>
        <name>Fault_Message_And_Opty_Check</name>
        <label>Fault Message And Opty Check</label>
        <locationX>1455</locationX>
        <locationY>4346</locationY>
        <defaultConnector>
            <targetReference>Update_Current_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opp_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Revenue_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Map_Newly_Created_Opportunity</targetReference>
            </connector>
            <label>Opp Created</label>
        </rules>
        <rules>
            <name>Only_Fault_Message_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fault_Error_Message</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Revenue_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Only Fault Message Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>GTMS-20757, 20573: To Check if deal is denied or approval with other scenarios</description>
        <name>Final_Approval_Check</name>
        <label>Final Approval Check</label>
        <locationX>1719</locationX>
        <locationY>3914</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deal_Denied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_AE_Option_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AEDenied</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Current_Record</targetReference>
            </connector>
            <label>Deal Denied</label>
        </rules>
        <rules>
            <name>AE_Approved_With_New_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_AE_Option_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AEApproved</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Existing_Open_Opportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_New_Opportunity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Opportunity_For_PR_record</targetReference>
            </connector>
            <label>AE Approved With New Opportunity</label>
        </rules>
        <rules>
            <name>AE_Approved_With_Existing_Or_Emendment</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Select_AE_Option_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AEApproved</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Existing_Open_Opportunity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Create_New_Opportunity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>amendedOpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Current_Record</targetReference>
            </connector>
            <label>AE Approved With Existing Or Emendment</label>
        </rules>
    </decisions>
    <decisions>
        <description>dgqergwertf3wref</description>
        <name>Has_Fault_Message</name>
        <label>Has Fault Message</label>
        <locationX>2027</locationX>
        <locationY>4238</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Task_Related_To_Current_PR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Fault_Message</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fault_Error_Message</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CR_Subflow_Fault_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>GTMS-28127: Created as part of partners H1 project Hypercare ticket</description>
        <name>Has_Min_2_Selected</name>
        <label>Has Min 2 Selected</label>
        <locationX>919</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Set_Criteria_field_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Minimum_2_Not_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasAtleast2CriteraForMatching</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_AE_Option_2</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>AEDenied</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Influence_Criteria_Message</targetReference>
            </connector>
            <label>No, Minimum 2 not Selected</label>
        </rules>
    </decisions>
    <decisions>
        <description>GTMS-28127: Created as part of partners H1 project Hypercare ticket</description>
        <name>Has_Min_2_Selected_For_new_Amendmend</name>
        <label>Has Min 2 Selected</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Set_Criteria_field_value_For_New_Amendmend</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Minimum_2_Not_Selected_For_new_Amendmend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasAtleast2CriteraForNewAmendmend</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Influence_Criteria_Message</targetReference>
            </connector>
            <label>No, Minimum 2 Not Selected</label>
        </rules>
    </decisions>
    <decisions>
        <description>GTMS-28127: Created as part of Partners H1 project hyper care</description>
        <name>Is_AE_Selected_Existing</name>
        <label>Is AE Selected Existing</label>
        <locationX>1117</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>Set_Criteria_field_value_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, New opportunity</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Open_Opportunity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Create_New_Opportunity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Min_2_Selected</targetReference>
            </connector>
            <label>Yes, Existing</label>
        </rules>
    </decisions>
    <decisions>
        <description>GTMS-20573: Created as part of Partner Alignment project to check if Amendment opportunity was selected</description>
        <name>Is_Amendment_Opportunity_Selected</name>
        <label>Is Amendment Opportunity Selected</label>
        <locationX>281</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>Amend_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Emendment_Opportunity_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Amendment_Opportunity_Options</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>New_Amendment_Opportunity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Map_Amendment_Opportunity_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>GTMS-28072: Created as part of Partners H1 project Hyper care ticket to check what is the AE selection</description>
        <name>Is_Existing_Or_Amendment_Oppty_Selected</name>
        <label>Is Existing Or Amendment Oppty Selected</label>
        <locationX>583</locationX>
        <locationY>3206</locationY>
        <defaultConnector>
            <targetReference>Does_Oppty_already_has_CR_with_Partner_and_Program_combination</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing_or_Amendmend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_AE_Option_2</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Create_New_Opportunity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Amendment_Opportunity_Options</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>New_Amendment_Opportunity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selected_Open_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selected_Open_Opportunity</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CR_Record_With_Same_Partner_and_Program</targetReference>
            </connector>
            <label>Yes, Existing or Amendmend</label>
        </rules>
    </decisions>
    <decisions>
        <description>GTMS-20575: Created as part of Partner Alignment project to check if user selected the existing opportunity or new opporutnity</description>
        <name>Opportunity_Selection_Check</name>
        <label>Opportunity Selection Check</label>
        <locationX>1117</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>Map_Opportunity_Selected_Opporutnity_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Opportunity_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Open_Opportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_New_Opportunity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Map_Opportunity_Id_As_Null</targetReference>
            </connector>
            <label>New Opportunity Selected</label>
        </rules>
    </decisions>
    <description>GTMS-20576/GTMS-20578/GTMS-20579/GTMS-20575/GTMS-22786
Added Contact End date to the Active Contract check on 12/26/24
GTMS-28072: Added logic to auto Deny PR if Oppty already has CR with same partner and program
GTMS-28127: Gave edit option for Partner Influence Details section for Open and Amendment oppty selection.
GTMS-28680: Added boolean variable to make true if AE outcome is new Amendment oppty and passing it to Create Channel Relationship flow.
GTMS-29220: Updated AE Outcome logic, For New Amendment Oppty creation AE Outcome is Amendment Opportunity and selecting existing Amendment Opportunity AE Outcome is Matched Opportunity.</description>
    <dynamicChoiceSets>
        <name>Amendmend_Opportunity_Choice_Set</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__AmendedContract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Details.Latest_Active_Contract__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <limit>1</limit>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>amendedOpportunityId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>GTMS-22180: Created as part of Partner Alignment project. this variable contians the Denial Reason picklist values from Partner Registration object</description>
        <name>Denial_Reason_Choise_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DenialReason__c</picklistField>
        <picklistObject>Partner_Registration__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>GTMS-20575: Created as part of Partner Alignment project to fetch open opportunities related to the account</description>
        <name>Open_Opportunity_Choice_Set</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Revenue Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentPartnerRegistration.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>Selected_Open_Opportunity</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>hasAtleast2CriteraForMatching</name>
        <dataType>Boolean</dataType>
        <expression>OR(
AND({!Key_Customer_Insight_For_Matching_Oppty}=true, {!Samsara_Recommendation_For_Matching_Oppty}=true),
AND({!Key_Customer_Insight_For_Matching_Oppty}=true, {!Sales_Cycle_Investment_For_Matching_Oppty}=true),
AND({!Key_Customer_Insight_For_Matching_Oppty}=true, {!Executive_Introduction_For_Matching_Oppty}=true),
AND({!Samsara_Recommendation_For_Matching_Oppty}=true, {!Sales_Cycle_Investment_For_Matching_Oppty}=true),
AND({!Samsara_Recommendation_For_Matching_Oppty}=true, {!Executive_Introduction_For_Matching_Oppty}=true),
AND({!Sales_Cycle_Investment_For_Matching_Oppty}=true, {!Executive_Introduction_For_Matching_Oppty}=true)
)</expression>
    </formulas>
    <formulas>
        <description>GTMS-28127: Created as part of Partners H1 project Hyper care ticket</description>
        <name>hasAtleast2CriteraForNewAmendmend</name>
        <dataType>Boolean</dataType>
        <expression>OR(
AND({!Key_Customer_Insight_For_New_Amendmend}=true, {!Samsara_Recommendation_For_New_Amendmend}=true),
AND({!Key_Customer_Insight_For_New_Amendmend}=true, {!Sales_Cycle_Investment_For_New_Amendmend}=true),
AND({!Key_Customer_Insight_For_New_Amendmend}=true, {!Executive_Introduction_For_New_Amendmend}=true),
AND({!Samsara_Recommendation_For_New_Amendmend}=true, {!Sales_Cycle_Investment_For_New_Amendmend}=true),
AND({!Samsara_Recommendation_For_New_Amendmend}=true, {!Executive_Introduction_For_New_Amendmend}=true),
AND({!Sales_Cycle_Investment_For_New_Amendmend}=true, {!Executive_Introduction_For_New_Amendmend}=true)
)</expression>
    </formulas>
    <formulas>
        <name>OpportunityRecordURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_140},FIND(&apos;.com&apos;,{!$Api.Partner_Server_URL_140})+4) &amp; {!Selected_Open_Opportunity}</expression>
    </formulas>
    <formulas>
        <name>OrgBaseUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260},FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <formulas>
        <name>redirectURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_140},FIND(&apos;.com&apos;,{!$Api.Partner_Server_URL_140})+4) &amp; {!amendedOpportunityId}</expression>
    </formulas>
    <formulas>
        <name>sandboxUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_140},FIND(&apos;.com&apos;,{!$Api.Partner_Server_URL_140})+4)</expression>
    </formulas>
    <interviewLabel>Deal Registration AE Approval/Rejection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deal Registration AE Approval/Rejection</label>
    <loops>
        <name>Open_Contracts_Loop</name>
        <label>Open Contracts Loop</label>
        <locationX>1213</locationX>
        <locationY>650</locationY>
        <collectionReference>Get_Open_Contracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Contracts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Open_PR_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Open_opportunity_loop</name>
        <label>Open opportunity loop</label>
        <locationX>1213</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Open_Opprotunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Opportunities</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Open_Contracts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Open_PR_Loop</name>
        <label>Open PR Loop</label>
        <locationX>1213</locationX>
        <locationY>1058</locationY>
        <collectionReference>Get_Open_PR_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Open_PRs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AE_Approval_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>583</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_there_is_an_active_contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentPartnerRegistration.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>GTMS-28072: Created as part of Partners H1 project Hyper care to fetch CR with partner and program combination</description>
        <name>Get_CR_Record_With_Same_Partner_and_Program</name>
        <label>Get CR Record With Same Partner and Program</label>
        <locationX>451</locationX>
        <locationY>3314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Oppty_already_has_CR_with_Partner_and_Program_combination</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Open_Opportunity</elementReference>
            </value>
        </filters>
        <filters>
            <field>Partner_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentPartnerRegistration.Partner_Program__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Channel_Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentPartnerRegistration.Partner_Account__c</elementReference>
            </value>
        </filters>
        <object>Channel_Relationship__c</object>
        <outputReference>Existing_CR_With_Partner_Program</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Contracts</name>
        <label>Get Open Contracts</label>
        <locationX>1213</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Contracts_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentPartnerRegistration.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ContractNumber</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Opprotunities</name>
        <label>Get Open Opprotunities</label>
        <locationX>1213</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_opportunity_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentPartnerRegistration.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Revenue Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_PR_Records</name>
        <label>Get Open PR Records</label>
        <locationX>1213</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_PR_Loop</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>currentPartnerRegistration.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentPartnerRegistration.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PAM Reviewed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AE Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Partner_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Records</name>
        <label>Get Opportunity Records</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Emendment_Opportunity_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__AmendedContract__c</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Reollback_PR_and_CR_and_oppty_related_changes_for_Existing_or_Amendmend_oppty</name>
        <label>Reollback PR and CR and oppty related changes for Existing or Amendmend oppty</label>
        <locationX>1895</locationX>
        <locationY>4454</locationY>
    </recordRollbacks>
    <recordUpdates>
        <name>Copy_1_of_Update_Current_Record</name>
        <label>Copy 1 of Update Current Record</label>
        <locationX>707</locationX>
        <locationY>3806</locationY>
        <connector>
            <targetReference>Email_Recepients_Check</targetReference>
        </connector>
        <inputReference>currentPartnerRegistration</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Current_Record</name>
        <label>Copy 2 of Update Current Record</label>
        <locationX>2027</locationX>
        <locationY>4022</locationY>
        <connector>
            <targetReference>Create_Channel_Relationship_Record</targetReference>
        </connector>
        <inputReference>currentPartnerRegistration</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_Record</name>
        <label>Update Current Record</label>
        <locationX>1719</locationX>
        <locationY>4838</locationY>
        <connector>
            <targetReference>Update_Task_Related_To_Current_PR</targetReference>
        </connector>
        <inputReference>currentPartnerRegistration</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>GTMS-20575: Created as part of Partner Alignment project to update task to completed</description>
        <name>Update_Task_Related_To_Current_PR</name>
        <label>Update Task Related To Current PR</label>
        <locationX>1719</locationX>
        <locationY>4946</locationY>
        <connector>
            <targetReference>Check_Amended_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentPartnerRegistration.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentPartnerRegistration.OwnerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>AE_Approval_Screen</name>
        <label>AE Approval Screen</label>
        <locationX>1213</locationX>
        <locationY>1358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AE_Approval_Check</targetReference>
        </connector>
        <fields>
            <name>AE_Approval_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AE_Approval_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PartnerRegistrationCustomerInfo</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;u&gt;Channel Partner Details&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Partner Name:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!currentPartnerRegistration.Partner_Account__r.Name}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Sales Program Type: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!currentPartnerRegistration.Partner_Program_Tier__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Partner Account Status: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!currentPartnerRegistration.Partner_Account_Status__c}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;u&gt;End Customer Details&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;End Customer Name:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!currentPartnerRegistration.Account__r.Name}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Business Unit:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!currentPartnerRegistration.Business_Unit__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Segment: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!currentPartnerRegistration.Fleet_Segment__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Geography:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!currentPartnerRegistration.Geography__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Contact: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!currentPartnerRegistration.Contact__r.FirstName}  {!currentPartnerRegistration.Contact__r.LastName}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong&gt;Sales Program Type: &lt;/strong&gt;{!currentPartnerRegistration.Sales_Program_Type__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AE_Approval_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>opportunityList</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Open Opportunities&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Opportunities}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Opportunities</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>No_Open_Opportunities</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;No Open Opportunity Found.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Opportunities</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ContractList</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Open Contracts&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Open_Contracts}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Open_Contracts</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>No_Active_Contract</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;No Active Contract Found.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Open_Contracts</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>OpenPRs</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Open Partner Registrations&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Open_PRs}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Open_PRs</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>No_Open_PR</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;No Open Partner Registration Found.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>OpenPRs</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Select_AE_Option_2</name>
            <choiceReferences>AEApproved</choiceReferences>
            <choiceReferences>AEDenied</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please approve or deny based on the BANT context of the submission and the partner&apos;s engagement. On the next screen, you&apos;ll select if a new opportunity should be created or this Deal Registration should merge to an existing one.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>IMP_Message_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(202, 42, 42);&quot;&gt;IMPORTANT: If you are considering creating a new opportunity from this Partner Deal Registration, do not create a new opportunity outside of the workflow on the next screen. This impacts a partner&apos;s eligibility for paid compensation&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AE_Approval_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AE_Approval_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AE_Review_Notes_Screen</name>
        <label>AE Review Notes Screen</label>
        <locationX>1719</locationX>
        <locationY>3698</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_AE_Review_Notes</targetReference>
        </connector>
        <fields>
            <name>Denial_Reason</name>
            <choiceReferences>Denial_Reason_Choise_Set</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Denial Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_AE_Option_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>AEDenied</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AE_Review_Notes</name>
            <fieldText>AE Review Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AE_Show_Denied_Message</name>
        <label>AE Show Denied Message</label>
        <locationX>707</locationX>
        <locationY>4214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AEDeniedMesssage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Channel Relationship is already exits on opportunity with same Partner and Program. As such, this Deal Reg has been denied.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Async_Message</name>
        <label>Async Message</label>
        <locationX>347</locationX>
        <locationY>2546</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Amended_Opportunity_id</targetReference>
        </connector>
        <fields>
            <name>displayasyncmessage</name>
            <fieldText>&lt;p&gt;The Amendment is been created in the background due to large volume of products on the existing Opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>GTMS-20573: created as part of Partner Alignment project</description>
        <name>CR_Subflow_Fault_Screen</name>
        <label>CR Subflow Fault Screen</label>
        <locationX>1895</locationX>
        <locationY>4346</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reollback_PR_and_CR_and_oppty_related_changes_for_Existing_or_Amendmend_oppty</targetReference>
        </connector>
        <fields>
            <name>CR_Fault_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 24, 24);&quot;&gt;Partner Registration Review failed while creating Channel Relationship. Please give below error to your System Admin.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(231, 24, 24);&quot;&gt;{!Fault_Error_Message}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>GTMS-20573: Created as part of Partner Alignment project to the recent Amendment Opporutnity.</description>
        <name>Emendment_Opportunity_Screen</name>
        <label>Emendment Opportunity Screen</label>
        <locationX>50</locationX>
        <locationY>1898</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Has_Min_2_Selected_For_new_Amendmend</targetReference>
        </connector>
        <fields>
            <name>Amendment_Opportunity_Options</name>
            <choiceReferences>Amendmend_Opportunity_Choice_Set</choiceReferences>
            <choiceReferences>New_Amendment_Opportunity</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>New_Amendment_Opportunity</defaultSelectedChoiceReference>
            <fieldText>Amendment Opportunity Options</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AE_Instructions_For_Amendmend</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(205, 25, 25); background-color: rgb(255, 255, 255);&quot;&gt;Please select at least 2 influence details*.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Partner_Influence_Details1</name>
            <fieldText>Partner Influence Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Partner_Influence_Details1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Key_Customer_Insight_For_New_Amendmend</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>currentPartnerRegistration.Key_Customer_Insight__c</elementReference>
                    </defaultValue>
                    <fieldText>Key Customer Insight</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Samsara_Recommendation_For_New_Amendmend</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>currentPartnerRegistration.Samsara_Recommendation__c</elementReference>
                    </defaultValue>
                    <fieldText>Samsara Recommendation</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Influence_Details1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sales_Cycle_Investment_For_New_Amendmend</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>currentPartnerRegistration.Sales_Cycle_Investment__c</elementReference>
                    </defaultValue>
                    <fieldText>Sales Cycle Investment</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Executive_Introduction_For_New_Amendmend</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>currentPartnerRegistration.Executive_Introduction__c</elementReference>
                    </defaultValue>
                    <fieldText>Executive Introduction</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1455</locationX>
        <locationY>4454</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_Message_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(231, 24, 24);&quot;&gt;Partner Registration Review failed while creating Revenue Opportunity and  Channel Relationship. Please give below error to your System Admin.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(238, 58, 22); font-size: 14px;&quot;&gt;{!Fault_Error_Message}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>GTMS-20575: Created as part of Partner Alignment project to provide opportunity selected option.</description>
        <name>Existing_Oppty_Screen_For_AE</name>
        <label>Existing Oppty Screen For AE</label>
        <locationX>1117</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_AE_Selected_Existing</targetReference>
        </connector>
        <fields>
            <name>Existing_Open_Opportunity</name>
            <choiceReferences>Open_Opportunity_Choice_Set</choiceReferences>
            <choiceReferences>Create_New_Opportunity</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>currentPartnerRegistration.Opportunity__c</elementReference>
            </defaultValue>
            <fieldText>Please select from the following available actions.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;PAM recommendations are shared with the AE and available options are determined from search results. AE selection determines final action for alignment.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AE_Instructions</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(205, 25, 25);&quot;&gt;Please select at least 2 influence details if an existing open opportunity is selected*.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Existing_Open_Opportunity</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Create_New_Opportunity</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Existing_Open_Opportunity</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Partner_Influence_Details_For_Matching_Oppty</name>
            <fieldText>Partner Influence Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Partner_Influence_Details_For_Matching_Oppty_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Key_Customer_Insight_For_Matching_Oppty</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>currentPartnerRegistration.Key_Customer_Insight__c</elementReference>
                    </defaultValue>
                    <fieldText>Key Customer Insight</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Samsara_Recommendation_For_Matching_Oppty</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>currentPartnerRegistration.Samsara_Recommendation__c</elementReference>
                    </defaultValue>
                    <fieldText>Samsara Recommendation</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Influence_Details_For_Matching_Oppty_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sales_Cycle_Investment_For_Matching_Oppty</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>currentPartnerRegistration.Sales_Cycle_Investment__c</elementReference>
                    </defaultValue>
                    <fieldText>Sales Cycle Investment</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Executive_Introduction_For_Matching_Oppty</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>currentPartnerRegistration.Executive_Introduction__c</elementReference>
                    </defaultValue>
                    <fieldText>Executive Introduction</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Existing_Open_Opportunity</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Create_New_Opportunity</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Existing_Open_Opportunity</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <helpText>&lt;p&gt;Default Selected Opportunity is the Opportunity selected by PAM.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>GTMS-28127: Created as part of partners H1 project to display message about the criteria message</description>
        <name>Influence_Criteria_Message</name>
        <label>Influence Criteria Message</label>
        <locationX>787</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>criteriaMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(41, 38, 38);&quot;&gt;Minimum 2 criteria must be selected for approval for payout&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>GTMS-20573 &amp; 20575</description>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>1851</locationX>
        <locationY>5162</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(105, 179, 22);&quot;&gt;Partner Registration Review was successfully completed. Here is the &lt;/strong&gt;&lt;a href=&quot;{!OpportunityRecordURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(56, 12, 167);&quot;&gt;&lt;strong&gt;Opportunity&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>GTMS-22786</description>
        <name>Success_Screen_Contract_Amendment</name>
        <label>Success Screen - Contract Amendment</label>
        <locationX>1587</locationX>
        <locationY>5162</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_to_Amended_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Success_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(105, 179, 22);&quot;&gt;A new amendment opportunity has been created and associated with this partner registration, please click on finish to navigate to the record.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1087</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Open_Opprotunities</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>GTMS-20575: Created as part of Partner Alignment project to call channel Relationship record creation flow</description>
        <name>Create_Channel_Relationship_Record</name>
        <label>Create Channel Relationship Record</label>
        <locationX>2027</locationX>
        <locationY>4130</locationY>
        <connector>
            <targetReference>Has_Fault_Message</targetReference>
        </connector>
        <flowName>Create_Channel_Relationship_From_Partner_Registration_Record</flowName>
        <inputAssignments>
            <name>CurrentPartnerRegistration</name>
            <value>
                <elementReference>currentPartnerRegistration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Selected_Opportunity</name>
            <value>
                <elementReference>Selected_Open_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Is_New_Amendment_Oppty</name>
            <value>
                <elementReference>Is_New_Amendment_Oppty</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Fault_Error_Message</assignToReference>
            <name>Fault_Message_Text</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Channel_Relationship_Record</assignToReference>
            <name>thisChannelRelationShip</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>GTMS-20575: Created as part of Partner Alignment project to create new opportunity</description>
        <name>Create_New_Opportunity_For_PR_record</name>
        <label>Create New Opportunity For PR record</label>
        <locationX>1455</locationX>
        <locationY>4022</locationY>
        <connector>
            <targetReference>Assign_New_AE_Outcome</targetReference>
        </connector>
        <flowName>Create_Opp_for_Converted_Deal_Reg_Lead</flowName>
        <inputAssignments>
            <name>Partner_Registration_Id</name>
            <value>
                <elementReference>currentPartnerRegistration.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RetryCounter</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>New_Revenue_Opportunity</assignToReference>
            <name>currentRevenueOpportunity</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Fault_Error_Message</assignToReference>
            <name>Fault_Error_Message</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>Contract_Link</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;{!sandboxUrl}{!Open_Contracts_Loop.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Open_Contracts_Loop.ContractNumber} - {!Open_Contracts_Loop.Name}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Open_PR_Link</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;{!sandboxUrl}{!Open_PR_Loop.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Open_PR_Loop.Name} -  ({!Open_PR_Loop.Partner_Account__r.Name})&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Opportunity_Link</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;{!sandboxUrl}{!Open_opportunity_loop.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Open_opportunity_loop.Name}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>amendedOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>asyncModeAmend</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>GTMS-20575: Created as part of partner Alignment project to map newly created Channel Relationship record</description>
        <name>Channel_Relationship_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Channel_Relationship__c</objectType>
    </variables>
    <variables>
        <name>currentPartnerRegistration</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Partner_Registration__c</objectType>
    </variables>
    <variables>
        <name>currentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>GTMS-28072: Created as part of partners H1 project hyper care ticket to store the existing CR value</description>
        <name>Existing_CR_With_Partner_Program</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Channel_Relationship__c</objectType>
    </variables>
    <variables>
        <description>GTMS-20575: Created as part of Partner Alignment project</description>
        <name>Fault_Error_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>GTMS-28680: this variable is true if AE outcome is new Amendment creation else it is false.</description>
        <name>Is_New_Amendment_Oppty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>GTMS-20575: Created as part of partner Alignment project</description>
        <name>New_Revenue_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>NoAmendmentOpportunityError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Please create an Amendment Opportunity and comeback to Approve the Deal Registration</stringValue>
        </value>
    </variables>
    <variables>
        <name>Open_Contracts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Open_PRs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opportunities</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>GTMS-20575: Created as part of Partner Systems Alignment project to store selected open opportunity</description>
        <name>Selected_Open_Opportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
