force-app/main/default/flows/Docusign_Scheduled_Updated_Flow_For_Webstore_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>GTMS-19977: to send emails for Webstore deals</description>
        <name>Email_Alert_For_Webstore_Deals</name>
        <label>Email Alert For Webstore Deals</label>
        <locationX>1440</locationX>
        <locationY>546</locationY>
        <actionName>Opportunity.Webstore_Order_Confirmation_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_OVA_Entry_Criteria_fields</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.dsfs__Opportunity__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Webstore_Order_Confirmation_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>GTMS-19977: map docusign record count.</description>
        <name>Docusign_Record_Count_Assignment</name>
        <label>Docusign Record Count Assignment</label>
        <locationX>1270</locationX>
        <locationY>167</locationY>
        <assignmentItems>
            <assignToReference>Docusign_Record_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Docusign_List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checking_Docusign_records_associated_to_opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>GTMS-17662: Created to map docusign fields with webstore opportunity fields.</description>
        <name>Async_Docusign_Field_Mapping_Check</name>
        <label>Async Docusign Field Mapping Check</label>
        <locationX>824</locationX>
        <locationY>570</locationY>
        <defaultConnector>
            <targetReference>IS_Small_Fleet_or_No_LIC_AND_No_HW_Webstore_Oppty_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Async_Criteria_Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OVAEntryCriteria</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.dsfs__Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Record_Been_Updated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Webstore_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Primary_Quote_Check</targetReference>
            </connector>
            <label>Async Criteria Matched</label>
        </rules>
    </decisions>
    <decisions>
        <description>GTMS-19977: to fetch docusigns records based on opportunity</description>
        <name>Checking_Docusign_records_associated_to_opportunity</name>
        <label>Checking Docusign records associated to opportunity</label>
        <locationX>1436</locationX>
        <locationY>330</locationY>
        <defaultConnector>
            <targetReference>Update_OVA_Entry_Criteria_fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_More_Than_One_Docusign_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Docusign_Record_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_For_Webstore_Deals</targetReference>
            </connector>
            <label>Not More Than One Docusign Record</label>
        </rules>
    </decisions>
    <decisions>
        <description>GTMS-19977</description>
        <name>Checking_Docusign_values</name>
        <label>Checking Docusign values</label>
        <locationX>528</locationX>
        <locationY>409</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Data_Not_Mapped_to_Docusign_Object</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Docusign_Records_Data.Has_Record_Been_Updated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Email_Got_Sent_to_Users</targetReference>
            </connector>
            <label>If Data  Not Mapped to Docusign Object</label>
        </rules>
    </decisions>
    <decisions>
        <description>GTMS-19977: checking if opportunity is a small fleet</description>
        <name>Checking_Small_Fleet_Condition</name>
        <label>Checking Small Fleet Condition</label>
        <locationX>1001</locationX>
        <locationY>340</locationY>
        <defaultConnector>
            <targetReference>Update_OVA_Entry_Criteria_fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Small_Fleet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.dsfs__Opportunity__r.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Samsara_Small_Fleet_User_Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Docusign_Records</targetReference>
            </connector>
            <label>Is Not Small Fleet</label>
        </rules>
    </decisions>
    <decisions>
        <description>GTMS-19977: sending emails to opprotunity owner once webstore deal was mapped to opportunity.</description>
        <name>If_Email_Got_Sent_to_Users</name>
        <label>If Email Got Sent to Users</label>
        <locationX>694</locationX>
        <locationY>336</locationY>
        <defaultConnector>
            <targetReference>Update_OVA_Entry_Criteria_fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Not_Sent_To_Users</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Docusign_Records_Data.OVA_Docusign_Field_Tracking__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checking_Small_Fleet_Condition</targetReference>
            </connector>
            <label>Email Not Sent To Users</label>
        </rules>
    </decisions>
    <decisions>
        <description>GTMS-17606: we have moved closing functionality for small fleet webstore deals from webstore to Salesforce to reduce errors in OVA</description>
        <name>IS_Small_Fleet_or_No_LIC_AND_No_HW_Webstore_Oppty_Check</name>
        <label>IS Small Fleet or No LIC AND No HW Webstore Oppty Check</label>
        <locationX>1112</locationX>
        <locationY>938</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND  3 AND ((2 AND 4 AND 5) OR 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.dsfs__Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.dsfs__Opportunity__r.Is_Webstore_Upsell_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.dsfs__Opportunity__r.Probability</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>95.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.dsfs__Opportunity__r.of_LIC_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.dsfs__Opportunity__r.of_HW_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.dsfs__Opportunity__r.Small_Fleet_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.dsfs__Opportunity__r.Went_to_Closing_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Small_Fleets_Oppty_To_Closing</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>GTMS-18053: created to check if primary quote was mapped to opportunity during docusign field mapping</description>
        <name>Opportunity_Primary_Quote_Check</name>
        <label>Opportunity Primary Quote Check</label>
        <locationX>362</locationX>
        <locationY>541</locationY>
        <defaultConnectorLabel>Primary Quote Not Mapped</defaultConnectorLabel>
        <rules>
            <name>Is_Primary_Quote_Mapped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Docusign_Fields_Update_for_OVA_in_Asnyc</targetReference>
            </connector>
            <label>Is Primary Quote Mapped</label>
        </rules>
        <rules>
            <name>Is_Opportunity_Mapped_and_Primary_Quote_Not_Mapped_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.dsfs__Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Primary_Quote</targetReference>
            </connector>
            <label>Is Opportunity Mapped and Primary Quote Not Mapped</label>
        </rules>
    </decisions>
    <decisions>
        <description>GTMS-18053: created to check if primary quote was mapped to opportunity during docusign field mapping</description>
        <name>Opportunity_Primary_Quote_Check_For_Quote_Recalculation</name>
        <label>Opportunity Primary Quote Check For Quote Recalculation</label>
        <locationX>278</locationX>
        <locationY>107</locationY>
        <defaultConnectorLabel>Primary Quote Not Mapped</defaultConnectorLabel>
        <rules>
            <name>Is_Primary_Quote_Mapped_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recalculate_The_Quote</targetReference>
            </connector>
            <label>Is Primary Quote Mapped</label>
        </rules>
        <rules>
            <name>Is_Opportunity_Mapped_and_Primary_Quote_Not_Mapped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.dsfs__Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recalculate_The_Primary_Quote</targetReference>
            </connector>
            <label>Is Opportunity Mapped and Primary Quote Not Mapped</label>
        </rules>
    </decisions>
    <decisions>
        <description>GTMS-18053: null pointer check for primary Quote - 3/27/24</description>
        <name>Primary_Quote_Check</name>
        <label>Primary Quote Check</label>
        <locationX>735</locationX>
        <locationY>736</locationY>
        <defaultConnectorLabel>Primary Quote Doesnt exist</defaultConnectorLabel>
        <rules>
            <name>Primary_Quote_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Primary_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Docusign_Fields_Update_for_OVA_From_Quote_Query</targetReference>
            </connector>
            <label>Primary Quote Exist</label>
        </rules>
    </decisions>
    <description>GTMS-17662: created this flow to map webstore opportunity data to docusign record
GTMS-17606: Created this flow to close the small fleet webstore opportunity (mved this logic from webstore)
GTMS-17930: Added Small Fleet checkbox condition in closing if condition element on 1/10/24
1/4/24: Added new field mapping of docusign record in Docusign_Fields_Update_for_OVA_in_Asn element as part of DCA project for GTMS-16637
GTMS-19277: Updated Billing email mapping on docusign with Consolidated Billing Email field on Quote. - 3/7/24
GTMS-18053: updated docusign field mapping if opportunity dont have a primary quote 3/27/24
GTMS-19977: Added one more 15 mins delay path and Adding Webstore email to Opportunity Owners
GTMS-19977: changed from email action to email alert
GTMS-20305: added 3 mins delay path for quote recalculation</description>
    <environments>Default</environments>
    <formulas>
        <description>1/4/24: Created as part of DCA Project to store bill to contact name for GTMS-16637</description>
        <name>Bill_To_Contact_Name</name>
        <dataType>String</dataType>
        <expression>{!$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__r.Bill_to_Contact__r.FirstName}+&apos; &apos;+{!$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__r.Bill_to_Contact__r.LastName}</expression>
    </formulas>
    <formulas>
        <description>GTMS-16637: Created as part of DCA Project</description>
        <name>BIllingEmail</name>
        <dataType>String</dataType>
        <expression>IF(
NOT(ISBLANK({!$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__r.Bill_to_Account__r.Billing_Email__c})),
{!$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__r.Bill_to_Account__r.Billing_Email__c},
{!$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__r.Bill_to_Contact__r.Email}
)</expression>
    </formulas>
    <formulas>
        <description>GTMS-19977: to store optional emails</description>
        <name>Optional_Email_Addresses_For_Webstore_Email</name>
        <dataType>String</dataType>
        <expression>if(
AND(
NOT(ISNULL({!$Record.dsfs__Opportunity__r.Owner.ManagerId})),
NOT(ISBLANK({!$Record.dsfs__Opportunity__r.Owner.ManagerId}))
),
{!$Label.Samsara_Webstore_Email}+&apos;,&apos;+{!$Record.dsfs__Opportunity__r.Owner.Contact.Owner.Manager.Email},
{!$Label.Samsara_Webstore_Email}
)</expression>
    </formulas>
    <formulas>
        <description>GTMS-19977</description>
        <name>OVA_Field_Details</name>
        <dataType>String</dataType>
        <expression>{!$Record.OVA_Docusign_Field_Tracking__c}+&apos;;&lt;---&gt;;&apos;+&apos;Custom Schedule: &apos;+IF({!$Record.dsfs__Opportunity__r.Custom_Schedule__c},&apos;TRUE&apos;,&apos;FALSE&apos;)+&apos;;&apos;+&apos;Type: &apos;+TEXT({!$Record.dsfs__Opportunity__r.Type})+&apos;;&apos;+&apos;Owner Role Copy: &apos;+{!$Record.dsfs__Opportunity__r.Owner_Role_Copy__c}+&apos;;&apos;+&apos;Owner Manager Role Copy: &apos;+{!$Record.dsfs__Opportunity__r.Owner_Manager_Role_Copy__c}+&apos;;&apos;+&apos;Finance Segment: &apos;+{!$Record.dsfs__Opportunity__r.Finance_Segment__c}+&apos;;&apos;+&apos;Is Webstore: &apos;+IF({!$Record.dsfs__Opportunity__r.Is_Webstore_Upsell_Opportunity__c},&apos;TRUE&apos;,&apos;FALSE&apos;)+&apos;;&apos;+&apos;Payment Type: &apos;+{!$Record.dsfs__Opportunity__r.Payment_Type__c}+&apos;;&apos;+&apos;Owner Segment: &apos;+{!$Record.dsfs__Opportunity__r.Owner_Segment__c}+&apos;;&apos;+&apos;Is Renewal&apos;+IF({!$Record.dsfs__Opportunity__r.SBQQ__Renewal__c},&apos;TRUE&apos;,&apos;FALSE&apos;)+&apos;Name: &apos;+{!$Record.dsfs__Opportunity__r.Name}</expression>
    </formulas>
    <formulas>
        <description>to check if triggered records satisfies entry cirteria</description>
        <name>OVAEntryCriteria</name>
        <dataType>Boolean</dataType>
        <expression>AND(
	NOT(
	{!$Record.dsfs__Opportunity__r.Custom_Schedule__c} = true
	|| NOT(ISPICKVAL({!$Record.dsfs__Opportunity__r.Type}, &apos;Revenue Opportunity&apos;))
	|| CONTAINS({!$Record.dsfs__Opportunity__r.Owner_Role_Copy__c}, &apos;SLED&apos;)
	|| CONTAINS({!$Record.dsfs__Opportunity__r.Owner_Manager_Role_Copy__c}, &apos;SLED&apos;)
	|| (({!$Record.dsfs__Opportunity__r.Finance_Segment__c} = &apos;Enterprise&apos; &amp;&amp; {!$Record.dsfs__Opportunity__r.Is_Webstore_Upsell_Opportunity__c} = false))
	|| {!$Record.dsfs__Opportunity__r.Payment_Type__c} = &apos;Reseller&apos;
	|| {!$Record.dsfs__Opportunity__r.Owner_Segment__c} = &apos;AE1&apos;
	|| {!$Record.dsfs__Opportunity__r.Payment_Type__c} = &apos;Finance Partner&apos;
	|| {!$Record.dsfs__Opportunity__r.SBQQ__Renewal__c} = true
	|| CONTAINS({!$Record.dsfs__Opportunity__r.Name},&apos;INVENTORYSPLIT&apos;)
	)
)</expression>
    </formulas>
    <formulas>
        <description>To combine Opportunity Owner First name and Last Name</description>
        <name>ownername</name>
        <dataType>String</dataType>
        <expression>{!$Record.dsfs__Opportunity__r.Owner.FirstName}+&apos; &apos;+{!$Record.dsfs__Opportunity__r.Owner.LastName}</expression>
    </formulas>
    <formulas>
        <description>GTMS-18053: to created bill contact name value from queried quote record.</description>
        <name>Quote_BillToContact_Name</name>
        <dataType>String</dataType>
        <expression>{!Get_Primary_Quote.Bill_to_Contact__r.FirstName}+&apos; &apos;+{!Get_Primary_Quote.Bill_to_Contact__r.LastName}</expression>
    </formulas>
    <formulas>
        <description>to store quote license term value</description>
        <name>Quote_License_Term</name>
        <dataType>Number</dataType>
        <expression>IF(AND(NOT(ISNULL({!$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__c})), NOT(ISBLANK({!$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__c}))), VALUE(TEXT({!$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__r.License_Term__c})),VALUE(TEXT({!Get_Primary_Quote.License_Term__c})))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Docusign Scheduled Updated Flow For Webstore Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Docusign Scheduled Updated Flow For Webstore Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>GTMS-19977: to fetch the docusign records</description>
        <name>Fetch_Docusign_Records</name>
        <label>Fetch Docusign Records</label>
        <locationX>1109</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Docusign_Record_Count_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>dsfs__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.dsfs__Opportunity__c</elementReference>
            </value>
        </filters>
        <object>dsfs__DocuSign_Status__c</object>
        <outputReference>Docusign_List</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Docusign_Records_Data</name>
        <label>Get Docusign Records Data</label>
        <locationX>323</locationX>
        <locationY>355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_Docusign_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>dsfs__DocuSign_Status__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>GTMS-18053: to get primary quote related to opportunity</description>
        <name>Get_Primary_Quote</name>
        <label>Get Primary Quote</label>
        <locationX>611</locationX>
        <locationY>643</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_Quote_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Opportunity2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.dsfs__Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Bill_to_Contact__c</queriedFields>
        <queriedFields>Bill_to_Account__c</queriedFields>
        <queriedFields>Consolidated_Billing_Email__c</queriedFields>
        <queriedFields>Customer_Preferred_Payment_Method__c</queriedFields>
        <queriedFields>License_Term__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Payment_Terms__c</queriedFields>
        <queriedFields>Sales_Tax__c</queriedFields>
        <queriedFields>Selected_Payment_Type__c</queriedFields>
        <queriedFields>Shipping_and_Handling__c</queriedFields>
        <queriedFields>of_HW_Products__c</queriedFields>
        <queriedFields>Of_LIC_Products__c</queriedFields>
        <queriedFields>Total_License_Price__c</queriedFields>
        <queriedFields>Total_License_Due__c</queriedFields>
        <queriedFields>Total_Hardware_Due__c</queriedFields>
        <queriedFields>Estimated_Upfront_Amount__c</queriedFields>
        <queriedFields>Next_Recurring_Bill_Date__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>GTMS-18350: to map DocuSign fields data from Quote query</description>
        <name>Docusign_Fields_Update_for_OVA_From_Quote_Query</name>
        <label>Docusign Fields Update for OVA From Quote Query</label>
        <locationX>953</locationX>
        <locationY>707</locationY>
        <connector>
            <targetReference>IS_Small_Fleet_or_No_LIC_AND_No_HW_Webstore_Oppty_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>$Record.dsfs__Opportunity__r.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Balance_Due__c</field>
            <value>
                <elementReference>$Record.dsfs__Opportunity__r.Balance_Due__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Contact_Email__c</field>
            <value>
                <elementReference>Get_Primary_Quote.Bill_to_Contact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Contact_Name__c</field>
            <value>
                <elementReference>Quote_BillToContact_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Contact_Phone__c</field>
            <value>
                <elementReference>Get_Primary_Quote.Bill_to_Contact__r.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Contact_Title__c</field>
            <value>
                <elementReference>Get_Primary_Quote.Bill_to_Contact__r.Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_City__c</field>
            <value>
                <elementReference>Get_Primary_Quote.Bill_to_Account__r.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Company_Name__c</field>
            <value>
                <elementReference>Get_Primary_Quote.Bill_to_Account__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Country__c</field>
            <value>
                <elementReference>Get_Primary_Quote.Bill_to_Account__r.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Email__c</field>
            <value>
                <elementReference>Get_Primary_Quote.Consolidated_Billing_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Postal_Code__c</field>
            <value>
                <elementReference>Get_Primary_Quote.Bill_to_Account__r.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_State__c</field>
            <value>
                <elementReference>Get_Primary_Quote.Bill_to_Account__r.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Street__c</field>
            <value>
                <elementReference>Get_Primary_Quote.Bill_to_Account__r.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Preferred_Payment_Method__c</field>
            <value>
                <elementReference>Get_Primary_Quote.Customer_Preferred_Payment_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Has_Record_Been_Updated__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>License_Term__c</field>
            <value>
                <elementReference>Quote_License_Term</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Recurring_Bill_Date__c</field>
            <value>
                <elementReference>Get_Primary_Quote.Next_Recurring_Bill_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opp_Currency__c</field>
            <value>
                <elementReference>Get_Primary_Quote.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Terms__c</field>
            <value>
                <elementReference>Get_Primary_Quote.Payment_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Quote_Status__c</field>
            <value>
                <elementReference>$Label.Primary_Quote_Not_Mapped_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Quote__c</field>
            <value>
                <elementReference>Get_Primary_Quote.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Tax_Amount__c</field>
            <value>
                <elementReference>Get_Primary_Quote.Sales_Tax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Selected_Payment_Type__c</field>
            <value>
                <elementReference>Get_Primary_Quote.Selected_Payment_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_And_Handling__c</field>
            <value>
                <elementReference>Get_Primary_Quote.Shipping_and_Handling__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Hardware_Due__c</field>
            <value>
                <elementReference>Get_Primary_Quote.Estimated_Upfront_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_License_Cost__c</field>
            <value>
                <elementReference>Get_Primary_Quote.Total_License_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_License_Due__c</field>
            <value>
                <elementReference>Get_Primary_Quote.Total_License_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dsfs__Company__c</field>
            <value>
                <elementReference>$Record.dsfs__Opportunity__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>of_HW_Products__c</field>
            <value>
                <elementReference>Get_Primary_Quote.of_HW_Products__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>of_LIC_Products__c</field>
            <value>
                <elementReference>Get_Primary_Quote.Of_LIC_Products__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>GTMS-17662: Created as part of Webstore Oppty bug.
GTMS-19277: Updated Billing email mapping on docusign with Consolidated Billing Email field on Quote. - 3/7/24</description>
        <name>Docusign_Fields_Update_for_OVA_in_Asnyc</name>
        <label>Docusign Fields Update for OVA in Asnyc</label>
        <locationX>370</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>IS_Small_Fleet_or_No_LIC_AND_No_HW_Webstore_Oppty_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>$Record.dsfs__Opportunity__r.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Balance_Due__c</field>
            <value>
                <elementReference>$Record.dsfs__Opportunity__r.Balance_Due__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Contact_Email__c</field>
            <value>
                <elementReference>$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__r.Bill_to_Contact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Contact_Name__c</field>
            <value>
                <elementReference>Bill_To_Contact_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Contact_Phone__c</field>
            <value>
                <elementReference>$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__r.Bill_to_Contact__r.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Contact_Title__c</field>
            <value>
                <elementReference>$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__r.Bill_to_Contact__r.Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_City__c</field>
            <value>
                <elementReference>$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__r.Bill_to_Account__r.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Company_Name__c</field>
            <value>
                <elementReference>$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__r.Bill_to_Account__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Country__c</field>
            <value>
                <elementReference>$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__r.Bill_to_Account__r.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Email__c</field>
            <value>
                <elementReference>$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__r.Consolidated_Billing_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Postal_Code__c</field>
            <value>
                <elementReference>$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__r.Bill_to_Account__r.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_State__c</field>
            <value>
                <elementReference>$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__r.Bill_to_Account__r.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Street__c</field>
            <value>
                <elementReference>$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__r.Bill_to_Account__r.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Preferred_Payment_Method__c</field>
            <value>
                <elementReference>$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__r.Customer_Preferred_Payment_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Has_Record_Been_Updated__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>License_Term__c</field>
            <value>
                <elementReference>Quote_License_Term</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Recurring_Bill_Date__c</field>
            <value>
                <elementReference>$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__r.Next_Recurring_Bill_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opp_Currency__c</field>
            <value>
                <elementReference>$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__r.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Terms__c</field>
            <value>
                <elementReference>$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__r.Payment_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Quote_Status__c</field>
            <value>
                <elementReference>$Label.Primary_Quote_Mapped_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Quote__c</field>
            <value>
                <elementReference>$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Tax_Amount__c</field>
            <value>
                <elementReference>$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__r.Sales_Tax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Selected_Payment_Type__c</field>
            <value>
                <elementReference>$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__r.Selected_Payment_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_And_Handling__c</field>
            <value>
                <elementReference>$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__r.Shipping_and_Handling__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Hardware_Due__c</field>
            <value>
                <elementReference>$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__r.Estimated_Upfront_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_License_Cost__c</field>
            <value>
                <elementReference>$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__r.Total_License_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_License_Due__c</field>
            <value>
                <elementReference>$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__r.Total_License_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>dsfs__Company__c</field>
            <value>
                <elementReference>$Record.dsfs__Opportunity__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>of_HW_Products__c</field>
            <value>
                <elementReference>$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__r.of_HW_Products__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>of_LIC_Products__c</field>
            <value>
                <elementReference>$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__r.Of_LIC_Products__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>GTMS-20305: created to recalculate the primary quote</description>
        <name>Recalculate_The_Primary_Quote</name>
        <label>Recalculate The Primary Quote</label>
        <locationX>160</locationX>
        <locationY>361</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Opportunity2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.dsfs__Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Recalculate_Quote__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>GTMS-20305: created to recalculate the primary quote</description>
        <name>Recalculate_The_Quote</name>
        <label>Recalculate The Quote</label>
        <locationX>50</locationX>
        <locationY>104</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.dsfs__Opportunity__r.SBQQ__PrimaryQuote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Recalculate_Quote__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OVA_Entry_Criteria_fields</name>
        <label>Update OVA Entry Criteria fields</label>
        <locationX>793</locationX>
        <locationY>453</locationY>
        <connector>
            <targetReference>Async_Docusign_Field_Mapping_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>OVA_Docusign_Field_Tracking__c</field>
            <value>
                <elementReference>OVA_Field_Details</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>GTMS-17662: Updating small fleet oppty stage to closing</description>
        <name>Update_Small_Fleets_Oppty_To_Closing</name>
        <label>Update Small Fleets Oppty To Closing</label>
        <locationX>1308</locationX>
        <locationY>913</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.dsfs__Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closing</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>612</locationX>
        <locationY>47</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>dsfs__Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Has_Record_Been_Updated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Webstore_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>dsfs__DocuSign_Status__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Aysnc_path_for_Webstore_oppty_related_docusign_records</name>
            <connector>
                <targetReference>Checking_Small_Fleet_Condition</targetReference>
            </connector>
            <label>Aysnc path for Webstore oppty related docusign records</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Opportunity_Updated_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Async_Path_for_Webstore_oppty_related_to_docusign_records_path_2</name>
            <connector>
                <targetReference>Get_Docusign_Records_Data</targetReference>
            </connector>
            <label>Async Path for Webstore oppty related to docusign records path 2</label>
            <offsetNumber>15</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Opportunity_Updated_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Asyn_Path_For_Webstore_Deals_To_Recalculate_The_Quote</name>
            <connector>
                <targetReference>Opportunity_Primary_Quote_Check_For_Quote_Recalculation</targetReference>
            </connector>
            <label>Asyn Path For Webstore Deals To Recalculate The Quote</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Opportunity_Updated_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_StageName_Values</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityFieldHistory</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityFieldHistory</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>dsfs__DocuSign_Status__c</objectType>
    </variables>
    <variables>
        <name>Docusign_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>dsfs__DocuSign_Status__c</objectType>
    </variables>
    <variables>
        <name>Docusign_Record_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
