force-app/main/default/flows/Docusign_Before_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Values_for_Docusign_Fields</name>
        <label>Assign Values for Docusign Fields</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Has_Record_Been_Updated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Opportunity_Updated_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Checking_Opportunity_Change</name>
        <label>Checking Opportunity Change</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_the_Opportunity_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.dsfs__Opportunity__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_for_Docusign_Fields</targetReference>
            </connector>
            <label>Checking the Opportunity Change</label>
        </rules>
    </decisions>
    <description>GTMS-17662: Initial Creation
GTMS-19977: to store opportunity updated date time</description>
    <environments>Default</environments>
    <formulas>
        <name>IsOpportunityChanged</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.dsfs__Opportunity__c} &lt;&gt; {!$Record__Prior.dsfs__Opportunity__c} &amp;&amp; {!$Record.dsfs__Opportunity__c} != null</expression>
    </formulas>
    <interviewLabel>Docusign Before Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Docusign Before Update Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checking_Opportunity_Change</targetReference>
        </connector>
        <object>dsfs__DocuSign_Status__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
