force-app/main/default/flows/Email_Reminder_for_Managers_to_approve_Remorse_Refunds.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Reminder_10_Days</name>
        <label>Email Reminder 10 Days</label>
        <locationX>835</locationX>
        <locationY>600</locationY>
        <actionName>Opportunity.Email_Reminder_for_Managers_to_approve_remorse_refund_10_days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Email_Reminder_for_Managers_to_approve_remorse_refund_10_days</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_reminder_20_days</name>
        <label>Email reminder 20 days</label>
        <locationX>1026</locationX>
        <locationY>603</locationY>
        <actionName>Opportunity.Email_Reminder_for_Managers_to_approve_remorse_refund_20_days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Email_Reminder_for_Managers_to_approve_remorse_refund_20_days</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Reminder_5_days</name>
        <label>Email Reminder 5 days</label>
        <locationX>642</locationX>
        <locationY>595</locationY>
        <actionName>Opportunity.Email_Reminder_for_Managers_to_approve_remorse_refund_5_days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Email_Reminder_for_Managers_to_approve_remorse_refund_5_days</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>GTMS-4549</description>
    <environments>Default</environments>
    <formulas>
        <name>Fivedayreminder</name>
        <dataType>DateTime</dataType>
        <expression>({!$Record.LastModifiedDate} + 5)</expression>
    </formulas>
    <interviewLabel>Email Reminders for Remor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Reminder for Managers to approve Remorse Refunds</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>704</locationX>
        <locationY>46</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Reminder_Field__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X5_days</name>
            <connector>
                <targetReference>Email_Reminder_5_days</targetReference>
            </connector>
            <label>5 days</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X10_days</name>
            <connector>
                <targetReference>Email_Reminder_10_Days</targetReference>
            </connector>
            <label>10 days</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X20_days</name>
            <connector>
                <targetReference>Email_reminder_20_days</targetReference>
            </connector>
            <label>20 days</label>
            <offsetNumber>20</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
