force-app/main/default/flows/Feature_Request_Batch_Approve_Reject.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Status_as_Approved</name>
        <label>Assign Status as Approved</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>FrRecord.Monitor_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FrRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Looping_Selected_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_as_Rejected</name>
        <label>Assign Status as Rejected</label>
        <locationX>528</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>FrRecord.Monitor_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FrRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Looping_Selected_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Records</name>
        <label>Collect Records</label>
        <locationX>396</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>FrRecordsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FrRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_Selected_Records</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>approve</name>
        <choiceText>Approve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </choices>
    <choices>
        <name>reject</name>
        <choiceText>Reject</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reject</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Approve_or_reject</name>
        <label>Is Approve or reject</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Status_as_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>actions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>approve</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_as_Approved</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Feature Request Batch Approve/Reject {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Feature Request Batch Approve/Reject</label>
    <loops>
        <name>Looping_Selected_Records</name>
        <label>Looping Selected Records</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Selected_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Approve_or_reject</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Selected_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Selected_records</name>
        <label>Get Selected records</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Show_Record_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>acideasULT__brIdea__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Selected_Records</name>
        <label>Update Selected Records</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>FrRecordsList</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>440</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>updateError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Record_Ids</name>
        <label>Show Record Ids</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Looping_Selected_Records</targetReference>
        </connector>
        <fields>
            <name>actions</name>
            <choiceReferences>approve</choiceReferences>
            <choiceReferences>reject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please Select to action the perform?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Selected_records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FrRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>acideasULT__brIdea__c</objectType>
    </variables>
    <variables>
        <name>FrRecordsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>acideasULT__brIdea__c</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
