force-app/main/default/flows/Free_Trial_Decision.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Free_Trial_Opportunity</name>
        <label>Create Free Trial Opportunity</label>
        <locationX>754</locationX>
        <locationY>2288</locationY>
        <actionName>FreeTrialDecisionsHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contractId</name>
            <value>
                <elementReference>contractRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityFTId</name>
            <value>
                <elementReference>freeTrialOpporunityId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>currentRevenueOpptyId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityType</name>
            <value>
                <elementReference>opportunityType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opptyProducts</name>
            <value>
                <elementReference>optyProductList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productIdListStr</name>
            <value>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <nameSegment>FreeTrialDecisionsHandler</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Partial_FT_Opportunity</name>
        <label>Create Partial FT Opportunity</label>
        <locationX>446</locationX>
        <locationY>2480</locationY>
        <actionName>FreeTrialDecisionsHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contractId</name>
            <value>
                <elementReference>contractRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityFTId</name>
            <value>
                <elementReference>freeTrialOpporunityId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>currentRevenueOpptyId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityType</name>
            <value>
                <elementReference>opportunityType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opptyProducts</name>
            <value>
                <elementReference>optyProductList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productIdListStr</name>
            <value>
                <elementReference>productInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serialNumberStr</name>
            <value>
                <elementReference>serialNumberList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FreeTrialDecisionsHandler</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_Contract_Id</name>
        <label>assign Contract Id</label>
        <locationX>3262</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>contractRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Opportunity_Info.ContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Opportunity_Info.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>freeTrialOpporunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Opportunity_Info.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>check_for_Contract_id_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Contract_Record_Id</name>
        <label>assign Contract Record Id</label>
        <locationX>724</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>contractRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contract_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_opportunity_contract_to_variable</name>
        <label>assign opportunity contract to variable</label>
        <locationX>2602</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>contractRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_opportunity_contract.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>freeTrialDecisionTaken</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_opportunity_contract.Free_Trial_Decision_Taken__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Oppty_FT_Taken</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_revenue_opportunity_id</name>
        <label>assign revenue opportunity id</label>
        <locationX>1728</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>currentRevenueOpptyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Details.SBQQ__Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Details.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_currentOpportunity_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>get_revoppty_details</name>
        <label>get revoppty details</label>
        <locationX>2668</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_optytypedetails.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contractRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_optytypedetails.ContractId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_for_Contract_id_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>get_the_FT_take_flag</name>
        <label>get the FT take flag</label>
        <locationX>2866</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>freeTrialDecisionTaken</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_contract_info_thru_oppty.Free_Trial_Decision_Taken__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Oppty_FT_Taken</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Contract_has_Taken_flag</name>
        <label>set Contract FT has Taken flag</label>
        <locationX>724</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>freeTrialDecisionTaken</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Details.Free_Trial_Decision_Taken__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_FT_Decision_has_been_taken</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_currentOppty</name>
        <label>set currentOppty</label>
        <locationX>3130</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>currentRevenueOpptyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Contract_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Free_Trial_Return_Opportunity</name>
        <label>Set Free Trial Return Opportunity</label>
        <locationX>1282</locationX>
        <locationY>2180</locationY>
        <assignmentItems>
            <assignToReference>opportunityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Free Trial Return</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Free_Trial_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_free_trial_variable</name>
        <label>set free trial variable</label>
        <locationX>1332</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>freeTrialOpporunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Details.SBQQ__Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRevenueOpptyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Details.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Submit_to_Closing_Partial_Buy_enabled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_opportunity_id</name>
        <label>set opportunity id</label>
        <locationX>2668</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>opportunityRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRevenueOpptyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Opportunity_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Type</name>
        <label>Set Opportunity Type</label>
        <locationX>754</locationX>
        <locationY>2180</locationY>
        <assignmentItems>
            <assignToReference>opportunityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Revenue Opportunity</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Free_Trial_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_pb_type</name>
        <label>set pb type</label>
        <locationX>314</locationX>
        <locationY>2288</locationY>
        <assignmentItems>
            <assignToReference>opportunityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Free Trial Return</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Partial_FT_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_revenue_fields</name>
        <label>set revenue fields</label>
        <locationX>2668</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>currentRevenueOpptyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Opportunity_Info.TrialResolutionOppty__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Opportunity_Info.TrialResolutionOppty__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_optytypedetails</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Extension</name>
        <choiceText>Extension</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extension</stringValue>
        </value>
    </choices>
    <choices>
        <name>Full_Buy</name>
        <choiceText>Full Buy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Full Buy</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Buy</name>
        <choiceText>No Buy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Buy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Partial_Buy</name>
        <choiceText>Partial Buy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Partial Buy</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Automation_Disabled</name>
        <label>Automation Disabled</label>
        <locationX>1398</locationX>
        <locationY>1640</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Extension_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PartialBuyAutomationDisabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_contract</name>
        <label>check contract</label>
        <locationX>2470</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>assign_opportunity_contract_to_variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_there_contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_opportunity_contract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>opportunitycontract</targetReference>
            </connector>
            <label>is there contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_currentOpportunity_value</name>
        <label>check currentOpportunity value</label>
        <locationX>1728</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>check_if_Free_Trial_Is_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_currentOpportunity_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentRevenueOpptyId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Free_Trial_Record</targetReference>
            </connector>
            <label>has currentOpportunity value</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_Contract_id_Value</name>
        <label>check for Contract id Value</label>
        <locationX>2668</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>get_contract_info_thru_oppty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>contract_id_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contractRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_opportunity_contract</targetReference>
            </connector>
            <label>contract id is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_the_Opportunity_Type</name>
        <label>Check for the Opportunity Type</label>
        <locationX>1398</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>assign_revenue_opportunity_id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_opportunity_field_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract_Details.SBQQ__Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Free_Opportunity</targetReference>
            </connector>
            <label>is opportunity field null</label>
        </rules>
        <rules>
            <name>Is_Free_Trial_Opportunity_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract_Details.Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Free Trial Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_free_trial_variable</targetReference>
            </connector>
            <label>Is Free Trial Opportunity Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_Free_Trial_Is_null</name>
        <label>check if Free Trial Is null</label>
        <locationX>1728</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Check_if_Submit_to_Closing_Partial_Buy_enabled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_FT_Id_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>freeTrialOpporunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>No_Free_Opportunity</targetReference>
            </connector>
            <label>Is FT Id is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_FT_Decision_has_been_taken</name>
        <label>Check if FT Decision has been taken</label>
        <locationX>724</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Check_for_the_Opportunity_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_Decision_Made</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>freeTrialDecisionTaken</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FT_Decision</targetReference>
            </connector>
            <label>has Decision Made</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_opportunity_type</name>
        <label>check opportunity type</label>
        <locationX>2668</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>check_trialresolution</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>contract_is_null_and_resolution_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Opportunity_Info.ContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Opportunity_Info.TrialResolutionOppty__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>opportunitycontract</targetReference>
            </connector>
            <label>contract is null and resolution is null</label>
        </rules>
        <rules>
            <name>is_free_trial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Opportunity_Info.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Free Trial Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Opportunity_Info.TrialResolutionOppty__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_revenue_fields</targetReference>
            </connector>
            <label>is free trial</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_productInfoList</name>
        <label>check  productInfoList</label>
        <locationX>446</locationX>
        <locationY>2180</locationY>
        <defaultConnector>
            <targetReference>Create_Partial_FT_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>productInfoList_has_No_Value</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>productInfoList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>productInfoList</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>productInfoList</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_pb_type</targetReference>
            </connector>
            <label>productInfoList has No Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Record_Id_value</name>
        <label>check Record Id value</label>
        <locationX>2147</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>starts_with_800</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>800</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Contract_Record_Id</targetReference>
            </connector>
            <label>starts with 800</label>
        </rules>
        <rules>
            <name>starts_with_006</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_opportunity_id</targetReference>
            </connector>
            <label>starts with 006</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Selected_Buy_Option</name>
        <label>Check Selected Buy Option</label>
        <locationX>986</locationX>
        <locationY>1964</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Partial_Buy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FT_Buy_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Partial_Buy</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Products</targetReference>
            </connector>
            <label>Is Partial Buy</label>
        </rules>
        <rules>
            <name>Is_Full_Buy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FT_Buy_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Full_Buy</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_List</targetReference>
            </connector>
            <label>Is Full Buy</label>
        </rules>
        <rules>
            <name>Is_Extension</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FT_Buy_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Extension</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extension_Approval</targetReference>
            </connector>
            <label>Is Extension</label>
        </rules>
        <rules>
            <name>Is_No_Buy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FT_Buy_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Buy</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Buy_Product_List</targetReference>
            </connector>
            <label>Is No Buy</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_trialresolution</name>
        <label>check trialresolution</label>
        <locationX>3262</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>assign_Contract_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>trial_resolution_has_no_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Opportunity_Info.TrialResolutionOppty__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_currentOppty</targetReference>
            </connector>
            <label>trial resolution has no value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Oppty_FT_Taken</name>
        <label>Oppty FT Taken</label>
        <locationX>2668</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>check_currentOpportunity_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_the_FT_Been_Taken</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>freeTrialDecisionTaken</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>FT_Decision</targetReference>
            </connector>
            <label>has the FT Been Taken</label>
        </rules>
    </decisions>
    <description>created for GTMS-11890</description>
    <environments>Default</environments>
    <formulas>
        <name>calculatedEndDate</name>
        <dataType>Date</dataType>
        <expression>{!Get_Contract_Details.EndDate}</expression>
    </formulas>
    <interviewLabel>Free Trial Decision {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Free Trial Decision</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contract_Details</name>
        <label>Get Contract Details</label>
        <locationX>724</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_Contract_has_Taken_flag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contractRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_contract_info_thru_oppty</name>
        <label>get contract info thru oppty</label>
        <locationX>2866</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_the_FT_take_flag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contractRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Free_Trial_Record</name>
        <label>Get Free Trial Record</label>
        <locationX>1596</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_Free_Trial_Is_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TrialResolutionOppty__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentRevenueOpptyId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>freeTrialOpporunityId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_opportunity_contract</name>
        <label>get opportunity contract</label>
        <locationX>2470</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Opportunity_Info</name>
        <label>get Opportunity Info</label>
        <locationX>2668</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_opportunity_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>986</locationX>
        <locationY>1748</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buy_Option</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>freeTrialOpporunityId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>optyProductList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Oppty_Name__c</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_optytypedetails</name>
        <label>get optytypedetails</label>
        <locationX>2668</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_revoppty_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>986</locationX>
        <locationY>2672</locationY>
        <connector>
            <targetReference>Opportunity_Creation_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contractRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Free_Trial_Decision_Taken__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_opp</name>
        <label>update opp</label>
        <locationX>1018</locationX>
        <locationY>2180</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>freeTrialOpporunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Free_Trial_Approval__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Buy_Option</name>
        <label>Buy Option</label>
        <locationX>986</locationX>
        <locationY>1856</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Selected_Buy_Option</targetReference>
        </connector>
        <fields>
            <name>FT_Buy_Option</name>
            <choiceReferences>Full_Buy</choiceReferences>
            <choiceReferences>Partial_Buy</choiceReferences>
            <choiceReferences>No_Buy</choiceReferences>
            <choiceReferences>Extension</choiceReferences>
            <dataType>String</dataType>
            <fieldText>FT Buy Option</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Extension_Approval</name>
        <label>Extension Approval</label>
        <locationX>1018</locationX>
        <locationY>2072</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>update_opp</targetReference>
        </connector>
        <fields>
            <name>Approval_Request</name>
            <fieldText>&lt;p&gt;You are extending the Free trial for 15 more days.&lt;/p&gt;&lt;p&gt;Submit for Approval?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FT_Decision</name>
        <label>FT Decision</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FTTakenMessage</name>
            <fieldText>&lt;p&gt;Decision has been taken&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Buy_Product_List</name>
        <label>No Buy Product List</label>
        <locationX>1282</locationX>
        <locationY>2072</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Free_Trial_Return_Opportunity</targetReference>
        </connector>
        <fields>
            <name>NoBuyList</name>
            <extensionName>c:freeTrialContractDecision</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contractId</name>
                <value>
                    <elementReference>contractRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>freeTrialDecision</name>
                <value>
                    <elementReference>FT_Buy_Option</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Free_Opportunity</name>
        <label>No Free Opportunity</label>
        <locationX>1068</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Free_Trial_Opportunity</name>
            <fieldText>&lt;p&gt;No Free Trial Opportunity is associated to the contract&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Creation_Message</name>
        <label>Opportunity Creation Message</label>
        <locationX>986</locationX>
        <locationY>2780</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RequestAccepted</name>
            <fieldText>&lt;p&gt;Your request has been placed. You will be notified when Opportunity(s) are ready!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>opportunitycontract</name>
        <label>opportunitycontract</label>
        <locationX>2074</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>optycontract</name>
            <fieldText>&lt;p&gt;Opportunity is not linked to a contract&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_List</name>
        <label>Product List</label>
        <locationX>754</locationX>
        <locationY>2072</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Opportunity_Type</targetReference>
        </connector>
        <fields>
            <name>FullBuyList</name>
            <extensionName>c:freeTrialContractDecision</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contractId</name>
                <value>
                    <elementReference>contractRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>freeTrialDecision</name>
                <value>
                    <elementReference>FT_Buy_Option</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Products</name>
        <label>Select Products</label>
        <locationX>446</locationX>
        <locationY>2072</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>check_productInfoList</targetReference>
        </connector>
        <fields>
            <name>ProductList</name>
            <extensionName>c:freeTrialContractDecision</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contractId</name>
                <value>
                    <elementReference>contractRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>freeTrialDecision</name>
                <value>
                    <elementReference>FT_Buy_Option</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>productInfoList</assignToReference>
                <name>productInfo</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serialNumberList</assignToReference>
                <name>serialNumberInfo</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2021</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_Record_Id_value</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_if_Submit_to_Closing_Partial_Buy_enabled</name>
        <label>Check if Submit to Closing Partial Buy enabled</label>
        <locationX>1398</locationX>
        <locationY>1532</locationY>
        <connector>
            <targetReference>Automation_Disabled</targetReference>
        </connector>
        <flowName>Check_Automation_Status</flowName>
        <inputAssignments>
            <name>AutomationSettingName</name>
            <value>
                <stringValue>Submit To Closing Partial Buy</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>PartialBuyAutomationDisabled</assignToReference>
            <name>Automation_Disabled</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contractRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentRevenueOpptyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>freeTrialDecisionTaken</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>freeTrialOpporunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityLinkInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Revenue Opportunity</stringValue>
        </value>
    </variables>
    <variables>
        <name>optyProductList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>PartialBuyAutomationDisabled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>productInfoList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnOpportunityLinkInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serialNumberList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
