force-app/main/default/flows/Industrial_Pool_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>NewOwner</name>
        <label>NewOwner</label>
        <locationX>1895</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>ThisOppty.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedAccount.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_Oppty_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updated_Oppty_Owner</name>
        <label>Updated Oppty Owner</label>
        <locationX>1729</locationX>
        <locationY>762</locationY>
        <assignmentItems>
            <assignToReference>collReassignedOpptys</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ThisOppty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ChangeOpptyOwner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Confirmation_of_Transfer</name>
        <label>Confirmation of Transfer</label>
        <locationX>474</locationX>
        <locationY>718</locationY>
        <defaultConnector>
            <targetReference>End_of_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transferring_from_the_SFDC_Pool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Number_of_Pool_credits</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsOpptyOpen</name>
        <label>IsOpptyOpen</label>
        <locationX>1559</locationX>
        <locationY>428</locationY>
        <defaultConnector>
            <targetReference>ChangeOpptyOwner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OpptyOpen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ThisOppty.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ThisOppty.Probability</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>75.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewOwner</targetReference>
            </connector>
            <label>OpptyOpen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_Pool_credits</name>
        <label>Number of Pool credits</label>
        <locationX>413</locationX>
        <locationY>917</locationY>
        <defaultConnector>
            <targetReference>No_Pool_Credits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Industrial_MM</name>
            <conditionLogic>(1 or 2 or 3) and 4 and 5 and 6 and 7</conditionLogic>
            <conditions>
                <leftValueReference>varAccountRecord.Organization_Size__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1 - 99</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountRecord.Organization_Size__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100 - 499</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountRecord.Organization_Size__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>500 - 999</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>End Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountRecord.Territory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>User.Territory__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountRecord.Enterprise_Assignment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAccountRecord.Is_Owner_Pool_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Owner</targetReference>
            </connector>
            <label>Industrial MM</label>
        </rules>
    </decisions>
    <description>Adding conditions so that enterprise isn&apos;t using it</description>
    <environments>Default</environments>
    <formulas>
        <name>curUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>PoolCreditFormula</name>
        <dataType>Number</dataType>
        <expression>IF({!varUserRecord.Pool_Credits__c}&gt;0,({!varUserRecord.Pool_Credits__c} -1),0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TransitioningGeography</name>
        <dataType>String</dataType>
        <expression>TEXT({!varUserRecord.Transitioning_Geography__c})</expression>
    </formulas>
    <formulas>
        <name>UserGeography</name>
        <dataType>String</dataType>
        <expression>{!varUserRecord.Territory__c}</expression>
    </formulas>
    <formulas>
        <name>UserRole</name>
        <dataType>String</dataType>
        <expression>{!$UserRole.Name}</expression>
    </formulas>
    <interviewLabel>Industrial Pool Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Industrial Pool Request</label>
    <loops>
        <name>ChangeOpptyOwner</name>
        <label>ChangeOpptyOwner</label>
        <locationX>1378</locationX>
        <locationY>674</locationY>
        <assignNextValueToReference>ThisOppty</assignNextValueToReference>
        <collectionReference>collCurrentOppty</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsOpptyOpen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdatedOwnerOppty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>CurrentOppties</name>
        <label>CurrentOppties</label>
        <locationX>871</locationX>
        <locationY>1086</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChangeOpptyOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>collCurrentOppty</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Probability</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Existing_Accounts</name>
        <label>Existing Accounts</label>
        <locationX>82</locationX>
        <locationY>318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varAccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Account_transferred_from_Pool__c</queriedFields>
        <queriedFields>Record_Type__c</queriedFields>
        <queriedFields>Territory__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Organization_Size__c</queriedFields>
        <queriedFields>Enterprise_Assignment__c</queriedFields>
        <queriedFields>Is_Owner_Pool_User__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetUpdatedAccount</name>
        <label>GetUpdatedAccount</label>
        <locationX>677</locationX>
        <locationY>634</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>UpdatedAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>User</name>
        <label>User</label>
        <locationX>252</locationX>
        <locationY>322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flow_Introduction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Owner</name>
        <label>Update Account Owner</label>
        <locationX>672</locationX>
        <locationY>1087</locationY>
        <connector>
            <targetReference>GetUpdatedAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_transferred_from_Pool__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overwrite_Validation_Rule__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>curUserId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Overwrite_Validation_Rule</name>
        <label>Update Overwrite Validation Rule</label>
        <locationX>1388</locationX>
        <locationY>1132</locationY>
        <connector>
            <targetReference>Confirm_New_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Overwrite_Validation_Rule__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContact</name>
        <label>UpdateContact</label>
        <locationX>869</locationX>
        <locationY>635</locationY>
        <connector>
            <targetReference>CurrentOppties</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>UpdatedAccount.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatedOwnerOppty</name>
        <label>UpdatedOwnerOppty</label>
        <locationX>1387</locationX>
        <locationY>924</locationY>
        <connector>
            <targetReference>Update_Overwrite_Validation_Rule</targetReference>
        </connector>
        <inputReference>collReassignedOpptys</inputReference>
    </recordUpdates>
    <screens>
        <name>Change_Account_Owner</name>
        <label>Change Account Owner</label>
        <locationX>243</locationX>
        <locationY>512</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirmation_of_Transfer</targetReference>
        </connector>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varAccountRecord.Name</elementReference>
            </defaultValue>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Reassign_Owner</name>
            <fieldText>Please put check the below box if you would like to request this account from the Pool.</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Transferring_from_the_SFDC_Pool</name>
            <dataType>Boolean</dataType>
            <fieldText>Transferring from the SFDC Pool</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_New_Owner</name>
        <label>Confirm New Owner</label>
        <locationX>1687</locationX>
        <locationY>1123</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirmation</name>
            <fieldText>Account, {!varAccountRecord.Name} is now owned by {!varUserRecord.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Moving_on_Giphy</name>
            <fieldText>&lt;img src=&apos;https://media0.giphy.com/media/3o6fJ8lGiFR3aNdDbi/giphy.gif?cid=790b76115ca6344655494a5455703b1c&apos;, alt=&apos;Move&apos;, title=&apos;Moving&apos; width=’64’, height=’64’ /&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End_of_Flow</name>
        <label>End of Flow</label>
        <locationX>475</locationX>
        <locationY>551</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Flow_end</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You have decided not to take this account from the pool &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;To go back to the account &lt;a href=&quot;https://samsara.my.salesforce.com/{!AccountId}&quot;&gt;Click here!&lt;/a&gt; &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flow_Introduction</name>
        <label>Flow Introduction</label>
        <locationX>50</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Change_Account_Owner</targetReference>
        </connector>
        <fields>
            <name>Introduction</name>
            <fieldText>&lt;p&gt;You will be able to make take accounts from the pool by using this flow. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please follow the instructions on the next couple of pages.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Pool_Credits</name>
        <label>No Pool Credits</label>
        <locationX>262</locationX>
        <locationY>1112</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Credits</name>
            <fieldText>This account cannot be transferred into your name.  If you think you have gotten this message in error please email salesops@samsara.com
&lt;img src=&apos;http://www.reactiongifs.com/r/whid.gif&apos;, alt=&apos;Move&apos;, title=&apos;Panda&apos; width=’64’, height=’64’ /&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>101</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Existing_Accounts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AddressCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collCurrentOppty</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>collReassignedOpptys</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>PoolCredits</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>PoolCreditFormula</elementReference>
        </value>
    </variables>
    <variables>
        <name>ThisOppty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>UpdatedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUserRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
