force-app/main/default/flows/IronClad_Workflow_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Legal_Ops</name>
        <label>Send Email to Legal Ops</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Notification_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>legalOpsEmailRecipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>legalOpsEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>getOpportunity.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
            <value>
                <elementReference>ContentVersionFormula</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Sales_Ops</name>
        <label>Send Email to Sales Ops</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Notification_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>salesOpsEmailRecipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>salesOpsEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>getOpportunity.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
            <value>
                <elementReference>ContentVersionFormula</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>BuyoutDeal</name>
        <choiceText>Buyout Deal</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>checkBuyoutAmount</elementReference>
        </value>
    </choices>
    <choices>
        <name>dealBuyout</name>
        <choiceText>Buyout Deal</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>getOpportunity.Buyout_Opportunity__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>FinanceDeal</name>
        <choiceText>Finance Deal</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>checkFinancePartner</elementReference>
        </value>
    </choices>
    <choices>
        <name>NoneSelected</name>
        <choiceText>None</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <decisions>
        <name>check_for_IronClad_Permission</name>
        <label>check for IronClad Permission</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>IronClad_Workflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_IronCladPermission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.IronClad_Permission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOpportunity</targetReference>
            </connector>
            <label>has IronCladPermission</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckACVBookingValue</name>
        <label>Check ACV Booking Value</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Notification_Sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_ACV_Bookings_greaterthan_100K</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpportunity.ACV_Bookings_SOT__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>formulaACVBooking</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Legal_Ops</targetReference>
            </connector>
            <label>If ACV Bookings &gt;$100K</label>
        </rules>
        <rules>
            <name>If_ACV_Bookings_lessthan_100K</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpportunity.ACV_Bookings_SOT__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>formulaACVBooking</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Sales_Ops</targetReference>
            </connector>
            <label>If ACV Bookings &lt;$100K</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>checkBuyoutAmount</name>
        <dataType>Boolean</dataType>
        <expression>IF({!getOpportunity.Buyout_Amount__c} != 0, True, False)</expression>
    </formulas>
    <formulas>
        <name>checkFinancePartner</name>
        <dataType>Boolean</dataType>
        <expression>IF({!getOpportunity.Finance_Partner__c} !=null, True, false)</expression>
    </formulas>
    <formulas>
        <name>ContentVersionFormula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!Version_Ids},&apos;[&apos;,&apos;&apos;),&apos;]&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>emailBody</name>
        <dataType>String</dataType>
        <expression>&quot;Hello Sales Ops team, &lt;br&gt;&lt;br&gt;&quot; &amp; BR() &amp;
BR() &amp;
&quot;I’m requesting the following special term(s) to be added to the Order Form for  &quot; &amp; {!getOpportunity.Name} &amp; BR() &amp; &quot;&lt;br&gt;&quot; &amp;
LEFT({!$Api.Partner_Server_URL_470}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_470}))&amp;{!recordId} &amp; BR() &amp;
BR() &amp; &quot;&lt;br&gt;&lt;br&gt;&quot; &amp;
{!Enter_Email_Details} &amp; BR() &amp;
BR() &amp; &quot;&lt;br&gt;&lt;br&gt;&quot; &amp;
&apos;Thank you, &apos; &amp; BR() &amp; &quot;&lt;br&gt;&quot; &amp;
{!getUserInfo.Name}</expression>
    </formulas>
    <formulas>
        <name>emailRecipient</name>
        <dataType>String</dataType>
        <expression>{!$Label.IronCladEmailRecipient}</expression>
    </formulas>
    <formulas>
        <name>formulaACVBooking</name>
        <dataType>Number</dataType>
        <expression>{!varAcvBookings}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formulaForNone</name>
        <dataType>Boolean</dataType>
        <expression>AND({!checkBuyoutAmount}=false,{!checkFinancePartner}=false)</expression>
    </formulas>
    <formulas>
        <name>formulaToCheckDealType</name>
        <dataType>Boolean</dataType>
        <expression>IF({!getOpportunity.Buyout_Amount__c} &gt; 0,{!BuyoutDeal}, (IF({!getOpportunity.Finance_Partner__c} != null,{!FinanceDeal},{!NoneSelected})))</expression>
    </formulas>
    <formulas>
        <name>legalOpsEmailBody</name>
        <dataType>String</dataType>
        <expression>&quot;Hello Legal Ops team, &lt;br&gt;&lt;br&gt;&quot; &amp; BR() &amp;
BR() &amp;
&quot;I’m requesting the following special term(s) to be added to the Order Form for  &quot; &amp; {!getOpportunity.Name} &amp; BR() &amp; &quot;&lt;br&gt;&lt;br&gt;&quot; &amp; BR() &amp; BR() &amp;
{!Enter_Email_Details} &amp; BR() &amp;
BR() &amp; &quot;&lt;br&gt;&lt;br&gt;&quot; &amp;
&quot;Is this a buyout or finance? &quot; &amp; BR() &amp; &quot;&lt;br&gt;&quot; &amp; 
&quot;Finance Partner: &quot; &amp; IF({!checkFinancePartner}=true, &apos;Yes&apos;, &apos;No&apos;) &amp; &quot;&lt;br&gt;&quot; &amp; 
&quot;Buyout Opportunity: &quot; &amp; IF({!checkBuyoutAmount}=true, &apos;Yes&apos;, &apos;No&apos;) &amp; &quot;&lt;br&gt;&quot; &amp; 
&quot;None: &quot; &amp; IF(AND({!checkBuyoutAmount}=false, {!checkFinancePartner}=false), &apos;Yes&apos;, &apos;No&apos;) &amp; &quot;&lt;br&gt;&quot; &amp;
LEFT({!$Api.Partner_Server_URL_470}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_470}))&amp;{!recordId} &amp; BR() &amp;
BR() &amp; &quot;&lt;br&gt;&lt;br&gt;&quot; &amp;
&apos;Thank you, &apos; &amp; BR() &amp; &quot;&lt;br&gt;&quot; &amp;
{!getUserInfo.Name}</expression>
    </formulas>
    <formulas>
        <name>legalOpsEmailRecipient</name>
        <dataType>String</dataType>
        <expression>{!$Label.IronCladLegalOpsEmailRecipient}</expression>
    </formulas>
    <formulas>
        <name>salesforceURL</name>
        <dataType>String</dataType>
        <expression>{!emailSubject}</expression>
    </formulas>
    <formulas>
        <name>salesOpsEmailBody</name>
        <dataType>String</dataType>
        <expression>&quot;Hello Sales Ops team, &lt;br&gt;&lt;br&gt;&quot; &amp; BR() &amp;
BR() &amp;
&quot;I’m requesting the following special term(s) to be added to the Order Form for  &quot; &amp; {!getOpportunity.Name} &amp; BR() &amp; &quot;&lt;br&gt;&lt;br&gt;&quot; &amp; BR() &amp; BR() &amp;
{!Enter_Email_Details} &amp; BR() &amp;
BR() &amp; &quot;&lt;br&gt;&lt;br&gt;&quot; &amp;
&quot;Is this a buyout or finance? &quot; &amp; BR() &amp; &quot;&lt;br&gt;&quot; &amp; 
&quot;Finance Partner: &quot; &amp; IF({!checkFinancePartner}=true, &apos;Yes&apos;, &apos;No&apos;) &amp; &quot;&lt;br&gt;&quot; &amp; 
&quot;Buyout Opportunity: &quot; &amp; IF({!checkBuyoutAmount}=true, &apos;Yes&apos;, &apos;No&apos;) &amp; &quot;&lt;br&gt;&quot; &amp;
LEFT({!$Api.Partner_Server_URL_470}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_470}))&amp;{!recordId} &amp; BR() &amp;
BR() &amp; &quot;&lt;br&gt;&lt;br&gt;&quot; &amp;

&apos;Thank you, &apos; &amp; BR() &amp; &quot;&lt;br&gt;&quot; &amp;
{!getUserInfo.Name}</expression>
    </formulas>
    <formulas>
        <name>salesOpsEmailRecipient</name>
        <dataType>String</dataType>
        <expression>{!$Label.IronCladSalesOpsEmailRecipient}</expression>
    </formulas>
    <interviewLabel>IronClad Workflow Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IronClad Workflow Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getOpportunity</name>
        <label>getOpportunity</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getUserInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUserInfo</name>
        <label>getUserInfo</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOpportunity.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>IronClad_Workflow</name>
        <label>IronClad Workflow</label>
        <locationX>754</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;You don&apos;t have access to send out IronClad Workflow Notification&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;. Please contact your Administrator/Sales Ops.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Notes</name>
        <label>Notes</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckACVBookingValue</targetReference>
        </connector>
        <fields>
            <name>Notes_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Notes_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Enter_Email_Details</name>
                    <fieldText>Enter Requested Special Terms</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Notes_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Upload_Files</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload Files</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.pdf,.docx</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>contentDocIds</name>
                        <value>
                            <elementReference>Document_Ids</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>contentVersionIds</name>
                        <value>
                            <elementReference>Version_Ids</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fileNames</name>
                        <value>
                            <elementReference>File_Names</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Type_of_Opportunity</name>
            <fieldText>&lt;p&gt;What type of Opportunity it is?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Finance_Deal</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>FinanceDeal</elementReference>
            </defaultValue>
            <fieldText>Finance Deal</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Buyout_Deal</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>checkBuyoutAmount</elementReference>
            </defaultValue>
            <fieldText>Buyout Deal</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Notification_Sent</name>
        <label>Notification Sent</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotificationMessage</name>
            <fieldText>&lt;p&gt;Workflow Notification has been sent to Sales Ops/Legal Team.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_for_IronClad_Permission</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentOpptyRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Document_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>IronClad Workflow concessions request notification</stringValue>
        </value>
    </variables>
    <variables>
        <name>File_Names</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAcvBookings</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>100000.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Version_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
