force-app/main/default/flows/New_Create_Partner_End_Customer_Discount_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Channel_Lead_Alert</name>
        <label>Channel Lead Alert</label>
        <locationX>1202</locationX>
        <locationY>562</locationY>
        <actionName>Channel_Relationship__c.Channel_Lead_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>UpdateLead</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>thisChannelRelationship.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Channel_Relationship__c.Channel_Lead_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Channel_Lead_Alert_Premium_Discount</name>
        <label>Channel Lead Alert Premium Discount</label>
        <locationX>1560</locationX>
        <locationY>560</locationY>
        <actionName>Channel_Relationship__c.Channel_Lead_Alert_Premium_Discount</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>UpdateLead</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>thisChannelRelationship.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Channel_Relationship__c.Channel_Lead_Alert_Premium_Discount</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Channel_Lead_Alert_Subsidy</name>
        <label>Channel Lead Alert Subsidy</label>
        <locationX>1679</locationX>
        <locationY>221</locationY>
        <actionName>Channel_Relationship__c.Channel_Lead_Alert_Subsidy</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>UpdateLead</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>thisChannelRelationship.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Channel_Relationship__c.Channel_Lead_Alert_Subsidy</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Alert_on_Failure</name>
        <label>Send Email Alert on Failure</label>
        <locationX>862</locationX>
        <locationY>730</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ErrorMessageEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>thisAE.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no-reply@samsara.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>An error occurred in the Create Partner End customer discount Opportunity Flow</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>GTMS-20575: Created as part of Partner Alignment project</description>
        <name>Assign_Fault_Message</name>
        <label>Assign Fault Message</label>
        <locationX>1103</locationX>
        <locationY>733</locationY>
        <assignmentItems>
            <assignToReference>Fault_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Alert_on_Failure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fleet_Record_Type_ID</name>
        <label>Set Fleet Record Type ID</label>
        <locationX>573</locationX>
        <locationY>164</locationY>
        <assignmentItems>
            <assignToReference>OpportunityTypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0121a000000ARoF</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Revenue_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Industrial_Record_Type</name>
        <label>Set Industrial Record Type</label>
        <locationX>566</locationX>
        <locationY>603</locationY>
        <assignmentItems>
            <assignToReference>OpportunityTypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0121a000000VnAB</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Revenue_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>GTMS-26936: Updated &quot;Equal&quot; operator to &quot;Contains&quot; operator in Subsidy Condition and PremiumDiscountCondition paths.</description>
        <name>ConditionForDealType</name>
        <label>ConditionForDealType</label>
        <locationX>1355</locationX>
        <locationY>208</locationY>
        <defaultConnector>
            <targetReference>Channel_Lead_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SubsidyCondition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>programType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Subsidy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Channel_Lead_Alert_Subsidy</targetReference>
            </connector>
            <label>SubsidyCondition</label>
        </rules>
        <rules>
            <name>PremiumDiscountCondition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>programType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Premium Discount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Channel_Lead_Alert_Premium_Discount</targetReference>
            </connector>
            <label>PremiumDiscountCondition</label>
        </rules>
    </decisions>
    <decisions>
        <description>GTMS-26739: Created as part of Parterns H1 project to check if source CR exists with Same partner</description>
        <name>Is_Source_CR_Exist_for_Same_Partner</name>
        <label>Is Source CR Exist for Same Partner</label>
        <locationX>930</locationX>
        <locationY>314</locationY>
        <defaultConnector>
            <targetReference>Is_Teaming_Partner_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Source CR Does Not Exists</defaultConnectorLabel>
        <rules>
            <name>Yes_Source_CR_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisChannelRelationship</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConditionForDealType</targetReference>
            </connector>
            <label>Yes, Source CR Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Teaming_Partner_Populated</name>
        <label>Is Teaming Partner Populated?</label>
        <locationX>849</locationX>
        <locationY>96</locationY>
        <defaultConnector>
            <targetReference>Create_Channel_Relationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TeamingPartner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TeamingPartner</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Channel_Relationship_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Record_Type</name>
        <label>Opportunity Record Type</label>
        <locationX>561</locationX>
        <locationY>376</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fleet_SITES_Opportunity</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>EndCustomerAccount.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121a000000VeLeAAK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EndCustomerAccount.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121P000000oQVgQAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fleet_Record_Type_ID</targetReference>
            </connector>
            <label>Fleet/SITES Opportunity</label>
        </rules>
        <rules>
            <name>Industrial_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EndCustomerAccount.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121a000000VnApAAK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Industrial_Record_Type</targetReference>
            </connector>
            <label>Industrial Opportunity</label>
        </rules>
    </decisions>
    <description>GTMS-16293: Updated flow to map Note__c field on opportunity with Lead field value from Create_Opp_for_Converted_Deal_Reg_Lead flow. Mapped Partern Oppty Description field on CR with More About Opportunity in lead on 2/1/24
GTMS-20575: Add Partner _Registration__c object record Update element to update opportunity field
GTMS-26124 &amp; GTMS-26107: Updated partner Program, Partner Enrollment  and Partner Interaction Type field values in CR
GTMS-26936: Updated &quot;Equal&quot; operator to &quot;Contains&quot; operator Whereever we have comparision with Sales Program Type values
GTMS-26973: Updated logic to check if the Auto Source CR is created or not
GTMS-29648: Removed SOQL queries for customer account and partner account.</description>
    <environments>Default</environments>
    <formulas>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+30</expression>
    </formulas>
    <formulas>
        <name>ExpirationDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+150</expression>
    </formulas>
    <formulas>
        <name>ReferralPartnerInfo</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!programType},&quot;Referral&quot;),{!PartnerSFAccount.Id},NULL)</expression>
    </formulas>
    <formulas>
        <name>ResellerPartnerInfo</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!programType},&quot;Resale&quot;),{!PartnerSFAccount.Id},NULL)</expression>
    </formulas>
    <interviewLabel>New Create Partner End Customer Discount Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Create Partner End Customer Discount Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Channel_Relationship</name>
        <label>Create Channel Relationship</label>
        <locationX>1080</locationX>
        <locationY>200</locationY>
        <assignRecordIdToReference>thisChannelRelationship.Id</assignRecordIdToReference>
        <connector>
            <targetReference>ConditionForDealType</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Fault_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AE_Email__c</field>
            <value>
                <elementReference>thisAE.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAM_Owner__c</field>
            <value>
                <elementReference>PartnerSFAccount.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner_Representative__c</field>
            <value>
                <elementReference>PartnerSFContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner_User_lr__c</field>
            <value>
                <elementReference>PartnerUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner__c</field>
            <value>
                <elementReference>PartnerSFAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Account__c</field>
            <value>
                <elementReference>EndCustomerAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Customer_Discount_CML__c</field>
            <value>
                <elementReference>PartnerSFAccount.End_Customer_Discount_CML__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Customer_Discount_MM_ENT__c</field>
            <value>
                <elementReference>PartnerSFAccount.End_Customer_Discount_MM_ENT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Executive_Introduction__c</field>
            <value>
                <elementReference>Partner_Registration.Executive_Introduction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Deal_Registration__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Customer_Insight__c</field>
            <value>
                <elementReference>Partner_Registration.Key_Customer_Insight__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_units__c</field>
            <value>
                <elementReference>NumberOfUnits</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>thisRevenueOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Discount__c</field>
            <value>
                <elementReference>PartnerSFAccount.Partner_Discount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Enrollment__c</field>
            <value>
                <elementReference>Partner_Registration.Partner_Program_Enrollment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Interaction_Type__c</field>
            <value>
                <elementReference>$Label.Partner_Influenced_Interaction_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Opportunity_Description__c</field>
            <value>
                <elementReference>MoreAboutOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Program_Segment__c</field>
            <value>
                <elementReference>PartnerSFAccount.Partner_Program_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Program__c</field>
            <value>
                <elementReference>Partner_Registration.Partner_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Registration__c</field>
            <value>
                <elementReference>Partner_Registration.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <stringValue>End Customer Discount</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>ProductType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Type__c</field>
            <value>
                <elementReference>programType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Approval_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Expiration_Date__c</field>
            <value>
                <elementReference>ExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Cycle_Investment__c</field>
            <value>
                <elementReference>Partner_Registration.Sales_Cycle_Investment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Samsara_Recommendation__c</field>
            <value>
                <elementReference>Partner_Registration.Samsara_Recommendation__c</elementReference>
            </value>
        </inputAssignments>
        <object>Channel_Relationship__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Channel_Relationship_0</name>
        <label>Create Channel Relationship</label>
        <locationX>1131</locationX>
        <locationY>50</locationY>
        <assignRecordIdToReference>thisChannelRelationship.Id</assignRecordIdToReference>
        <connector>
            <targetReference>ConditionForDealType</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Fault_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AE_Email__c</field>
            <value>
                <elementReference>thisAE.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAM_Owner__c</field>
            <value>
                <elementReference>PartnerSFAccount.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner_Representative__c</field>
            <value>
                <elementReference>PartnerSFContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner_User_lr__c</field>
            <value>
                <elementReference>PartnerUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner__c</field>
            <value>
                <elementReference>PartnerSFAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Account__c</field>
            <value>
                <elementReference>EndCustomerAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Customer_Discount_CML__c</field>
            <value>
                <elementReference>PartnerSFAccount.End_Customer_Discount_CML__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Customer_Discount_MM_ENT__c</field>
            <value>
                <elementReference>PartnerSFAccount.End_Customer_Discount_MM_ENT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Executive_Introduction__c</field>
            <value>
                <elementReference>Partner_Registration.Executive_Introduction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Deal_Registration__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Customer_Insight__c</field>
            <value>
                <elementReference>Partner_Registration.Key_Customer_Insight__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_units__c</field>
            <value>
                <elementReference>NumberOfUnits</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>thisRevenueOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Discount__c</field>
            <value>
                <elementReference>PartnerSFAccount.Partner_Discount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Enrollment__c</field>
            <value>
                <elementReference>Partner_Registration.Partner_Program_Enrollment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Interaction_Type__c</field>
            <value>
                <elementReference>$Label.Partner_Influenced_Interaction_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Opportunity_Description__c</field>
            <value>
                <elementReference>MoreAboutOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Program_Segment__c</field>
            <value>
                <elementReference>PartnerSFAccount.Partner_Program_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Program__c</field>
            <value>
                <elementReference>Partner_Registration.Partner_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Registration__c</field>
            <value>
                <elementReference>Partner_Registration.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <stringValue>End Customer Discount</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>ProductType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Approval_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Expiration_Date__c</field>
            <value>
                <elementReference>ExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Cycle_Investment__c</field>
            <value>
                <elementReference>Partner_Registration.Sales_Cycle_Investment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Samsara_Recommendation__c</field>
            <value>
                <elementReference>Partner_Registration.Samsara_Recommendation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Teaming_Partner__c</field>
            <value>
                <elementReference>PartnerSFAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Channel_Relationship__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Revenue_Opportunity</name>
        <label>Create Revenue Opportunity</label>
        <locationX>845</locationX>
        <locationY>373</locationY>
        <assignRecordIdToReference>thisRevenueOpportunity.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Auto_Created_Source_CR_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Fault_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>EndCustomerAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Can_Create__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>thisAE.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Installer__c</field>
            <value>
                <elementReference>Installer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance_Partner__c</field>
            <value>
                <elementReference>PartnerSFAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Deal_Registration__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Partner business registration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>MoreAboutOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>EndCustomerAccount.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>OpportunityTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Partner__c</field>
            <value>
                <elementReference>ReferralPartnerInfo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Contact__c</field>
            <value>
                <elementReference>EndCustomerContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reseller_Partner__c</field>
            <value>
                <elementReference>ResellerPartnerInfo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reseller__c</field>
            <value>
                <elementReference>ResellerPartnerInfo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Teaming_Partner__c</field>
            <value>
                <elementReference>TeamingPartner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Revenue Opportunity</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <description>GTMS-26739: Created as part of Partners H1 project to fetch Auto created Source CR</description>
        <name>Get_Auto_Created_Source_CR_Record</name>
        <label>Get Auto Created Source CR Record</label>
        <locationX>767</locationX>
        <locationY>249</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Source_CR_Exist_for_Same_Partner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisRevenueOpportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Channel_Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PartnerSFAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Partner_Interaction_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Partner_Sourced_Interaction_Type</elementReference>
            </value>
        </filters>
        <object>Channel_Relationship__c</object>
        <outputReference>thisChannelRelationship</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_User_Id</name>
        <label>Get Partner User Id</label>
        <locationX>378</locationX>
        <locationY>510</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PartnerSFContact.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>PartnerUserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_AE</name>
        <label>Lookup AE</label>
        <locationX>181</locationX>
        <locationY>385</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Partner_User_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EndCustomerAccount.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>thisAE</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateLead</name>
        <label>UpdateLead</label>
        <locationX>1856</locationX>
        <locationY>735</locationY>
        <faultConnector>
            <targetReference>Assign_Fault_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConvertedLeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Channel_Opportunity__c</field>
            <value>
                <elementReference>thisRevenueOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>152</locationY>
        <connector>
            <targetReference>Lookup_AE</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ErrorMessageEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Error occurred while creating an opportunity for the Deal Registration&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Lead Id - {!ConvertedLeadId}&lt;/p&gt;&lt;p&gt;Customer Account Id - {!EndCustomerAccount}&lt;/p&gt;&lt;p&gt;Customer Contact Id - {!EndCustomerContact}&lt;/p&gt;&lt;p&gt;Partner Account Id - {!PartnerSFAccount}&lt;/p&gt;&lt;p&gt;Partner Contact Id - {!PartnerSFContact}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error Message - {!$Flow.FaultMessage}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>OpportunityName</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>{!EndCustomerAccount.Name} [Channel]</text>
    </textTemplates>
    <variables>
        <name>ConvertedLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateOppPERecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CreateOpportunityEvent__e</objectType>
    </variables>
    <variables>
        <name>EndCustomerAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>EndCustomerContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>GTMS-20575: Created as part of Partner Alignment project</description>
        <name>Fault_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Installer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>GTMS-16293: created to map MoreAboutOpportunity field value in lead from Create_Opp_for_Converted_Deal_Reg_Lead flow</description>
        <name>MoreAboutOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberOfUnits</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OpportunityDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>GTMS-20575: Created as part of Partner Alignment project to map Partner Registration record</description>
        <name>Partner_Registration</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Partner_Registration__c</objectType>
    </variables>
    <variables>
        <name>PartnerSFAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>PartnerSFContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>PartnerUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>programType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RetryCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TeamingPartner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisAE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>thisChannelRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Channel_Relationship__c</objectType>
    </variables>
    <variables>
        <name>thisRevenueOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
