force-app/main/default/flows/New_Closed_Won.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Closed_Lost_Reason_Other_0</name>
        <label>Closed Lost Reason Other</label>
        <locationX>678</locationX>
        <locationY>1036</locationY>
        <assignmentItems>
            <assignToReference>closedWonReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_provide_any_relevant_context</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_VG_Deal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Closed_Won_Reason_Other</name>
        <label>Closed Won Reason Other</label>
        <locationX>889</locationX>
        <locationY>663</locationY>
        <assignmentItems>
            <assignToReference>closedWonReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_provide_any_relevant_context_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_VG_Deal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Not_UK_DE_FR</name>
        <label>Not_UK_DE_FR</label>
        <locationX>414</locationX>
        <locationY>904</locationY>
        <assignmentItems>
            <assignToReference>presentRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Why_did_we_won</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UK_FR_DE</name>
        <label>UK_FR_DE</label>
        <locationX>138</locationX>
        <locationY>899</locationY>
        <assignmentItems>
            <assignToReference>presentRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Why_did_we_won</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>SelectAnOption</name>
        <choiceText>Select an Option</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <decisions>
        <name>AG_Complete</name>
        <label>AG Complete?</label>
        <locationX>1478</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>CS_complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Select_An_Option</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AG_Incumbent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SelectAnOption</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AG_EMEA_Incumbent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SelectAnOption</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AG_Deal</targetReference>
            </connector>
            <label>Select An Option</label>
        </rules>
        <rules>
            <name>CS_deal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Sites_ACV_Bookings__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Connected_deal</targetReference>
            </connector>
            <label>CS deal</label>
        </rules>
    </decisions>
    <decisions>
        <name>AG_Deal_Decision</name>
        <label>AG Deal</label>
        <locationX>1293</locationX>
        <locationY>1246</locationY>
        <defaultConnector>
            <targetReference>AG_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Select_An_Option_CM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Incumbent_CM_Provider</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SelectAnOption</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CM_Incumbent_EMEA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SelectAnOption</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CM_Who_Did_We_Won_Against</targetReference>
            </connector>
            <label>Select An Option</label>
        </rules>
        <rules>
            <name>AG_Oppty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.AG_unit_count__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AG_Deal</targetReference>
            </connector>
            <label>AG_Oppty?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Permission_Set</name>
        <label>Check Permission Set</label>
        <locationX>267</locationX>
        <locationY>665</locationY>
        <defaultConnector>
            <targetReference>Closed_won_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Custom_Permission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Closed_Won_Flow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_Probability_Stage_Check</targetReference>
            </connector>
            <label>Check Custom Permission</label>
        </rules>
    </decisions>
    <decisions>
        <name>Closed_Won_Insight_Other</name>
        <label>Closed Won Insight Other</label>
        <locationX>566</locationX>
        <locationY>1091</locationY>
        <defaultConnector>
            <targetReference>Closed_Lost_Reason_Other_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reason_won</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other (please specify below)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Won_Reason_Other</targetReference>
            </connector>
            <label>Other</label>
        </rules>
        <rules>
            <name>Select_An_Option_Reason</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reason_won</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SelectAnOption</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Why_did_we_won</targetReference>
            </connector>
            <label>Select An Option</label>
        </rules>
    </decisions>
    <decisions>
        <name>CM_Deal</name>
        <label>CM Deal</label>
        <locationX>1093</locationX>
        <locationY>1010</locationY>
        <defaultConnector>
            <targetReference>AG_Deal_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Select_An_Option_VG</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Incumbent_Provider_VG</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SelectAnOption</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VG_Incumbent_EMEA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SelectAnOption</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VG_Who_did_we_won_against</targetReference>
            </connector>
            <label>Select An Option</label>
        </rules>
        <rules>
            <name>CM_Oppty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.CM_Unit_Count__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CM_Who_Did_We_Won_Against</targetReference>
            </connector>
            <label>CM Oppty</label>
        </rules>
    </decisions>
    <decisions>
        <name>CS_complete</name>
        <label>CS complete?</label>
        <locationX>1633</locationX>
        <locationY>1129</locationY>
        <defaultConnector>
            <targetReference>Select_An_Option_CE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Select_An_Option_CS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CS_Incumbent_US</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SelectAnOption</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Connected_deal</targetReference>
            </connector>
            <label>Select An Option</label>
        </rules>
        <rules>
            <name>CE_deal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Equipment_Bookings_ACV__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Equipment_Screen</targetReference>
            </connector>
            <label>CE deal</label>
        </rules>
    </decisions>
    <decisions>
        <name>currentUserRoleChk</name>
        <label>currentUserRoleChk</label>
        <locationX>297</locationX>
        <locationY>904</locationY>
        <defaultConnector>
            <targetReference>Not_UK_DE_FR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Uk</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Owner_Role_Copy__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>UK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Owner_Role_Copy__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Owner_Role_Copy__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UK_FR_DE</targetReference>
            </connector>
            <label>Uk_FR_DE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_VG_Deal</name>
        <label>Is VG Deal</label>
        <locationX>843</locationX>
        <locationY>817</locationY>
        <defaultConnector>
            <targetReference>CM_Deal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VG_Deal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.VG_unit_count__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Camera_Only_Deal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VG_Who_did_we_won_against</targetReference>
            </connector>
            <label>VG Deal</label>
        </rules>
        <rules>
            <name>CM_Deal_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Camera_Only_Deal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CM_Deal</targetReference>
            </connector>
            <label>CM Deal Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Probability_Stage_Check</name>
        <label>Opp Probability Stage Check</label>
        <locationX>297</locationX>
        <locationY>763</locationY>
        <defaultConnector>
            <targetReference>Closed_won_Error_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Probability_Stage_Check</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Probability</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>75.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>currentUserRoleChk</targetReference>
            </connector>
            <label>Probability Stage Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Select_An_Option_CE</name>
        <label>CE complete?</label>
        <locationX>1856</locationX>
        <locationY>1017</locationY>
        <defaultConnector>
            <targetReference>Win_Story_and_Acknowledgements</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Select_An_Option_CE_US</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CE_Incumbent_US</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SelectAnOption</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Equipment_Screen</targetReference>
            </connector>
            <label>Select An Option</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AG_Participated</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AG_Competitor_Participated__c</picklistField>
        <picklistObject>Closed_Deal_Insights__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AG_who_won</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AG_Competitor_Won__c</picklistField>
        <picklistObject>Closed_Deal_Insights__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AGIncumbent</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AG_Incum__c</picklistField>
        <picklistObject>Closed_Deal_Insights__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AGIncumbentEMEA</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AG_Incumbent_EMEA__c</picklistField>
        <picklistObject>Closed_Deal_Insights__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AGParticipatedEMEA</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AG_Competitor_Participated_EMEA__c</picklistField>
        <picklistObject>Closed_Deal_Insights__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AGWonEMEA</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AG_Competitor_Won_EMEA__c</picklistField>
        <picklistObject>Closed_Deal_Insights__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CE_Incumbent</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CE_Incumbent_US__c</picklistField>
        <picklistObject>Closed_Deal_Insights__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CE_Participated</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CE_Competitor_Participated_US__c</picklistField>
        <picklistObject>Closed_Deal_Insights__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CE_Won</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CE_Competitor_Won_US__c</picklistField>
        <picklistObject>Closed_Deal_Insights__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Closed_Won_Reasons</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Closed_Won_Reasons__c</picklistField>
        <picklistObject>Closed_Deal_Insights__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ClosedReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Closed_Won_Reason__c</picklistField>
        <picklistObject>Closed_Deal_Insights__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CM_Incumbent</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CM_Incumbent__c</picklistField>
        <picklistObject>Closed_Deal_Insights__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CM_Participated</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CM_Competitor_Participated__c</picklistField>
        <picklistObject>Closed_Deal_Insights__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CM_Participated_EMEA</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CM_Competitor_Participated_EMEA__c</picklistField>
        <picklistObject>Closed_Deal_Insights__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CM_Who_Won</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CM_Competitor_Won__c</picklistField>
        <picklistObject>Closed_Deal_Insights__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CMIncumbentEMEA</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CM_Incumbent_EMEA__c</picklistField>
        <picklistObject>Closed_Deal_Insights__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CMWonEMEA</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CM_Competitor_Won_EMEA__c</picklistField>
        <picklistObject>Closed_Deal_Insights__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Comp_Won</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Competitor_that_won__c</picklistField>
        <picklistObject>Closed_Deal_Insights__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CS_Participated_US</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CS_Competitor_Participated_US__c</picklistField>
        <picklistObject>Closed_Deal_Insights__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CS_Who_Won_US</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CS_Competitor_Won_US__c</picklistField>
        <picklistObject>Closed_Deal_Insights__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CSIncumbentUS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CS_Incumbent_US__c</picklistField>
        <picklistObject>Closed_Deal_Insights__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CurrentCameranewPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Current_Camera_Provider__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Follow_Up</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Follow_Up_Timeframe__c</picklistField>
        <picklistObject>Closed_Deal_Insights__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Incumbent</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Incumbent_provider__c</picklistField>
        <picklistObject>Closed_Deal_Insights__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ParticipatedinDeal</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Competitors_participated_in_the_deal__c</picklistField>
        <picklistObject>Closed_Deal_Insights__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Test12</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Current_Camera_Provider__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TestApename</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Current_Camera_Provider__c</picklistField>
        <picklistObject>Account</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VG_Competitor</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>VG_Competitor_Participated__c</picklistField>
        <picklistObject>Closed_Deal_Insights__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VG_Incumbent</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>VG_Incumbent__c</picklistField>
        <picklistObject>Closed_Deal_Insights__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VG_Who_Won</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>VG_Competitor_Won__c</picklistField>
        <picklistObject>Closed_Deal_Insights__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VGIncumbentEMEA</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>VG_Incumbent_EMEA__c</picklistField>
        <picklistObject>Closed_Deal_Insights__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VGParticipatedEMEA</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>VG_Competitor_Participated_EMEA__c</picklistField>
        <picklistObject>Closed_Deal_Insights__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VGWonEMEA</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>VG_Competitor_Won_EMEA__c</picklistField>
        <picklistObject>Closed_Deal_Insights__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Role</name>
        <dataType>String</dataType>
        <expression>{!$UserRole.Name}</expression>
    </formulas>
    <interviewLabel>New Closed Won {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Closed Won</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Closed_Record</name>
        <label>Create Closed Record</label>
        <locationX>2057</locationX>
        <locationY>469</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AG_Competitor_Participated_EMEA__c</field>
            <value>
                <elementReference>AG_EMEA_Participated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AG_Competitor_Participated__c</field>
            <value>
                <elementReference>Who_Participated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AG_Incum__c</field>
            <value>
                <elementReference>AG_Incumbent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AG_Incumbent_EMEA__c</field>
            <value>
                <elementReference>AG_EMEA_Incumbent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CE_Competitor_Participated_US__c</field>
            <value>
                <elementReference>CE_Participated_US</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CE_Incumbent_US__c</field>
            <value>
                <elementReference>CE_Incumbent_US</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CM_Competitor_Participated_EMEA__c</field>
            <value>
                <elementReference>CM_EMEA_Participated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CM_Competitor_Participated__c</field>
            <value>
                <elementReference>Who_Participated_CM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CM_Incumbent__c</field>
            <value>
                <elementReference>Incumbent_CM_Provider</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_Competitor_Participated_US__c</field>
            <value>
                <elementReference>CS_Who_Participated_US</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_Incumbent_US__c</field>
            <value>
                <elementReference>CS_Incumbent_US</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closed_Won_Reasons__c</field>
            <value>
                <elementReference>Closed_Won_Reasons</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_Up_Timeframe__c</field>
            <value>
                <elementReference>Follow_Up</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes_Why_we_won__c</field>
            <value>
                <elementReference>closedWonReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VG_Competitor_Participated_EMEA__c</field>
            <value>
                <elementReference>VG_Competitor_Participated_EMEA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VG_Competitor_Participated__c</field>
            <value>
                <elementReference>Who_did_we_compete_against_VG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VG_Incumbent_EMEA__c</field>
            <value>
                <elementReference>VG_Incumbent_EMEA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VG_Incumbent__c</field>
            <value>
                <elementReference>Incumbent_Provider_VG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_is_your_win_story__c</field>
            <value>
                <elementReference>What_is_your_win_story</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Who_would_you_like_to_thank_for_winning__c</field>
            <value>
                <elementReference>Who_would_you_like_to_thank_for_winning_the_deal</elementReference>
            </value>
        </inputAssignments>
        <object>Closed_Deal_Insights__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>306</locationX>
        <locationY>582</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpptyId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>1858</locationX>
        <locationY>465</locationY>
        <connector>
            <targetReference>Create_Closed_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpptyId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>AG_Deal</name>
        <label>AG Deal</label>
        <locationX>1445</locationX>
        <locationY>712</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AG_Complete</targetReference>
        </connector>
        <fields>
            <name>Screen_4</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 24px;&quot;&gt;Competitive Intelligence - Asset Tracking (AG)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text_70</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text_80</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AG_Incumbent</name>
            <choiceReferences>SelectAnOption</choiceReferences>
            <choiceReferences>AGIncumbent</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>SelectAnOption</defaultSelectedChoiceReference>
            <fieldText>Which asset tracking provider was the prospect previously using?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>presentRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AG_EMEA_Incumbent</name>
            <choiceReferences>SelectAnOption</choiceReferences>
            <choiceReferences>AGIncumbentEMEA</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>SelectAnOption</defaultSelectedChoiceReference>
            <fieldText>Which asset tracking provider was the prospect previously using?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>presentRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Space_100</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text_90</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Who_Participated</name>
            <choiceReferences>AG_Participated</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which asset tracking provider competed in this deal?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>presentRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AG_EMEA_Participated</name>
            <choiceReferences>AGParticipatedEMEA</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which asset tracking provider competed in this deal?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>presentRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>text_31</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Space_110</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Closed_won_Error</name>
        <label>Closed won Error</label>
        <locationX>50</locationX>
        <locationY>702</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>StageCheck_Error</name>
            <fieldText>&lt;p&gt;You don&apos;t have access to the closed won flow. Please contact your Administrator/Sales Ops.&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Closed_won_Error_0</name>
        <label>Closed won Error</label>
        <locationX>125</locationX>
        <locationY>777</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>StageCheck_Error_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Opportunity Probability should be =&amp;gt; 75% or Stage Should be &apos;Closed Won&apos;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CM_Who_Did_We_Won_Against</name>
        <label>CM Who Did We Won Against</label>
        <locationX>1296</locationX>
        <locationY>725</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AG_Deal_Decision</targetReference>
        </connector>
        <fields>
            <name>Screen_3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Competitive Intelligence - Dash Cam (CM)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Space_60</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Space_70</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Incumbent_CM_Provider</name>
            <choiceReferences>SelectAnOption</choiceReferences>
            <choiceReferences>CM_Incumbent</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>SelectAnOption</defaultSelectedChoiceReference>
            <fieldText>Which dash cam provider was the prospect previously using?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>presentRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CM_Incumbent_EMEA</name>
            <choiceReferences>SelectAnOption</choiceReferences>
            <choiceReferences>CMIncumbentEMEA</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>SelectAnOption</defaultSelectedChoiceReference>
            <fieldText>Which dash cam provider was the prospect previously using?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>presentRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Text_50</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Spsce_80</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Who_Participated_CM</name>
            <choiceReferences>CM_Participated</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which dash cam provider competed in this deal?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>presentRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CM_EMEA_Participated</name>
            <choiceReferences>CM_Participated_EMEA</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which dash cam provider competed in this deal?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>presentRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Text_60</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Space_90</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Connected_deal</name>
        <label>Connected deal</label>
        <locationX>1610</locationX>
        <locationY>791</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CS_complete</targetReference>
        </connector>
        <fields>
            <name>Screen_6</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 24px; background-color: rgb(255, 255, 255);&quot;&gt;Competitive Intelligence - Connected Sites &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text_91</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text_92</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CS_Incumbent_US</name>
            <choiceReferences>SelectAnOption</choiceReferences>
            <choiceReferences>CSIncumbentUS</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>SelectAnOption</defaultSelectedChoiceReference>
            <fieldText>Which Connected Sites provider was the prospect previously using?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Test_92</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text_93</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text_97</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CS_Who_Participated_US</name>
            <choiceReferences>CS_Participated_US</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which Connected Sites provider competed in this deal?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text_94</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text_96</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text_98</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Equipment_Screen</name>
        <label>Equipment Screen</label>
        <locationX>1765</locationX>
        <locationY>806</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_An_Option_CE</targetReference>
        </connector>
        <fields>
            <name>Screen_7</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 24px; color: rgb(62, 62, 60);&quot;&gt;Connected Equipment (non AG)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text_101</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CE_Incumbent_US</name>
            <choiceReferences>SelectAnOption</choiceReferences>
            <choiceReferences>CE_Incumbent</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>SelectAnOption</defaultSelectedChoiceReference>
            <fieldText>Which equipment provider was the prospect previously using?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text_102</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CE_Participated_US</name>
            <choiceReferences>CE_Participated</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which equipment provider competed in this deal?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text_103</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>2052</locationX>
        <locationY>314</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Closed_Lost_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 15px; font-family: Arial, &amp;quot;Helvetica Neue&amp;quot;, Helvetica, sans-serif; color: rgb(250, 4, 34);&quot;&gt;{!$Flow.FaultMessage}.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>2078</locationX>
        <locationY>665</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Text_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10pt; background-color: rgb(249, 249, 250);&quot;&gt;Thank you for providing these insights. The opportunity has been marked as &apos;Closed Won&apos;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>VG_Who_did_we_won_against</name>
        <label>VG Who did we won against?</label>
        <locationX>852</locationX>
        <locationY>1119</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CM_Deal</targetReference>
        </connector>
        <fields>
            <name>Screen_2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Competitive Intelligence - Telematics (VG)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Incumbent_Provider_VG</name>
            <choiceReferences>SelectAnOption</choiceReferences>
            <choiceReferences>VG_Incumbent</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>SelectAnOption</defaultSelectedChoiceReference>
            <fieldText>Which telematics provider was the prospect previously using?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>presentRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VG_Incumbent_EMEA</name>
            <choiceReferences>SelectAnOption</choiceReferences>
            <choiceReferences>VGIncumbentEMEA</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>SelectAnOption</defaultSelectedChoiceReference>
            <fieldText>Which telematics provider was the prospect previously using?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>presentRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Text_18</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Space_20</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Who_did_we_compete_against_VG</name>
            <choiceReferences>VG_Competitor</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which telematics providers competed in this deal?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>presentRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VG_Competitor_Participated_EMEA</name>
            <choiceReferences>VGParticipatedEMEA</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which telematics providers competed in this deal?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>presentRole</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Space_30</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text_19</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <helpText>&lt;p&gt;&lt;b style=&quot;color: rgb(240, 4, 4);&quot;&gt;Be sure to Select an Option!&lt;/b&gt;&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Why_did_we_won</name>
        <label>Closed Won Insights</label>
        <locationX>387</locationX>
        <locationY>1090</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Closed_Won_Insight_Other</targetReference>
        </connector>
        <fields>
            <name>Closed_Won</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Closed Won Insights&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your insights help us to improve and optimize across Samsara&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text_2</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Reason_won</name>
            <choiceReferences>Closed_Won_Reasons</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SelectAnOption</elementReference>
            </defaultValue>
            <fieldText>What are the top reasons for winning the deal? (Select 1 or more)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Space_10</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text_3</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text_5</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Please_provide_any_relevant_context_1</name>
            <fieldText>Please provide any relevant context:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 10px; font-family: sans-serif; color: rgb(240, 49, 6);&quot;&gt;Please provide more context so we can understand what was the &quot;Other&quot; reason (at least 50 characters).&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Please_provide_any_relevant_context_1}) &gt;=50</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Reason_won</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Please_provide_any_relevant_context</name>
            <fieldText>Please provide any relevant context:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Reason_won</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Win_Story_and_Acknowledgements</name>
        <label>Win Story and Acknowledgements</label>
        <locationX>1864</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Display_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Win Story and Acknowledgements&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Who_would_you_like_to_thank_for_winning_the_deal</name>
            <fieldText>Who would you like to thank for winning the deal?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>What_is_your_win_story</name>
            <fieldText>What is your win story?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>180</locationX>
        <locationY>425</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>closedWonReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentCameraProviderNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentEquipmentTelematicsProviderAG4new</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentTelematicsProviderNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentTrailerTelematicsproviderAG2new</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EMEACurrentTelematicsProvidernew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListOfAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NewPicklast</name>
        <dataType>Picklist</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpptyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>presentRole</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SingleAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
