force-app/main/default/flows/New_Partner_Lead_Conversion_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Submit_Lead_to_Notre_Dame</name>
        <label>Submit Lead to Notre Dame</label>
        <locationX>434</locationX>
        <locationY>429</locationY>
        <actionName>SubmitDealRegToNotreDame</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Submit_Successful</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>thisLead.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SubmitDealRegToNotreDame</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>Commercial</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Commercial</stringValue>
        </value>
    </constants>
    <constants>
        <name>Enterprise</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Enterprise</stringValue>
        </value>
    </constants>
    <constants>
        <name>MidMarket</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Mid-Market</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Program_Type</name>
        <label>Check Program Type</label>
        <locationX>204</locationX>
        <locationY>367</locationY>
        <defaultConnector>
            <targetReference>Lookup_Partner_SF_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Program_Type_has_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisLead.Program_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Program_Type</targetReference>
            </connector>
            <label>Program Type has no value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_information_Accurate</name>
        <label>Is the information Accurate?</label>
        <locationX>886</locationX>
        <locationY>329</locationY>
        <defaultConnector>
            <targetReference>Update_Partner_Info_Label</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is_Accurate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Certify_Channel_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submit_Successful</name>
        <label>Submit Successful</label>
        <locationX>416</locationX>
        <locationY>610</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Submit_Lead_to_Notre_Dame</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deal_Reg_Submit_success</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <description>GTMS-25123: Removed/Replaced reseller view package references from the flow.</description>
    <dynamicChoiceSets>
        <name>PaymentMethod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Method__c</picklistField>
        <picklistObject>Channel_Relationship__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProgramTypeList</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Program_Type__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ConverteLead18DigitId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!thisLead.Id})</expression>
    </formulas>
    <interviewLabel>New - Partner Lead Conversion Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Partner Lead Conversion Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lookup_Lead</name>
        <label>Lookup Lead</label>
        <locationX>231</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Program_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputLeadId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>thisLead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Partner_Account_lr__c</queriedFields>
        <queriedFields>Fleet_Segment__c</queriedFields>
        <queriedFields>Campaign_to_Add__c</queriedFields>
        <queriedFields>Company</queriedFields>
        <queriedFields>Business_Unit__c</queriedFields>
        <queriedFields>Geography__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Industrial_Interest__c</queriedFields>
        <queriedFields>Registration_Review_Date__c</queriedFields>
        <queriedFields>Partner_Contact_lr__c</queriedFields>
        <queriedFields>Partner_Type__c</queriedFields>
        <queriedFields>Program_Type__c</queriedFields>
        <queriedFields>Channel_Payment_Method_V2__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Partner_SF_Account</name>
        <label>Lookup Partner SF Account</label>
        <locationX>395</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Partner_SF_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisLead.Partner_Account_lr__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>PartnerSFAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Channel_Payout_Type__c</queriedFields>
        <queriedFields>Referral_Rebate_MSRP__c</queriedFields>
        <queriedFields>Deal_Registration_Discount__c</queriedFields>
        <queriedFields>End_Customer_Discount_CML__c</queriedFields>
        <queriedFields>End_Customer_Discount_MM_ENT__c</queriedFields>
        <queriedFields>Partner_Program_Tier__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Partner_Status__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Account_Owner__c</queriedFields>
        <queriedFields>Partner_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Partner_SF_Contact</name>
        <label>Lookup Partner SF Contact</label>
        <locationX>572</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Partner_Type_Different</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisLead.Partner_Contact_lr__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>PartnerSFContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Certify_Channel_Lead</name>
        <label>Certify Channel Lead</label>
        <locationX>734</locationX>
        <locationY>425</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Submit_Lead_to_Notre_Dame</targetReference>
        </connector>
        <fields>
            <name>ChannelPartnerDetails</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;text-decoration: underline;&quot;&gt;&lt;strong&gt;Channel Partner Details&lt;/strong&gt;&lt;/span&gt;&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;&lt;strong&gt;Partner Name:&lt;/strong&gt; {!PartnerSFAccount.Name}&lt;/li&gt;
&lt;li&gt;&lt;strong&gt;Partner Program:&lt;/strong&gt;{!PartnerSFAccount.Partner_Program_Tier__c}&lt;/li&gt;
&lt;li&gt;&lt;strong&gt;Partner Account Status:&lt;/strong&gt;{!PartnerSFAccount.Partner_Status__c}&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;&lt;span style=&quot;text-decoration: underline;&quot;&gt;&lt;strong&gt;End Customer Details&lt;/strong&gt;&lt;/span&gt;&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;&lt;strong&gt;End Customer Name:&lt;/strong&gt; {!thisLead.Company}&lt;/li&gt;
&lt;li&gt;&lt;strong&gt;Business Unit:&lt;/strong&gt; {!thisLead.Business_Unit__c}&lt;/li&gt;
&lt;li&gt;&lt;strong&gt;Segment:&lt;/strong&gt; {!thisLead.Fleet_Segment__c}&lt;/li&gt;
&lt;li&gt;&lt;strong&gt;Geography:&lt;/strong&gt; {!thisLead.Geography__c}&lt;/li&gt;
&lt;li&gt;&lt;strong&gt;Contact:&lt;/strong&gt; {!thisLead.Name}&lt;/li&gt;
&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Certify_Lead</name>
            <dataType>Boolean</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: #ff0000;&quot;&gt;&lt;strong&gt;I certify that I have reviewed and approve this channel registration.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Deal_Reg_Submit_success</name>
        <label>Deal Reg Submit success</label>
        <locationX>426</locationX>
        <locationY>862</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;Deal Registration approval is now being processed. An email will be sent to your email address when the Opportunity has been created(usually in a minute).&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>678</locationX>
        <locationY>697</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;Error processing your request. Please retry in a few minutes.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Partner_Type_Different</name>
        <label>Partner Type Different</label>
        <locationX>733</locationX>
        <locationY>219</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_the_information_Accurate</targetReference>
        </connector>
        <fields>
            <name>regText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please confirm that the partner type and program type information for this deal reg is &lt;/strong&gt;&lt;b style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;accurate&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PartnerTypeLabel</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Partner Team Alignment&lt;/strong&gt;&lt;strong style=&quot;color: rgb(27, 27, 27);&quot;&gt; : &lt;/strong&gt;&lt;span style=&quot;color: rgb(27, 26, 27);&quot;&gt;{!thisLead.Partner_Type__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ProgramTypeLabel</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Sales Program Type&lt;/strong&gt;&lt;strong style=&quot;color: rgb(11, 11, 11);&quot;&gt; : &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!thisLead.Program_Type__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Is_the_above_information_accurate_confirm</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is the above information accurate?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Program_Type</name>
        <label>Program Type</label>
        <locationX>50</locationX>
        <locationY>471</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>programtypemessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please update the program type before proceeding.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Partner_Info_Label</name>
        <label>Update Partner Info Label</label>
        <locationX>1062</locationX>
        <locationY>323</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>updateleadText</name>
            <fieldText>&lt;p&gt;You have selected that the &lt;strong&gt;partner type&lt;/strong&gt; and &lt;strong&gt;program type&lt;/strong&gt; information on the lead is not accurate. Please update the lead with correct information and then proceed with approval.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>341</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ChannelPaymentMethod</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EndCustomerAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>EndCustomerContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>inputLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PartnerSFAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>PartnerSFContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>thisChannelRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Channel_Relationship__c</objectType>
    </variables>
    <variables>
        <name>thisLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>thisOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
