force-app/main/default/flows/Opportunity_Creating_Enterprise_SE_Logs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends an email to the assigned Sales Engineer that a new SE log has been created.</description>
        <name>Email</name>
        <label>Email - New SE Log Created (Trial Opp)</label>
        <locationX>710</locationX>
        <locationY>1295</locationY>
        <actionName>Sales_Engineering_Log__c.New_Sales_Engineering_Log_Created</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Create_new_ENT_SE_Log_for_Trial_Op0</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Sales_Engineering_Log__c.New_Sales_Engineering_Log_Created</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Sends an email to the assigned Sales Engineer that a new SE log has been created.</description>
        <name>Email_New_SE_Log_Created</name>
        <label>Email -New SE Log Created</label>
        <locationX>1238</locationX>
        <locationY>1415</locationY>
        <actionName>Sales_Engineering_Log__c.New_Sales_Engineering_Log_Created</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Create_new_ENT_SE_Log</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Sales_Engineering_Log__c.New_Sales_Engineering_Log_Created</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Sends an email to the assigned Sales Engineer that a new SE log has been created.</description>
        <name>New_SE_Log_Created_Rev_Opp</name>
        <label>New SE Log Created (Rev Opp)</label>
        <locationX>182</locationX>
        <locationY>1175</locationY>
        <actionName>Sales_Engineering_Log__c.New_Sales_Engineering_Log_Created</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Create_new_ENT_SE_Log_for_Rev_Opp</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Sales_Engineering_Log__c.New_Sales_Engineering_Log_Created</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ENT_SELogs_Count</name>
        <label>ENT - SELogs Count</label>
        <locationX>1106</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Var_SELogs_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ENT_Get_Sales_Engineering_Logs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_existing_ENT_SE_Logs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ENT_SELogs_Count_from_Rev_Opp</name>
        <label>ENT - SELogs Count from Rev Opp</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Var_SELogs_Count_RevOpp</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ENT_Get_Sales_Engineering_Logs_from_Rev_Opp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rev_Opp_Are_there_existing_ENT_SE_Logs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ENT_Store_Rev_Opp_Details</name>
        <label>ENT - Store Rev Opp Details</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Get_the_Revenue_Opportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_RevOppDetails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ENT_Get_Sales_Engineering_Logs_from_Rev_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ENT_Trial_Opportunity_Count</name>
        <label>ENT - Trial Opportunity Count</label>
        <locationX>941</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Var_TrialOpp_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ENT_Get_Trial_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_there_a_Closed_Won_Trial</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Trial_Opp_ENT_SELogs_Count</name>
        <label>Trial Opp - ENT - SELogs Count</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Var_SELogs_Count_TrialOppExists</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Trial_Opp_ENT_Get_Sales_Engineering_Logs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Trial_Opp_Are_there_existing_ENT_SE_Logs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_existing_ENT_SE_Logs</name>
        <label>Are there existing ENT SE Logs?</label>
        <locationX>1106</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>Create_new_ENT_SE_Log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ENT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_SELogs_Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Opportunity_Stage_Trial</name>
        <label>Is the Opportunity Stage &apos;Trial&apos;</label>
        <locationX>1304</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Non-Trial Stage</defaultConnectorLabel>
        <rules>
            <name>Trial_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ENT_Get_Sales_Engineering_Logs</targetReference>
            </connector>
            <label>Trial Stage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Closed_Won_Trial</name>
        <label>Is there a Closed Won Trial?</label>
        <locationX>941</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Is_the_Opportunity_Stage_Trial</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Closed Won Trial</defaultConnectorLabel>
        <rules>
            <name>Closed_Won_Trial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_TrialOpp_Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trial_Opp_ENT_Get_Sales_Engineering_Logs</targetReference>
            </connector>
            <label>Closed Won Trial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_Trial_Opp_or_a_Revenue_Opp</name>
        <label>Is this a Trial Opp or a Revenue Opp?</label>
        <locationX>908</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Other Opportunity Type</defaultConnectorLabel>
        <rules>
            <name>Trial_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121a000000eOkYAAU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_the_Revenue_Opportunity</targetReference>
            </connector>
            <label>Trial Opp</label>
        </rules>
        <rules>
            <name>Revenue_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121a000000ARoFAAW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ENT_Get_Trial_Opportunities</targetReference>
            </connector>
            <label>Revenue Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rev_Opp_Are_there_existing_ENT_SE_Logs</name>
        <label>Rev Opp - Are there existing ENT SE Logs?</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Create_new_ENT_SE_Log_for_Rev_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Rev_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_SELogs_Count_RevOpp</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Trial_Opp_Are_there_existing_ENT_SE_Logs</name>
        <label>Trial Opp - Are there existing ENT SE Logs?</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Create_new_ENT_SE_Log_for_Trial_Op0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Trial_Opp_Existing_SE_Logs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_SELogs_Count_TrialOppExists</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Creates a Sales Engineering Log for Enterprise Opportunities.</description>
    <environments>Default</environments>
    <formulas>
        <name>SEFollowUpDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+7</expression>
    </formulas>
    <interviewLabel>Opportunity: Creating Enterprise SE Logs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Creating Enterprise SE Logs</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_ENT_SE_Log</name>
        <label>Create new ENT SE Log</label>
        <locationX>1238</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Email_New_SE_Log_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SE_Assignment__c</field>
            <value>
                <elementReference>$Record.Account.SE_Assignment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_Close_Date__c</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Engineering_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_new_ENT_SE_Log_for_Rev_Opp</name>
        <label>Create new ENT SE Log for Rev Opp</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>New_SE_Log_Created_Rev_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.TrialResolutionOppty__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SE_Assignment__c</field>
            <value>
                <elementReference>$Record.TrialResolutionOppty__r.Account.SE_Assignment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_Close_Date__c</field>
            <value>
                <elementReference>$Record.TrialResolutionOppty__r.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Engineering_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_new_ENT_SE_Log_for_Trial_Op0</name>
        <label>Create new ENT SE Log for (Trial Opp)</label>
        <locationX>710</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SE_Assignment__c</field>
            <value>
                <elementReference>$Record.Account.SE_Assignment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_Close_Date__c</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Engineering_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>ENT_Get_Sales_Engineering_Logs</name>
        <label>ENT - Get Sales Engineering Logs</label>
        <locationX>1106</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ENT_SELogs_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Engineering_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ENT_Get_Sales_Engineering_Logs_from_Rev_Opp</name>
        <label>ENT - Get Sales Engineering Logs from Rev Opp</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ENT_SELogs_Count_from_Rev_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Revenue_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Engineering_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ENT_Get_Trial_Opportunities</name>
        <label>ENT- Get Trial Opportunities</label>
        <locationX>941</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ENT_Trial_Opportunity_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121a000000eOkYAAU</stringValue>
            </value>
        </filters>
        <filters>
            <field>TrialResolutionOppty__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Revenue_Opportunity</name>
        <label>Get the Revenue Opportunity</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ENT_Store_Rev_Opp_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TrialResolutionOppty__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Trial_Opp_ENT_Get_Sales_Engineering_Logs</name>
        <label>Trial Opp - ENT - Get Sales Engineering Logs</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Trial_Opp_ENT_SELogs_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Engineering_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_this_a_Trial_Opp_or_a_Revenue_Opp</targetReference>
        </connector>
        <filterLogic>1 AND (2 AND 3) OR (4 AND 5)</filterLogic>
        <filters>
            <field>Segment_Sales_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enterprise</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121a000000eOkYAAU</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Trial</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121a000000ARoFAAW</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Var_RevOppDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Var_SELogs_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Var_SELogs_Count_RevOpp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Var_SELogs_Count_TrialOppExists</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Var_TrialOpp_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
