force-app/main/default/flows/OpportunityLineItem_Address_Updater.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>Shipping_Address__c</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Ship_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>Shipping_Address__c</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Opportunity.Shipping_Address_NEW__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>No shippin address</label>
        </rules>
    </decisions>
    <description>Updates the Shipping Address when a new line item is added</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue> [OpportunityLineItem].Opportunity.Shipping_Address_NEW__c.Shipping_FirstName__c &amp;&quot; &quot;&amp;[OpportunityLineItem].Opportunity.Shipping_Address_NEW__c.Shipping_LastName__c &amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp; [OpportunityLineItem].Opportunity.Shipping_Address_NEW__c.Shipping_Address_Line_1__c&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp; [OpportunityLineItem].Opportunity.Shipping_Address_NEW__c.Shipping_Address_Line_2__c&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp; [OpportunityLineItem].Opportunity.Shipping_Address_NEW__c.Shipping_City__c &amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp; TEXT([OpportunityLineItem].Opportunity.Shipping_Address_NEW__c.Shipping_State__c )&amp;&quot; &quot;&amp;[OpportunityLineItem].Opportunity.Shipping_Address_NEW__c.Shipping_Zip_Code__c&amp;SUBSTITUTE($Label.NewLine,&quot;-&quot;,&quot;&quot;)&amp; TEXT([OpportunityLineItem].Opportunity.Shipping_Address_NEW__c.Shipping_Country__c ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_9144881249</name>
        <dataType>String</dataType>
        <expression> {!myVariable_current.Opportunity.Shipping_Address_NEW__r.Shipping_FirstName__c} &amp;&quot; &quot;&amp;{!myVariable_current.Opportunity.Shipping_Address_NEW__r.Shipping_LastName__c} &amp;SUBSTITUTE({!$Label.NewLine},&quot;-&quot;,&quot;&quot;)&amp; {!myVariable_current.Opportunity.Shipping_Address_NEW__r.Shipping_Address_Line_1__c}&amp;SUBSTITUTE({!$Label.NewLine},&quot;-&quot;,&quot;&quot;)&amp; {!myVariable_current.Opportunity.Shipping_Address_NEW__r.Shipping_Address_Line_2__c}&amp;SUBSTITUTE({!$Label.NewLine},&quot;-&quot;,&quot;&quot;)&amp; {!myVariable_current.Opportunity.Shipping_Address_NEW__r.Shipping_City__c} &amp;SUBSTITUTE({!$Label.NewLine},&quot;-&quot;,&quot;&quot;)&amp; TEXT({!myVariable_current.Opportunity.Shipping_Address_NEW__r.Shipping_State__c} )&amp;&quot; &quot;&amp;{!myVariable_current.Opportunity.Shipping_Address_NEW__r.Shipping_Zip_Code__c}&amp;SUBSTITUTE({!$Label.NewLine},&quot;-&quot;,&quot;&quot;)&amp; TEXT({!myVariable_current.Opportunity.Shipping_Address_NEW__r.Shipping_Country__c} )</expression>
    </formulas>
    <interviewLabel>OpportunityLineItem_Address_Updater-2_InterviewLabel</interviewLabel>
    <label>OpportunityLineItem Address Updater</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>OpportunityLineItem</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[OpportunityLineItem]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Shipping Address</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Ship To Address (Concatenated)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Ship_To_Address_Concatenated__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_9144881249</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Ship To</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Shipping_Address__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Ship_To__c</field>
            <value>
                <elementReference>myVariable_current.Opportunity.Shipping_Address_NEW__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
