force-app/main/default/flows/Partner_Program_Enrollment_Before_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>GTMS-26117: Created as part of Partners H1 Project to assign Activation Date</description>
        <name>Assign_Activation_Date</name>
        <label>Assign Activation Date</label>
        <locationX>314</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Activation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Partner_Program</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>GTMS-26117: Created as part of Partners H2 project to map Enrollment Name</description>
        <name>Assign_Enrollment_Name</name>
        <label>Assign Enrollment Name</label>
        <locationX>369</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enrollment_Name_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AE_Influence_Confirmation_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Partner_Program.AE_Influence_Confirmation_Required__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Criteria_check_for_Compensation_Model</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_UnPaid_Values_From_Partner_Program</name>
        <label>Assign UnPaid Values From Partner Program</label>
        <locationX>435</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sourced_Payout_Cap__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sourced_Payout_Model__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sourced_Payout_Fee__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sourced_Payout_Percentage__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Influence_Payout_Cap__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Influence_Payout_Fee__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Influence_Payout_Percentage__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Influence_Payout_Model__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Values_From_Partner_Program</name>
        <label>Assign Paid Values From Partner Program</label>
        <locationX>171</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sourced_Payout_Cap__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Partner_Program.Sourced_Payout_Cap__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sourced_Payout_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Partner_Program.Sourced_Payout_Model__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sourced_Payout_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Partner_Program.Sourced_Payout_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sourced_Payout_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Partner_Program.Sourced_Payout_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Influence_Payout_Cap__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Partner_Program.Influence_Payout_Cap__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Influence_Payout_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Partner_Program.Influence_Payout_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Influence_Payout_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Partner_Program.Influence_Payout_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Influence_Payout_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Partner_Program.Influence_Payout_Model__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <customErrors>
        <description>GTMS-26117: Created to throw custom error message if PE records exists with overlapping dates</description>
        <name>Overlapping_Dates_Custom_Error_Message</name>
        <label>Overlapping Dates Custom Error Message</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <customErrorMessages>
            <errorMessage>An active Enrollment record is already exists for the selected Partner Account and Partner Program, Please deactivate the existing Active enrollment before Activating a new enrollment.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <description>GTMS-26117: Created as part of Partners H1 project to check if the Member status is changed to active</description>
        <name>Active_Member_Status_Check</name>
        <label>Active Member Status Check</label>
        <locationX>446</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Get_Partner_Program</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Member_Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Member_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Member_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Activation_Date</targetReference>
            </connector>
            <label>Yes, Member Status Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Compensation_Model</name>
        <label>Check Compensation Model</label>
        <locationX>303</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>Assign_UnPaid_Values_From_Partner_Program</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unpaid/Other</defaultConnectorLabel>
        <rules>
            <name>Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Program_Compensation_Model__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_From_Partner_Program</targetReference>
            </connector>
            <label>Paid</label>
        </rules>
    </decisions>
    <decisions>
        <description>GTMS-26938: Created as part of Partner H1 Project to check the criteria for the triggering compensation model record</description>
        <name>Criteria_check_for_Compensation_Model</name>
        <label>Criteria check for Compensation Model</label>
        <locationX>501</locationX>
        <locationY>1595</locationY>
        <defaultConnectorLabel>No Action Required</defaultConnectorLabel>
        <rules>
            <name>Record_Updated_to_Paid_Unpaid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Program_Compensation_Model__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Compensation_Model</targetReference>
            </connector>
            <label>Record Updated to Paid/Unpaid</label>
        </rules>
    </decisions>
    <decisions>
        <description>GTMS-26117: Created as part of Partner H1 Project to check the criteria for the triggering record</description>
        <name>Criteria_check_for_overlapping_Dates</name>
        <label>Criteria check for overlapping Dates</label>
        <locationX>501</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Get_Partner_Program</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Updated_to_match_criteria</name>
            <conditionLogic>1  AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Member_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Member_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Account__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Program__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Active_PE_Record</targetReference>
            </connector>
            <label>Record Updated to match criteria</label>
        </rules>
    </decisions>
    <decisions>
        <description>GTMS-26117: Created to check if the PE records exists with overlapping dates</description>
        <name>Existing_PE_record_Check</name>
        <label>Existing PE record Check</label>
        <locationX>248</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Active_Member_Status_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No PE records does not exists</defaultConnectorLabel>
        <rules>
            <name>Yes_PE_records_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Active_PE_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Overlapping_Dates_Custom_Error_Message</targetReference>
            </connector>
            <label>Yes, PE records exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>GTMS-26117: Created as part of partner H1 project to check if Partner account of Program got updated</description>
        <name>Is_Partner_Account_or_Program_Got_Changed</name>
        <label>Is Partner Account or Program Got Changed ?</label>
        <locationX>501</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Criteria_check_for_Compensation_Model</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Program_or_Account_value_is_updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Account__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Program__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Partner_Account_Details</targetReference>
            </connector>
            <label>Yes, Program or Account value is updated</label>
        </rules>
    </decisions>
    <description>GTMS-26117: Created as part of Partners H1 Project
GTMS-26938 : Added Trigger Logic for Compensation Model
GTMS-28936 |  Mapping of AE_Influence_Confirmation_Required__c from Partner Program to Partner Program Enrollment</description>
    <environments>Default</environments>
    <formulas>
        <description>GTMS-26117: Created as part of Partners H1 Project create the Name for partner Program Enrollment</description>
        <name>Enrollment_Name_Formula</name>
        <dataType>String</dataType>
        <expression>{!Get_Partner_Program.Name}+&apos; &apos;+{!Get_Partner_Program.Name}+&apos; &apos;+&apos;Enrollment&apos;</expression>
    </formulas>
    <formulas>
        <description>GTMS-26117: Created to check if the record is new reocrd</description>
        <name>New_Record</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Partner Program Enrollment Before Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Program Enrollment Before Update Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>GTMS-26117: Created as part of Partners H1 project to fetch existing active Program Enrollment records record with Same Partner</description>
        <name>Get_Existing_Active_PE_Record</name>
        <label>Get Existing Active PE Record</label>
        <locationX>248</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_PE_record_Check</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>Partner_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Partner_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Partner_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Partner_Program__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Member_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Partner_Program_Enrollment__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>GTMS-26117: Created as part of Partners H1 Project to fetch Partner Account Details</description>
        <name>Get_Partner_Account_Details</name>
        <label>Get Partner Account Details</label>
        <locationX>369</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Enrollment_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Partner_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_Program</name>
        <label>Get Partner Program</label>
        <locationX>501</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Partner_Account_or_Program_Got_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Partner_Program__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partner_Program__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sourced_Payout_Cap__c</queriedFields>
        <queriedFields>Sourced_Payout_Fee__c</queriedFields>
        <queriedFields>Sourced_Payout_Model__c</queriedFields>
        <queriedFields>Sourced_Payout_Percentage__c</queriedFields>
        <queriedFields>Influence_Payout_Cap__c</queriedFields>
        <queriedFields>Influence_Payout_Fee__c</queriedFields>
        <queriedFields>Influence_Payout_Model__c</queriedFields>
        <queriedFields>Influence_Payout_Percentage__c</queriedFields>
        <queriedFields>AE_Influence_Confirmation_Required__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Program_Compensation_Model__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>375</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Criteria_check_for_overlapping_Dates</targetReference>
        </connector>
        <object>Partner_Program_Enrollment__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
