force-app/main/default/flows/PPO2_Parent_Flow_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Find_Potential_Parent_Accounts</name>
        <label>Find Potential Parent Accounts</label>
        <locationX>1717</locationX>
        <locationY>993</locationY>
        <actionName>FlowAccountFinder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Start_Table</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Account_Error_0_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>a</name>
            <value>
                <elementReference>Search_Account_List</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowAccountFinder</nameSegment>
        <outputParameters>
            <assignToReference>ParentAccountOptions</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Account_Change_Ticket</name>
        <label>Send Account Change Ticket</label>
        <locationX>2937</locationX>
        <locationY>1482</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Parent_Account_Found</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ParentAccountChangeTicket</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Emails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TicketSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Submit_Ticket_with_Parent_Info</name>
        <label>Submit Ticket with Parent Info</label>
        <locationX>2617</locationX>
        <locationY>993</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>ParentAccountCheckAssignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ParentAccountTicket</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Emails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TicketSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_New_Parent_Account_to_Account</name>
        <label>Add New Parent Account to Account</label>
        <locationX>3046</locationX>
        <locationY>245</locationY>
        <assignmentItems>
            <assignToReference>Account.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewParentAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FM_NewParentCreated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.Validations_Completed__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Parent/Subsidiary Check</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Account_on_Account_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Final_Message_Approval</name>
        <label>Add to Final Message - Parent Found, DNE</label>
        <locationX>2937</locationX>
        <locationY>1237</locationY>
        <assignmentItems>
            <assignToReference>FinalMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FM_AdditionalApprovalMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Emails</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>salesops@samsara.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Account_Change_Ticket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Final_Message_Approval_0</name>
        <label>Add to Final Message - Parent Found, DNE</label>
        <locationX>2838</locationX>
        <locationY>1482</locationY>
        <assignmentItems>
            <assignToReference>FinalMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FM_AdditionalApprovalMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentAccountMatchInformation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This account should not have a parent account.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Parent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Emails</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>salesops@samsara.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Account_Change_Ticket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DUNS_Verification</name>
        <label>Assign DUNS Verification</label>
        <locationX>1453</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>Account.Validations_Completed__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>DUNS Verification</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Parent_DUNS_Account_DUNS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Final_Message_No_Parent</name>
        <label>Assign Final Message - No Parent</label>
        <locationX>1585</locationX>
        <locationY>820</locationY>
        <assignmentItems>
            <assignToReference>FinalMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FM_NoParentFound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoParent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ParentAccountCheckAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Final_Message_Parent_DNE</name>
        <label>Assign Final Message - Parent Found, DNE</label>
        <locationX>2451</locationX>
        <locationY>993</locationY>
        <assignmentItems>
            <assignToReference>FinalMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FM_ParentFoundDNE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Emails</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>salesops@samsara.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email_test</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentAccountTicket</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_Ticket_with_Parent_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Final_Message_Parent_DNE_0</name>
        <label>Assign Final Message - Parent Found, DNE</label>
        <locationX>2500</locationX>
        <locationY>580</locationY>
        <assignmentItems>
            <assignToReference>FinalMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FM_ParentAlreadyFound</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parent_Account_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Final_Message_Parent_Found</name>
        <label>Assign Final Message - Parent Found</label>
        <locationX>2711</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>FinalMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FM_ParentFound</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parent_Account_Exists_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Account_Data</name>
        <label>Assign Parent Account Data</label>
        <locationX>833</locationX>
        <locationY>244</locationY>
        <assignmentItems>
            <assignToReference>NewParentAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAccountName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewParentAccount.Number_of_Vehicles__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAccountVehicles</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewParentAccount.Number_of_Powered_Assets__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAccountPoweredAssets</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewParentAccount.Number_of_Unpowered_Assets__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAccountUnpoweredAssets</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewParentAccount.Industry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Industry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewParentAccount.Organization_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAccountOrgSize</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Parent_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DoNotUpdateParentID</name>
        <label>Do Not Update Parent ID</label>
        <locationX>2799</locationX>
        <locationY>486</locationY>
        <assignmentItems>
            <assignToReference>FinalMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FM_ParentChangeDenied</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.Validations_Completed__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Parent/Subsidiary Check</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Account_on_Account_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>End_Table</name>
        <label>End Table</label>
        <locationX>2043</locationX>
        <locationY>993</locationY>
        <assignmentItems>
            <assignToReference>ParentAccountMatches</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Table_End</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DUNS_Parent_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IterateRowCount</name>
        <label>Iterate RowCount</label>
        <locationX>2503</locationX>
        <locationY>1492</locationY>
        <assignmentItems>
            <assignToReference>RowCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Parent_Account_Matches_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>List_Parent_Account_Options</name>
        <label>List Parent Account Options</label>
        <locationX>1950</locationX>
        <locationY>1266</locationY>
        <assignmentItems>
            <assignToReference>ParentAccountMatches</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ParentAccountMatch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RowCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Parent_Account_Matches</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>List_Parent_Account_Options_0</name>
        <label>List Parent Account Options</label>
        <locationX>2711</locationX>
        <locationY>1215</locationY>
        <assignmentItems>
            <assignToReference>Parent_Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Parent_Account_Matches_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RowCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Parent_Account_Matches_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.Validations_Completed__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Parent/Subsidiary Check</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Emails</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Final_Message_Parent_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ParentAccountCheckAssignment</name>
        <label>Parent Account Check Assignment</label>
        <locationX>2617</locationX>
        <locationY>820</locationY>
        <assignmentItems>
            <assignToReference>Account.Validations_Completed__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Parent/Subsidiary Check</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parent_Account_Exists_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Iteration</name>
        <label>Reset Iteration</label>
        <locationX>2290</locationX>
        <locationY>1144</locationY>
        <assignmentItems>
            <assignToReference>RowCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Parent_Account_Matches_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Start_Table</name>
        <label>Start Table</label>
        <locationX>1845</locationX>
        <locationY>993</locationY>
        <assignmentItems>
            <assignToReference>ParentAccountMatches</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Table_Start</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Parent_Account_Matches</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Parent_Id</name>
        <label>Update Parent Id</label>
        <locationX>2880</locationX>
        <locationY>385</locationY>
        <assignmentItems>
            <assignToReference>Account.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FM_ParentChangeApprovalComplete</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.Validations_Completed__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Parent/Subsidiary Check</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Account_on_Account_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Search_Account_Data</name>
        <label>Update Search Account Data</label>
        <locationX>1718</locationX>
        <locationY>601</locationY>
        <assignmentItems>
            <assignToReference>Search_Account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_DUNS_Record.parent_PrimName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Search_Account.DUNS_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_DUNS_Record.parent_duns__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentAccountMatchInformation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DB_Account_Match_Info</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Search_Account.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Search_Account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Search_Account_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Search_Account_Data_0</name>
        <label>Update Search Account Data</label>
        <locationX>1584</locationX>
        <locationY>993</locationY>
        <assignmentItems>
            <assignToReference>Search_Account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Company_Name_Search</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Search_Account.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Phone_Number_Search</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Search_Account.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Website_Search</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentAccountMatchInformation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MAN_Account_Match_Info</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Search_Account.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Search_Account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Search_Account_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Search_Account_List</name>
        <label>Update Search Account Data</label>
        <locationX>1718</locationX>
        <locationY>875</locationY>
        <assignmentItems>
            <assignToReference>Search_Account_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Search_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Potential_Parent_Accounts</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice1</name>
        <choiceText>Account 1</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>choice10</name>
        <choiceText>Account 10</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>choice2</name>
        <choiceText>Account 2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>choice3</name>
        <choiceText>Account 3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>choice4</name>
        <choiceText>Account 4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>choice5</name>
        <choiceText>Account 5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>choice6</name>
        <choiceText>Account 6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>choice7</name>
        <choiceText>Account 7</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>choice8</name>
        <choiceText>Account 8</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>choice9</name>
        <choiceText>Account 9</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>ParentNotFound0</name>
        <choiceText>I was not able to identify the Parent Account.</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>ProspectCustomer</name>
        <choiceText>Prospect / Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer</stringValue>
        </value>
    </choices>
    <choices>
        <name>SourceOther</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>SourceWebsite</name>
        <choiceText>Website</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Website</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Account_is_Null</name>
        <label>Account is Null</label>
        <locationX>509</locationX>
        <locationY>750</locationY>
        <defaultConnector>
            <targetReference>Flow_Mode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_is_Null_Account_ID_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_with_Id</targetReference>
            </connector>
            <label>Account is Null, Account ID Populated</label>
        </rules>
        <rules>
            <name>All_Values_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Values_Null_Error</targetReference>
            </connector>
            <label>All Values Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_a_DUNS_number</name>
        <label>Has a DUNS Number?</label>
        <locationX>869</locationX>
        <locationY>748</locationY>
        <defaultConnector>
            <targetReference>Manual_Parent_Check_Step_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_DUNS_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.DUNS_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account.DUNS_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_DUNS_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Complete_Check_Again</name>
        <label>Complete Check Again?</label>
        <locationX>921</locationX>
        <locationY>537</locationY>
        <defaultConnector>
            <targetReference>Assign_Final_Message_Parent_DNE_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesCompleteCheckAgain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCheckAgain</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_a_DUNS_number</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Parent_DUNS_Account_DUNS</name>
        <label>Does Parent DUNS = Account DUNS?</label>
        <locationX>1576</locationX>
        <locationY>602</locationY>
        <defaultConnector>
            <targetReference>Assign_Final_Message_No_Parent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_UDP_DUNS_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_DUNS_Record.parent_duns__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_DUNS_Record.parent_duns__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_DUNS_Record.parent_duns__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Account.DUNS_Number__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Search_Account_Data</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>DUNS_Number_a_Good_Match</name>
        <label>DUNS Number a Good Match?</label>
        <locationX>1334</locationX>
        <locationY>750</locationY>
        <defaultConnector>
            <targetReference>Manual_Parent_Check_Step_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_DUNS_Record_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_the_D_B_Company_Name_Appear_to_Match</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_DUNS_Verification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DUNS_Record_Found</name>
        <label>DUNS Record Found?</label>
        <locationX>1082</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Manual_Parent_Check_Step_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesDUNSRecordFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_DUNS_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DUNS_Number_Verification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flow_Mode</name>
        <label>Flow Mode</label>
        <locationX>707</locationX>
        <locationY>743</locationY>
        <defaultConnector>
            <targetReference>Check_for_a_DUNS_number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Parent_Already_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account.ParentId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlowMode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ApproveChange</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlowMode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CreateParent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_Exists</targetReference>
            </connector>
            <label>Existing Parent Account Confirmation</label>
        </rules>
        <rules>
            <name>Approval_for_Parent_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ApproveChange</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_Change_Approval</targetReference>
            </connector>
            <label>Approval for Parent Change</label>
        </rules>
        <rules>
            <name>Create_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CreateParent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Parent_Account_Form</targetReference>
            </connector>
            <label>Create Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matching_Parent</name>
        <label>Matching Parent</label>
        <locationX>2496</locationX>
        <locationY>1216</locationY>
        <defaultConnector>
            <targetReference>IterateRowCount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Option_Select_From_Above</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RowCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>List_Parent_Account_Options_0</targetReference>
            </connector>
            <label>Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Account_Exists_0</name>
        <label>Parent Account Exists?</label>
        <locationX>2829</locationX>
        <locationY>986</locationY>
        <defaultConnector>
            <targetReference>Update_Parent_Account_on_Account_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Parent_Already_Exists_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Option_Select_From_Above</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoParent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParentCheckAgain</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Final_Message_Approval</targetReference>
            </connector>
            <label>Yes, Change Parent</label>
        </rules>
        <rules>
            <name>Yes_Remove_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.ParentId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoParent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParentCheckAgain</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Final_Message_Approval_0</targetReference>
            </connector>
            <label>Yes, Remove Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Found_1</name>
        <label>Parent Found?</label>
        <locationX>1331</locationX>
        <locationY>888</locationY>
        <defaultConnector>
            <targetReference>Update_Search_Account_Data_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Parent_Found_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_certify_that_I_was_not_able_to_identify_a_parent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Final_Message_No_Parent</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Not_Found_in_SFDC</name>
        <label>Parent Not Found in SFDC?</label>
        <locationX>2284</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>Reset_Iteration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Parent_Not_Found_in_SFDC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Option_Select_From_Above</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Final_Message_Parent_DNE</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_Yes</name>
        <label>Confirmed Parent Update?</label>
        <locationX>2223</locationX>
        <locationY>392</locationY>
        <defaultConnector>
            <targetReference>DoNotUpdateParentID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesUpdateParent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SureYouWantToUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updated DnB Optimizer fields to DnB Connect</description>
    <dynamicChoiceSets>
        <name>Industries</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Industry</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OrgSize</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Organization_Size__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>AccountWebsite</name>
        <dataType>String</dataType>
        <expression>IF(REGEX({!Account.Website},&quot;^((http|https)://)??(www[.])??([a-zA-Z0-9]|-)+?([.][a-zA-Z0-9(-|/|=|?)??]+?)+?$&quot;),&quot;http://&quot;+{!Account.Website},{!Account.Website})</expression>
    </formulas>
    <formulas>
        <name>ExistingParentBoolean</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Account.ParentId}),&quot;False&quot;,&quot;True&quot;)</expression>
    </formulas>
    <formulas>
        <name>FacebookSearch</name>
        <dataType>String</dataType>
        <expression>&quot;https://www.facebook.com/search/pages/?q=&quot;+{!Account.Name}</expression>
    </formulas>
    <formulas>
        <name>FlowChangeApprovalLink</name>
        <dataType>String</dataType>
        <expression>&quot;https://samsara.my.salesforce.com/flow/PPO2_Parent_Flow_Check?Account_Id=&quot;+{!Account.Id}+&quot;&amp;FlowMode=ApproveChange&amp;NAName=&quot;+{!Parent_Account.Name}+&quot;&amp;Parent_Id=&quot;+{!Parent_Account.Id}+&quot;&amp;retURL=001&quot;</expression>
    </formulas>
    <formulas>
        <name>FlowCompletionLink</name>
        <dataType>String</dataType>
        <expression>&quot;https://samsara.my.salesforce.com/flow/PPO2_Parent_Flow_Check?Account_Id=&quot;+{!Account.Id}+&quot;&amp;FlowMode=CreateParent&amp;NAName=&quot;+{!Parent_Company_Name_Search}+&quot;&amp;retURL=001&amp;NAWebsite=&quot;+{!Parent_Website_Search}+&quot;&amp;NAPhone=&quot;+{!Parent_Phone_Number_Search}</expression>
    </formulas>
    <formulas>
        <name>GoogleSearch</name>
        <dataType>String</dataType>
        <expression>&quot;http://www.google.com/search?q=&quot;+{!Account.Name}+&quot; Parent Company&quot;</expression>
    </formulas>
    <formulas>
        <name>LinkedInSearch</name>
        <dataType>String</dataType>
        <expression>&quot;https://www.linkedin.com/search/results/companies/?keywords=&quot;+{!Account.Name}</expression>
    </formulas>
    <formulas>
        <name>TicketSubject</name>
        <dataType>String</dataType>
        <expression>&quot;[Parent Account] &quot;+{!Account.Name}</expression>
    </formulas>
    <formulas>
        <name>UserRole</name>
        <dataType>String</dataType>
        <expression>{!$UserRole.Name}</expression>
    </formulas>
    <formulas>
        <name>WebsiteDomain</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Loop_Through_Parent_Account_Matches.Website}),IF(ISNULL({!Loop_Through_Parent_Account_Matches.Domain_Name__c}),&apos;&apos;,{!Loop_Through_Parent_Account_Matches.Domain_Name__c}),{!Loop_Through_Parent_Account_Matches.Website})</expression>
    </formulas>
    <formulas>
        <name>YelpSearch</name>
        <dataType>String</dataType>
        <expression>&quot;https://www.yelp.com/search?find_desc=&quot;+{!Account.Name}</expression>
    </formulas>
    <interviewLabel>PPO2: Parent Flow Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PPO2: Parent Account Check</label>
    <loops>
        <name>Loop_Through_Parent_Account_Matches</name>
        <label>Loop Through Parent Account Matches</label>
        <locationX>1951</locationX>
        <locationY>993</locationY>
        <collectionReference>ParentAccountOptions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>List_Parent_Account_Options</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>End_Table</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Parent_Account_Matches_0</name>
        <label>Loop Through Parent Account Matches</label>
        <locationX>2291</locationX>
        <locationY>1270</locationY>
        <collectionReference>ParentAccountOptions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Matching_Parent</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Parent_Account</name>
        <label>Create New Parent Account</label>
        <locationX>1029</locationX>
        <locationY>244</locationY>
        <connector>
            <targetReference>Add_New_Parent_Account_to_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Account_Error</targetReference>
        </faultConnector>
        <inputReference>NewParentAccount</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_with_Id</name>
        <label>Get Account with ID</label>
        <locationX>620</locationX>
        <locationY>976</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flow_Mode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Website</queriedFields>
        <queriedFields>Domain_Name__c</queriedFields>
        <queriedFields>DUNS_Number__c</queriedFields>
        <queriedFields>Validations_Completed__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_DUNS_Record</name>
        <label>Get DUNS Record</label>
        <locationX>985</locationX>
        <locationY>621</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DUNS_Record_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Manual_Parent_Check_Step_1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DNBConnect__DUNSNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.DUNS_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DNBConnect__D_B_Connect_Company_Profile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Account_on_Account_0</name>
        <label>Update Parent Account on Account</label>
        <locationX>3298</locationX>
        <locationY>478</locationY>
        <connector>
            <targetReference>Parent_Account_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Account_Error_0</targetReference>
        </faultConnector>
        <inputReference>Account</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>All_Values_Null_Error</name>
        <label>All Values Null Error</label>
        <locationX>235</locationX>
        <locationY>757</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>All_Values_Null_Error_Description</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;ERROR: All Flow Variables are Null&lt;/b&gt;&lt;/p&gt;&lt;p&gt;This process has encountered an error. Please start again. If the error continues please &lt;a href=&quot;https://bit.ly/samsarasalesops&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;submit a ticket to Sales Ops&lt;/b&gt;&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Account_Error</name>
        <label>Create Account Error</label>
        <locationX>1029</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Create_Record_Error_Description</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;ERROR: Unable to Create Account&lt;/b&gt;&lt;/p&gt;&lt;p&gt;This process has encountered an error. Please ensure that the record includes all required fields. If this issue persists please reach out to Sales Systems.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Account_Error_0</name>
        <label>Create Account Error</label>
        <locationX>3472</locationX>
        <locationY>322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Create_Record_Error_Description_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;ERROR: Unable to Update Record&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Please ensure that you own this record, then re-attempt this process. If the error continues please &lt;a href=&quot;https://bit.ly/samsarasalesops&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;submit a ticket to Sales Ops&lt;/b&gt;&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Account_Error_0_0</name>
        <label>Create Account Error</label>
        <locationX>1716</locationX>
        <locationY>1266</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Create_Record_Error_Description_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;ERROR: Flow Account Finder&lt;/b&gt;&lt;/p&gt;&lt;p&gt;An APEX error has occurred. If the error continues please &lt;a href=&quot;https://bit.ly/samsarasalesops&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;submit a ticket to Sales Ops&lt;/b&gt;&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Parent_Account_Form</name>
        <label>Create Parent Account Form</label>
        <locationX>542</locationX>
        <locationY>245</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Parent_Account_Data</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;p&gt;You&apos;re creating a new parent account for &lt;b&gt;{!Account.Name}&lt;/b&gt;. Please enter the required account information below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NewAccountName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NAName</elementReference>
            </defaultValue>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NewAccountOrgSize</name>
            <choiceReferences>OrgSize</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Org Size</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NewAccountWebsite</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Website</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>NAWebsite</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>NewParentAccount.Website</assignToReference>
                <name>value</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Industry</name>
            <choiceReferences>Industries</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Industry</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NewAccountPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>NAPhone</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>NewParentAccount.Phone</assignToReference>
                <name>value</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NewAccountAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>NewParentAccount.BillingStreet</assignToReference>
                <name>street</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewParentAccount.BillingState</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewParentAccount.BillingPostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewParentAccount.BillingCountry</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NewParentAccount.BillingCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NewAccountVehicles</name>
            <dataType>Number</dataType>
            <fieldText>Vehicle Count</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NewAccountPoweredAssets</name>
            <dataType>Number</dataType>
            <fieldText>Powered Asset Count</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NewAccountUnpoweredAssets</name>
            <dataType>Number</dataType>
            <fieldText>Unpowered Asset Count</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DUNS_Number_Verification</name>
        <label>DUNS Number Verification</label>
        <locationX>1214</locationX>
        <locationY>621</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DUNS_Number_a_Good_Match</targetReference>
        </connector>
        <fields>
            <name>DUNS_Found_Verification_Desc</name>
            <fieldText>&lt;p&gt;We&apos;ve found a DUNS Number for this account. Can you verify that the information below matches? &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Account Name: &lt;/b&gt;{!Account.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;D&amp;amp;B Company Name: &lt;/b&gt;{!Get_DUNS_Record.DNBConnect__PrimName__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Does_the_D_B_Company_Name_Appear_to_Match</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Does the D&amp;B Company Name Appear to Match?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DUNS_Parent_Found</name>
        <label>DUNS_Parent_Found</label>
        <locationX>2149</locationX>
        <locationY>993</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Parent_Not_Found_in_SFDC</targetReference>
        </connector>
        <fields>
            <name>DUNS_Parent_Found_Description</name>
            <fieldText>&lt;p&gt;Let&apos;s check the {!Account.Name} account for any potential parent subsidiary relationships.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!ParentAccountMatchInformation}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Here are potential matches in Salesforce, please select the right account. If there are no results, or the correct parent account doesn&apos;t appear please select the &apos;Parent Account Not Found&apos; option below.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!ParentAccountMatches}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Account_Option_Select_From_Above</name>
            <choiceReferences>ParentNotFound0</choiceReferences>
            <choiceReferences>choice1</choiceReferences>
            <choiceReferences>choice2</choiceReferences>
            <choiceReferences>choice3</choiceReferences>
            <choiceReferences>choice4</choiceReferences>
            <choiceReferences>choice5</choiceReferences>
            <choiceReferences>choice6</choiceReferences>
            <choiceReferences>choice7</choiceReferences>
            <choiceReferences>choice8</choiceReferences>
            <choiceReferences>choice9</choiceReferences>
            <choiceReferences>choice10</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Please Select the Matching Parent Account</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Manual_Parent_Check_Step_1</name>
        <label>Manual Parent Check Step 1</label>
        <locationX>1085</locationX>
        <locationY>822</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Parent_Found_1</targetReference>
        </connector>
        <fields>
            <name>Manual_Parent_Check_Step_1_Description</name>
            <fieldText>&lt;p&gt;Let&apos;s check the &lt;b&gt;{!Account.Name}&lt;/b&gt; account for any potential parent subsidiary relationships.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Website: &lt;/b&gt;&lt;a href=&quot;{!AccountWebsite}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!AccountWebsite}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Domain:&lt;/b&gt; &lt;a href=&quot;https://{!Account.Domain_Name__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Account.Domain_Name__c}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Pre-Populated Search Links&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!SearchLinks}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you found a parent or subsidiary relationship add the information for the parent below, otherwise select that no Parent Account was found.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Parent_Company_Name_Search</name>
            <dataType>String</dataType>
            <fieldText>Parent Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Parent_Website_Search</name>
            <dataType>String</dataType>
            <fieldText>Parent Website</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Parent_Phone_Number_Search</name>
            <dataType>String</dataType>
            <fieldText>Parent Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Data_Source_Type</name>
            <choiceReferences>SourceWebsite</choiceReferences>
            <choiceReferences>ProspectCustomer</choiceReferences>
            <choiceReferences>SourceOther</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Data Source Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DataSource</name>
            <dataType>String</dataType>
            <fieldText>Data Source</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>I_certify_that_I_was_not_able_to_identify_a_parent</name>
            <dataType>Boolean</dataType>
            <fieldText>I certify that I was not able to identify a parent - subsidiary relationship for this account.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Parent_Account_Found</name>
        <label>Parent Account Found</label>
        <locationX>3972</locationX>
        <locationY>529</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoParentFound_Description_0_0</name>
            <fieldText>&lt;p&gt;{!FinalMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Parent_Change_Approval</name>
        <label>Parent Change Approval</label>
        <locationX>714</locationX>
        <locationY>391</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Selected_Yes</targetReference>
        </connector>
        <fields>
            <name>NoParentFound_Description_0_0_0_0</name>
            <fieldText>&lt;p&gt;You are updating the parent account for &lt;a href=&quot;/{!Account_Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;&lt;b&gt;{!Account.Name}&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;from &lt;/span&gt;&lt;a href=&quot;{!Account.ParentId&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;{!Account.Parent.Name}&lt;/b&gt;&lt;/a&gt; to &lt;a href=&quot;/{!Parent_Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;{!NewAccountName}&lt;/b&gt;&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SureYouWantToUpdate</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Are you sure you want to change the parent account?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Parent_Exists</name>
        <label>Parent Exists</label>
        <locationX>818</locationX>
        <locationY>535</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Complete_Check_Again</targetReference>
        </connector>
        <fields>
            <name>NoParentFound_Description_0_0_0</name>
            <fieldText>&lt;p&gt;It appears that &lt;b&gt;{!Account.Parent.Name} &lt;/b&gt;has already been identified as the parent of &lt;b&gt;{!Account.Name}&lt;/b&gt;. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ParentCheckAgain</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Would you like to conduct the parent check anyway?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>582</locationY>
        <connector>
            <targetReference>Account_is_Null</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DB_Account_Match_Info</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Duns &amp;amp; Bradstreet Database Check&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;It appears that a parent company relationship has been found in the D&amp;amp;B Database. The parent information is shown below.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Business Name: &lt;/b&gt;{!Get_DUNS_Record.parent_PrimName__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;DUNS Number:&lt;/b&gt;  {!Get_DUNS_Record.parent_duns__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>DB_Account_Matches</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Potential Parent Accounts:&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>FM_AdditionalApprovalMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;This change has been submitted to Sales Ops and is pending approval. &lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>FM_NewParentCreated</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; You&apos;ve successfully created the account &lt;/span&gt;&lt;a href=&quot;/{!NewParentAccount.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;b&gt;{!NewParentAccount.Name}&lt;/b&gt;&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; and marked it as the parent account &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;for &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Account.Name}&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>FM_NoParentFound</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;No parent account was found for &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Account.Name}&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;. Thank you for completing the Parent-Subsidiary Check!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>FM_ParentAlreadyFound</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Thank you for confirming the parent account of &lt;b&gt;{!Account.Name}&lt;/b&gt;. &lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>FM_ParentChangeApprovalComplete</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;You&apos;ve updated the parent account for &lt;/span&gt;&lt;a href=&quot;/{!Account_Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;&lt;b&gt;{!Account.Name}&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;from &lt;/span&gt;&lt;a href=&quot;/{!Account.ParentId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&lt;b&gt;{!Account.Parent.Name}&lt;/b&gt;&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; to &lt;/span&gt;&lt;a href=&quot;/{!Parent_Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&lt;b&gt;{!NewAccountName}&lt;/b&gt;&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>FM_ParentChangeDenied</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You have declined changing the parent account for &lt;/span&gt;&lt;a href=&quot;https://samsara--uat.lightning.force.com/%7B!Account_Id%7D&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;b&gt;{!Account.Name}&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;from &lt;/span&gt;&lt;a href=&quot;https://samsara--uat.lightning.force.com/builder_platform_interaction/%7B!Account.ParentId&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&lt;b&gt;{!Account.Parent.Name}&lt;/b&gt;&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; to &lt;/span&gt;&lt;a href=&quot;https://samsara--uat.lightning.force.com/%7B!Parent_Id%7D&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&lt;b&gt;{!NewAccountName}&lt;/b&gt;&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;. &lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>FM_ParentFound</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Thank you for identifying &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Parent_Account.Name}&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; as the parent of &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Account.Name}&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>FM_ParentFoundDNE</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Thank you for completing the Parent Subsidiary Check for &lt;b&gt;{!Account.Name}&lt;/b&gt;!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The parent account information has been sent to Sales Ops for creation. Since the parent account does not currently exist in Salesforce you can continue working this account as usual.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>MAN_Account_Match_Info</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Parent Account Search Results&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks for identifying the parent company! Here is the information you provided:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Company Name: &lt;/b&gt;{!Parent_Company_Name_Search}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Website:&lt;/b&gt;  {!Parent_Website_Search}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Phone Number: &lt;/b&gt;{!Parent_Phone_Number_Search}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ParentAccountChangeTicket</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hey Sales Ops, I would like to change the parent account listed on this account.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please verify that this is a valid change, then approve it in Salesforce:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!ParentAccountMatchInformation}&lt;/p&gt;&lt;p&gt;-&lt;/p&gt;&lt;p&gt;Child Account&lt;/p&gt;&lt;p&gt;{!Account.Name}&lt;/p&gt;&lt;p&gt;https://samsara.my.salesforce.com/{!Account.Id}&lt;/p&gt;&lt;p&gt;Existing Parent: {!ExistingParentBoolean}&lt;/p&gt;&lt;p&gt;https://samsara.my.salesforce.com/{!Account.ParentId}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click this link to accept the change (only works for Sales Ops):&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!FlowChangeApprovalLink}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ParentAccountMatch</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;tr&gt;
&lt;td&gt;{!RowCount}&lt;/td&gt;
&lt;td class=&quot;slds-truncate&quot;&gt;&lt;a href=&quot;/{!Loop_Through_Parent_Account_Matches.Id}&quot;&gt;{!Loop_Through_Parent_Account_Matches.Name}&lt;/a&gt;&lt;/td&gt;&lt;td&gt;&lt;a href=&quot;http://{!WebsiteDomain}&quot;&gt;{!WebsiteDomain}&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;{!Loop_Through_Parent_Account_Matches.Phone}&lt;/td&gt;
&lt;td&gt;{!Loop_Through_Parent_Account_Matches.DUNS_Number__c}&lt;/td&gt;
&lt;/tr&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ParentAccountTicket</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Hey Sales Ops, I found a parent account that may need to be created in Salesforce. 

Please verify that this is a valid parent account and create it in Salesforce:

{!ParentAccountMatchInformation}
-
Child Account
{!Account.Name}
https://samsara.my.salesforce.com/{!Account.Id}
Existing Parent: {!ExistingParentBoolean}
https://samsara.my.salesforce.com/{!Account.ParentId}

Click this link to finish creating the account in Salesforce and tag the child account with the new parent. (SalesOps Only)
{!FlowCompletionLink}</text>
    </textTemplates>
    <textTemplates>
        <name>SearchLinks</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table&gt;&lt;tr&gt;&lt;td width=&quot;160&quot;&gt;&lt;table&gt;&lt;tr&gt;
&lt;td&gt;&lt;a href=&quot;{!GoogleSearch}&quot;&gt;&lt;img src=&quot;https://samsara--c.documentforce.com/servlet/servlet.ImageServer?id=0154p0000007Ee9&amp;oid=00DDU0000006aET&amp;lastMod=1601079736000&quot; width=&quot;35&quot;/&gt;&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;&lt;a href=&quot;{!LinkedInSearch}&quot;&gt;&lt;img src=&quot;https://samsara--c.documentforce.com/servlet/servlet.ImageServer?id=0154p0000007Edz&amp;oid=00DDU0000006aET&amp;lastMod=1601079694000&quot; width=&quot;35&quot;/&gt;&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;&lt;a href=&quot;{!FacebookSearch}&quot;&gt;&lt;img src=&quot;https://samsara--c.documentforce.com/servlet/servlet.ImageServer?id=0154p0000007Edu&amp;oid=00DDU0000006aET&amp;lastMod=1601079198000&quot;  width=&quot;35&quot;/&gt;&lt;/a&gt;&lt;/td&gt;
&lt;td&gt;&lt;a href=&quot;{!YelpSearch}&quot;&gt;&lt;img src=&quot;https://samsara--c.documentforce.com/servlet/servlet.ImageServer?id=0154p0000007Ee4&amp;oid=00DDU0000006aET&amp;lastMod=1601079711000&quot; width=&quot;35&quot;/&gt;&lt;/a&gt;&lt;/td&gt;
&lt;/tr&gt;&lt;/table&gt;&lt;/td&gt;&lt;td&gt;&amp;nbsp;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Table_End</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Table_Start</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table class=&quot;slds-table slds-table_bordered slds-table_striped 
slds-table_fixed-layout&quot;&gt;&lt;tr class=&quot;slds-text-title_caps&quot;&gt;&lt;td width=&quot;30&quot;&gt;#&lt;/td&gt;&lt;td&gt;Account&lt;/td&gt;&lt;td&gt;Website&lt;/td&gt;&lt;td&gt;Phone&lt;/td&gt;&lt;td&gt;DUNS Number&lt;/td&gt;&lt;/tr&gt;</text>
    </textTemplates>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Account_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>email_test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Emails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>salesops@samsara.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>FinalMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlowMode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Standard</stringValue>
        </value>
    </variables>
    <variables>
        <name>NAName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>NAPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>NAWebsite</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>NewParentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NoParent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Parent_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Parent_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentAccountMatches</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentAccountMatchInformation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentAccountOptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ParentNotFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RowCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Search_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Search_Account_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
