force-app/main/default/flows/PPO2_De_Dupe_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_Existing_Duplicates</name>
        <label>Get Existing Duplicates</label>
        <locationX>1338</locationX>
        <locationY>922</locationY>
        <actionName>DedupeAccounts</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Duplicate_Record_Set_Results_to_be_Filtered</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accounts</name>
            <value>
                <elementReference>Account</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DedupeAccounts</nameSegment>
        <outputParameters>
            <assignToReference>Duplicate_Account_Records</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Search_for_Potential_Duplicates</name>
        <label>Search for Potential Duplicates</label>
        <locationX>1641</locationX>
        <locationY>923</locationY>
        <actionName>FlowAccountFinder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Fold_in_Search_Duplicates</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>a</name>
            <value>
                <elementReference>FilterAccounts</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowAccountFinder</nameSegment>
        <outputParameters>
            <assignToReference>SOSL_Duplicate_Accounts</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Submit_Ticket_to_Sales_Ops2</name>
        <label>Submit Sales Ops Ticket</label>
        <locationX>2681</locationX>
        <locationY>917</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Pre_Call_Validation_Complete_DUPLICATE</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>email_for_salesops</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>email_addresses_for_salesops</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>duplicate_email_subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Duplicate_Record_Set_Results_to_be_Filtered</name>
        <label>Add Duplicate Record Set Results to be Filtered</label>
        <locationX>1488</locationX>
        <locationY>922</locationY>
        <assignmentItems>
            <assignToReference>FilterAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Duplicate_Account_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_for_Potential_Duplicates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Duplicate_to_Email</name>
        <label>Add Duplicate to Email</label>
        <locationX>1829</locationX>
        <locationY>1278</locationY>
        <assignmentItems>
            <assignToReference>email_for_salesops</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>duplicate_email_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email_addresses_for_salesops</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>duplicate_email_addresses_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Duplicates_Found</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>duplicate_account_ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Duplicate_Accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List_of_Completed_Account_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Email_Body</name>
        <label>Add First Email Body</label>
        <locationX>1188</locationX>
        <locationY>923</locationY>
        <assignmentItems>
            <assignToReference>email_for_salesops</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>primary_email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email_addresses_for_salesops</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.Current_Owner_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email_addresses_for_salesops</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, salesops@samsara.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FilterAccounts</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Duplicates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_List_of_Completed_Account_Ids</name>
        <label>Add to List of Completed Account Ids</label>
        <locationX>1830</locationX>
        <locationY>1076</locationY>
        <assignmentItems>
            <assignToReference>DuplicateAccountIds_Checked</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Duplicate_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Duplicate_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fold_in_Search_Duplicates</name>
        <label>Add Search Duplicates</label>
        <locationX>1832</locationX>
        <locationY>923</locationY>
        <assignmentItems>
            <assignToReference>Duplicate_Account_Records</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOSL_Duplicate_Accounts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DuplicateAccountIds_Checked</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Duplicate_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mark_Validation_Complete</name>
        <label>Mark Validation Complete</label>
        <locationX>2263</locationX>
        <locationY>918</locationY>
        <assignmentItems>
            <assignToReference>Account.Validations_Completed__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Duplicate Check</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Validations</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>line_break</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>Account_is_Null</name>
        <label>Account is Null</label>
        <locationX>817</locationX>
        <locationY>989</locationY>
        <defaultConnector>
            <targetReference>DeDupe_Step1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_is_Null_Account_ID_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PCV_Account</targetReference>
            </connector>
            <label>Account is Null, Account ID Populated</label>
        </rules>
        <rules>
            <name>All_Values_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Values_Null_Error</targetReference>
            </connector>
            <label>All Values Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Already_Checked</name>
        <label>Already Checked?</label>
        <locationX>2325</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Review_Duplicate_Account_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Already_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateAccountIds_Checked</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Duplicate_Accounts.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Duplicate_Accounts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_Duplicates_Found</name>
        <label>Duplicates Found?</label>
        <locationX>2503</locationX>
        <locationY>919</locationY>
        <defaultConnector>
            <targetReference>Pre_Call_Validation_Complete_DUPLICATE_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Duplicates_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Duplicates_Found</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Ticket_to_Sales_Ops2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_account_a_duplicate</name>
        <label>Is this account a duplicate?</label>
        <locationX>2077</locationX>
        <locationY>1273</locationY>
        <defaultConnector>
            <targetReference>Add_to_List_of_Completed_Account_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>This_Account_is_a_Duplicate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Duplicate_to_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>updated duplicate email for proper formatting</description>
    <dynamicChoiceSets>
        <name>ValidationsCompleted_List</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Validations_Completed__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Basic_URL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_340}))</expression>
    </formulas>
    <formulas>
        <name>CompanyDomain</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Account.Domain_Name__c}),&quot;N/A&quot;,{!Account.Domain_Name__c})</expression>
    </formulas>
    <formulas>
        <name>CompanyWebsite</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Account.Website}),&quot;N/A&quot;,{!Account.Website})</expression>
    </formulas>
    <formulas>
        <name>DupeFullBillingAddress</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Duplicate_Accounts.BillingStreet}),&quot;&quot;,{!Duplicate_Accounts.BillingStreet}+&quot;, &quot;)+IF(ISBLANK({!Duplicate_Accounts.BillingCity}),&quot;&quot;,{!Duplicate_Accounts.BillingCity}+&quot;, &quot;)+{!Duplicate_Accounts.BillingState}+IF(ISBLANK({!Duplicate_Accounts.BillingPostalCode}),&quot;&quot;,&quot; &quot;+{!Duplicate_Accounts.BillingPostalCode})</expression>
    </formulas>
    <formulas>
        <name>duplicate_email_addresses_1</name>
        <dataType>String</dataType>
        <expression>IF({!Duplicate_Accounts.Current_Owner_Email__c}=&quot;sfdc-pool@samsara.com&quot;,&quot;&quot;,&quot;, &quot;+{!Duplicate_Accounts.Current_Owner_Email__c}+&quot;.invalid&quot;)</expression>
    </formulas>
    <formulas>
        <name>duplicate_email_subject</name>
        <dataType>String</dataType>
        <expression>&quot;[Duplicate Account] &quot;+{!Account.Name}</expression>
    </formulas>
    <formulas>
        <name>DuplicateAltDomain</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Duplicate_Accounts.Alternative_Domains__c}),&quot;N/A&quot;,{!Duplicate_Accounts.Alternative_Domains__c})</expression>
    </formulas>
    <formulas>
        <name>DuplicateDomain</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Duplicate_Accounts.Domain_Name__c}),&quot;N/A&quot;,{!Duplicate_Accounts.Domain_Name__c})</expression>
    </formulas>
    <formulas>
        <name>DuplicateENTAssignment</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Duplicate_Accounts.Enterprise_Assignment__c})),&quot;N/A&quot;,TEXT({!Duplicate_Accounts.Enterprise_Assignment__c}))</expression>
    </formulas>
    <formulas>
        <name>DuplicateISAssignment</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Duplicate_Accounts.Inside_Sales_Assignment__c})),&quot;N/A&quot;,TEXT({!Duplicate_Accounts.Inside_Sales_Assignment__c}))</expression>
    </formulas>
    <formulas>
        <name>DuplicatePhone</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Duplicate_Accounts.Phone}),&quot;N/A&quot;,{!Duplicate_Accounts.Phone})</expression>
    </formulas>
    <formulas>
        <name>DuplicateRecyclingOwner</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Duplicate_Accounts.Original_Owner_for_Recycling_Campaign__c}),&quot;N/A&quot;,{!Duplicate_Accounts.Original_Owner_for_Recycling_Campaign__c})</expression>
    </formulas>
    <formulas>
        <name>DuplicateVehicles</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Duplicate_Accounts.Number_of_Vehicles__c}),&quot;N/A&quot;,TEXT({!Duplicate_Accounts.Number_of_Vehicles__c}))</expression>
    </formulas>
    <formulas>
        <name>DuplicateWebsite</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Duplicate_Accounts.Website}),&quot;N/A&quot;,{!Duplicate_Accounts.Website})</expression>
    </formulas>
    <formulas>
        <name>FullBillingAddress</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Account.BillingStreet}),&quot;&quot;,{!Account.BillingStreet}+&quot;, &quot;)+IF(ISBLANK({!Account.BillingCity}),&quot;&quot;,{!Account.BillingCity}+&quot;, &quot;)+{!Account.BillingState}+IF(ISBLANK({!Account.BillingPostalCode}),&quot;&quot;,&quot; &quot;+{!Account.BillingPostalCode})</expression>
    </formulas>
    <interviewLabel>PPO2: De-Dupe Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PPO2: Duplicate Account Check</label>
    <loops>
        <name>Check_Duplicate_Accounts</name>
        <label>Check Duplicate Accounts</label>
        <locationX>2086</locationX>
        <locationY>931</locationY>
        <assignNextValueToReference>Duplicate_Accounts</assignNextValueToReference>
        <collectionReference>Duplicate_Account_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Already_Checked</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Mark_Validation_Complete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>PCV_Account</name>
        <label>Account</label>
        <locationX>919</locationX>
        <locationY>1206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DeDupe_Step1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Website</queriedFields>
        <queriedFields>Domain_Name__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>Industry</queriedFields>
        <queriedFields>Organization_Size__c</queriedFields>
        <queriedFields>Account_with_Owner__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Enterprise_Assignment__c</queriedFields>
        <queriedFields>Inside_Sales_Assignment__c</queriedFields>
        <queriedFields>Account_Assignment_Date__c</queriedFields>
        <queriedFields>Number_of_Vehicles__c</queriedFields>
        <queriedFields>Original_Owner_for_Recycling_Campaign__c</queriedFields>
        <queriedFields>Current_Owner_Email__c</queriedFields>
        <queriedFields>Alternative_Domains__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Validations_Completed__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Validations</name>
        <label>Update Account Validations</label>
        <locationX>2376</locationX>
        <locationY>917</locationY>
        <connector>
            <targetReference>Are_Duplicates_Found</targetReference>
        </connector>
        <inputReference>Account</inputReference>
    </recordUpdates>
    <screens>
        <name>All_Values_Null_Error</name>
        <label>All Values Null Error</label>
        <locationX>672</locationX>
        <locationY>1187</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>All_Values_Null_Error_Description</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;ERROR: All Flow Variables are Null&lt;/b&gt;&lt;/p&gt;&lt;p&gt;This process has encountered an error. Please start again. If the error continues please &lt;a href=&quot;https://bit.ly/samsarasalesops&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;submit a ticket to Sales Ops&lt;/b&gt;&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DeDupe_Step1</name>
        <label>De-Dupe Step 1</label>
        <locationX>1016</locationX>
        <locationY>982</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Email_Body</targetReference>
        </connector>
        <fields>
            <name>DeDupe_Step1_Instructions</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Review Account for Duplicates&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!Account.Account_with_Owner__c} &lt;/b&gt;is currently in status &lt;b&gt;{!Account.Status__c}&lt;/b&gt;. For the first step in this process, we&apos;ll check for duplicates. During the following steps you&apos;ll be shown accounts that have already been identified as potential duplicates.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please press &apos;Next&apos; to continue.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pre_Call_Validation_Complete_DUPLICATE</name>
        <label>Pre-Call Validation Complete DUPLICATE</label>
        <locationX>2680</locationX>
        <locationY>1275</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Pre_Call_Validation_Complete_DUPLICATE_Instructions</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;This account has been marked as a &lt;/b&gt;&lt;b style=&quot;font-size: 16px; color: rgb(255, 208, 0);&quot;&gt;DUPLICATE&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Account.Name} has successfully been marked as validation complete and flagged as a duplicate.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://samsara.my.salesforce.com/{!Account.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&lt;b&gt;Click here to return to {!Account.Name}&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pre_Call_Validation_Complete_DUPLICATE_0</name>
        <label>Pre-Call Validation Complete DUPLICATE</label>
        <locationX>2511</locationX>
        <locationY>1273</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Pre_Call_Validation_Complete_DUPLICATE_Instructions_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Thank you for completing the duplicate account check!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Account.Name} has successfully been marked as validation complete.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://samsara.my.salesforce.com/{!Account.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&lt;b&gt;Click here to return to {!Account.Name}&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Duplicate_Account_Record</name>
        <label>Review Duplicate Account Record</label>
        <locationX>2333</locationX>
        <locationY>1271</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_this_account_a_duplicate</targetReference>
        </connector>
        <fields>
            <name>Review_Duplicate_Account_Record_Instructions</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Check Duplicate Accounts&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Account to be Validated&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Name: &lt;/b&gt;&lt;a href=&quot;/{!Account.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Account.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Website:&lt;/b&gt; &lt;a href=&quot;{!Account.Website}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Account.Website}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Domain: &lt;/b&gt;&lt;a href=&quot;https://{!Account.Domain_Name__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Account.Domain_Name__c}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Phone: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Account.Phone}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Billing Address: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!FullBillingAddress}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Alternative Domains&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;: {!Account.Alternative_Domains__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Duplicate Account&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Name: &lt;/b&gt;&lt;a href=&quot;/{!Duplicate_Accounts.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Duplicate_Accounts.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Website: &lt;/b&gt;&lt;a href=&quot;http://{!DuplicateWebsite}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!DuplicateWebsite}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Domain: &lt;/b&gt;&lt;a href=&quot;http://{!DuplicateDomain}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!DuplicateDomain}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Phone:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; {!DuplicatePhone}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Billing Address: &lt;/b&gt;{!DupeFullBillingAddress}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Alternative Domains: {!DuplicateAltDomain}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>This_Account_is_a_Duplicate</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>The duplicate account listed is a match.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>429</locationX>
        <locationY>904</locationY>
        <connector>
            <targetReference>Account_is_Null</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>duplicate_email_1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Duplicate_Accounts.Account_with_Owner__c}

Link to Account: {!Basic_URL}/{!Duplicate_Accounts.Id}
Account Status: {!Duplicate_Accounts.Status__c}
Website: {!DuplicateWebsite}
Domain: http://{!DuplicateDomain}
Phone Number: {!DuplicatePhone}
Number of Vehicles: {!DuplicateVehicles}
Billing Address: {!DupeFullBillingAddress}
Account Assignment Date: {!Duplicate_Accounts.Account_Assignment_Date__c}
Original Owner for Recycling Campaign: {!DuplicateRecyclingOwner}
IS Assignment: {!DuplicateISAssignment}
ENT Assignment: {!DuplicateENTAssignment}
-</text>
    </textTemplates>
    <textTemplates>
        <name>line_break_full</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!line_break}&lt;/p&gt;&lt;p&gt;{!line_break}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Message_for_Error_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(215, 11, 11);&quot;&gt;ERROR: No results found. Please copy and paste the exact account name, ensuring there are no extra spaces.&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>primary_email</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hey Sales Ops, I found a duplicate account in Salesforce. 

Please double check that these are duplicates and merge the following accounts:

{!Account.Account_with_Owner__c}
Link to Account: {!Basic_URL}/{!Account.Id}
Account Status: {!Account.Status__c}
Website: {!Account.Website}
Domain: http://{!Account.Domain_Name__c}
Phone Number: {!Account.Phone}
Number of Vehicles: {!Account.Number_of_Vehicles__c}
Billing Address: {!FullBillingAddress}
Account Assignment Date: {!Account.Account_Assignment_Date__c}
Original Owner for Recycling Campaign: {!Account.Original_Owner_for_Recycling_Campaign__c}
IS Assignment: {!Account.Inside_Sales_Assignment__c}
ENT Assignment: {!Account.Enterprise_Assignment__c}
 -</text>
    </textTemplates>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Account_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>duplicate_account_ids</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Duplicate_Account_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Duplicate_Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>DuplicateAccountIds_Checked</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Duplicates_Found</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>email_addresses_for_salesops</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&quot;salesops@samsara.com.invalid, &quot;+{!Account.Current_Owner_Email__c}</stringValue>
        </value>
    </variables>
    <variables>
        <name>email_for_salesops</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FilterAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>PicklistAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SOSL_Duplicate_Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
