force-app/main/default/flows/Propel_Create_Product_GEO_Availability_Record_in_SF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Product_Exists</name>
        <label>Product Exists</label>
        <locationX>446</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Set_Pending_Product_Update_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Product_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_product_records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_GEO_Availability_Record</targetReference>
            </connector>
            <label>Yes Product Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_GEO_Exists</name>
        <label>Product GEO Exists</label>
        <locationX>248</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>get_product_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Product_GEO_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Product_GEO_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Product_Geo_Availability_Records</targetReference>
            </connector>
            <label>Yes Product GEO Exists</label>
        </rules>
    </decisions>
    <description>On Approval of GEO Availability record in PLM, create or update the Product GEO Availability record in SFDC</description>
    <interviewLabel>Propel: Create Product GEO Availability Form in SF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Propel: Create Product GEO Availability Record in SF</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Product_GEO_Availability_Record</name>
        <label>Create Product GEO Availability Record</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Beta_Start_Date__c</field>
            <value>
                <elementReference>$Record.Beta_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Certification_Date__c</field>
            <value>
                <elementReference>$Record.Certification_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Certification__c</field>
            <value>
                <elementReference>$Record.Certification__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>$Record.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_of_Sale_Date__c</field>
            <value>
                <elementReference>$Record.End_of_Sale_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Geo__c</field>
            <value>
                <elementReference>$Record.Geo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Go_Live_Active_Date__c</field>
            <value>
                <elementReference>$Record.Go_Live_Active_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_time_buy_Date__c</field>
            <value>
                <elementReference>$Record.Last_Time_Buy_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PM_Gate__c</field>
            <value>
                <elementReference>$Record.PM_Gate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>get_product_records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Propel_External_ID__c</field>
            <value>
                <elementReference>$Record.Autonumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RMA__c</field>
            <value>
                <elementReference>$Record.RMA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_GTMS_Lifecycle__c</field>
            <value>
                <elementReference>$Record.Status_GTMS_Lifecycle__c</elementReference>
            </value>
        </inputAssignments>
        <object>Product_Geo_Availability__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Existing_Product_GEO_Record</name>
        <label>Existing Product GEO Record</label>
        <locationX>248</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_GEO_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Propel_External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Autonumber__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Geo_Availability__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_product_records</name>
        <label>Get Product Records</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Exists</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Pending_Product_Update_Flag</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Applicable_SKU__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Pending_Product_Update_Flag</name>
        <label>Set Pending Product Update Flag</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Pending_Product_Update__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Geo_Availability_Records</name>
        <label>Update Product Geo Availability Records</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Existing_Product_GEO_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Beta_Start_Date__c</field>
            <value>
                <elementReference>$Record.Beta_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Certification_Date__c</field>
            <value>
                <elementReference>$Record.Certification_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Certification__c</field>
            <value>
                <elementReference>$Record.Certification__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>$Record.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_of_Sale_Date__c</field>
            <value>
                <elementReference>$Record.End_of_Sale_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Geo__c</field>
            <value>
                <elementReference>$Record.Geo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Go_Live_Active_Date__c</field>
            <value>
                <elementReference>$Record.Go_Live_Active_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_time_buy_Date__c</field>
            <value>
                <elementReference>$Record.Last_Time_Buy_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PM_Gate__c</field>
            <value>
                <elementReference>$Record.PM_Gate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RMA__c</field>
            <value>
                <elementReference>$Record.RMA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_GTMS_Lifecycle__c</field>
            <value>
                <elementReference>$Record.Status_GTMS_Lifecycle__c</elementReference>
            </value>
        </inputAssignments>
        <object>Product_Geo_Availability__c</object>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Existing_Product_GEO_Record</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Geo_Availability__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
