force-app/main/default/flows/PSA_BVS_Closeout_Survey_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>PSA BVS Closeout Survey Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PSA BVS Closeout Survey Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Screen flow inputs to create BVS record</description>
        <name>Create_BVS_Closeout_Survey</name>
        <label>Create BVS Closeout Survey</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>All_final_deliverables_submitted__c</field>
            <value>
                <elementReference>Final_deliverables_uploaded_to_BVS_Drive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_case_has_industry_value_goals__c</field>
            <value>
                <elementReference>Business_case_has_industry_value_goals</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESM_and_DD_Handoffs_Completed__c</field>
            <value>
                <elementReference>ESM_and_DD_Handoffs_Completed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_business_case_linked_in_SFDC_oppty__c</field>
            <value>
                <elementReference>Final_business_case_linked_in_SFDC_oppty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gold_Standard_and_BVS_Templates_Used__c</field>
            <value>
                <elementReference>Gold_Standard_and_BVS_Templates_Used</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry_Specific_Value_Goals_Details__c</field>
            <value>
                <elementReference>List_industry_specific_value_goals_here</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>BVS_Project_Closeout_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>BVS_Closeout_Survey</name>
        <label>BVS Closeout Survey</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_BVS_Closeout_Survey</targetReference>
        </connector>
        <fields>
            <name>ESM_and_DD_Handoffs_Completed</name>
            <dataType>Boolean</dataType>
            <fieldText>ESM and DD Handoffs Completed</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Final_deliverables_uploaded_to_BVS_Drive</name>
            <dataType>Boolean</dataType>
            <fieldText>Final deliverables uploaded to BVS Drive</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Final_business_case_linked_in_SFDC_oppty</name>
            <dataType>Boolean</dataType>
            <fieldText>Final business case linked in SFDC oppty</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Gold_Standard_and_BVS_Templates_Used</name>
            <dataType>Boolean</dataType>
            <fieldText>Gold Standard and BVS Templates Used</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Check this box if you used the Gold Standard slides + BVS templates for your business case.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Business_case_has_industry_value_goals</name>
            <dataType>Boolean</dataType>
            <fieldText>Business case has industry value goals</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>List_industry_specific_value_goals_here</name>
            <dataType>String</dataType>
            <fieldText>List industry-specific value goals here</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; style=&quot;width: 1678.67px; color: rgb(0, 0, 0); font-family: Helvetica; font-size: 11.36px;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td class=&quot;data2Col&quot; colspan=&quot;3&quot; style=&quot;margin: 0px; padding: 3px 2px 3px 10px; font-family: Arial, Helvetica, sans-serif; vertical-align: top; border-bottom: 1px solid rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236); width: 1364.51px;&quot;&gt;If you answered no to any of the above questions, please provide written feedback&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Survey_Confirmation</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Your submissions have been recorded.   To change your responses, click the &quot;Previous&quot; button.   To save and submit, click &quot;Finish.&quot;   Once saved, changes are not permitted.</stringValue>
            </defaultValue>
            <fieldText>Survey Confirmation</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>BVS_Closeout_Survey</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
