force-app/main/default/flows/PSA_Certinia_Automatic_Project_Creation_Initial_Business.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_MileStonesfromTemplate</name>
        <label>Add MileStonesfromTemplate</label>
        <locationX>314</locationX>
        <locationY>1872</locationY>
        <actionName>pse__ActionMilestonesAddFromTemplates</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Resource_Requests_from_Template_Core</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>TargetId</name>
            <value>
                <elementReference>varCreatedProjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TemplateId</name>
            <value>
                <stringValue>aFo5e000000gCbQCAU</stringValue>
            </value>
        </inputParameters>
        <nameSegment>pse__ActionMilestonesAddFromTemplates</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Add_MileStonesfromTemplate_CoreCS</name>
        <label>Add MileStonesfromTemplate</label>
        <locationX>1634</locationX>
        <locationY>1764</locationY>
        <actionName>pse__ActionMilestonesAddFromTemplates</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Resource_Requests_from_Template</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>TargetId</name>
            <value>
                <elementReference>varCreatedProjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TemplateId</name>
            <value>
                <stringValue>aFo8J000000PB52SAG</stringValue>
            </value>
        </inputParameters>
        <nameSegment>pse__ActionMilestonesAddFromTemplates</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Add_MileStonesfromTemplate_Corestandard</name>
        <label>Add MileStonesfromTemplate</label>
        <locationX>50</locationX>
        <locationY>1872</locationY>
        <actionName>pse__ActionMilestonesAddFromTemplates</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Resource_Requests_from_Template_core_standard</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>TargetId</name>
            <value>
                <elementReference>varCreatedProjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TemplateId</name>
            <value>
                <stringValue>aFo5e000000gCbQCAU</stringValue>
            </value>
        </inputParameters>
        <nameSegment>pse__ActionMilestonesAddFromTemplates</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Add_MileStonesfromTemplate_select</name>
        <label>Add MileStonesfromTemplate</label>
        <locationX>842</locationX>
        <locationY>1764</locationY>
        <actionName>pse__ActionMilestonesAddFromTemplates</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Resource_Requests_from_Template_Select</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>TargetId</name>
            <value>
                <elementReference>varCreatedProjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TemplateId</name>
            <value>
                <stringValue>aFo5e000000gCbWCAU</stringValue>
            </value>
        </inputParameters>
        <nameSegment>pse__ActionMilestonesAddFromTemplates</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Add_MileStonesfromTemplateCSSEL</name>
        <label>Add MileStonesfromTemplate</label>
        <locationX>1898</locationX>
        <locationY>1764</locationY>
        <actionName>pse__ActionMilestonesAddFromTemplates</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Resource_Requests_from_TemplateCSSEL</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>TargetId</name>
            <value>
                <elementReference>varCreatedProjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TemplateId</name>
            <value>
                <stringValue>aFo5e000000gCbWCAU</stringValue>
            </value>
        </inputParameters>
        <nameSegment>pse__ActionMilestonesAddFromTemplates</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Add_Resource_Requests_from_Template</name>
        <label>Add Resource Requests from Template</label>
        <locationX>1634</locationX>
        <locationY>1872</locationY>
        <actionName>pse__ActionResourceRequestsAddFromTemplates</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Project_with_MilestonesCScore</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>TargetId</name>
            <value>
                <elementReference>varCreatedProjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TemplateId</name>
            <value>
                <stringValue>aFo8J000000PB52SAG</stringValue>
            </value>
        </inputParameters>
        <nameSegment>pse__ActionResourceRequestsAddFromTemplates</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Add_Resource_Requests_from_Template_Core</name>
        <label>Add Resource Requests from Template</label>
        <locationX>314</locationX>
        <locationY>1980</locationY>
        <actionName>pse__ActionResourceRequestsAddFromTemplates</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Project_with_Milestones</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>TargetId</name>
            <value>
                <elementReference>varCreatedProjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TemplateId</name>
            <value>
                <stringValue>aFo5e000000gCbQCAU</stringValue>
            </value>
        </inputParameters>
        <nameSegment>pse__ActionResourceRequestsAddFromTemplates</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Add_Resource_Requests_from_Template_core_standard</name>
        <label>Add Resource Requests from Template core standard</label>
        <locationX>50</locationX>
        <locationY>1980</locationY>
        <actionName>pse__ActionResourceRequestsAddFromTemplates</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Project_with_Milestones_CoreStandardFP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>TargetId</name>
            <value>
                <elementReference>varCreatedProjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TemplateId</name>
            <value>
                <stringValue>aFo5e000000gCbQCAU</stringValue>
            </value>
        </inputParameters>
        <nameSegment>pse__ActionResourceRequestsAddFromTemplates</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Add_Resource_Requests_from_Template_Select</name>
        <label>Add Resource Requests from Template</label>
        <locationX>842</locationX>
        <locationY>1872</locationY>
        <actionName>pse__ActionResourceRequestsAddFromTemplates</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Project_with_Milestones_Select</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>TargetId</name>
            <value>
                <elementReference>varCreatedProjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TemplateId</name>
            <value>
                <stringValue>aFo5e000000gCbWCAU</stringValue>
            </value>
        </inputParameters>
        <nameSegment>pse__ActionResourceRequestsAddFromTemplates</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Add_Resource_Requests_from_Template_Strategic</name>
        <label>Add Resource Requests from Template</label>
        <locationX>1106</locationX>
        <locationY>1872</locationY>
        <actionName>pse__ActionResourceRequestsAddFromTemplates</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Project_with_Milestones_Strategic</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>TargetId</name>
            <value>
                <elementReference>varCreatedProjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TemplateId</name>
            <value>
                <stringValue>aFo5e000000gCbfCAE</stringValue>
            </value>
        </inputParameters>
        <nameSegment>pse__ActionResourceRequestsAddFromTemplates</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Add_Resource_Requests_from_TemplateCSSEL</name>
        <label>Add Resource Requests from Template</label>
        <locationX>1898</locationX>
        <locationY>1872</locationY>
        <actionName>pse__ActionResourceRequestsAddFromTemplates</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Project_with_MilestonesCSSEL</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>TargetId</name>
            <value>
                <elementReference>varCreatedProjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TemplateId</name>
            <value>
                <stringValue>aFo5e000000gCbWCAU</stringValue>
            </value>
        </inputParameters>
        <nameSegment>pse__ActionResourceRequestsAddFromTemplates</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Add_Resource_Requests_from_TemplateCSSTR</name>
        <label>Add Resource Requests from Template</label>
        <locationX>2162</locationX>
        <locationY>1872</locationY>
        <actionName>pse__ActionResourceRequestsAddFromTemplates</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Project_with_MilestonesCSSTR</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>TargetId</name>
            <value>
                <elementReference>varCreatedProjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TemplateId</name>
            <value>
                <stringValue>aFo5e000000gCbfCAE</stringValue>
            </value>
        </inputParameters>
        <nameSegment>pse__ActionResourceRequestsAddFromTemplates</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Core_Cross_Sell_Project_Creation_via_Apex_CS</name>
        <label>Core Cross-Sell Project Creation via Apex</label>
        <locationX>1634</locationX>
        <locationY>1656</locationY>
        <actionName>PSAProject</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_MileStonesfromTemplate_CoreCS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>engagementType</name>
            <value>
                <elementReference>engagementType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expectedEndDate</name>
            <value>
                <elementReference>expectedEndDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseAccount</name>
            <value>
                <elementReference>pseAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseEndDate</name>
            <value>
                <elementReference>pseEndDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseGroup</name>
            <value>
                <elementReference>pseGroup</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseOpportunity</name>
            <value>
                <elementReference>pseOpportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseProjectType</name>
            <value>
                <elementReference>pseProjectType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseRegion</name>
            <value>
                <elementReference>pseRegion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseStartDate</name>
            <value>
                <elementReference>pseStartDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PSAProject</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varCreatedProjectId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Core_Standard_Project_Creation_via_Apex_FP</name>
        <label>Core Standard Project Creation via Apex</label>
        <locationX>50</locationX>
        <locationY>1764</locationY>
        <actionName>PSAProject</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_MileStonesfromTemplate_Corestandard</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>engagementType</name>
            <value>
                <elementReference>engagementType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expectedEndDate</name>
            <value>
                <elementReference>expectedEndDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseAccount</name>
            <value>
                <elementReference>pseAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseEndDate</name>
            <value>
                <elementReference>pseEndDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseGroup</name>
            <value>
                <elementReference>pseGroup</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseOpportunity</name>
            <value>
                <elementReference>pseOpportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseProjectType</name>
            <value>
                <elementReference>pseProjectType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseRegion</name>
            <value>
                <elementReference>pseRegion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseStartDate</name>
            <value>
                <elementReference>pseStartDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PSAProject</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varCreatedProjectId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>MileStonesfromTemplate_Strategic</name>
        <label>MileStonesfromTemplate</label>
        <locationX>1106</locationX>
        <locationY>1764</locationY>
        <actionName>pse__ActionMilestonesAddFromTemplates</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Resource_Requests_from_Template_Strategic</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>TargetId</name>
            <value>
                <elementReference>varCreatedProjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TemplateId</name>
            <value>
                <stringValue>aFo5e000000gCbfCAE</stringValue>
            </value>
        </inputParameters>
        <nameSegment>pse__ActionMilestonesAddFromTemplates</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>MileStonesfromTemplateCSSTR</name>
        <label>MileStonesfromTemplateCSSTR</label>
        <locationX>2162</locationX>
        <locationY>1764</locationY>
        <actionName>pse__ActionMilestonesAddFromTemplates</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Resource_Requests_from_TemplateCSSTR</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>TargetId</name>
            <value>
                <elementReference>varCreatedProjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TemplateId</name>
            <value>
                <stringValue>aFo5e000000gCbfCAE</stringValue>
            </value>
        </inputParameters>
        <nameSegment>pse__ActionMilestonesAddFromTemplates</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Select_Cross_Sell_Project_Creation_via_Apex</name>
        <label>Select Cross-Sell Project Creation via Apex</label>
        <locationX>1898</locationX>
        <locationY>1656</locationY>
        <actionName>PSAProject</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_MileStonesfromTemplateCSSEL</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>engagementType</name>
            <value>
                <elementReference>engagementType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expectedEndDate</name>
            <value>
                <elementReference>expectedEndDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseAccount</name>
            <value>
                <elementReference>pseAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseEndDate</name>
            <value>
                <elementReference>pseEndDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseGroup</name>
            <value>
                <elementReference>pseGroup</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseOpportunity</name>
            <value>
                <elementReference>pseOpportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseProjectType</name>
            <value>
                <elementReference>pseProjectType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseRegion</name>
            <value>
                <elementReference>pseRegion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseStartDate</name>
            <value>
                <elementReference>pseStartDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PSAProject</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varCreatedProjectId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Select_Project_Creation_via_Apex</name>
        <label>Select Project Creation via Apex</label>
        <locationX>842</locationX>
        <locationY>1656</locationY>
        <actionName>PSAProject</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_MileStonesfromTemplate_select</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>engagementType</name>
            <value>
                <elementReference>engagementType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expectedEndDate</name>
            <value>
                <elementReference>expectedEndDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseAccount</name>
            <value>
                <elementReference>pseAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseEndDate</name>
            <value>
                <elementReference>pseEndDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseGroup</name>
            <value>
                <elementReference>pseGroup</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseOpportunity</name>
            <value>
                <elementReference>pseOpportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseProjectType</name>
            <value>
                <elementReference>pseProjectType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseRegion</name>
            <value>
                <elementReference>pseRegion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseStartDate</name>
            <value>
                <elementReference>pseStartDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PSAProject</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varCreatedProjectId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Standard_High_Project_Creation_via_Apex_FP</name>
        <label>Standard High Project Creation via Apex</label>
        <locationX>314</locationX>
        <locationY>1764</locationY>
        <actionName>PSAProject</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_MileStonesfromTemplate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>engagementType</name>
            <value>
                <elementReference>engagementType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expectedEndDate</name>
            <value>
                <elementReference>expectedEndDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseAccount</name>
            <value>
                <elementReference>pseAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseEndDate</name>
            <value>
                <elementReference>pseEndDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseGroup</name>
            <value>
                <elementReference>pseGroup</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseOpportunity</name>
            <value>
                <elementReference>pseOpportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseProjectType</name>
            <value>
                <elementReference>pseProjectType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseRegion</name>
            <value>
                <elementReference>pseRegion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseStartDate</name>
            <value>
                <elementReference>pseStartDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PSAProject</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varCreatedProjectId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Strategic_Cross_Sell_Project_Creation_via_Apex_CS</name>
        <label>Strategic Cross-Sell Project Creation via Apex</label>
        <locationX>2162</locationX>
        <locationY>1656</locationY>
        <actionName>PSAProject</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>MileStonesfromTemplateCSSTR</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>engagementType</name>
            <value>
                <elementReference>engagementType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expectedEndDate</name>
            <value>
                <elementReference>expectedEndDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseAccount</name>
            <value>
                <elementReference>pseAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseEndDate</name>
            <value>
                <elementReference>pseEndDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseGroup</name>
            <value>
                <elementReference>pseGroup</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseOpportunity</name>
            <value>
                <elementReference>pseOpportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseProjectType</name>
            <value>
                <elementReference>pseProjectType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseRegion</name>
            <value>
                <elementReference>pseRegion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseStartDate</name>
            <value>
                <elementReference>pseStartDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PSAProject</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varCreatedProjectId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Strategic_Project_Creation_via_Apex_FP</name>
        <label>Strategic Project Creation via Apex</label>
        <locationX>1106</locationX>
        <locationY>1656</locationY>
        <actionName>PSAProject</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>MileStonesfromTemplate_Strategic</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>engagementType</name>
            <value>
                <elementReference>engagementType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expectedEndDate</name>
            <value>
                <elementReference>expectedEndDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseAccount</name>
            <value>
                <elementReference>pseAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseEndDate</name>
            <value>
                <elementReference>pseEndDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseGroup</name>
            <value>
                <elementReference>pseGroup</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseOpportunity</name>
            <value>
                <elementReference>pseOpportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseProjectType</name>
            <value>
                <elementReference>pseProjectType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseRegion</name>
            <value>
                <elementReference>pseRegion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pseStartDate</name>
            <value>
                <elementReference>pseStartDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PSAProject</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varCreatedProjectId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Core_Assignment_Cross_Sell_CS</name>
        <label>Core Assignment Cross Sell</label>
        <locationX>1634</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>engagementType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Upsell/Cross-sell</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>expectedEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Core_CrosssellCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_ProjectName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Core_CrosssellCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Group_Core.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseProjectType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer Project</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseRegion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Region.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_ProjecgtStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Core_Cross_Sell_Project_Creation_via_Apex_CS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Core_High_Assignment_FP</name>
        <label>Core High Assignment</label>
        <locationX>314</locationX>
        <locationY>1656</locationY>
        <assignmentItems>
            <assignToReference>engagementType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Initial Implementation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>expectedEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_COR_Initial_CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_ProjectName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_COR_Initial_CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Group_Core.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseProjectType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer Project</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseRegion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Region.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_ProjecgtStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Standard_High_Project_Creation_via_Apex_FP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Core_Standard_Assignment_FP</name>
        <label>Core Standard Assignment</label>
        <locationX>50</locationX>
        <locationY>1656</locationY>
        <assignmentItems>
            <assignToReference>engagementType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Initial Implementation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>expectedEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_COR_Initial_CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_ProjectName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_COR_Initial_CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Group_Core.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseProjectType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer Project</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseRegion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Region.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_ProjecgtStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Core_Standard_Project_Creation_via_Apex_FP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Select_Assignment</name>
        <label>Select Assignment</label>
        <locationX>842</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>engagementType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Initial Implementation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>expectedEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Sel_Initial_CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_ProjectName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Sel_Initial_CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Group_Core.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseProjectType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer Project</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseRegion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Region.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_ProjecgtStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Project_Creation_via_Apex</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Select_Assignment_Cross_Sell_1</name>
        <label>Select Assignment Cross Sell</label>
        <locationX>1898</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>engagementType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Upsell/Cross-sell</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>expectedEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Select_CrosssellCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_ProjectName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Select_CrosssellCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Group_Core.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseProjectType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer Project</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseRegion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Region.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_ProjecgtStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Cross_Sell_Project_Creation_via_Apex</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Strategic_Assignment_Cross_Sell_CS</name>
        <label>Strategic Assignment Cross Sell</label>
        <locationX>2162</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>engagementType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Upsell/Cross-sell</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>expectedEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Strategic_CrosssellCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_ProjectName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Strategic_CrosssellCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Group_Core.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseProjectType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer Project</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseRegion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Region.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_ProjecgtStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Strategic_Cross_Sell_Project_Creation_via_Apex_CS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Strategic_Assignment_FP</name>
        <label>Strategic Assignment</label>
        <locationX>1106</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>engagementType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Initial Implementation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>expectedEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_STR_Initial_CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_ProjectName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_STR_Initial_CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Group_Core.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseProjectType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer Project</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseRegion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Region.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pseStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_ProjecgtStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Strategic_Project_Creation_via_Apex_FP</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Core_Service_Levels</name>
        <label>Core Service Levels</label>
        <locationX>314</locationX>
        <locationY>1548</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ACV_Bookings_SOT__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Core_Standard_Assignment_FP</targetReference>
            </connector>
            <label>Standard</label>
        </rules>
        <rules>
            <name>High</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ACV_Bookings_SOT__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Core_High_Assignment_FP</targetReference>
            </connector>
            <label>High</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_2CloseDateInCurrentORNextFQ</name>
        <label>Decision 2CloseDateInCurrentORNextFQ</label>
        <locationX>2789</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YES_CDICONFQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CloseDateInRange</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Projects</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Project</name>
        <label>Existing Project</label>
        <locationX>2360</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Do Not Create Project</defaultConnectorLabel>
        <rules>
            <name>Create_Project_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Projects.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Region</targetReference>
            </connector>
            <label>Create Project</label>
        </rules>
    </decisions>
    <decisions>
        <name>Purchase_Type</name>
        <label>Purchase Type</label>
        <locationX>1766</locationX>
        <locationY>1332</locationY>
        <defaultConnectorLabel>OPT Criteria Failed</defaultConnectorLabel>
        <rules>
            <name>First_Purchase_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Purchase_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>First Purchase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Segment_Firstpurchase</targetReference>
            </connector>
            <label>First Purchase Only</label>
        </rules>
        <rules>
            <name>Cross_Sell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Purchase_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cross-Sell</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SegmentCS</targetReference>
            </connector>
            <label>Cross-Sell</label>
        </rules>
    </decisions>
    <decisions>
        <name>Segment_Firstpurchase</name>
        <label>Segment</label>
        <locationX>842</locationX>
        <locationY>1440</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Core</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ACV_Bookings_SOT__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Role_Copy__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>COR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Role_Copy__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Probability</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Core_Service_Levels</targetReference>
            </connector>
            <label>Core</label>
        </rules>
        <rules>
            <name>Select</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ACV_Bookings_SOT__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Probability</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Role_Copy__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Role_Copy__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SEL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OwnerRoleSELD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Assignment</targetReference>
            </connector>
            <label>Select</label>
        </rules>
        <rules>
            <name>Strategic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ACV_Bookings_SOT__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Probability</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Role_Copy__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>STR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Role_Copy__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OwnerRoleSELD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Strategic_Assignment_FP</targetReference>
            </connector>
            <label>Strategic</label>
        </rules>
    </decisions>
    <decisions>
        <name>SegmentCS</name>
        <label>Segment</label>
        <locationX>2030</locationX>
        <locationY>1440</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CoreCS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityACVandTotalParentARR</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Role_Copy__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>COR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Role_Copy__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Probability</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Core_Assignment_Cross_Sell_CS</targetReference>
            </connector>
            <label>Core</label>
        </rules>
        <rules>
            <name>SelectCS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityACVandTotalParentARR</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Probability</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Role_Copy__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Role_Copy__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SEL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OwnerRoleSELD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Assignment_Cross_Sell_1</targetReference>
            </connector>
            <label>Select</label>
        </rules>
        <rules>
            <name>StrategicCS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityACVandTotalParentARR</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Probability</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Role_Copy__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>STR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Role_Copy__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OwnerRoleSELD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Strategic_Assignment_Cross_Sell_CS</targetReference>
            </connector>
            <label>Strategic</label>
        </rules>
    </decisions>
    <description>10/2</description>
    <environments>Default</environments>
    <formulas>
        <name>CloseDateInRange</name>
        <dataType>Boolean</dataType>
        <expression>IF(
   OR(
      /* Case 1: Todays FQ is between 1 and 3, and Record FQ matches todays or next, and FY = 2026 */
      AND(
         {!GettodaysFQ} &gt;= 1,
         {!GettodaysFQ} &lt;= 3,
         VALUE($Record.Fiscal_Year__c) = 2026,
         OR(
            VALUE($Record.Fiscal_Quarter__c) = {!GettodaysFQ},
            VALUE($Record.Fiscal_Quarter__c) = {!GettodaysFQ} + 1
         )
      ),

      /* Case 2: Today is Q4 FY26  Record must be either FY26Q4 or FY27Q1 */
      AND(
         {!GetTodaysFiscalQuarter}=&quot;FY26Q4&quot;,
        OR(
         AND(
            VALUE($Record.Fiscal_Quarter__c) = {!GettodaysFQ},
            VALUE($Record.Fiscal_Year__c) = 2026
         ),
         AND(
            VALUE($Record.Fiscal_Quarter__c) = 1,
            VALUE($Record.Fiscal_Year__c) = 2027
         )
      )
     )
   ),
   TRUE,
   FALSE
)</expression>
    </formulas>
    <formulas>
        <name>For_bookingdate</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <formulas>
        <description>Core Initial Implementation</description>
        <name>For_COR_Initial_CloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate}+90</expression>
    </formulas>
    <formulas>
        <name>For_Core_CrosssellCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate}+45</expression>
    </formulas>
    <formulas>
        <name>For_ProjecgtStartDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate}</expression>
    </formulas>
    <formulas>
        <name>For_ProjectName</name>
        <dataType>String</dataType>
        <expression>LEFT($Record.Name, 80 - LEN(&quot; - Onboarding&quot;)) &amp; &quot; - Onboarding&quot;</expression>
    </formulas>
    <formulas>
        <description>Initial Implementation Select Close Date</description>
        <name>For_Sel_Initial_CloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate}+150</expression>
    </formulas>
    <formulas>
        <name>For_Select_CrosssellCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate}+90</expression>
    </formulas>
    <formulas>
        <description>Initial Implementation Strategic Close Date</description>
        <name>For_STR_Initial_CloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate}+210</expression>
    </formulas>
    <formulas>
        <name>For_Strategic_CrosssellCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate}+90</expression>
    </formulas>
    <formulas>
        <name>GetTodaysFiscalQuarter</name>
        <dataType>String</dataType>
        <expression>IF(AND(Today() &gt; DATE(2025,2,2), Today() &lt;= DATE(2025,5,3)),&quot;FY26Q1&quot;,
IF(AND(Today() &gt; DATE(2025,5,4), Today() &lt;= DATE(2025,8,2)),&quot;FY26Q2&quot;,
IF(AND(Today() &gt; DATE(2025,8,3), Today() &lt;= DATE(2025,11,1)),&quot;FY26Q3&quot;,
IF(AND(Today() &gt; DATE(2025,11,2), Today() &lt;= DATE(2026,1,31)),&quot;FY26Q4&quot;,&apos;&apos;))))</expression>
    </formulas>
    <formulas>
        <name>GettodaysFQ</name>
        <dataType>Number</dataType>
        <expression>IF(AND(TODAY() &gt; DATE(2025,2,2), TODAY() &lt;= DATE(2025,5,3)),1,
IF(AND(TODAY() &gt; DATE(2025,5,4), TODAY() &lt;= DATE(2025,8,2)),2,
IF(AND(TODAY() &gt; DATE(2025,8,3), TODAY() &lt;= DATE(2025,11,1)),3,
IF(AND(TODAY() &gt; DATE(2025,11,2), TODAY() &lt;= DATE(2026,1,31)),4,10
))))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NotSLED</name>
        <dataType>Boolean</dataType>
        <expression>IF(NOT(CONTAINS($Record.Owner_Role_Copy__c, &apos;SLED&apos;)), false, true)</expression>
    </formulas>
    <formulas>
        <name>OpportunityACVandTotalParentARR</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.ACV_Bookings_SOT__c}+{!$Record.Account.Total_Parent_Account_Customer_ARR__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>OwnerRoleSELD</name>
        <dataType>Boolean</dataType>
        <expression>IF(
    CONTAINS($Record.Owner_Role_Copy__c, &apos;SLED&apos;),
    true,
    false
)</expression>
    </formulas>
    <interviewLabel>PSA Certinia Automatic Project Creation Initial Business {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PSA Certinia Automatic Project Creation Initial Business</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CSRecord</name>
        <label>Get CSRecord</label>
        <locationX>1766</locationX>
        <locationY>1224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Purchase_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CS_Record__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Projects</name>
        <label>Get Existing Projects</label>
        <locationX>2360</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Project</targetReference>
        </connector>
        <filterLogic>1 AND 4 AND (2 OR 3)</filterLogic>
        <filters>
            <field>pse__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Engagement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Initial Implementation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Engagement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Upsell/Cross-sell</stringValue>
            </value>
        </filters>
        <filters>
            <field>pse__Project_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Project</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Proj__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Core</name>
        <label>Get Group Core</label>
        <locationX>1766</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Select</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Implementation - Core</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Grp__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Select</name>
        <label>Get Group Select</label>
        <locationX>1766</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Strategic</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Implementation - Select</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Grp__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Strategic</name>
        <label>Get Group Strategic</label>
        <locationX>1766</locationX>
        <locationY>1008</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_Group</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Implementation - Strategic</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Grp__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Group</name>
        <label>Get Parent Group</label>
        <locationX>1766</locationX>
        <locationY>1116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CSRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Parent_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>aFQ4p000000PAwiGAG</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Grp__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Practice</name>
        <label>Get Practice</label>
        <locationX>1766</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Core</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Professional Services</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Practice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Region</name>
        <label>Get Region</label>
        <locationX>1766</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Practice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Americas</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Region__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Related_Project_to_Opportunity</name>
        <label>Copy 1 of Related Project to Opportunity</label>
        <locationX>314</locationX>
        <locationY>2196</locationY>
        <inputAssignments>
            <field>pse__Primary_Project__c</field>
            <value>
                <elementReference>varCreatedProjectId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Related_Project_to_Opportunity</name>
        <label>Copy 2 of Related Project to Opportunity</label>
        <locationX>842</locationX>
        <locationY>2088</locationY>
        <inputAssignments>
            <field>pse__Primary_Project__c</field>
            <value>
                <elementReference>varCreatedProjectId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Related_Project_to_Opportunity</name>
        <label>Copy 3 of Related Project to Opportunity</label>
        <locationX>1106</locationX>
        <locationY>2088</locationY>
        <inputAssignments>
            <field>pse__Primary_Project__c</field>
            <value>
                <elementReference>varCreatedProjectId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_4_of_Related_Project_to_Opportunity</name>
        <label>Copy 4 of Related Project to Opportunity</label>
        <locationX>1634</locationX>
        <locationY>2088</locationY>
        <inputAssignments>
            <field>pse__Primary_Project__c</field>
            <value>
                <elementReference>varCreatedProjectId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_5_of_Related_Project_to_Opportunity</name>
        <label>Copy 5 of Related Project to Opportunity</label>
        <locationX>1898</locationX>
        <locationY>2088</locationY>
        <inputAssignments>
            <field>pse__Primary_Project__c</field>
            <value>
                <elementReference>varCreatedProjectId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_6_of_Related_Project_to_Opportunity</name>
        <label>Copy 6 of Related Project to Opportunity</label>
        <locationX>2162</locationX>
        <locationY>2088</locationY>
        <inputAssignments>
            <field>pse__Primary_Project__c</field>
            <value>
                <elementReference>varCreatedProjectId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Related_Project_to_Opportunity</name>
        <label>Related Project to Opportunity</label>
        <locationX>50</locationX>
        <locationY>2196</locationY>
        <inputAssignments>
            <field>pse__Primary_Project__c</field>
            <value>
                <elementReference>varCreatedProjectId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_with_Milestones</name>
        <label>Update Project with Milestones</label>
        <locationX>314</locationX>
        <locationY>2088</locationY>
        <connector>
            <targetReference>Copy_1_of_Related_Project_to_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCreatedProjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CS_Record__c</field>
            <value>
                <elementReference>Get_CSRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Level__c</field>
            <value>
                <stringValue>Core</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Group__c</field>
            <value>
                <elementReference>Get_Group_Core.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Practice__c</field>
            <value>
                <elementReference>Get_Practice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Time_Credited__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>pse__Proj__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_with_Milestones_CoreStandardFP</name>
        <label>Update Project with Milestones</label>
        <locationX>50</locationX>
        <locationY>2088</locationY>
        <connector>
            <targetReference>Related_Project_to_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCreatedProjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CS_Record__c</field>
            <value>
                <elementReference>Get_CSRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Level__c</field>
            <value>
                <stringValue>Core</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Group__c</field>
            <value>
                <elementReference>Get_Group_Core.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Planned_Hours__c</field>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Practice__c</field>
            <value>
                <elementReference>Get_Practice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Time_Credited__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>pse__Proj__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_with_Milestones_Select</name>
        <label>Update Project with Milestones</label>
        <locationX>842</locationX>
        <locationY>1980</locationY>
        <connector>
            <targetReference>Copy_2_of_Related_Project_to_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCreatedProjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CS_Record__c</field>
            <value>
                <elementReference>Get_CSRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Level__c</field>
            <value>
                <stringValue>Select</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Group__c</field>
            <value>
                <elementReference>Get_Group_Select.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Practice__c</field>
            <value>
                <elementReference>Get_Practice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Time_Credited__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>pse__Proj__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_with_Milestones_Strategic</name>
        <label>Update Project with Milestones</label>
        <locationX>1106</locationX>
        <locationY>1980</locationY>
        <connector>
            <targetReference>Copy_3_of_Related_Project_to_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCreatedProjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CS_Record__c</field>
            <value>
                <elementReference>Get_CSRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Level__c</field>
            <value>
                <stringValue>Strategic</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Group__c</field>
            <value>
                <elementReference>Get_Group_Strategic.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Practice__c</field>
            <value>
                <elementReference>Get_Practice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Time_Credited__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>pse__Proj__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_with_MilestonesCScore</name>
        <label>Update Project with Milestones</label>
        <locationX>1634</locationX>
        <locationY>1980</locationY>
        <connector>
            <targetReference>Copy_4_of_Related_Project_to_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCreatedProjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_Level__c</field>
            <value>
                <stringValue>Core</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Group__c</field>
            <value>
                <elementReference>Get_Group_Core.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Practice__c</field>
            <value>
                <elementReference>Get_Practice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Time_Credited__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>pse__Proj__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_with_MilestonesCSSEL</name>
        <label>Update Project with Milestones</label>
        <locationX>1898</locationX>
        <locationY>1980</locationY>
        <connector>
            <targetReference>Copy_5_of_Related_Project_to_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCreatedProjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_Level__c</field>
            <value>
                <stringValue>Select</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Group__c</field>
            <value>
                <elementReference>Get_Group_Select.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Practice__c</field>
            <value>
                <elementReference>Get_Practice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Time_Credited__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>pse__Proj__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_with_MilestonesCSSTR</name>
        <label>Update Project with Milestones</label>
        <locationX>2162</locationX>
        <locationY>1980</locationY>
        <connector>
            <targetReference>Copy_6_of_Related_Project_to_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCreatedProjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_Level__c</field>
            <value>
                <stringValue>Strategic</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Group__c</field>
            <value>
                <elementReference>Get_Group_Strategic.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Practice__c</field>
            <value>
                <elementReference>Get_Practice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Time_Credited__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>pse__Proj__c</object>
    </recordUpdates>
    <start>
        <locationX>2663</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_2CloseDateInCurrentORNextFQ</targetReference>
        </connector>
        <filterLogic>(1 OR 4) AND 2 AND 3</filterLogic>
        <filters>
            <field>Purchase_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>First Purchase</stringValue>
            </value>
        </filters>
        <filters>
            <field>ACV_Bookings_SOT__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Probability</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>35.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Purchase_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cross-Sell</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-06-26</startDate>
            <startTime>04:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CAProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CoreProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>crossSellEngagementType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>engagementType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>expectedEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetMilestones</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pse__Milestone__c</objectType>
    </variables>
    <variables>
        <name>groupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pseAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pseEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pseGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pseOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pseProjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pseRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pseStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PubSecProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RColMILESTONES</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Milestone__c</objectType>
    </variables>
    <variables>
        <name>regionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RMILESTONE2Create</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Milestone__c</objectType>
    </variables>
    <variables>
        <name>RProject2Create</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Proj__c</objectType>
    </variables>
    <variables>
        <name>RTemplateProj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Proj__c</objectType>
    </variables>
    <variables>
        <name>SelProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StageIsClosedLost</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Closed Lost</stringValue>
        </value>
    </variables>
    <variables>
        <name>STRProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCreatedProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
