force-app/main/default/flows/PSA_Certinia_BVS_Closeout_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>PSA Certinia BVS Closeout Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PSA Certinia BVS Closeout Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Screen flow inputs to create BVS record</description>
        <name>Create_BVS_Closeout_Survey</name>
        <label>Create BVS Closeout Survey</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>All_final_deliverables_uploaded_to_BVS__c</field>
            <value>
                <elementReference>All_final_deliverables_uploaded_to_BVS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BVS_Engagement_Dropdown_Updated__c</field>
            <value>
                <elementReference>BVS_Engagement_Dropdown_Updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESM_and_DD_Handoffs_Completed__c</field>
            <value>
                <elementReference>ESM_and_DD_Handoffs_Completed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOW_Sent__c</field>
            <value>
                <elementReference>SOW_Sent</elementReference>
            </value>
        </inputAssignments>
        <object>BVS_Project_Closeout_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>BVS_Closeout_Survey</name>
        <label>BVS Closeout Survey</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_BVS_Closeout_Survey</targetReference>
        </connector>
        <fields>
            <name>ESM_and_DD_Handoffs_Completed</name>
            <dataType>Boolean</dataType>
            <fieldText>ESM and DD Handoffs Completed</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>All_final_deliverables_uploaded_to_BVS</name>
            <dataType>Boolean</dataType>
            <fieldText>All final deliverables uploaded to BVS?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Mid-Trial business case, Final business case to the SFDC opportunity?&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>BVS_Engagement_Dropdown_Updated</name>
            <dataType>Boolean</dataType>
            <fieldText>BVS Engagement Dropdown Updated?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; style=&quot;width: 1678.67px; color: rgb(0, 0, 0); font-family: Helvetica; font-size: 11.36px;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td class=&quot;data2Col&quot; colspan=&quot;3&quot; style=&quot;margin: 0px; padding: 3px 2px 3px 10px; font-family: Arial, Helvetica, sans-serif; vertical-align: top; border-bottom: 1px solid rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236); width: 1364.51px;&quot;&gt;Checkbox if you updated the BVS Engagement dropdown for the final scope&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SOW_Sent</name>
            <dataType>Boolean</dataType>
            <fieldText>SOW Sent?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; style=&quot;width: 1678.67px; color: rgb(0, 0, 0); font-family: Helvetica; font-size: 11.36px;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td class=&quot;data2Col&quot; colspan=&quot;3&quot; style=&quot;margin: 0px; padding: 3px 2px 3px 10px; font-family: Arial, Helvetica, sans-serif; vertical-align: top; border-bottom: 1px solid rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236); width: 1364.51px;&quot;&gt;Check this box if you sent the SOW&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Provide_Feedback_for_Any_No_Responses</name>
            <dataType>String</dataType>
            <fieldText>Provide Feedback for Any &apos;No&apos; Responses.</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;table class=&quot;ql-table-blob&quot; border=&quot;0&quot; style=&quot;width: 1678.67px; color: rgb(0, 0, 0); font-family: Helvetica; font-size: 11.36px;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td class=&quot;data2Col&quot; colspan=&quot;3&quot; style=&quot;margin: 0px; padding: 3px 2px 3px 10px; font-family: Arial, Helvetica, sans-serif; vertical-align: top; border-bottom: 1px solid rgb(236, 236, 236); border-top-color: rgb(236, 236, 236); border-right-color: rgb(236, 236, 236); border-left-color: rgb(236, 236, 236); width: 1364.51px;&quot;&gt;If you answered no to any of the above questions, please provide written feedback&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>ESM_and_DD_Handoffs_Completed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>All_final_deliverables_uploaded_to_BVS</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BVS_Engagement_Dropdown_Updated</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SOW_Sent</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Survey_Confirmation</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Your submissions have been recorded.   To change your responses, click the &quot;Previous&quot; button.   To save and submit, click &quot;Finish.&quot;   Once saved, changes are not permitted.</stringValue>
            </defaultValue>
            <fieldText>Survey Confirmation</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>BVS_Closeout_Survey</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
