force-app/main/default/flows/PSA_Certinia_Update_Project_POC_when_CS_Record_is_updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>PSA Certinia Update Project POC when CS Record is updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PSA Certinia Update Project POC when CS Record is updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Projects</name>
        <label>Get Projects</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Project_POC</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>pse__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>pse__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pse__Proj__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project_POC</name>
        <label>Update Project POC</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>(1 OR 2) AND (3 OR 4)</filterLogic>
        <filters>
            <field>Engagement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Initial Implementation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Engagement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Upsell/Cross-sell</stringValue>
            </value>
        </filters>
        <filters>
            <field>pse__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>pse__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_POC_Email_Address__c</field>
            <value>
                <elementReference>$Record.CS_POC_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Point_of_Contact_txt__c</field>
            <value>
                <elementReference>$Record.CS_POC_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account__r.pse__Projects__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Projects</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CS_POC_Email_Address__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CS_POC_First_Name__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CS_Record__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
