force-app/main/default/flows/Pull_Request_Review_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignPullRequestFieldToFalse</name>
        <label>assignPullRequestFieldToFalse</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>pullRequestStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateRelatedUserStory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPullRequestFieldToTrue</name>
        <label>assignPullRequestFieldToTrue</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>pullRequestStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateRelatedUserStory</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkForPriorRecord</name>
        <label>checkForPriorRecord</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>assignPullRequestFieldToFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>recordChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.copado__Review_Action__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.copado__Review_Action__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignPullRequestFieldToTrue</targetReference>
            </connector>
            <label>recordChanged</label>
        </rules>
    </decisions>
    <description>To handle Pull requests automation in Copado User stories</description>
    <environments>Default</environments>
    <interviewLabel>Pull Request Review - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pull Request Review - After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updatePullRequestReview</name>
        <label>updatePullRequestReview</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateRelatedUserStory</name>
        <label>updateRelatedUserStory</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <connector>
            <targetReference>updatePullRequestReview</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Pull_Request__r.copado__User_Story__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Pull_Requests_Approved__c</field>
            <value>
                <elementReference>pullRequestStatus</elementReference>
            </value>
        </inputAssignments>
        <object>copado__User_Story__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkForPriorRecord</targetReference>
        </connector>
        <object>copado__Pull_Request_Review__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>pullRequestStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
