force-app/main/default/flows/Quote_Line_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>TotalSubsidyAddition</name>
        <label>TotalSubsidyAddition</label>
        <locationX>23</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>totalSumofSubsidy</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SumTotalSubsidyQuoteLineItem.Total_Subsidy__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SumTotalSubsidyQuoteLineItem</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_INS_SUBSIDY</name>
        <label>Check for INS-SUBSIDY</label>
        <locationX>741</locationX>
        <locationY>145</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>QuoteLines_with_INS_SUbsidy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__ProductCode__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Insurance_Subsidy_Product_Code</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_QuoteLine_record</targetReference>
            </connector>
            <label>QuoteLines with INS-SUbsidy</label>
        </rules>
    </decisions>
    <description>created for GTMS-6828</description>
    <interviewLabel>Quote Line Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Line Flow</label>
    <loops>
        <name>SumTotalSubsidyQuoteLineItem</name>
        <label>SumTotalSubsidyQuoteLineItem</label>
        <locationX>288</locationX>
        <locationY>370</locationY>
        <collectionReference>currentQuoteLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>TotalSubsidyAddition</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Total_Quote_Line_Item_Subsidy_amount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_QuoteLine_record</name>
        <label>Get QuoteLine record</label>
        <locationX>901</locationX>
        <locationY>304</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SumTotalSubsidyQuoteLineItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCurrentQuoteID</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Insurance_Subsidy_Product_Code</elementReference>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <outputReference>currentQuoteLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_Subsidy__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Total_Quote_Line_Item_Subsidy_amount</name>
        <label>Update Total Quote Line Item Subsidy amount</label>
        <locationX>737</locationX>
        <locationY>469</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCurrentQuoteID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Quote_Line_Item_Subsidy_amount__c</field>
            <value>
                <elementReference>totalSumofSubsidy</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>134</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_for_INS_SUBSIDY</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Total_Subsidy__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>currentQuoteLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>getCurrentQuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.SBQQ__Quote__r.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>SumTotalSubsidy</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>totalSumofSubsidy</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
