force-app/main/default/flows/Quote_Rejection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Reject_Quote</name>
        <label>Reject Quote</label>
        <locationX>890</locationX>
        <locationY>641</locationY>
        <actionName>c:RejectDiscountApproval</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <elementReference>mode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>rejectionURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:RejectDiscountApproval</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>set_temp_url</name>
        <label>set temp url</label>
        <locationX>438</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>rejectionURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sanboxURL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_quote_into</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_From_Button</name>
        <label>Check From Button</label>
        <locationX>527</locationX>
        <locationY>200</locationY>
        <defaultConnector>
            <targetReference>Approval_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_initiated_from_button</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonInitiate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_temp_url</targetReference>
            </connector>
            <label>is initiated from button</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_pilot_attributes</name>
        <label>check pilot attributes</label>
        <locationX>563</locationX>
        <locationY>541</locationY>
        <defaultConnector>
            <targetReference>Reject_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_pilot</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5 AND NOT(6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>get_quote_into.Owner_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>AE3 NA US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_quote_into.Owner_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ENT AE NA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_quote_into.Owner_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ENT AE SR NA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_quote_into.Owner_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ENT AE CD NA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_quote_into.Owner_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_quote_into.Owner_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ENT AE NA MX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_quote_into.Blended_Discount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Details</targetReference>
            </connector>
            <label>is pilot</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ReasonforDiscount</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_Discount_PickList__c</picklistField>
        <picklistObject>SBQQ__Quote__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>sanboxURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_140},FIND(&apos;.com&apos;,{!$Api.Partner_Server_URL_140})+4) &amp; {!rejectionURL}</expression>
    </formulas>
    <interviewLabel>Quote Rejection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Rejection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_quote_into</name>
        <label>get quote into</label>
        <locationX>437</locationX>
        <locationY>469</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_pilot_attributes</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote_Record</name>
        <label>Update Quote Record</label>
        <locationX>860</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>Reject_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Add_ons_show_customer_s_prior_discounts__c</field>
            <value>
                <elementReference>Add_ons_show_customer_s_prior_discounts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_justification__c</field>
            <value>
                <elementReference>Business_Justification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discounts_price_points_for_similar_deals__c</field>
            <value>
                <elementReference>Discounts_price_points_for_similar_deals</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Options_in_exchange_for_a_lower_discount__c</field>
            <value>
                <elementReference>Options_in_exchange_for_a_lower_discount</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <screens>
        <name>Approval_Details</name>
        <label>Approval Details</label>
        <locationX>742</locationX>
        <locationY>284</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Quote_Record</targetReference>
        </connector>
        <fields>
            <name>Business_Justification</name>
            <dataType>String</dataType>
            <fieldText>Business Justification</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Add_ons_show_customer_s_prior_discounts</name>
            <dataType>String</dataType>
            <fieldText>Add-ons: show customer&apos;s prior discounts</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Discounts_price_points_for_similar_deals</name>
            <dataType>String</dataType>
            <fieldText>Discounts/price points for similar deals</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Options_in_exchange_for_a_lower_discount</name>
            <dataType>String</dataType>
            <fieldText>Options in exchange for a lower discount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_From_Button</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>buttonInitiate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No</stringValue>
        </value>
    </variables>
    <variables>
        <name>fromButton</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>replace</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rejectionURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://samsara--uat--sbaa.sandbox.vf.force.com/apex/Reject?id=a8r560000004nNlAAI</stringValue>
        </value>
    </variables>
    <variables>
        <name>tempRejectionURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
