force-app/main/default/flows/Recalculate_Sales_Tax_EMEA_North_America.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>EMEA_Assignment</name>
        <label>EMEA Assignment</label>
        <locationX>1306</locationX>
        <locationY>1627</locationY>
        <assignmentItems>
            <assignToReference>curOpp.Rerun_Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rerun_sales_tax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppAcc.VATId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAT_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NewExistingContact</name>
        <label>NewExistingContact</label>
        <locationX>402</locationX>
        <locationY>1259</locationY>
        <assignmentItems>
            <assignToReference>curOpp.Shipping_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varShippingContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateShippingContactOppty2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newShippingAddress</name>
        <label>newShippingAddress</label>
        <locationX>1626</locationX>
        <locationY>823</locationY>
        <assignmentItems>
            <assignToReference>curOpp.Shipping_Address_NEW__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNewShippingAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateShippingAddress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NewShippingContactAssign</name>
        <label>NewShippingContactAssign</label>
        <locationX>601</locationX>
        <locationY>741</locationY>
        <assignmentItems>
            <assignToReference>curOpp.Shipping_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreatedContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateShippingContactOppty2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RerunSalesTaxUS</name>
        <label>RerunSalesTaxUS</label>
        <locationX>1563</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>curOpp.Rerun_Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rerun_Sales_Tax2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Overwrite_Validation_rule_to_true</name>
        <label>Set Overwrite Validation rule to true</label>
        <locationX>248</locationX>
        <locationY>713</locationY>
        <assignmentItems>
            <assignToReference>oppAcc.Overwrite_Validation_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Shipping_Contact2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>shippingAddressAssignExisting</name>
        <label>shippingAddressAssignExisting</label>
        <locationX>1429</locationX>
        <locationY>896</locationY>
        <assignmentItems>
            <assignToReference>curOpp.Shipping_Address_NEW__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varShippingAddyId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateShippingAddress</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CreateNewContact</name>
        <label>CreateNewContact</label>
        <locationX>403</locationX>
        <locationY>1073</locationY>
        <defaultConnector>
            <targetReference>NewExistingContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_New_Shipping_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewShippingContact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Same_as_before</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curOpp.Shipping_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varShippingContactId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shipping_Address</targetReference>
            </connector>
            <label>Same as before</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shipping_Address_Existing</name>
        <label>Shipping Address Existing</label>
        <locationX>1281</locationX>
        <locationY>682</locationY>
        <defaultConnector>
            <targetReference>shippingAddressAssignExisting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_New_Shipping_Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createShippingAddress</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Same_Shipping_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curOpp.Shipping_Address_NEW__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varShippingAddyId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Where_is_the_billing_country</targetReference>
            </connector>
            <label>Same Shipping Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Where_is_the_billing_country</name>
        <label>Where is the billing country</label>
        <locationX>1287</locationX>
        <locationY>1209</locationY>
        <defaultConnector>
            <targetReference>update_these_fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>North_America</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>oppAcc.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>oppAcc.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mexico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>oppAcc.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>oppAcc.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>US_Recalculate</targetReference>
            </connector>
            <label>North America</label>
        </rules>
    </decisions>
    <description>Removed Avalara References</description>
    <dynamicChoiceSets>
        <name>Country</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Shipping_Country__c</picklistField>
        <picklistObject>Shipping_Address__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Currency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CurrencyIsoCode</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>shipping</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>acc_id</elementReference>
            </value>
        </filters>
        <limit>5</limit>
        <object>Shipping_Address__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>shipping_addy_2</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curOpp.AccountId</elementReference>
            </value>
        </filters>
        <limit>10</limit>
        <object>Shipping_Address__c</object>
        <outputAssignments>
            <assignToReference>varShippingAddyId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>shipping_contact_user</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curOpp.AccountId</elementReference>
            </value>
        </filters>
        <limit>10</limit>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varShippingContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varShippingContactName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>State</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Shipping_State__c</picklistField>
        <picklistObject>Shipping_Address__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varShippingContact2</name>
        <dataType>String</dataType>
        <displayField>Shipping_Contact__c</displayField>
        <object>Shipping_Address__c</object>
        <outputAssignments>
            <assignToReference>varShippingContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Recalculate Sales Tax EMEA &amp; North America {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recalculate Sales Tax EMEA &amp; North America</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createShippingAddress</name>
        <label>createShippingAddress</label>
        <locationX>1618</locationX>
        <locationY>673</locationY>
        <assignRecordIdToReference>varNewShippingAddress</assignRecordIdToReference>
        <connector>
            <targetReference>newShippingAddress</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_70</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>curOpp.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>curOpp.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address_Line_1__c</field>
            <value>
                <elementReference>Shipping_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>Shipping_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Contact__c</field>
            <value>
                <elementReference>curOpp.Shipping_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country__c</field>
            <value>
                <elementReference>Shipping_Country2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State__c</field>
            <value>
                <elementReference>Shipping_State2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Zip_Code__c</field>
            <value>
                <elementReference>Shipping_Postal_Code_Zip_Code</elementReference>
            </value>
        </inputAssignments>
        <object>Shipping_Address__c</object>
    </recordCreates>
    <recordCreates>
        <name>NewShippingContact</name>
        <label>NewShippingContact</label>
        <locationX>419</locationX>
        <locationY>738</locationY>
        <assignRecordIdToReference>CreatedContactId</assignRecordIdToReference>
        <connector>
            <targetReference>NewShippingContactAssign</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_40</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>curOpp.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Contact_Currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Contact_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Contact_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>FinalOppty</name>
        <label>FinalOppty</label>
        <locationX>2056</locationX>
        <locationY>821</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_110</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opp_id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>FinalOppRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_Opp_data</name>
        <label>get Opp data</label>
        <locationX>50</locationX>
        <locationY>220</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_shipping_details</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opp_id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>curOpp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Shipping_Country__c</queriedFields>
        <queriedFields>New_Shipping_Email__c</queriedFields>
        <queriedFields>Shipping_Contact__c</queriedFields>
        <queriedFields>Shipping_Address_NEW__c</queriedFields>
        <queriedFields>Rerun_Tax__c</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_shipping_details</name>
        <label>get shipping details</label>
        <locationX>49</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getShippingContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curOpp.AccountId</elementReference>
            </value>
        </filters>
        <object>Shipping_Address__c</object>
        <outputReference>curShippingAddy</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Shipping_Contact__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Shipping_Address_Line_1__c</queriedFields>
        <queriedFields>Shipping_Address_Line_2__c</queriedFields>
        <queriedFields>Shipping_City__c</queriedFields>
        <queriedFields>Shipping_Country__c</queriedFields>
        <queriedFields>Shipping_Zip_Code__c</queriedFields>
        <queriedFields>Shipping_State__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>248</locationX>
        <locationY>529</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Overwrite_Validation_rule_to_true</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curOpp.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>oppAcc</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>VATId__c</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getShippingContact</name>
        <label>getShippingContact</label>
        <locationX>47</locationX>
        <locationY>529</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curOpp.AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>curContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_opp_fields</name>
        <label>update opp fields</label>
        <locationX>1933</locationX>
        <locationY>1129</locationY>
        <connector>
            <targetReference>FinalOppty</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_90</targetReference>
        </faultConnector>
        <inputReference>curOpp</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAccount</name>
        <label>UpdateAccount</label>
        <locationX>2008</locationX>
        <locationY>1673</locationY>
        <connector>
            <targetReference>update_opp_fields</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_100</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curOpp.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Overwrite_Validation_Rule__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VATId__c</field>
            <value>
                <elementReference>VAT_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateShippingAddress</name>
        <label>updateShippingAddress</label>
        <locationX>1519</locationX>
        <locationY>1012</locationY>
        <connector>
            <targetReference>Where_is_the_billing_country</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_50</targetReference>
        </faultConnector>
        <inputReference>curShippingAddy</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateShippingContactOppty2</name>
        <label>UpdateShippingContactOppty2</label>
        <locationX>911</locationX>
        <locationY>1259</locationY>
        <connector>
            <targetReference>Shipping_Address</targetReference>
        </connector>
        <faultConnector>
            <targetReference>flowfault20</targetReference>
        </faultConnector>
        <inputReference>curOpp</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_100</name>
        <label>Error 100</label>
        <locationX>2389</locationX>
        <locationY>1679</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>text100</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Flow.FaultMessage} Please contact Sales Ops at SalesOps@samsara.com&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_110</name>
        <label>Error 110</label>
        <locationX>2311</locationX>
        <locationY>804</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>text120</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Flow.FaultMessage} Please contact Sales Ops at SalesOps@samsara.com&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_40</name>
        <label>Error 40</label>
        <locationX>502</locationX>
        <locationY>282</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text40</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Flow.FaultMessage} Please contact Sales Ops at SalesOps@samsara.com&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_50</name>
        <label>Error 50</label>
        <locationX>1631</locationX>
        <locationY>1006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>text50</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Flow.FaultMessage} Please contact Sales Ops at SalesOps@samsara.com&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_70</name>
        <label>Error 70</label>
        <locationX>1620</locationX>
        <locationY>498</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text70</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Flow.FaultMessage} Please contact Sales Ops at SalesOps@samsara.com&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_90</name>
        <label>Error 90</label>
        <locationX>1859</locationX>
        <locationY>1026</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text90</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Flow.FaultMessage} Please contact Sales Ops at SalesOps@samsara.com&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>flowfault20</name>
        <label>flowfault</label>
        <locationX>910</locationX>
        <locationY>1441</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>a10</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Flow.FaultMessage} Please contact Sales Ops at SalesOps@samsara.com&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Shipping_Address</name>
        <label>Shipping Address</label>
        <locationX>1084</locationX>
        <locationY>553</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Shipping_Address_Existing</targetReference>
        </connector>
        <fields>
            <name>Existing_Shipping_Addresses</name>
            <choiceReferences>shipping_addy_2</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Existing Shipping Addresses</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Space20</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Create_New_Shipping_Address</name>
            <dataType>Boolean</dataType>
            <fieldText>Create New Shipping Address</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Shipping_Street</name>
            <dataType>String</dataType>
            <fieldText>Shipping Street</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Shipping_City</name>
            <dataType>String</dataType>
            <fieldText>Shipping City</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Shipping_State2</name>
            <choiceReferences>State</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Shipping State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Shipping_Country2</name>
            <choiceReferences>Country</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Shipping Country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Shipping_Postal_Code_Zip_Code</name>
            <dataType>String</dataType>
            <fieldText>Shipping Postal Code/Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Shipping_Contact2</name>
        <label>Shipping Contact</label>
        <locationX>247</locationX>
        <locationY>962</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateNewContact</targetReference>
        </connector>
        <fields>
            <name>Existing_Shipping_Contacts</name>
            <choiceReferences>shipping_contact_user</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Existing Shipping Contacts</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Space10</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Create_New_Shipping_Contact</name>
            <dataType>Boolean</dataType>
            <fieldText>Create New Shipping Contact</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Contact_First_Name</name>
            <dataType>String</dataType>
            <fieldText>Contact First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Contact_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Contact Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Contact_Currency</name>
            <choiceReferences>Currency</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contact Currency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>success</name>
        <label>success</label>
        <locationX>2053</locationX>
        <locationY>559</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>yay</name>
            <fieldText>&lt;p&gt;You&apos;ve made sure the Billing Address, Shipping Address and Shipping Contact are filled out.You can  &lt;a href=&quot;https://samsara--sandbox.my.salesforce.com/%7B!opp_id%7D&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 95, 178);&quot;&gt;View Opportunity&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please refresh the browser, it can take up to 5 minutes for the Sales Tax amount to show up on the opportunity. If you do not see a status of Sales Tax Current after 5 minutes, please contact SalesOps at salesops@samsara.com&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>update_these_fields</name>
        <label>update these fields</label>
        <locationX>1296</locationX>
        <locationY>1446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EMEA_Assignment</targetReference>
        </connector>
        <fields>
            <name>OpptyName</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;&lt;u&gt;{!curOpp.Name}&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Opp_url</name>
            <fieldText>&lt;a href=&quot;https://samsara--sandbox.my.salesforce.com/{!opp_id}&quot;&gt;View Opportunity&lt;/a&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>OppStage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(115, 51, 111);&quot;&gt;The Opportunity Stage must be in Decision or higher in order to calculate Sales tax. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CurrentStage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(164, 106, 176);&quot;&gt;The current stage of the Opportunity is {!curOpp.StageName}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>VAT_Id</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>oppAcc.VATId__c</elementReference>
            </defaultValue>
            <fieldText>VAT Id</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>rerun_sales_tax</name>
            <dataType>Boolean</dataType>
            <fieldText>Rerun Sales Tax</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;If you do not check rerun sales tax, sales tax will not be recalculated. &lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text20</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(192, 44, 66);&quot;&gt;Check the &apos;Rerun Sales Tax&apos; box if you would like to rerun the sales tax for this opportunity. Sales tax will not be recalculated if this box is not checked. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pausedText>{!contact_chosen.Name}</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>US_Recalculate</name>
        <label>US Recalculate</label>
        <locationX>1570</locationX>
        <locationY>1279</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RerunSalesTaxUS</targetReference>
        </connector>
        <fields>
            <name>Text11</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;u&gt;{!curOpp.Name}&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text13</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://samsara--sandbox.my.salesforce.com/%7B!opp_id%7D&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;View Opportunity&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text14</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(115, 51, 111); background-color: rgb(255, 255, 255);&quot;&gt;The Opportunity Stage must be in Decision or higher in order to calculate Sales tax. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(164, 106, 176); background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;The current stage of the Opportunity is {!curOpp.StageName}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Rerun_Sales_Tax2</name>
            <dataType>Boolean</dataType>
            <fieldText>Rerun Sales Tax</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;If you do not check rerun sales tax, sales tax will not be recalculated.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Text15</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(192, 44, 66); background-color: rgb(255, 255, 255);&quot;&gt;Check the &apos;Rerun Sales Tax&apos; box if you would like to rerun the sales tax for this opportunity. Sales tax will not be recalculated if this box is not checked. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_Opp_data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>acc_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contact_chosen</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contact_decision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CreatedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>curContact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>curOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>curShippingAddy</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Shipping_Address__c</objectType>
    </variables>
    <variables>
        <name>FinalOppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>get_opp_for_update</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>getOpptyUpdatedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>inputOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opp_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>oppAcc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateOpptyShipping</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewShippingAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varShippingAddressChoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Shipping_Address__c</objectType>
    </variables>
    <variables>
        <name>varShippingAddyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varShippingContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varShippingContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varUpdateShippingAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Shipping_Address__c</objectType>
    </variables>
</Flow>
