force-app/main/default/flows/Send_EMail_To_Partner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Mail_to_Partner</name>
        <label>Send Mail to Partner</label>
        <locationX>442</locationX>
        <locationY>648</locationY>
        <actionName>Finance_Partner_Quote__c.Send_Partner_Portal_request</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Submit_to_partner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Finance_Partner_Quote__c.Send_Partner_Portal_request</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Create_FPQ_PE</name>
        <label>Create FPQ PE</label>
        <locationX>756</locationX>
        <locationY>439</locationY>
        <defaultConnector>
            <targetReference>ErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Publish_PE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisFPQRecord.Application_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>thisFPQRecord.Financing_Decision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Publish_FPQ_PE</targetReference>
            </connector>
            <label>Publish PE</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to check if it is Leaf Partner</description>
        <name>Is_Leaf_Partner</name>
        <label>Is Leaf Partner</label>
        <locationX>491</locationX>
        <locationY>449</locationY>
        <defaultConnector>
            <targetReference>Update_FPQ_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non-Leaf</defaultConnectorLabel>
        <rules>
            <name>Leaf</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisFPQRecord.Finance_Partner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>thisFPQRecord.Finance_Partner__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Finance_Partner_Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>thisFPQRecord.CurrencyIsoCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_FPQ_PE</targetReference>
            </connector>
            <label>Leaf</label>
        </rules>
    </decisions>
    <description>3PF Flow Automation</description>
    <environments>Default</environments>
    <interviewLabel>Send EMail To Partner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send EMail To Partner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Publish_FPQ_PE</name>
        <label>Publish FPQ PE</label>
        <locationX>763</locationX>
        <locationY>601</locationY>
        <connector>
            <targetReference>Update_FPQ_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>FPQ_Id__c</field>
            <value>
                <elementReference>thisFPQRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Finance_Partner_Name__c</field>
            <value>
                <elementReference>thisFPQRecord.Finance_Partner__r.Name</elementReference>
            </value>
        </inputAssignments>
        <object>FPQ_Sync_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_FPQ_Record</name>
        <label>Get FPQ Record</label>
        <locationX>499</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Primary_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Finance_Partner_Quote__c</object>
        <outputReference>thisFPQRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Finance_Partner__c</queriedFields>
        <queriedFields>Application_ID__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Financing_Decision__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_Primary_Contact</name>
        <label>get Primary Contact</label>
        <locationX>499</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Leaf_Partner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisFPQRecord.Finance_Partner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>thisContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_FPQ_Record</name>
        <label>Update FPQ Record</label>
        <locationX>625</locationX>
        <locationY>601</locationY>
        <connector>
            <targetReference>Send_Mail_to_Partner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Finance_Partner__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Financing_Decision__c</field>
            <value>
                <stringValue>Pending - Under Partner Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Contact__c</field>
            <value>
                <elementReference>thisContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submission_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Finance_Partner_Quote__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ErrorMessage</name>
        <label>ErrorMessage</label>
        <locationX>947</locationX>
        <locationY>438</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 43, 13); background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif;&quot;&gt;The FPQ could not be submitted to Leaf, as below are the criteria it should match:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(244, 43, 13); background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif;&quot;&gt;Financing Decision = Pending&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(244, 43, 13); background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif;&quot;&gt;Currency = USD&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(244, 43, 13); background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif;&quot;&gt;Application Id = null&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(244, 43, 13); background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif;&quot;&gt;Finance Partner = &quot;LEAF Capital Funding LLC&quot;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Submit_to_partner</name>
        <label>Submit to partner</label>
        <locationX>615</locationX>
        <locationY>715</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Successfully Submitted to partner!!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_FPQ_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>thisFPQRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Finance_Partner_Quote__c</objectType>
    </variables>
</Flow>
