force-app/main/default/flows/SFDC_Netsuite_Integration_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Product_Event_Final_List</name>
        <label>Product Event Final List</label>
        <locationX>264</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>ProductEventListRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductEventRecordInstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Platform_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Product_Event_Record</name>
        <label>Product Event Record</label>
        <locationX>264</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>ProductEventRecordInstance.Product_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Platform_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Event_Final_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Product_Ids</name>
        <label>Product Ids</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>RecordIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Product_Record_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Record_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProductId_List</name>
        <label>ProductId List</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>ProductRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Record_Loop</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>SFDC Net Su {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFDC Netsuite Integration Flow</label>
    <loops>
        <name>Product_Platform_Loop</name>
        <label>Product Platform Loop</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <collectionReference>RecordIdList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Product_Event_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Fire_ProductPlatformEvent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Product_Record_Loop</name>
        <label>Product Record Loop</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>ProductRecordList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Product_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Product_Platform_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Fire_ProductPlatformEvent</name>
        <label>Fire ProductPlatformEvent</label>
        <locationX>176</locationX>
        <locationY>1139</locationY>
        <inputReference>ProductEventListRecords</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ProductId_List</targetReference>
        </connector>
        <filterFormula>OR( 
AND(ISNEW(), NOT(ISBLANK({!$Record.ProductCode})), NOT(ISBLANK(TEXT({!$Record.Family}))), NOT(ISBLANK(TEXT({!$Record.Product_Line__c}))), NOT(ISBLANK(TEXT({!$Record.Sub_product_Line__c}))), NOT(ISBLANK(TEXT({!$Record.Product_Type__c}))),NOT(ISBLANK(TEXT({!$Record.Sales_Charge_Type__c})))),
	ISCHANGED({!$Record.Name}),ISCHANGED({!$Record.ProductCode}),ISCHANGED({!$Record.SBQQ__RenewalProduct__c}),ISCHANGED({!$Record.Family}),ISCHANGED({!$Record.Product_Line__c}),ISCHANGED({!$Record.Sub_product_Line__c}), 
ISCHANGED({!$Record.Product_Type__c}),ISCHANGED({!$Record.Description}),ISCHANGED({!$Record.Cost_Including_MVA__c}),ISCHANGED({!$Record.Revenue_recognition_type__c}),ISCHANGED({!$Record.Sales_Charge_Type__c}), AND(ISCHANGED({!$Record.Push_to_Netsuite__c}),{!$Record.Push_to_Netsuite__c}= True))</filterFormula>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ProductEventListRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Event__e</objectType>
    </variables>
    <variables>
        <name>ProductEventRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Event__e</objectType>
    </variables>
    <variables>
        <name>ProductEventRecordInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Event__e</objectType>
    </variables>
    <variables>
        <name>ProductRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>RecordIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
