force-app/main/default/flows/Tag_Partner_Influenced_Opportunity_IndustrialAE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Program_Type</name>
        <label>Assign Program Type</label>
        <locationX>424</locationX>
        <locationY>1346</locationY>
        <assignmentItems>
            <assignToReference>ProgramTypeValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Program_Type2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerTypeValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Partner_Team_Alignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Sales_Program_Type_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Teaming_partner</name>
        <label>Assign Teaming partner</label>
        <locationX>424</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>TeamingPartnerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thisPartnerSFDC.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TeamingPartnerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thisPartnerSFDC.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sys_Integrator_check_decision</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>InsurancePartner</name>
        <choiceText>Insurance Partner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Insurance Partner</stringValue>
        </value>
    </choices>
    <choices>
        <name>no_radio</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>no_radio_SI</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reseller</name>
        <choiceText>Reseller</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reseller</stringValue>
        </value>
    </choices>
    <choices>
        <name>yes_radio</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>yes_radio_SI</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Sales_Program_Type_Value</name>
        <label>Check Sales Program Type Value</label>
        <locationX>424</locationX>
        <locationY>1454</locationY>
        <defaultConnector>
            <targetReference>Is_Program_Type_Teaming</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_Subsidy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sales_Program_Type2</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Subsidy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select</targetReference>
            </connector>
            <label>has Subsidy</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sales_Program_Type_Value2</name>
        <label>Check Sales Program Type Value</label>
        <locationX>270</locationX>
        <locationY>908</locationY>
        <defaultConnector>
            <targetReference>Check_for_Existing_Channel_Partner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Paid_Referral_and_Not_Sales_Ops_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sales_Program_Type2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid Referral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SalesOpsProfile</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Sales_Program_Type_Message</targetReference>
            </connector>
            <label>Is Paid Referral and Not Sales Ops User</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_existing_CR_record</name>
        <label>has existing CR record</label>
        <locationX>420</locationX>
        <locationY>1054</locationY>
        <defaultConnector>
            <targetReference>Assign_Program_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_Existing_Channel_Partner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Message</targetReference>
            </connector>
            <label>has record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Program_Type_Teaming</name>
        <label>Is Program Type Teaming</label>
        <locationX>424</locationX>
        <locationY>1754</locationY>
        <defaultConnector>
            <targetReference>Sys_Integrator_check_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PartnerType_ProgramType_Match_the_Partner</name>
            <conditionLogic>NOT(1) OR NOT(2)</conditionLogic>
            <conditions>
                <leftValueReference>thisPartnerSFDC.Program_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>ProgramTypeValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>thisPartnerSFDC.Partner_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PartnerTypeValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PartnerProgramTypeMismatchText</targetReference>
            </connector>
            <label>PartnerType &amp; ProgramType Match the Partner</label>
        </rules>
        <rules>
            <name>Yes_its_Teaming_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProgramTypeValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Teaming Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Teaming_partner</targetReference>
            </connector>
            <label>Yes its Teaming Partner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_Type_Check_Decision</name>
        <label>Partner Type Check Decision</label>
        <locationX>776</locationX>
        <locationY>506</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Partner_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>radio_button_reseller</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>yes_radio</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Type</targetReference>
            </connector>
            <label>Yes Partner Type</label>
        </rules>
        <rules>
            <name>No_Partner_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>radio_button_reseller</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>no_radio</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>System_Integrator_check</targetReference>
            </connector>
            <label>No Partner Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sys_Integrator_check_decision</name>
        <label>Sys Integrator check decision</label>
        <locationX>776</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Default_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sys_Integrator_Yes_reseller</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Radio_SI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>yes_radio_SI</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>radio_button_reseller</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>yes_radio</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>System_Integrator_0</targetReference>
            </connector>
            <label>PT YES &amp; SI YES</label>
        </rules>
        <rules>
            <name>PT_YES_SI_NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>radio_button_reseller</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>yes_radio</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Radio_SI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>no_radio_SI</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tag_Reseller_Partner</targetReference>
            </connector>
            <label>PT YES&amp; SI NO</label>
        </rules>
        <rules>
            <name>PT_NO_SI_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>radio_button_reseller</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>no_radio</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Radio_SI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>yes_radio_SI</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>System_Integrator_0_0_0</targetReference>
            </connector>
            <label>PT NO &amp; SI YES</label>
        </rules>
    </decisions>
    <description>02-08-23 : GTMS-14415 : Adding mapping Teaming_Partner_Account__c field
29-08-23 : GTMS-14415 : Removed Teaming partner field from flow</description>
    <dynamicChoiceSets>
        <name>MatchingFleetInsurance</name>
        <dataType>String</dataType>
        <displayField>Account_Name_Hyperlink__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>CompanyName</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121a000000VnIaAAK</stringValue>
            </value>
        </filters>
        <limit>5</limit>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>thisPartnerSFDC.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MatchingFleetReseller</name>
        <dataType>String</dataType>
        <displayField>Account_Name_Hyperlink__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>CompanyName</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121a000000VnIaAAK</stringValue>
            </value>
        </filters>
        <limit>5</limit>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>thisPartnerSFDC.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MatchingIndustrialReseller</name>
        <dataType>String</dataType>
        <displayField>Account_Name_Hyperlink__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>CompanyName</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121a000000VnIaAAK</stringValue>
            </value>
        </filters>
        <limit>5</limit>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>thisPartnerSFDC.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>thisPartnerSFDC.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>thisPartnerSFDC.Partner_Type__c</assignToReference>
            <field>Partner_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>thisPartnerSFDC.Program_Type__c</assignToReference>
            <field>Program_Type__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PartnerTeamAlignment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Partner_Type__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product_Type__c</picklistField>
        <picklistObject>Channel_Relationship__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProgramType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Program_Type__c</picklistField>
        <picklistObject>Channel_Relationship__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SalesProgramType</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Program_Type__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>System_Integrator_reseller</name>
        <dataType>String</dataType>
        <displayField>Account_Name_Hyperlink__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>System_Integrator_Company_0</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121a000000VnIaAAK</stringValue>
            </value>
        </filters>
        <limit>5</limit>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>sysIntegrator2.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sysIntegrator2.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>System_Integrator_reseller_1</name>
        <dataType>String</dataType>
        <displayField>Account_Name_Hyperlink__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>System_Integrator_Company_0_0_0</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121a000000VnIaAAK</stringValue>
            </value>
        </filters>
        <limit>5</limit>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>sysIntegrator3.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sysIntegrator3.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sysIntegrator3.OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sysIntegrator3.Partner_Program_Tier__c</assignToReference>
            <field>Partner_Program_Tier__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ReferralPartnerValue</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!ProgramTypeValue},&quot;Referral&quot;),{!thisPartnerSFDC.Id},NULL)</expression>
    </formulas>
    <formulas>
        <name>ResellerPartnerValue</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!ProgramTypeValue},&quot;Resale&quot;),{!thisPartnerSFDC.Id},if({!thisOpportunity.Reseller__c} !=null,{!thisOpportunity.Reseller__r.Id},null))</expression>
    </formulas>
    <formulas>
        <name>SalesOpsProfile</name>
        <dataType>Boolean</dataType>
        <expression>CASESAFEID({!$Profile.Id}) = {!$Label.Profile_Sales_Ops_Profile}</expression>
    </formulas>
    <interviewLabel>Tag Partner Influenced Opportunity_IndustrialAE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tag Partner Influenced Opportunity_IndustrialAE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Reseller_Channel_Relationship</name>
        <label>Create Reseller Channel Relationship</label>
        <locationX>644</locationX>
        <locationY>2570</locationY>
        <assignRecordIdToReference>thisCR.Id</assignRecordIdToReference>
        <connector>
            <targetReference>update_Old_CR</targetReference>
        </connector>
        <inputAssignments>
            <field>CAM_Owner__c</field>
            <value>
                <elementReference>thisPartnerSFDC.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner__c</field>
            <value>
                <elementReference>thisPartnerSFDC.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deal_Registration_Discount__c</field>
            <value>
                <elementReference>StandardPricing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_units__c</field>
            <value>
                <elementReference>Number_of_Units</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>thisOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Interaction_Type__c</field>
            <value>
                <stringValue>Partner Influenced</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Program_Segment__c</field>
            <value>
                <elementReference>thisPartnerSFDC.Partner_Program_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <stringValue>Deal Registration Margin</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Record__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>Product_Type_PickList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Type__c</field>
            <value>
                <elementReference>ProgramTypeValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Amount_currency__c</field>
            <value>
                <elementReference>Service_Amount_cur</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>System_Integrator_new__c</field>
            <value>
                <elementReference>sysIntegrator2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Teaming_Partner__c</field>
            <value>
                <elementReference>TeamingPartnerID</elementReference>
            </value>
        </inputAssignments>
        <object>Channel_Relationship__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Reseller_Channel_Relationship_0</name>
        <label>Create Reseller Channel Relationship</label>
        <locationX>908</locationX>
        <locationY>2678</locationY>
        <assignRecordIdToReference>thisCR.Id</assignRecordIdToReference>
        <connector>
            <targetReference>update_Old_CR</targetReference>
        </connector>
        <inputAssignments>
            <field>CAM_Owner__c</field>
            <value>
                <elementReference>sysIntegrator3.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner__c</field>
            <value>
                <elementReference>sysIntegrator3.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_units__c</field>
            <value>
                <elementReference>Number_of_Units</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>thisOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Interaction_Type__c</field>
            <value>
                <stringValue>Partner Influenced</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Program_Segment__c</field>
            <value>
                <elementReference>sysIntegrator3.Partner_Program_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <stringValue>Deal Registration Margin</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Record__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>Product_Type_PickList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Type__c</field>
            <value>
                <elementReference>ProgramTypeValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Amount_currency__c</field>
            <value>
                <elementReference>Service_Amount_cur1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>System_Integrator_new__c</field>
            <value>
                <elementReference>sysIntegrator3.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Teaming_Partner__c</field>
            <value>
                <elementReference>TeamingPartnerID</elementReference>
            </value>
        </inputAssignments>
        <object>Channel_Relationship__c</object>
    </recordCreates>
    <recordLookups>
        <name>Check_for_Existing_Channel_Partner</name>
        <label>Check for Existing Channel Partner</label>
        <locationX>429</locationX>
        <locationY>968</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>has_existing_CR_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisOpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sales_Program_Type2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Channel_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opportunity</name>
        <label>Lookup Opportunity</label>
        <locationX>776</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Old_CR_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisOpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>thisOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Reseller__c</queriedFields>
        <queriedFields>Reseller_Partner__c</queriedFields>
        <queriedFields>Insurance_Partner__c</queriedFields>
        <queriedFields>Is_Deal_Registration__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Partner_0</name>
        <label>Lookup Partner</label>
        <locationX>644</locationX>
        <locationY>2462</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Reseller_Channel_Relationship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisPartnerSFDC.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>thisPartnerSFDC</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Partner_Program_Tier__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Old_CR_Record</name>
        <label>Old CR Record</label>
        <locationX>776</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Partner_Type_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisOpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Record__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Channel_Relationship__c</object>
        <outputReference>old_CR</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Primary_Record__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Tag_Reseller_Partner</name>
        <label>Tag Reseller Partner</label>
        <locationX>644</locationX>
        <locationY>2354</locationY>
        <connector>
            <targetReference>Lookup_Partner_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Referral_Partner__c</field>
            <value>
                <elementReference>ReferralPartnerValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reseller_Partner__c</field>
            <value>
                <elementReference>ResellerPartnerValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reseller__c</field>
            <value>
                <elementReference>ResellerPartnerValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Amount_cur__c</field>
            <value>
                <elementReference>Service_Amount_cur</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>System_Integrator__c</field>
            <value>
                <elementReference>sysIntegrator2.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Teaming_Partner_Account__c</field>
            <value>
                <elementReference>TeamingPartnerID</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Tag_Reseller_Partner_0</name>
        <label>Tag Reseller Partner</label>
        <locationX>908</locationX>
        <locationY>2570</locationY>
        <connector>
            <targetReference>Create_Reseller_Channel_Relationship_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Amount_cur__c</field>
            <value>
                <elementReference>Service_Amount_cur1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>System_Integrator__c</field>
            <value>
                <elementReference>sysIntegrator3.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Old_CR</name>
        <label>update Old CR</label>
        <locationX>776</locationX>
        <locationY>2870</locationY>
        <connector>
            <targetReference>PartnerTagged</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>old_CR.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Record__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Channel_Relationship__c</object>
    </recordUpdates>
    <screens>
        <name>Default_screen</name>
        <label>Default screen</label>
        <locationX>1171</locationX>
        <locationY>2139</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DispText</name>
            <fieldText>&lt;p&gt;Please make sure that you have selected one of the options.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Partner_Type</name>
        <label>Partner Type</label>
        <locationX>424</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pick_Partner</targetReference>
        </connector>
        <fields>
            <name>PartnerName</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif; color: rgb(23, 43, 77);&quot;&gt;What is the Reseller’s Company name?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CompanyName</name>
            <dataType>String</dataType>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Partner_Type_check</name>
        <label>Partner Type check</label>
        <locationX>776</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Partner_Type_Check_Decision</targetReference>
        </connector>
        <fields>
            <name>Disp_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Is there a&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;color: rgb(23, 43, 77); font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Reseller Partner&lt;/b&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif; background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;&amp;nbsp;transacting in this opportunity?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>radio_button_reseller</name>
            <choiceReferences>yes_radio</choiceReferences>
            <choiceReferences>no_radio</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Your Option</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PartnerProgramTypeMismatchText</name>
        <label>PartnerProgramTypeMismatchText</label>
        <locationX>160</locationX>
        <locationY>1862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DataMismatchText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You have selected a program type that is not supported by the partner. Please go back and update. Thanks!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PartnerTagged</name>
        <label>PartnerTagged</label>
        <locationX>776</locationX>
        <locationY>2978</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;b style=&quot;font-size: 16px; user-select: auto;&quot;&gt;Success! The channel partner is now tagged to your opportunity. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pick_Partner</name>
        <label>Pick Partner</label>
        <locationX>424</locationX>
        <locationY>722</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ProgramTypeSelection</targetReference>
        </connector>
        <fields>
            <name>Choose_the_correct_fleet_reseller</name>
            <choiceReferences>MatchingIndustrialReseller</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose the correct reseller:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Space2</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CantFind</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;Not seeing the partner you wanted? Click previous and search with the partner&apos;s name as listed in Salesforce.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pick_Partner_0_0_0</name>
        <label>Pick Partner</label>
        <locationX>380</locationX>
        <locationY>2462</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Tag_Reseller_Partner</targetReference>
        </connector>
        <fields>
            <name>Choose_the_correct_fleet_insurance_0</name>
            <choiceReferences>System_Integrator_reseller</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose the correct System Integrator:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Space_0</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CantFind_0_0_0</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;Not seeing the partner you wanted? Click previous and search with the partner&apos;s name as listed in Salesforce.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pick_Partner_0_0_0_0_0_0</name>
        <label>Pick Partner</label>
        <locationX>908</locationX>
        <locationY>2462</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Tag_Reseller_Partner_0</targetReference>
        </connector>
        <fields>
            <name>Choose_the_correct_fleet_insurance_0_0_0_0</name>
            <choiceReferences>System_Integrator_reseller_1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose the correct System Integrator:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Space_0_0_0_0</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CantFind_0_0_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;Not seeing the partner you wanted? Click previous and search with the partner&apos;s name as listed in Salesforce.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ProgramTypeSelection</name>
        <label>ProgramTypeSelection</label>
        <locationX>424</locationX>
        <locationY>830</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Sales_Program_Type_Value2</targetReference>
        </connector>
        <fields>
            <name>ProgramTypeDisplayText</name>
            <fieldText>&lt;p&gt;The partner you have selected supports the following program types.&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Partner Team Alignment&lt;/strong&gt; &lt;strong&gt;: &lt;/strong&gt;{!thisPartnerSFDC.Partner_Type__c}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Sales Program Type&lt;/strong&gt;&lt;strong&gt; : &lt;/strong&gt;{!thisPartnerSFDC.Program_Type__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Please select the program type that the partner supports for this opportunity&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Partner_Team_Alignment</name>
            <choiceReferences>PartnerTeamAlignment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Partner Team Alignment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Sales_Program_Type2</name>
            <choiceReferences>SalesProgramType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sales Program Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select</name>
        <label>Set Additional Fields value</label>
        <locationX>292</locationX>
        <locationY>1562</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Program_Type_Teaming</targetReference>
        </connector>
        <fields>
            <name>message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Average SLA is 3 days for the approval. If it’s beyond 3 days, please reach out to #insurance-partners Slack channel&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Product_Type_PickList</name>
            <choiceReferences>ProductType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Number_of_Units</name>
            <dataType>Number</dataType>
            <fieldText>Number of Units</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Message</name>
        <label>Show Message</label>
        <locationX>292</locationX>
        <locationY>1154</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;A channel relationship for this partner account and program type already exists on this opportunity - please review those relationships and reach out to &lt;/span&gt;&lt;a href=&quot;https://samsara.enterprise.slack.com/archives/C02BNKRE6R1&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif;&quot;&gt;#help-sales&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt; if you have any concerns or want to request changes you can’t make directly&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Sales_Program_Type_Message</name>
        <label>Show Sales Program Type Message</label>
        <locationX>135</locationX>
        <locationY>964</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Salesprogramtypemessage</name>
            <fieldText>&lt;p&gt;All efforts to add Paid Referrals to open opportunities are currently subject to Programs review and approval. Please use the &lt;a href=&quot;https://samsaradev.atlassian.net/wiki/spaces/SPTS/pages/3011347945/Manual+Referral+Payout+Rebate+Approval&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;‘Manual Referral Payout (Rebate)’ process&lt;/a&gt; to request a Paid Referral partner is added to this deal.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks for your patience and support while we enhance our Partner Program frameworks!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Samsara Partner Programs Team&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>System_Integrator_0</name>
        <label>System Integrator</label>
        <locationX>380</locationX>
        <locationY>2354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pick_Partner_0_0_0</targetReference>
        </connector>
        <fields>
            <name>System_Integrator_Company_0</name>
            <dataType>String</dataType>
            <fieldText>System Integrator</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Service_Amount_cur</name>
            <dataType>Currency</dataType>
            <fieldText>Service Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>System_Integrator_0_0_0</name>
        <label>System Integrator</label>
        <locationX>908</locationX>
        <locationY>2354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pick_Partner_0_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>System_Integrator_Company_0_0_0</name>
            <dataType>String</dataType>
            <fieldText>System Integrator</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Service_Amount_cur1</name>
            <dataType>Currency</dataType>
            <fieldText>Service Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>System_Integrator_check</name>
        <label>System Integrator check</label>
        <locationX>864</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Sys_Integrator_check_decision</targetReference>
        </connector>
        <fields>
            <name>Check_sys_integrator</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-size: 16px; background-color: rgb(255, 255, 255); font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;&quot;&gt;Are there any&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;color: rgb(23, 43, 77); font-size: 16px; background-color: rgb(255, 255, 255); font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;&quot;&gt;Systems Integrators&lt;/b&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-size: 16px; background-color: rgb(255, 255, 255); font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;&quot;&gt;&amp;nbsp;involved in this opportunity?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Radio_SI</name>
            <choiceReferences>yes_radio_SI</choiceReferences>
            <choiceReferences>no_radio_SI</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Your Option</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Lookup_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>old_CR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Channel_Relationship__c</objectType>
    </variables>
    <variables>
        <name>PartnerCompanyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PartnerTypeValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProgramTypeValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StandardPricing</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SysIntegrator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sysIntegrator1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sysIntegrator2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sysIntegrator3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>TeamingPartnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TeamingPartnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisCR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Channel_Relationship__c</objectType>
    </variables>
    <variables>
        <name>thisOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>thisOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisPartnerSFDC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>thisPartnerSFDC_Integrator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
