force-app/main/default/flows/Unworkable_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Apply_Case_and_Account_Fields</name>
        <label>Updated Screen 2 Dynamic Fields</label>
        <locationX>1938</locationX>
        <locationY>2510</locationY>
        <actionName>AccountFieldSetProvider</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submissionReason</name>
            <value>
                <elementReference>Submission_Reason</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldValuesJson</name>
            <value>
                <elementReference>FieldValuesJson</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AccountFieldSetProvider</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_for_Duplicate</name>
        <label>Set Screen3 values (Duplicate)</label>
        <locationX>1522</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Screen3_Field_Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Duplicate Account Id</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Screen3_Intro_Text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please provide below information for the account your owned account is duplicated against. Please ensure the below fields are current and not blank.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Screen_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_for_Review_Hierarchy</name>
        <label>Set Screen3 values (Review Hierarchy)</label>
        <locationX>1786</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Screen3_Field_Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Parent Account Id</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Screen3_Intro_Text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please provide below information for the account your owned account has an associated hierarchy with. Please ensure the below fields are current and not blank.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Duplicate_ID_Assignment</name>
        <label>Duplicate ID Assignment</label>
        <locationX>1522</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>CaseDuplicateAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DuplicateAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Submission_Reason</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mark_Screen2_Entry_Time</name>
        <label>Mark Screen 2 Entry Time</label>
        <locationX>1050</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Screen2StartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Parent_ID_Assignment</name>
        <label>Parent ID Assignment</label>
        <locationX>1786</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>CaseParentAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DuplicateAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Submission_Reason</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Selected_User</name>
        <label>Set Selected User</label>
        <locationX>1546</locationX>
        <locationY>2096</locationY>
        <assignmentItems>
            <assignToReference>GetUserFromMDT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Metadata_Records.Owner_User_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Users_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Segment_and_Role_Match</name>
        <label>Check Segment and Role Match</label>
        <locationX>1546</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Account_With_No_Owner_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match - Continue Loop</defaultConnectorLabel>
        <rules>
            <name>Segment_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Metadata_Records.Segment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Metadata_Records.Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Existing_Account.Updated_Account_Size_Segment__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Metadata_Records.Owner_User_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Selected_User</targetReference>
            </connector>
            <label>Segment Match</label>
        </rules>
        <rules>
            <name>Role_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Metadata_Records.Segment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Metadata_Records.Owner_Role__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Existing_Account.Owner_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_Metadata_Records.Owner_Role__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Metadata_Records.Owner_User_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Selected_User</targetReference>
            </connector>
            <label>Role Match</label>
        </rules>
        <rules>
            <name>Default_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Metadata_Records.Segment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Metadata_Records.Owner_Role__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Metadata_Records.Owner_User_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Selected_User</targetReference>
            </connector>
            <label>Default Match (SFDC Reservoir)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Submission_Reason</name>
        <label>Check Submission Reason</label>
        <locationX>1786</locationX>
        <locationY>1622</locationY>
        <defaultConnectorLabel>Keep Current Owner</defaultConnectorLabel>
        <rules>
            <name>Change_Owner</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Submission_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fake Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Submission_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GTM Blocked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Submission_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Out of Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Submission_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Out of Segment: Vehicles/Assets</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Submission_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Out of Segment: Geography</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Submission_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Out of Segment: Industry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Metadata_Records</targetReference>
            </connector>
            <label>Change Account Owner</label>
        </rules>
        <rules>
            <name>Keep_Same_Account_Owner</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Submission_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review Hierarchy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Submission_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deactivated/Written Off</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Submission_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Duplicate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_With_No_Owner_Change</targetReference>
            </connector>
            <label>Keep Same Account Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Profile</name>
        <label>Check User Profile</label>
        <locationX>1596</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Access_Denied_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Access Denied</defaultConnectorLabel>
        <rules>
            <name>Has_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Mark_Account_As_Unworkable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsCurrentUserAccountOwner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Account_Already_Marked_as_Unworkable</targetReference>
            </connector>
            <label>Has Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Already_Marked_as_Unworkable</name>
        <label>Is Account Already Marked as Unworkable ?</label>
        <locationX>550</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Unworkable_Account_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Account.Unworkable_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Marked_as_Unworkable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen_3_is_Required</name>
        <label>Screen 3 is Required ?</label>
        <locationX>1786</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Submission_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Submission_Reason_is_Duplicate</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Submission_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Duplicate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_for_Duplicate</targetReference>
            </connector>
            <label>If Submission Reason is Duplicate</label>
        </rules>
        <rules>
            <name>If_Submission_Reason_is_Review_Hierarchy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Submission_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review Hierarchy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_for_Review_Hierarchy</targetReference>
            </connector>
            <label>If Submission Reason is Review Hierarchy</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Link_File_to_Case</name>
        <label>Should Link File to Case?</label>
        <locationX>1938</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>Get_Newly_Created_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Linking</defaultConnectorLabel>
        <rules>
            <name>Link_File</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Submission_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Out of Segment: Vehicles/Assets</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_File_Uploaded_On_Screen_2.ContentDocumentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Link_File_to_Case</targetReference>
            </connector>
            <label>Link File</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_is_Active_or_not</name>
        <label>User is Active or not</label>
        <locationX>1546</locationX>
        <locationY>2312</locationY>
        <defaultConnector>
            <targetReference>Update_Account_With_New_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_is_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserActiveOrNot</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Managers_Record</targetReference>
            </connector>
            <label>User is Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Proof_Provided</name>
        <label>Validate Proof Provided</label>
        <locationX>1050</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Screen_3_is_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Missing_Proof</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Submission_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Out of Segment: Vehicles/Assets</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VehiclesAssets_IsAnyProofProvided</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Mark_Screen2_Entry_Time</targetReference>
            </connector>
            <label>Missing Proof</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Submission_Reason__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Case_CS_Status_Resolved</name>
        <dataType>String</dataType>
        <expression>IF(
 AND(
   {!Submission_Reason} = &quot;Deactivated/Written Off&quot;,
   OR(
     ISPICKVAL({!Existing_Account.Netsuite_Delinquent_Status__c}, &quot;Deactivated&quot;),
     ISPICKVAL({!Existing_Account.Netsuite_Delinquent_Status__c}, &quot;Written-off&quot;)
   )
 ),
 &quot;Approved&quot;,
 &quot;Not Started&quot;
)</expression>
    </formulas>
    <formulas>
        <name>IsCurrentUserAccountOwner</name>
        <dataType>Boolean</dataType>
        <expression>CASESAFEID({!$User.Id}) = CASESAFEID({!Existing_Account.OwnerId})</expression>
    </formulas>
    <formulas>
        <name>SubmitterManagerId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$User.ManagerId}), &quot;&quot;, {!$User.ManagerId})</expression>
    </formulas>
    <formulas>
        <name>VehiclesAssets_IsAnyProofProvided</name>
        <dataType>Boolean</dataType>
        <expression>OR(
    NOT(ISBLANK({!VehiclesAssets_Gong_Call_Link})),
    NOT(ISBLANK({!VehiclesAssets_Gong_Engage_Task_Link})),
    NOT(ISBLANK({!VehiclesAssets_Other_Proof})),
    NOT(ISBLANK({!VehiclesAssets_FMCSA_URL})),
    NOT(ISBLANK({!Get_File_Uploaded_On_Screen_2.ContentDocumentId}))
)</expression>
    </formulas>
    <interviewLabel>Unworkable Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unworkable Account</label>
    <loops>
        <name>Iterate_Metadata_Records</name>
        <label>Iterate Metadata Records</label>
        <locationX>1194</locationX>
        <locationY>1730</locationY>
        <collectionReference>Get_Submission_Reason_Record_from_MDT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Segment_and_Role_Match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Users_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_Record</name>
        <label>Create Case Record</label>
        <locationX>1938</locationX>
        <locationY>1946</locationY>
        <assignRecordIdToReference>caseId</assignRecordIdToReference>
        <connector>
            <targetReference>Should_Link_File_to_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>AE_Notes1__c</field>
            <value>
                <elementReference>AE_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_Status__c</field>
            <value>
                <elementReference>Case_CS_Status_Resolved</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duplicate_Account__c</field>
            <value>
                <elementReference>CaseDuplicateAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FMCSA_URL__c</field>
            <value>
                <elementReference>VehiclesAssets_FMCSA_URL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_to_Gong_Engage_email_task__c</field>
            <value>
                <elementReference>VehiclesAssets_Gong_Engage_Task_Link</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_to_Gong_call__c</field>
            <value>
                <elementReference>VehiclesAssets_Gong_Call_Link</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Proof__c</field>
            <value>
                <elementReference>VehiclesAssets_Other_Proof</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Account__c</field>
            <value>
                <elementReference>CaseParentAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rationale_for_Request__c</field>
            <value>
                <elementReference>Submission_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetUnworkableRecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitter__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitter_s_Manager__c</field>
            <value>
                <elementReference>SubmitterManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Unworkable</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Link_File_to_Case</name>
        <label>Link File to Case</label>
        <locationX>1674</locationX>
        <locationY>2162</locationY>
        <connector>
            <targetReference>Get_Newly_Created_Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Newly_Created_Case</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Get_File_Uploaded_On_Screen_2.ContentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>V</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
    </recordCreates>
    <recordLookups>
        <name>Existing_Account</name>
        <label>Existing Account</label>
        <locationX>1596</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_File_Uploaded_On_Screen_2</name>
        <label>Get File Uploaded On Screen 2</label>
        <locationX>1050</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Proof_Provided</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Screen2StartTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Managers_Record</name>
        <label>Get Managers Record</label>
        <locationX>1414</locationX>
        <locationY>2420</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_With_New_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserManagerID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Newly_Created_Case</name>
        <label>Get Newly Created Case</label>
        <locationX>1938</locationX>
        <locationY>2402</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Apply_Case_and_Account_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Submission_Reason_Record_from_MDT</name>
        <label>Get Submission Reason Record from MDT</label>
        <locationX>1050</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mark_Screen2_Entry_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Submission_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Submission_Reason</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Segment_Owner_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users_Record</name>
        <label>Get Users Record</label>
        <locationX>1546</locationX>
        <locationY>2204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_is_Active_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUserFromMDT</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserActiveOrNot</assignToReference>
            <field>IsActive</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserManagerID</assignToReference>
            <field>Manager_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetUnworkableRecordTypeId</name>
        <label>GetUnworkableRecordTypeId</label>
        <locationX>1938</locationX>
        <locationY>1838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unworkable Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_With_New_Owner</name>
        <label>Update Account With New Owner</label>
        <locationX>1546</locationX>
        <locationY>2612</locationY>
        <connector>
            <targetReference>Update_Overwrite_Validation_Rule_to_false</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AE_Notes__c</field>
            <value>
                <elementReference>AE_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overwrite_Validation_Rule__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submission_Date__c</field>
            <value>
                <elementReference>Submission_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submission_Reason__c</field>
            <value>
                <elementReference>Submission_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitter__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unworkable_Account__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_With_No_Owner_Change</name>
        <label>Update Account With No Owner Change</label>
        <locationX>1938</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>GetUnworkableRecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AE_Notes__c</field>
            <value>
                <elementReference>AE_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CaseParentAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submission_Date__c</field>
            <value>
                <elementReference>Submission_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submission_Reason__c</field>
            <value>
                <elementReference>Submission_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitter__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unworkable_Account__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Overwrite_Validation_Rule_to_false</name>
        <label>Update Overwrite Validation Rule to false</label>
        <locationX>1546</locationX>
        <locationY>2720</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GetUnworkableRecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Overwrite_Validation_Rule__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Access_Denied_Screen</name>
        <label>Access Denied</label>
        <locationX>2642</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AccessDeniedMessage</name>
            <fieldText>You don&apos;t have sufficient access to mark the account as unworkable.</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Already_Marked_as_Unworkable</name>
        <label>Already Marked as Unworkable</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UnworkableAccount</name>
            <fieldText>&lt;p&gt;This Account is already marked as Unworkable.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Screen_3</name>
        <label>Copy 1 of Screen 3</label>
        <locationX>1522</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Duplicate_ID_Assignment</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_DuplicateAccountLookup</name>
            <extensionName>c:duplicateAccountLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <elementReference>Screen3_Field_Label</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>introText</name>
                <value>
                    <elementReference>Screen3_Intro_Text</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>DuplicateAccountId</assignToReference>
                <name>value</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error</label>
        <locationX>2074</locationX>
        <locationY>2720</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;An error occurred while updating the account: {!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Please Note: &lt;/strong&gt;If the Submission Reason includes &apos;Out of Segment,&apos; verify the Updated Account Size Segment is ENT, MM, or CML, or the Account Owner&apos;s role contains SLED or ADR.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_2</name>
        <label>Screen 2</label>
        <locationX>1050</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_File_Uploaded_On_Screen_2</targetReference>
        </connector>
        <fields>
            <name>Screen2_Submission_Reason_Display</name>
            <defaultValue>
                <elementReference>Submission_Reason</elementReference>
            </defaultValue>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 112, 210);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Selected Submission Reason: &lt;/span&gt;&lt;strong style=&quot;color: rgb(2, 114, 212);&quot;&gt;{!Submission_Reason}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DynamicAccountFields</name>
            <extensionName>c:dynamicAccountFields</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>submissionReason</name>
                <value>
                    <elementReference>Submission_Reason</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>FieldValuesJson</assignToReference>
                <name>value</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>VehiclesAssets_Proof_Instruction</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Submission of proof [one must be provided]&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Submission_Reason</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Out of Segment: Vehicles/Assets</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VehiclesAssets_Proof_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(231, 8, 8);&quot;&gt;Please submit one of the submission proofs to move forward.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Submission_Reason</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Out of Segment: Vehicles/Assets</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>VehiclesAssets_IsAnyProofProvided</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VehiclesAssets_Gong_Call_Link</name>
            <dataType>String</dataType>
            <fieldText>Link to Gong call</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 8, 8);&quot;&gt;Please submit one of the submission proofs to move forward.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF(
{!Submission_Reason} = &quot;Out of Segment: Vehicles/Assets&quot;,
OR(
    NOT(ISBLANK({!VehiclesAssets_Gong_Call_Link})),
    NOT(ISBLANK({!VehiclesAssets_Gong_Engage_Task_Link})),
    NOT(ISBLANK({!VehiclesAssets_Other_Proof})),
    NOT(ISBLANK({!VehiclesAssets_FMCSA_URL}))
),
true)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Submission_Reason</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Out of Segment: Vehicles/Assets</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VehiclesAssets_Gong_Engage_Task_Link</name>
            <dataType>String</dataType>
            <fieldText>Link to Gong Engage email task</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Submission_Reason</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Out of Segment: Vehicles/Assets</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VehiclesAssets_Other_Proof</name>
            <dataType>String</dataType>
            <fieldText>Other</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Submission_Reason</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Out of Segment: Vehicles/Assets</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VehiclesAssets_FMCSA_URL</name>
            <dataType>String</dataType>
            <fieldText>FMCSA URL</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Submission_Reason</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Out of Segment: Vehicles/Assets</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VehiclesAssets_Proof_Attachment</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>PDF Screenshot Email proof</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Submission_Reason</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Out of Segment: Vehicles/Assets</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_3</name>
        <label>Screen 3</label>
        <locationX>1786</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Parent_ID_Assignment</targetReference>
        </connector>
        <fields>
            <name>DuplicateAccountLookup</name>
            <extensionName>c:duplicateAccountLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <elementReference>Screen3_Field_Label</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>introText</name>
                <value>
                    <elementReference>Screen3_Intro_Text</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>DuplicateAccountId</assignToReference>
                <name>value</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success</label>
        <locationX>1938</locationX>
        <locationY>2618</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;Account has been successfully submitted. You can follow up with the next steps on this Case Number : &lt;a href=&quot;/{!Get_Newly_Created_Case.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_Newly_Created_Case.CaseNumber}&lt;/a&gt;. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Unworkable_Account_Details</name>
        <label>Unworkable Account Details</label>
        <locationX>1050</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Get_Submission_Reason_Record_from_MDT</targetReference>
        </connector>
        <fields>
            <name>Unworkable_Account_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Unworkable_Account_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Submitter_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>{!$User.FirstName} {!$User.LastName}</stringValue>
                    </defaultValue>
                    <fieldText>Submitter Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Submission_Reason</name>
                    <choiceReferences>Values</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Submission Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Unworkable_Account_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Submission_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Submission Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>AE_Notes</name>
                    <fieldText>AE Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>true</isRequired>
            </fields>
            <isRequired>true</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1470</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Existing_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseDuplicateAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseParentAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DuplicateAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FieldValuesJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetUserFromMDT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordsfromMetadata</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Screen2StartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Screen2Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Screen3_Field_Label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Screen3_Intro_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedSubmissionReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubmitterManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserActiveOrNot</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserManagerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
