force-app/main/default/flows/User_RBAC_Template_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>searchRBACTemplatePicklist</name>
        <label>searchRBACTemplatePicklist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RBACTemplateSearch</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>picklistExists</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>searchValues</name>
            <value>
                <elementReference>custom_RBAC_Template_Logic</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RBACTemplateSearch</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignSearchablePicklist</name>
        <label>assignSearchablePicklist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>searchValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Test_Formula__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>searchRBACTemplatePicklist</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>picklistExists</name>
        <label>picklistExists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_RBAC_Template_default_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>valueExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>searchRBACTemplatePicklist.found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_RBAC_Template</targetReference>
            </connector>
            <label>valueExists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>custom_RBAC_Template_Logic</name>
        <dataType>String</dataType>
        <expression>{!$Record.Test_Formula__c}</expression>
    </formulas>
    <formulas>
        <name>L1_Manager_Mapping</name>
        <dataType>String</dataType>
        <expression>IF(
  AND(
    NOT(ISBLANK({!$Record.ManagerId})),
    {!$Record.Manager.IsActive} = TRUE
  ),
  {!$Record.ManagerId},
  &apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>L2_Manager_Mapping</name>
        <dataType>String</dataType>
        <expression>IF(
  AND(
    NOT(ISBLANK({!$Record.Manager.ManagerId})),
    {!$Record.Manager.Manager.IsActive} = TRUE
  ),
  {!$Record.Manager.ManagerId},
  &apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>L3_Manager_Mapping</name>
        <dataType>String</dataType>
        <expression>IF(
  AND(
    NOT(ISBLANK({!$Record.Manager.Manager.ManagerId})),
    {!$Record.Manager.Manager.Manager.IsActive} = TRUE
  ),
  {!$Record.Manager.Manager.ManagerId},
  &apos;&apos;
)</expression>
    </formulas>
    <interviewLabel>User_RBAC_Template_Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User_RBAC_Template_Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_RBAC_Template</name>
        <label>Update RBAC Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>L3_Manager_look_up__c</field>
            <value>
                <elementReference>L3_Manager_Mapping</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L_1_Manager_Lookup__c</field>
            <value>
                <elementReference>L1_Manager_Mapping</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L_2_Manager_look_up__c</field>
            <value>
                <elementReference>L2_Manager_Mapping</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RBAC_Template__c</field>
            <value>
                <elementReference>$Record.Test_Formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RBAC_Template_default_value</name>
        <label>Update RBAC Template default value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>L3_Manager_look_up__c</field>
            <value>
                <elementReference>L3_Manager_Mapping</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L_1_Manager_Lookup__c</field>
            <value>
                <elementReference>L1_Manager_Mapping</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>L_2_Manager_look_up__c</field>
            <value>
                <elementReference>L2_Manager_Mapping</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RBAC_Template__c</field>
            <value>
                <stringValue>Invalid Template</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assignSearchablePicklist</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8)</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Country__c</field>
            <operator>IsChanged</operator>
        </filters>
        <filters>
            <field>Sales_Region__c</field>
            <operator>IsChanged</operator>
        </filters>
        <filters>
            <field>Role_Level__c</field>
            <operator>IsChanged</operator>
        </filters>
        <filters>
            <field>Sales_Segment_Parent__c</field>
            <operator>IsChanged</operator>
        </filters>
        <filters>
            <field>Sales_Segment__c</field>
            <operator>IsChanged</operator>
        </filters>
        <filters>
            <field>Job_Function__c</field>
            <operator>IsChanged</operator>
        </filters>
        <filters>
            <field>RBAC_Department__c</field>
            <operator>IsChanged</operator>
        </filters>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>searchValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
