force-app/main/default/flows/X5PM_User_Update_Enable_ADR_Flag.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>userId</name>
        <label>userId</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference>mappingUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_Enable_ADR_Flag</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>5PM-_User_Update_Enable_ADR_Flag {!$Flow.CurrentDateTime}</interviewLabel>
    <label>5PM-_User_Update_Enable_ADR_Flag</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_User_Enable_ADR_Flag</name>
        <label>Update User Enable ADR Flag</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Enable_ADR_Leads__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>mappingUserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Enable_ADR_Leads__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>userId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Run_DailyBatch_Mapping__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User_Enable_ADR_Flag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>RR_Assignment_Mapping__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-10-05</startDate>
            <startTime>17:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>mappingUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
